automação-video.json
{"createdAt":"2024-08-05T16:57:14.616Z","updatedAt":"2024-08-05T16:57:14.616Z","id":"v9Lrbq8Bp4QpcybO","name":"automação video","active":false,"nodes":[{"parameters":{},"id":"0cfd8f80-c5bf-455a-b282-7b133bfd662a","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-3600,740]},{"parameters":{"databaseId":128722,"tableId":333537,"additionalOptions":{}},"id":"8e93fdfc-9393-4beb-9e18-1274fb687b57","name":"Capturar dados Cenas","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-3260,740],"credentials":{"baserowApi":{"id":"wpjMUaOCXymI7BxX","name":"SincronIA"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"4e594677-e07f-4406-afbd-c9f4d783782f","leftValue":"={{ $json.Imagens }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"b29c2ed6-6e72-4db2-8018-301a52ade5ce","leftValue":"={{ $json['Imagem GO!'] }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"5af8619c-4578-4bca-8951-a487f63d3442","name":"If Imagens está vazio AND Imagem GO true","type":"n8n-nodes-base.if","typeVersion":2,"position":[-2860,740]},{"parameters":{"method":"POST","url":"https://api.midjourneyapi.xyz/mj/v2/imagine","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"[INSIRA SUA CHAVE DE API]"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"prompt\": \"{{ $json['Prompt Imagem Final'] }}\",\n  \"skip_prompt_check\": false,\n  \"aspect_ratio\": \"{{ $json['Aspect Ratio'][0].value }}\",\n  \"process_mode\": \"relax\"\n}\n","options":{}},"id":"79575ad8-27b7-43dd-9b6b-cfd628af4959","name":"Gerar Imagem","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1920,440]},{"parameters":{"databaseId":128722,"tableId":333537,"additionalOptions":{}},"id":"874ed5f8-305f-4917-96a0-4f70de4d36b3","name":"Capturar dados Cenas1","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-1640,240],"credentials":{"baserowApi":{"id":"wpjMUaOCXymI7BxX","name":"SincronIA"}}},{"parameters":{"jsCode":"const input = $input.all();\n\nif (!input || input.length === 0) {\n  return [];\n}\n\nconst filteredObjects = input.filter(item => !item.json[\"ID Tarefa\"]);\n\nconst ids = filteredObjects.map(item => item.json.id);\n\nconst uniqueIds = [...new Set(ids)];\n\nreturn uniqueIds.map(id => ({ json: { id } }));"},"id":"c5eef7fd-c7a9-4f1d-a5e4-ab559cb16946","name":"Extrair IDs únicos sem ID Tarefa","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1420,240]},{"parameters":{},"id":"67430616-90e7-4e02-a816-c6550db0d5a7","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[-1180,420]},{"parameters":{"jsCode":"const input = $input.all();\n\nif (!input || input.length === 0) {\n  return [];\n}\n\nconst idList = input.filter(item => item.json.id !== undefined);\nconst taskList = input.filter(item => item.json.task_id !== undefined);\n\nconst minLength = Math.min(idList.length, taskList.length);\n\nconst pairedList = [];\nfor (let i = 0; i < minLength; i++) {\n  pairedList.push({\n    json: {\n      id: idList[i].json.id,\n      task_id: taskList[i].json.task_id,\n      success: taskList[i].json.success,\n      status: taskList[i].json.status,\n      message: taskList[i].json.message\n    }\n  });\n}\n\nreturn pairedList;"},"id":"3296694c-b685-4fcf-9a06-1fb135b84cee","name":"Mesclar outputs por delay","type":"n8n-nodes-base.code","typeVersion":2,"position":[-820,420]},{"parameters":{"operation":"update","databaseId":128722,"tableId":333537,"rowId":"={{ $json.id }}","fieldsUi":{"fieldValues":[{"fieldId":2451556,"fieldValue":"={{ $json.task_id }}"}]}},"id":"7edb2183-0780-4e98-884c-735a6a200a49","name":"Inserir ID Tarefa","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-500,420]},{"parameters":{"amount":60},"id":"c33c2b06-aa55-4476-ba47-b353c9ea589a","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-200,420],"webhookId":"74a620ed-ebf9-466b-81dc-972c1facc3d9"},{"parameters":{"method":"POST","url":"https://api.midjourneyapi.xyz/mj/v2/fetch","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"[INSIRA SUA CHAVE DE API]"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"task_id","value":"={{ $json['ID Tarefa'] }}"}]},"options":{}},"id":"31d6d541-0b71-4d6e-989b-e089e5266c56","name":"Buscar Imagem","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[80,420]},{"parameters":{"databaseId":128722,"tableId":333537,"additionalOptions":{}},"id":"6d5e4806-534b-4795-bbce-95d9a161f383","name":"Capturar dados Cenas2","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[340,180]},{"parameters":{"jsCode":"const input = $input.all();\n\nif (!input || input.length === 0) {\n  return [];\n}\n\nconst filteredObjects = input.filter(item => !item.json.Imagens);\n\nconst ids = filteredObjects.map(item => item.json.id);\n\nconst uniqueIds = [...new Set(ids)];\n\nreturn uniqueIds.map(id => ({ json: { id } }));"},"id":"1db7e547-b105-4ca7-bd30-f289b5fc52bc","name":"Extrair ID único sem imagens","type":"n8n-nodes-base.code","typeVersion":2,"position":[620,180]},{"parameters":{"jsCode":"const input = $input.all();\n\nif (!input || input.length === 0) {\n  return [];\n}\n\nconst idList = input.filter(item => item.json.id !== undefined);\nconst taskResultList = input.filter(item => item.json.task_id !== undefined);\n\nconst mergedList = idList.map((item, index) => {\n  if (taskResultList[index] && taskResultList[index].json.task_result) {\n    return {\n      json: {\n        id: item.json.id,\n        image_url: taskResultList[index].json.task_result.image_url\n      }\n    };\n  } else {\n    return { json: { id: item.json.id, image_url: null } };\n  }\n});\n\nreturn mergedList;"},"id":"0df1b56b-eb33-4f1b-9a73-923513f78375","name":"Mesclar outputs por delay1","type":"n8n-nodes-base.code","typeVersion":2,"position":[1220,400]},{"parameters":{"operation":"update","databaseId":128722,"tableId":333537,"rowId":"={{ $json.id }}","fieldsUi":{"fieldValues":[{"fieldId":2451560,"fieldValue":"={{ $json.image_url }}"}]}},"id":"15b8b2a6-3884-4f37-b795-306feca491ef","name":"Inserir imagens","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1560,400]},{"parameters":{},"id":"9246b949-45ce-43b7-9cbf-51bff35c2123","name":"Merge1","type":"n8n-nodes-base.merge","typeVersion":3,"position":[860,400]},{"parameters":{"batchSize":9,"options":{}},"id":"7db49200-67d8-4593-b145-ee0f99907060","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2220,440]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"502a073c-e6cf-40a2-bba6-37f024595de4","leftValue":"={{ $json['Imagem Aumentada'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"f6f35194-0f31-4228-ae91-9c6c9f07777f","leftValue":"={{ $json['Upscale GO!'] }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"15df01ab-17b0-46ee-801e-440a380fbf4c","leftValue":"={{ $json['Seletor Imagem'] }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"488ebdb1-db22-4649-bde9-433bb9261774","name":"If Imagem Aumentada está vazio AND Upscale GO true AND Seletor Imagem não está vazio","type":"n8n-nodes-base.if","typeVersion":2,"position":[-2520,1160]},{"parameters":{"method":"POST","url":"https://api.midjourneyapi.xyz/mj/v2/upscale","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"[INSIRA SUA CHAVE DE API]"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"origin_task_id","value":"={{ $json['ID Tarefa'] }}"},{"name":"index","value":"={{ $json['Seletor Imagem'].value }}"}]},"options":{}},"id":"5110d70e-78c0-4063-a67c-edc7dfb715b2","name":"Aumentar Imagem","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1580,1180]},{"parameters":{"databaseId":128722,"tableId":333537,"additionalOptions":{}},"id":"bc9f07a9-70e3-4a86-82dc-9d9ef96393a7","name":"Capturar dados Cenas3","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-1260,1000]},{"parameters":{"jsCode":"const input = $input.all();\n\nif (!input || input.length === 0) {\n  return [];\n}\n\nconst filteredObjects = input.filter(item => !item.json[\"ID Tarefa Upscale\"]);\n\nconst ids = filteredObjects.map(item => item.json.id);\n\nconst uniqueIds = [...new Set(ids)];\n\nreturn uniqueIds.map(id => ({ json: { id } }));"},"id":"26fb574a-b378-4289-ad7d-4e9eb620b0a6","name":"Extrair IDs únicos sem ID Tarefa Upscale","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1040,1000]},{"parameters":{"jsCode":"const input = $input.all();\n\nif (!input || input.length === 0) {\n  return [];\n}\n\nconst idList = input.filter(item => item.json.id !== undefined);\nconst taskList = input.filter(item => item.json.task_id !== undefined);\n\nconst minLength = Math.min(idList.length, taskList.length);\n\nconst pairedList = [];\nfor (let i = 0; i < minLength; i++) {\n  pairedList.push({\n    json: {\n      id: idList[i].json.id,\n      task_id: taskList[i].json.task_id,\n      success: taskList[i].json.success,\n      status: taskList[i].json.status,\n      message: taskList[i].json.message\n    }\n  });\n}\n\nreturn pairedList;"},"id":"9b6e0719-e9e3-4469-be24-0a5c479dfd94","name":"Mesclar outpus por delay","type":"n8n-nodes-base.code","typeVersion":2,"position":[-480,1160],"alwaysOutputData":false},{"parameters":{"amount":60},"id":"e50f7f99-0ae2-4898-9a75-5a1eb0c9e9c1","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[100,1160],"webhookId":"74a620ed-ebf9-466b-81dc-972c1facc3d9"},{"parameters":{"method":"POST","url":"https://api.midjourneyapi.xyz/mj/v2/fetch","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"[INSIRA SUA CHAVE DE API]"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"task_id","value":"={{ $json['ID Tarefa Upscale'] }}"}]},"options":{}},"id":"a6a1e887-c0d7-4d5d-b907-432ecf57ab4f","name":"Buscar Imagem1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[380,1160]},{"parameters":{"operation":"update","databaseId":128722,"tableId":333537,"rowId":"={{ $json.id }}","fieldsUi":{"fieldValues":[{"fieldId":2451564,"fieldValue":"={{ $json.task_id }}"}]}},"id":"4ca4782d-7e30-4035-a87d-c8bab03e38be","name":"Inserir ID Tarefa Upscale","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-200,1160]},{"parameters":{},"id":"449fc6da-c96f-4ffb-a523-1459f8e5a5c4","name":"Merge2","type":"n8n-nodes-base.merge","typeVersion":3,"position":[-800,1160]},{"parameters":{"databaseId":128722,"tableId":333537,"additionalOptions":{}},"id":"65f929a3-3522-453a-b2ec-f5f980d75a63","name":"Capturar dados Cenas4","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[620,960]},{"parameters":{"jsCode":"const input = $input.all();\n\nif (!input || input.length === 0) {\n  return [];\n}\n\nconst idList = input.filter(item => item.json.id !== undefined);\nconst taskResultList = input.filter(item => item.json.task_id !== undefined);\n\nconst mergedList = idList.map((item, index) => {\n  if (taskResultList[index] && taskResultList[index].json.task_result) {\n    return {\n      json: {\n        id: item.json.id,\n        image_url: taskResultList[index].json.task_result.image_url\n      }\n    };\n  } else {\n    return { json: { id: item.json.id, image_url: null } };\n  }\n});\n\nreturn mergedList;"},"id":"9a8d02e3-9304-42c4-9566-7a11a8ad8b43","name":"Mesclar outputs por delay2","type":"n8n-nodes-base.code","typeVersion":2,"position":[1540,1160]},{"parameters":{"jsCode":"const input = $input.all();\n\nif (!input || input.length === 0) {\n  return [];\n}\n\nconst filteredObjects = input.filter(item => !item.json[\"Imagem Aumentada\"]);\n\nconst ids = filteredObjects.map(item => item.json.id);\n\nconst uniqueIds = [...new Set(ids)];\n\nreturn uniqueIds.map(id => ({ json: { id } }));"},"id":"36e62704-7819-430f-8f58-f9c43cb686d3","name":"Extrair ID único sem Imagem Aumentada","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,960]},{"parameters":{"operation":"update","databaseId":128722,"tableId":333537,"rowId":"={{ $json.id }}","fieldsUi":{"fieldValues":[{"fieldId":2451565,"fieldValue":"={{ $json.image_url }}"}]}},"id":"29b32ed3-fd92-40cc-adda-5f6fcb38a404","name":"Inserir Imagens Aumentadas","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1880,1160]},{"parameters":{"batchSize":9,"options":{}},"id":"0d659850-2dd6-443f-8c46-33b757d688cd","name":"Loop Over Items1","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1880,1180]},{"parameters":{"databaseId":128722,"tableId":333537,"additionalOptions":{}},"id":"d8c931b8-06ba-4318-bccc-9c87179786ee","name":"Capturar dados Cenas5","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-960,1840]},{"parameters":{"jsCode":"const input = $input.all();\n\nif (!input || input.length === 0) {\n  return [];\n}\n\nconst idList = input.filter(item => item.json.id !== undefined);\nconst taskList = input.filter(item => item.json.data && item.json.data.task_id !== undefined);\n\nconst minLength = Math.min(idList.length, taskList.length);\n\nconst pairedList = [];\n\nfor (let i = 0; i < minLength; i++) {\n  pairedList.push({\n    json: {\n      id: idList[i].json.id,\n      task_id: taskList[i].json.data.task_id,\n      message: taskList[i].json.message,\n      status: taskList[i].json.status || null,\n      success: taskList[i].json.success || null\n    }\n  });\n}\n\nreturn pairedList;"},"id":"ecc890d4-f21e-4770-8adf-50c606fe9371","name":"Mesclar outpus por delay1","type":"n8n-nodes-base.code","typeVersion":2,"position":[-180,2000],"alwaysOutputData":false},{"parameters":{"amount":60},"id":"98359ec0-0c67-431b-861d-52cd60c511b3","name":"Wait2","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[400,2000],"webhookId":"74a620ed-ebf9-466b-81dc-972c1facc3d9"},{"parameters":{"databaseId":128722,"tableId":333537,"additionalOptions":{}},"id":"e2f15e32-974a-4819-9c41-6c1eef9c2afb","name":"Capturar dados Cenas6","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[920,1800]},{"parameters":{"jsCode":"const input = $input.all();\n\nif (!input || input.length === 0) {\n  return [];\n}\n\nconst idList = input.filter(item => item.json && item.json.id !== undefined && typeof item.json.id === 'number');\n\nconst videoUrls = Array.from(new Set(input\n  .filter(item => item.json && item.json.data && item.json.data.generation && item.json.data.generation.video)\n  .map(item => item.json.data.generation.video.url)\n));\n\nconst mergedList = idList.map((item, index) => {\n  return {\n    json: {\n      id: item.json.id,\n      video_url: videoUrls[index] || null\n    }\n  };\n});\n\nreturn mergedList;"},"id":"eacf884f-fa34-4faa-8252-94b4939f7b69","name":"Mesclar outputs por delay3","type":"n8n-nodes-base.code","typeVersion":2,"position":[1840,2000]},{"parameters":{"batchSize":9,"options":{}},"id":"c05e2d35-c92f-4783-a807-cd17e69319c0","name":"Loop Over Items2","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1600,2020]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cdc1fd1e-5f95-43db-8043-e7b73229b42e","leftValue":"={{ $('Capturar dados Cenas').item.json['Vídeo'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"4bb099b3-e9d5-405b-b8df-1d18271533dd","leftValue":"={{ $('Capturar dados Cenas').item.json['Vídeo GO!'] }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"cf4d22d9-e7f2-4616-a354-1099656a934d","name":"If Vídeo está vazio AND Vídeo GO true","type":"n8n-nodes-base.if","typeVersion":2,"position":[-2180,1820]},{"parameters":{"method":"POST","url":"https://api.goapi.ai/api/luma/v1/video","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"[INSIRA SUA CHAVE DE API]"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"expand_prompt\": false,\n  \"prompt\": \"{{ $json['Prompt Vídeo'] }}\",\n  \"image_url\": \"{{ $json['Imagem Aumentada'] }}\"\n}","options":{}},"id":"6868b058-ee70-4c3d-b503-0ef29f13383c","name":"Gerar Vídeo Lumalabs","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1280,2020]},{"parameters":{"jsCode":"const input = $input.all();\n\nif (!input || input.length === 0) {\n  return [];\n}\n\nconst filteredObjects = input.filter(item => !item.json[\"ID Tarefa LumaLabs\"]);\n\nconst ids = filteredObjects.map(item => item.json.id);\n\nconst uniqueIds = [...new Set(ids)];\n\nreturn uniqueIds.map(id => ({ json: { id } }));"},"id":"fd67f21e-6b32-463e-bfa9-dd09f142b7b7","name":"Extrair IDs únicos sem ID Tarefa LumaLabs","type":"n8n-nodes-base.code","typeVersion":2,"position":[-740,1840]},{"parameters":{"operation":"update","databaseId":128722,"tableId":333537,"rowId":"={{ $json.id }}","fieldsUi":{"fieldValues":[{"fieldId":2451571,"fieldValue":"={{ $json.task_id }}"}]}},"id":"1618f391-d743-47e3-9e9f-9e3d64114b7e","name":"Inserir ID Tarefa LumaLabs","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[100,2000]},{"parameters":{"url":"=https://api.goapi.ai/api/luma/v1/video/{{ $json['ID Tarefa LumaLabs'] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"[INSIRA SUA CHAVE DE API]"}]},"options":{}},"id":"ed099308-2a67-44e8-be05-9d867978ec70","name":"Buscar Vídeo LumaLabs","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[680,2000]},{"parameters":{"jsCode":"const input = $input.all();\n\nif (!input || input.length === 0) {\n  return [];\n}\n\nconst filteredObjects = input.filter(item => !item.json[\"Vídeo\"]);\n\nconst ids = filteredObjects.map(item => item.json.id);\n\nconst uniqueIds = [...new Set(ids)];\n\nreturn uniqueIds.map(id => ({ json: { id } }));"},"id":"6e674867-33c4-4be8-bb1d-e43ac46ce6ca","name":"Extrair ID único sem Vídeo","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,1800]},{"parameters":{"operation":"update","databaseId":128722,"tableId":333537,"rowId":"={{ $json.id }}","fieldsUi":{"fieldValues":[{"fieldId":2451572,"fieldValue":"={{ $json.video_url }}"}]}},"id":"71c68fa5-4e67-4b6f-a6b2-ca9500b58b16","name":"Inserir Vídeos","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[2180,2000]},{"parameters":{"databaseId":128722,"tableId":333535,"additionalOptions":{}},"id":"cc9003ba-1986-4b54-872a-ca243cbbd822","name":"Capturar dados Filmes","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-1960,2280]},{"parameters":{"jsCode":"const inputData = items.map(item => item.json);\n\nconst item = inputData[0];\n\nconst videoUrls = item.Vídeo.map(video => video.value);\n\nconst scenes = videoUrls.map(url => ({\n  elements: [\n    {\n      src: url,\n      type: \"video\",\n      zoom: 0,\n      width: parseInt(item.Largura, 10),\n      height: parseInt(item.Altura, 10),\n      duration: -1,\n      position: \"center-center\"\n    }\n  ]\n}));\n\nconst singleMovieData = {\n  resolution: \"custom\",\n  quality: \"high\",\n  width: parseInt(item.Largura, 10),\n  height: parseInt(item.Altura, 10),\n  scenes: scenes,\n  elements: [],\n  settings: {}\n};\n\nreturn [{ json: singleMovieData }];"},"id":"4a8c60b8-aae2-49b6-a8ee-85f902bf746f","name":"Preparar input para JSON2Video","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1660,2860]},{"parameters":{},"id":"3089cd0c-e6fe-4a59-bc2e-a54670a94a2e","name":"Wait3","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-940,2900],"webhookId":"e8437862-fec1-4084-9f2a-ff8f0ba7fa8c"},{"parameters":{"method":"POST","url":"https://api.json2video.com/v2/movies","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"[INSIRA SUA CHAVE DE API]"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"id":"856020a0-0d1d-42a8-ae72-7ec9d835a12c","name":"Gerar Vídeo JSON2Video","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1240,2900]},{"parameters":{"url":"https://api.json2video.com/v2/movies","sendQuery":true,"queryParameters":{"parameters":[{"name":"project","value":"={{ $json.project }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"[INSIRA SUA CHAVE DE API]"}]},"options":{}},"id":"f068bcd8-dae7-49a1-b03e-2a26ea62473a","name":"Buscar Vídeo JSON2Video1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-660,2900]},{"parameters":{"jsCode":"function mergeOutputs(inputs) {\n    let mergedOutput = [];\n    let ids = inputs.filter(input => input.json.id !== undefined);\n    let movies = inputs.filter(input => input.json.movie !== undefined);\n\n    ids.forEach((id, index) => {\n        if (index < movies.length) {\n            mergedOutput.push({\n                ...id.json,\n                ...movies[index].json\n            });\n        } else {\n            mergedOutput.push(id.json);\n        }\n    });\n\n    movies.slice(ids.length).forEach(movie => {\n        mergedOutput.push(movie.json);\n    });\n\n    return mergedOutput;\n}\n\nlet inputs = $input.all();\n\nif (!inputs || inputs.length === 0) {\n    throw new Error(\"No inputs received.\");\n}\n\nlet output = mergeOutputs(inputs);\n\nreturn output;"},"id":"70aedd24-fefb-41dc-97f5-321e4230adff","name":"Mesclar outputs por delay4","type":"n8n-nodes-base.code","typeVersion":2,"position":[540,2900]},{"parameters":{},"id":"a24c5d4a-f35f-4f9f-a423-38d2134a23df","name":"Merge6","type":"n8n-nodes-base.merge","typeVersion":3,"position":[180,2900]},{"parameters":{"databaseId":128722,"tableId":333535,"additionalOptions":{}},"id":"1f08e335-ea10-44d5-81dd-b1bd043c35fb","name":"Capturar dados Filmes1","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-380,2700]},{"parameters":{"jsCode":"const items = $input.all();\n\nconst ids = items.map(item => item.json.id);\n\nconst uniqueIds = [...new Set(ids)];\n\nreturn uniqueIds.map(id => ({ json: { id } }));"},"id":"fcd06f96-409a-40df-9db4-900ab79cf2ec","name":"Extrair ID único","type":"n8n-nodes-base.code","typeVersion":2,"position":[-100,2700]},{"parameters":{"operation":"update","databaseId":128722,"tableId":333535,"rowId":"={{ $json.id }}","fieldsUi":{"fieldValues":[{"fieldId":2451524,"fieldValue":"={{ $json.movie.url }}"}]}},"id":"7aabd58c-2d4a-4f58-bbd6-4e204de2eda5","name":"Inserir Filme","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[880,2900]},{"parameters":{},"id":"da92f6f4-c217-409f-81af-5b0ca78c9b83","name":"Merge5","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1480,2000]},{"parameters":{},"id":"2dd0ad47-430d-4b3a-8e6e-4d69e45f1a13","name":"Merge4","type":"n8n-nodes-base.merge","typeVersion":3,"position":[-500,2000]},{"parameters":{},"id":"42c74364-0e47-42db-86bf-30387f3853dc","name":"Merge3","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1180,1160]}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Capturar dados Cenas","type":"main","index":0}]]},"Capturar dados Cenas":{"main":[[{"node":"If Imagens está vazio AND Imagem GO true","type":"main","index":0}]]},"If Imagens está vazio AND Imagem GO true":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"If Imagem Aumentada está vazio AND Upscale GO true AND Seletor Imagem não está vazio","type":"main","index":0}]]},"Gerar Imagem":{"main":[[{"node":"Capturar dados Cenas1","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Capturar dados Cenas1":{"main":[[{"node":"Extrair IDs únicos sem ID Tarefa","type":"main","index":0}]]},"Extrair IDs únicos sem ID Tarefa":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Mesclar outputs por delay","type":"main","index":0}]]},"Mesclar outputs por delay":{"main":[[{"node":"Inserir ID Tarefa","type":"main","index":0}]]},"Inserir ID Tarefa":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Buscar Imagem","type":"main","index":0}]]},"Buscar Imagem":{"main":[[{"node":"Capturar dados Cenas2","type":"main","index":0},{"node":"Merge1","type":"main","index":1}]]},"Capturar dados Cenas2":{"main":[[{"node":"Extrair ID único sem imagens","type":"main","index":0}]]},"Extrair ID único sem imagens":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Mesclar outputs por delay1":{"main":[[{"node":"Inserir imagens","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Mesclar outputs por delay1","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Gerar Imagem","type":"main","index":0}]]},"Inserir imagens":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If Imagem Aumentada está vazio AND Upscale GO true AND Seletor Imagem não está vazio":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}],[{"node":"If Vídeo está vazio AND Vídeo GO true","type":"main","index":0}]]},"Capturar dados Cenas3":{"main":[[{"node":"Extrair IDs únicos sem ID Tarefa Upscale","type":"main","index":0}]]},"Aumentar Imagem":{"main":[[{"node":"Capturar dados Cenas3","type":"main","index":0},{"node":"Merge2","type":"main","index":1}]]},"Extrair IDs únicos sem ID Tarefa Upscale":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Buscar Imagem1","type":"main","index":0}]]},"Inserir ID Tarefa Upscale":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Mesclar outpus por delay","type":"main","index":0}]]},"Capturar dados Cenas4":{"main":[[{"node":"Extrair ID único sem Imagem Aumentada","type":"main","index":0}]]},"Buscar Imagem1":{"main":[[{"node":"Capturar dados Cenas4","type":"main","index":0},{"node":"Merge3","type":"main","index":1}]]},"Extrair ID único sem Imagem Aumentada":{"main":[[{"node":"Merge3","type":"main","index":0}]]},"Capturar dados Cenas5":{"main":[[{"node":"Extrair IDs únicos sem ID Tarefa LumaLabs","type":"main","index":0}]]},"Mesclar outpus por delay1":{"main":[[{"node":"Inserir ID Tarefa LumaLabs","type":"main","index":0}]]},"Capturar dados Cenas6":{"main":[[{"node":"Extrair ID único sem Vídeo","type":"main","index":0}]]},"Mesclar outputs por delay3":{"main":[[{"node":"Inserir Vídeos","type":"main","index":0}]]},"If Vídeo está vazio AND Vídeo GO true":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}],[{"node":"Capturar dados Filmes","type":"main","index":0}]]},"Gerar Vídeo Lumalabs":{"main":[[{"node":"Capturar dados Cenas5","type":"main","index":0},{"node":"Merge4","type":"main","index":1}]]},"Extrair IDs únicos sem ID Tarefa LumaLabs":{"main":[[{"node":"Merge4","type":"main","index":0}]]},"Inserir ID Tarefa LumaLabs":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Buscar Vídeo LumaLabs":{"main":[[{"node":"Capturar dados Cenas6","type":"main","index":0},{"node":"Merge5","type":"main","index":1}]]},"Extrair ID único sem Vídeo":{"main":[[{"node":"Merge5","type":"main","index":0}]]},"Capturar dados Filmes":{"main":[[{"node":"Preparar input para JSON2Video","type":"main","index":0}]]},"Preparar input para JSON2Video":{"main":[[{"node":"Gerar Vídeo JSON2Video","type":"main","index":0}]]},"Gerar Vídeo JSON2Video":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Buscar Vídeo JSON2Video1","type":"main","index":0}]]},"Mesclar outputs por delay4":{"main":[[{"node":"Inserir Filme","type":"main","index":0}]]},"Merge6":{"main":[[{"node":"Mesclar outputs por delay4","type":"main","index":0}]]},"Buscar Vídeo JSON2Video1":{"main":[[{"node":"Capturar dados Filmes1","type":"main","index":0},{"node":"Merge6","type":"main","index":1}]]},"Capturar dados Filmes1":{"main":[[{"node":"Extrair ID único","type":"main","index":0}]]},"Extrair ID único":{"main":[[{"node":"Merge6","type":"main","index":0}]]},"Merge5":{"main":[[{"node":"Mesclar outputs por delay3","type":"main","index":0}]]},"Merge4":{"main":[[{"node":"Mesclar outpus por delay1","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Buscar Vídeo LumaLabs","type":"main","index":0}]]},"Loop Over Items2":{"main":[[],[{"node":"Gerar Vídeo Lumalabs","type":"main","index":0}]]},"Inserir Vídeos":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Mesclar outpus por delay":{"main":[[{"node":"Inserir ID Tarefa Upscale","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"Mesclar outputs por delay2","type":"main","index":0}]]},"Mesclar outputs por delay2":{"main":[[{"node":"Inserir Imagens Aumentadas","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Aumentar Imagem","type":"main","index":0}]]},"Inserir Imagens Aumentadas":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b66ff6ed-887d-48df-a2d2-bdd146f72695","triggerCount":0,"tags":[]}