auto-connect.json
{"createdAt":"2024-08-09T16:46:14.963Z","updatedAt":"2024-08-09T20:23:52.020Z","id":"peHusSX38qEnyCDX","name":"auto connect","active":false,"nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"2b0c6f47-2b3d-459f-9726-e65bf4774eb3","leftValue":"={{ $('Execute Workflow Trigger').item.json.body.data.statusReason }}","rightValue":401,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"desconectado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $('Execute Workflow Trigger').item.json.body.data.statusReason }}","rightValue":400,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"inativo"}]},"options":{}},"id":"e1600cbd-d834-4ca5-a81e-cd185dd1654a","name":"Switch1","type":"n8n-nodes-base.switch","typeVersion":3,"position":[1960,-260]},{"parameters":{"method":"POST","url":"=https://evo.controlsaas.com.br/message/sendText/mgm","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"xdua75u9jfaz6zrbgd29r8"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=120363293441284131"},{"name":"textMessage.text","value":"=📴 *Aviso - Instância inativa*\n------------------------------------\nhost: {{ $('Execute Workflow Trigger').item.json.body.server_url }}\ninstância: {{ $('Execute Workflow Trigger').item.json.body.instance }}\nnúmero: {{ $('Execute Workflow Trigger').item.json.body.sender.split(\"@\")[0] }}\n\n🔁 Iniciando tentativa de reconexão automática..."},{"name":"options.linkPreview","value":"={{ false }}"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"3cc2effa-21fa-4bc5-a4f6-d840b2072918","name":"send group1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2220,-200]},{"parameters":{"method":"PUT","url":"={{ $('Execute Workflow Trigger').item.json.body.server_url }}/instance/restart/{{ $('Execute Workflow Trigger').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json.body.apikey }}"}]},"options":{}},"id":"f2f1100b-88a0-4eab-b606-44cfea6841d7","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2440,-200]},{"parameters":{"method":"POST","url":"=https://evo.controlsaas.com.br/message/sendText/mgm","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"xdua75u9jfaz6zrbgd29r8"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=120363293441284131"},{"name":"textMessage.text","value":"=🔂 Conectando..."},{"name":"options.linkPreview","value":"={{ false }}"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"3254cc42-bbf7-4fc4-92b9-93762d328ca4","name":"send group2","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1960,-40]},{"parameters":{"method":"POST","url":"=https://evo.controlsaas.com.br/message/sendText/mgm","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"xdua75u9jfaz6zrbgd29r8"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=120363293441284131"},{"name":"textMessage.text","value":"=✅ A conexão da instância *{{ $('Execute Workflow Trigger').item.json.body.instance }}* Foi reestabelecida\n------------------------------------\n\n🛜 O número *{{ $json.body.sender.split(\"@\")[0] }}* já está conectado e funcionando perfeitamente.\n\nNão é necessário interferência.\n\n "},{"name":"options.linkPreview","value":"={{ false }}"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"5016e5ec-3cfa-488e-a3c0-8ee053ec9cd2","name":"send group3","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1960,100]},{"parameters":{},"id":"ef3e3195-3857-4d36-b882-43af5a2e881e","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[300,40]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"8246c94d-43c2-44cd-846b-57a0aac04d9a","leftValue":"={{ $('Execute Workflow Trigger').item.json.body.sender.split(\"@\")[0] }}","rightValue":"={{ $json.whatsapp }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"bd9acc65-da53-485c-9277-84c8a358daf6","name":"Filter","type":"n8n-nodes-base.filter","typeVersion":2,"position":[1100,40]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.function }}","rightValue":"tester","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"tester"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"e7449880-45c2-47c0-84e9-1195967c776b","leftValue":"={{ $json.function }}","rightValue":"worker","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"worker"},{"renameOutput":true,"outputKey":"demais"}]},"options":{"allMatchingOutputs":true}},"id":"29e80306-ee7d-43a2-9512-06586fee6ba2","name":"priority","type":"n8n-nodes-base.switch","typeVersion":3,"position":[1520,40]},{"parameters":{},"id":"ec8a39c7-64f0-404c-b4e8-112370367f88","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1740,520]},{"parameters":{"options":{}},"id":"52175d27-ca35-4acb-af44-ffe9f93cd51d","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2200,260]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $('Execute Workflow Trigger').first().json.body.data.state }}","rightValue":"=close","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"close"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cb6f73c8-48f2-419f-9d58-1df774f1b0f9","leftValue":"={{ $('Execute Workflow Trigger').first().json.body.data.state }}","rightValue":"connecting","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"connecting"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"dc704af7-9768-496c-a2b4-381ca3bd90c8","leftValue":"={{ $('Execute Workflow Trigger').first().json.body.data.state }}","rightValue":"open","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"open"}]},"options":{}},"id":"02a2707b-8616-4583-9094-926ee2f50944","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[1960,280],"executeOnce":true},{"parameters":{"url":"={{ $('Execute Workflow Trigger').first().json.body.server_url }}instance/fetchInstances","sendQuery":true,"queryParameters":{"parameters":[{"name":"instanceName","value":"=Luiz"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Execute Workflow Trigger').item.json.body.apikey }}"}]},"options":{}},"id":"39e28fb0-8e43-45cb-985c-14c0bec8b678","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1520,300],"alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"operation":"getAll","tableId":"evolution_Instances","returnAll":true},"id":"b69fa7e6-ac94-4214-b004-2592dc6ca81b","name":"get_messenger","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[880,40],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"assignments":{"assignments":[{"id":"e28a1d0e-c8a9-4957-830c-9b9eb94265a6","name":"canal_envio","value":"120363293441284131","type":"string"},{"id":"e2a62ff9-c98a-43ee-8798-17dfd3f926bc","name":"MGM / Backend","value":"120363293441284131","type":"string"},{"id":"b7b1434e-7b8a-4185-a1e6-9ae27be924f2","name":"","value":"","type":"string"}]},"options":{}},"id":"ad0d4027-3125-4580-a8bb-9393c5184b13","name":"variaveis","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[520,40]},{"parameters":{"method":"POST","url":"=https://evo.controlsaas.com.br/message/sendText/mgm","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"xdua75u9jfaz6zrbgd29r8"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=120363293441284131"},{"name":"textMessage.text","value":"=📵 *Aviso - Instância desconectada*\n------------------------------------\nhost: {{ $('Execute Workflow Trigger').item.json.body.server_url }}\ninstância: {{ $('Execute Workflow Trigger').item.json.body.instance }}\nnúmero: {{ $('Execute Workflow Trigger').item.json.body.sender.split(\"@\")[0] }}\n\n⚠️ *Ação manual necessária* ⚠️\nÉ preciso escanear o QR Code no manager da Evolution"},{"name":"options.linkPreview","value":"={{ false }}"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"43e3c1b0-7bf5-4f38-8bff-dd220fc3e311","name":"send group","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2220,-380]}],"connections":{"Switch1":{"main":[[{"node":"send group","type":"main","index":0}],[{"node":"send group1","type":"main","index":0}]]},"send group1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"variaveis","type":"main","index":0}]]},"Filter":{"main":[[{"node":"priority","type":"main","index":0}]]},"priority":{"main":[[],[{"node":"HTTP Request","type":"main","index":0}],[{"node":"HTTP Request","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields","type":"main","index":0},{"node":"Switch1","type":"main","index":0}],[{"node":"send group2","type":"main","index":0}],[{"node":"send group3","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Switch","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"get_messenger":{"main":[[{"node":"Filter","type":"main","index":0}]]},"variaveis":{"main":[[{"node":"get_messenger","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Execute Workflow Trigger":[{"json":{"headers":{"host":"webhook.sincronia.digital","user-agent":"axios/1.7.2","content-length":"348","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"webhook.sincronia.digital","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"31e0f1d9720a","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"event":"connection.update","instance":"Sincron","data":{"instance":"Sincron","state":"close","statusReason":401},"destination":"https://webhook.sincronia.digital/webhook/microsaas-tracker","date_time":"2024-08-09T13:40:20.927Z","sender":"5519994583576@s.whatsapp.net","server_url":"https://api.sincronia.digital","apikey":"2vkrtkdrzjyjv58w3h7ky8"},"webhookUrl":"https://webhook.sincronia.digital/webhook/microsaas-tracker","executionMode":"production"}}]},"versionId":"f5061c78-bef3-4085-a1a2-e3055c1806bd","triggerCount":0,"tags":[]}