contador-de-usuários-únicos.json
{"createdAt":"2024-07-10T22:58:04.732Z","updatedAt":"2024-07-11T00:55:08.192Z","id":"VPPjdxTZF9fcJPVw","name":"Contador de usuários únicos","active":false,"nodes":[{"parameters":{},"id":"636fcc06-53b1-4d01-9d10-8e8be27b1148","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[1040,600],"typeVersion":1},{"parameters":{"url":"=https://api.sincronia.digital/group/findGroupInfos/MGM1","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"groupJid","value":"=120363300955338517"}]},"options":{"redirect":{"redirect":{}}}},"id":"8671bab7-54d5-413d-b876-fc9c9cda8142","name":"get_group_info1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1260,600],"notesInFlow":true,"executeOnce":true,"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}},"notes":"puxa info do grupo"},{"parameters":{"operation":"getAll","tableId":"usuarios_comuh","limit":1,"filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $json.whatsapp }}"}]}},"id":"618aed20-ccda-4c02-9e54-5427c8945bc8","name":"Supabase - busco o usuário","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2120,720],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"G4 Educação"}}},{"parameters":{"tableId":"usuarios_comuh","fieldsUi":{"fieldValues":[{"fieldId":"whatsapp","fieldValue":"={{ $('Edit Fields').item.json.whatsapp }}"}]}},"id":"d078afd0-a0f6-4056-973b-4763afe9e60f","name":"Supabase - cadastro usuário","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2500,740],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"G4 Educação"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"dd1d069d-7a6c-4f68-9228-1a703ef0400f","leftValue":"={{ $json.whatsapp }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"8c3602ac-c7bd-45fb-9375-8c317609f0cf","name":"tem_cadastro","type":"n8n-nodes-base.if","typeVersion":2,"position":[2280,720]},{"parameters":{"fieldToSplitOut":"participants","options":{}},"id":"7519fcd5-9bcd-4a4a-8e57-0fc14ac853ad","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1440,600]},{"parameters":{"assignments":{"assignments":[{"id":"6f297035-1eaf-4ff0-8d8a-aab2ec4e5629","name":"whatsapp","value":"={{ $('Split Out').item.json.id.split(\"@\")[0] }}","type":"string"}]},"options":{}},"id":"ead0b9cd-06e0-490c-a56c-ae45829e8dbc","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1940,720]},{"parameters":{"options":{"reset":false}},"id":"6de687e7-7014-4b90-a492-d1ea84b1da98","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1740,600]},{"parameters":{"operation":"getAll","tableId":"grupos_comuh"},"id":"f6113c93-3243-40de-9567-17b892f1d5e3","name":"Supabase","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1280,1040],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"G4 Educação"}}},{"parameters":{"options":{"reset":true}},"id":"c867c5da-e217-4ced-8369-7f6e0f6a2c78","name":"Loop Over Items1","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1600,1040]},{"parameters":{"url":"=https://api.sincronia.digital/group/findGroupInfos/MGM1","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"groupJid","value":"={{ $json.group_id }}"}]},"options":{"redirect":{"redirect":{}}}},"id":"107ddfc5-fecb-4bdf-8076-028b0109681e","name":"get_group_info","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1880,1180],"notesInFlow":true,"executeOnce":true,"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}},"notes":"puxa info do grupo"},{"parameters":{"operation":"getAll","tableId":"usuarios_comuh","limit":1,"filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $json.whatsapp }}"}]}},"id":"cf10a2f0-358a-41fc-a8fb-c681399d35a1","name":"Supabase - busco o usuário1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2620,1300],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"G4 Educação"}}},{"parameters":{"tableId":"usuarios_comuh","fieldsUi":{"fieldValues":[{"fieldId":"whatsapp","fieldValue":"={{ $('Edit Fields1').item.json.whatsapp }}"}]}},"id":"3353a30f-5aad-4992-992a-9ef5e688dac4","name":"Supabase - cadastro usuário1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3000,1320],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"G4 Educação"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"dd1d069d-7a6c-4f68-9228-1a703ef0400f","leftValue":"={{ $json.whatsapp }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"360fc8fe-7bbc-4593-a677-ed35150e203f","name":"tem_cadastro1","type":"n8n-nodes-base.if","typeVersion":2,"position":[2780,1300]},{"parameters":{"fieldToSplitOut":"participants","options":{}},"id":"ba17e543-a2e3-4d05-8dcc-4b6ae4f2199f","name":"Split Out1","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2060,1180]},{"parameters":{"assignments":{"assignments":[{"id":"6f297035-1eaf-4ff0-8d8a-aab2ec4e5629","name":"whatsapp","value":"={{ $('Split Out1').item.json.id.split(\"@\")[0] }}","type":"string"}]},"options":{}},"id":"f744c6df-6690-45be-8cb0-51f7757169c9","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2440,1300]},{"parameters":{"options":{"reset":true}},"id":"9a59081c-8b50-4fea-9a0a-057b70ed7fb9","name":"Loop Over Items2","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2240,1180]}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"get_group_info1","type":"main","index":0}]]},"get_group_info1":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Supabase - busco o usuário":{"main":[[{"node":"tem_cadastro","type":"main","index":0}]]},"Supabase - cadastro usuário":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"tem_cadastro":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Supabase - cadastro usuário","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Supabase - busco o usuário","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Edit Fields","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"get_group_info","type":"main","index":0}]]},"get_group_info":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Supabase - busco o usuário1":{"main":[[{"node":"tem_cadastro1","type":"main","index":0}]]},"Supabase - cadastro usuário1":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"tem_cadastro1":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}],[{"node":"Supabase - cadastro usuário1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Supabase - busco o usuário1","type":"main","index":0}]]},"Loop Over Items2":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e1b73027-5fb0-4086-9a43-dae65420da02","triggerCount":0,"tags":[]}