disparador.json
{"createdAt":"2024-07-17T00:45:55.589Z","updatedAt":"2024-07-17T01:36:46.295Z","id":"XG7VymmuyZU379nZ","name":"Disparador","active":true,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"9c08ceed-cce9-4f8d-8e13-26764d1262c3","name":"instance","value":"={{ $json.body.instance }}","type":"string"},{"id":"4863a132-0b69-45bb-b24a-6d13bf1d2a03","name":"url","value":"={{ $json.body.server_url }}","type":"string"},{"id":"b730aa13-e822-45f6-ba07-1ad368d766ad","name":"texto","value":"={{ $json.body.data.message.extendedTextMessage.text }}","type":"string"},{"id":"c012f5a0-fc10-4706-ae6d-fa3cc0f6c2bc","name":"fromme","value":"={{ $json.body.data.key.fromMe }}","type":"string"},{"id":"0ac1ab50-a7b3-4334-8e51-e0b2efbba390","name":"lista","value":"={{ $json.body.data.contextInfo.quotedMessage.conversation }}","type":"string"},{"id":"e9170ad2-055d-4ef0-8058-4a74c87282fb","name":"whatsapp","value":"={{ $json.body.data.message.extendedTextMessage.contextInfo.participant.split(\"@\")[0] }}","type":"string"}]},"options":{}},"id":"14d121cf-80c8-4e6e-b0d2-9df80c6f985f","name":"variaveis","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1000,420]},{"parameters":{"method":"POST","url":"https://api.sincronia.digital/message/sendText/{instance}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Webhook').item.json.body.data.key.fromMe }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"5519994317797"},{"name":"options.presence","value":"composing"},{"name":"textMessage.text","value":"={{ $json.mensagem }} "}]},"options":{}},"id":"c3bac688-dd2e-47f8-bdfe-5212af8ec20c","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2520,320]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"9d73fc12-9384-4d69-ab9f-561c0c8523f7","leftValue":"={{ $json.texto }}","rightValue":"!disparar","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"85e5c26c-3adb-4a1a-9ada-66c8d30a2baf","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[1160,420]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"e510a91e-6c64-487c-bb50-62099a9f65b3","leftValue":"={{ $json.fromme }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{"looseTypeValidation":true}},"id":"4fb1d5d1-5110-4f82-8cd5-644e875f52d1","name":"If1","type":"n8n-nodes-base.if","typeVersion":2,"position":[1340,280]},{"parameters":{"assignments":{"assignments":[{"id":"59171c2c-bd9f-4e91-a879-f0bfdcecd871","name":"lista","value":"={{ $json.lista.split(\"\\n\")}}","type":"array"}]},"options":{}},"id":"787afa98-1dda-4d5e-b8dd-d4d1b0052931","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1540,260]},{"parameters":{"httpMethod":"POST","path":"disparador","options":{}},"id":"61ddfc95-f6ac-417b-99a6-f30d033be853","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[840,420],"webhookId":"57f40515-23cf-4b71-b6af-2c054d9f9bba"},{"parameters":{"operation":"create","databaseId":97,"tableId":737,"fieldsUi":{"fieldValues":[{"fieldId":6881,"fieldValue":"={{ $json.lista }}"}]}},"id":"f791a65d-c574-4212-8bc4-52846ebdc2fb","name":"Baserow","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1860,260],"credentials":{"baserowApi":{"id":"wpjMUaOCXymI7BxX","name":"SincronIA"}}},{"parameters":{"fieldToSplitOut":"lista","options":{}},"id":"2c73ef8a-f93e-4ebc-a6cc-79e085a253a1","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1700,260]},{"parameters":{"options":{}},"id":"92cc96b1-eedd-4df2-a6d9-490d8475a058","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2080,260]},{"parameters":{"assignments":{"assignments":[{"id":"075d33d8-525b-4877-933e-9586a9406dad","name":"mensagem","value":"olá, testando","type":"string"}]},"options":{}},"id":"4a2c5be3-64a8-4e9a-ab11-4eb91258b55e","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2340,320]},{"parameters":{},"id":"f1632e6f-f1b6-43ee-a4f0-c9da76b11a45","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2700,320],"webhookId":"0708cc82-bc0e-495b-a979-92597bf2f369"},{"parameters":{"method":"POST","url":"https://api.sincronia.digital/message/sendText/{instance}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Webhook').item.json.body.data.key.fromMe }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"5519994317797"},{"name":"options.presence","value":"composing"},{"name":"textMessage.text","value":"todas as mensagens foram enviadas"}]},"options":{}},"id":"955fccc0-5668-489b-a3ef-fdde70b2a7d7","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2320,60]}],"connections":{"variaveis":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"variaveis","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Baserow","type":"main","index":0}]]},"Baserow":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"HTTP Request1","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook.sincronia.digital","user-agent":"axios/1.7.2","content-length":"1319","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"webhook.sincronia.digital","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"87bd2b72c4cb","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"Luiz","data":{"key":{"remoteJid":"5519994435428@s.whatsapp.net","fromMe":true,"id":"3EB0BE0CAFAA7CB4469CE0"},"pushName":"Luiz | Sincron IA","message":{"extendedTextMessage":{"text":"!disparar","contextInfo":{"stanzaId":"3EB04AAF5B1D298DF77A7F","participant":"5519994317797@s.whatsapp.net","quotedMessage":{"conversation":"1331\n313\n43423\n12"},"disappearingMode":{"initiator":"CHANGED_IN_CHAT","trigger":"CHAT_SETTING"}},"inviteLinkGroupTypeV2":"DEFAULT"},"messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"s850Fh8AwlHfMQ==","senderTimestamp":"1720707475","senderAccountType":"E2EE","receiverAccountType":"E2EE","recipientKeyHash":"4dZ/wdtb3MCeVA==","recipientTimestamp":"1720569445"},"deviceListMetadataVersion":2}},"contextInfo":{"stanzaId":"3EB04AAF5B1D298DF77A7F","participant":"5519994317797@s.whatsapp.net","quotedMessage":{"conversation":"1331\n313\n43423\n12"},"disappearingMode":{"initiator":"CHANGED_IN_CHAT","trigger":"CHAT_SETTING"}},"messageType":"extendedTextMessage","messageTimestamp":1721177682,"owner":"Luiz","source":"web"},"destination":"https://webhook.sincronia.digital/webhook/disparador","date_time":"2024-07-16T21:54:42.398Z","sender":"5519994317797@s.whatsapp.net","server_url":"https://api.sincronia.digital","apikey":"s9od12dr2do8acmmtqssn"},"webhookUrl":"https://webhook.sincronia.digital/webhook/disparador","executionMode":"production"}}]},"versionId":"cd85a747-e00e-45fa-8ade-124ca29cc893","triggerCount":1,"tags":[]}