disparador.json
{"createdAt":"2024-07-17T00:45:55.589Z","updatedAt":"2024-07-18T18:57:11.782Z","id":"XG7VymmuyZU379nZ","name":"Disparador","active":true,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"9c08ceed-cce9-4f8d-8e13-26764d1262c3","name":"instance","value":"={{ $json.body.instance }}","type":"string"},{"id":"4863a132-0b69-45bb-b24a-6d13bf1d2a03","name":"url","value":"={{ $json.body.server_url }}","type":"string"},{"id":"b730aa13-e822-45f6-ba07-1ad368d766ad","name":"texto","value":"={{ $json.body.data.message.extendedTextMessage.text }}","type":"string"},{"id":"c012f5a0-fc10-4706-ae6d-fa3cc0f6c2bc","name":"fromme","value":"={{ $json.body.data.key.fromMe }}","type":"string"},{"id":"0ac1ab50-a7b3-4334-8e51-e0b2efbba390","name":"lista","value":"={{ $json.body.data.contextInfo.quotedMessage.conversation ? $json.body.data.contextInfo.quotedMessage.conversation.replaceAll('+','') : $json.body.data.message.extendedTextMessage.contextInfo.quotedMessage.extendedTextMessage.text.replaceAll('+','') }}","type":"string"},{"id":"e9170ad2-055d-4ef0-8058-4a74c87282fb","name":"whatsapp","value":"={{ $json.body.data.message.extendedTextMessage.contextInfo.participant.split(\"@\")[0] }}","type":"string"}]},"options":{}},"id":"14d121cf-80c8-4e6e-b0d2-9df80c6f985f","name":"variaveis","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[660,420]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"e510a91e-6c64-487c-bb50-62099a9f65b3","leftValue":"={{ $json.fromme }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{"looseTypeValidation":true}},"id":"4fb1d5d1-5110-4f82-8cd5-644e875f52d1","name":"If1","type":"n8n-nodes-base.if","typeVersion":2,"position":[820,420]},{"parameters":{"assignments":{"assignments":[{"id":"59171c2c-bd9f-4e91-a879-f0bfdcecd871","name":"whatsapp","value":"={{ $json.lista.split(\"\\n\")}}","type":"array"},{"id":"76790234-7b7f-468c-847c-9572f2a9635f","name":"mensagem","value":"={{ $json.texto.split(\" \").slice(1).join(\" \") }}","type":"string"}]},"options":{}},"id":"787afa98-1dda-4d5e-b8dd-d4d1b0052931","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1200,260]},{"parameters":{"fieldToSplitOut":"whatsapp","options":{}},"id":"2c73ef8a-f93e-4ebc-a6cc-79e085a253a1","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1380,260]},{"parameters":{"assignments":{"assignments":[{"id":"075d33d8-525b-4877-933e-9586a9406dad","name":"mensagem","value":"={{ $('Edit Fields').item.json.mensagem }}","type":"string"},{"id":"ced0b796-442d-4492-99ef-b87dc3876a40","name":"row_id","value":"={{ $json.id }}","type":"string"},{"id":"a5927325-bb76-49bc-9d9e-bea8690dc457","name":"whatsapp","value":"={{ $json.whatsapp }}","type":"string"}]},"options":{}},"id":"4a2c5be3-64a8-4e9a-ab11-4eb91258b55e","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2260,120]},{"parameters":{"amount":6},"id":"f1632e6f-f1b6-43ee-a4f0-c9da76b11a45","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2780,260],"webhookId":"0708cc82-bc0e-495b-a979-92597bf2f369"},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/{{ $('variaveis').item.json.instance }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Webhook').item.json.body.data.key.fromMe }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"5519994317797"},{"name":"options.presence","value":"composing"},{"name":"textMessage.text","value":"todas as mensagens foram enviadas"}]},"options":{}},"id":"955fccc0-5668-489b-a3ef-fdde70b2a7d7","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1860,40],"executeOnce":true,"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"b9b2e647-aa33-43b3-8ecc-f0c47347fa51","leftValue":"={{ $json.whatsapp }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"77c4aa8a-1c66-4455-ac36-85d3310751b0","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[2040,280]},{"parameters":{"options":{"reset":false}},"id":"ae467d94-1c8b-4c97-92ec-879b6c63f92e","name":"Loop Over Items1","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1600,260]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.texto.split(\" \")[0] }}","rightValue":"!disparar","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"!disparar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"82d6468f-41b5-46a8-a38f-5164263edd54","leftValue":"={{ $json.texto.split(\" \")[0] }}","rightValue":"!disparo2","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"!disparo2"}]},"options":{}},"id":"8c72fde9-866c-4448-8118-40ff28d3d939","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[1020,280]},{"parameters":{"operation":"getAll","tableId":"leads","returnAll":true,"filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $json.whatsapp }}"}]}},"id":"c9b61411-3242-49e3-b093-b8d1dab07846","name":"Supabase","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1860,280],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"foAj22VvGqK4Jph0","name":"Vitalfy"}}},{"parameters":{"tableId":"leads","fieldsUi":{"fieldValues":[{"fieldId":"whatsapp","fieldValue":"={{ $('Split Out').item.json.whatsapp }}"}]}},"id":"83ac7a5d-62ac-428e-9023-d3d221089d6f","name":"Supabase1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2240,460],"credentials":{"supabaseApi":{"id":"foAj22VvGqK4Jph0","name":"Vitalfy"}}},{"parameters":{"httpMethod":"POST","path":"disparador1","options":{}},"id":"61ddfc95-f6ac-417b-99a6-f30d033be853","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[500,420],"webhookId":"57f40515-23cf-4b71-b6af-2c054d9f9bba"},{"parameters":{"method":"POST","url":"={{ $('variaveis').item.json.url }}/message/sendText/{{ $('variaveis').item.json.instance }} ","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Webhook').item.json.body.data.key.fromMe }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $json.whatsapp }} "},{"name":"options.presence","value":"composing"},{"name":"textMessage.text","value":"={{ $json.mensagem }}"}]},"options":{}},"id":"c3bac688-dd2e-47f8-bdfe-5212af8ec20c","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2440,120],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"update","tableId":"leads","filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $('Edit Fields1').item.json.whatsapp }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"enviado","fieldValue":"={{ true }}"}]}},"id":"89e2621a-8246-48aa-91ff-1b05b30669e1","name":"Supabase2","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2600,120],"credentials":{"supabaseApi":{"id":"foAj22VvGqK4Jph0","name":"Vitalfy"}},"onError":"continueRegularOutput"}],"connections":{"variaveis":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"Supabase1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}],[{"node":"Supabase","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"If","type":"main","index":0}]]},"Supabase1":{"main":[[{"node":"Supabase","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"variaveis","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Supabase2","type":"main","index":0}]]},"Supabase2":{"main":[[{"node":"Wait","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook.sincronia.digital","user-agent":"axios/1.7.2","content-length":"1363","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"webhook.sincronia.digital","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"87bd2b72c4cb","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"Luiz","data":{"key":{"remoteJid":"5519991327335@s.whatsapp.net","fromMe":true,"id":"49977B4303E16C84CC"},"pushName":"Luiz | Sincron IA","message":{"extendedTextMessage":{"text":"!disparar Olá. Esse é um teste\n\nvamos ver se vai dar certo\n\nBBBBBBB","contextInfo":{"stanzaId":"D5EB8B7BE00B50C0CC","participant":"5519994317797@s.whatsapp.net","quotedMessage":{"extendedTextMessage":{"text":"+5519994317797","contextInfo":{"expiration":0,"ephemeralSettingTimestamp":"0","disappearingMode":{"initiator":"CHANGED_IN_CHAT"}}}},"expiration":0,"ephemeralSettingTimestamp":"0","disappearingMode":{"initiator":"CHANGED_IN_CHAT"}}}},"contextInfo":{"stanzaId":"D5EB8B7BE00B50C0CC","participant":"5519994317797@s.whatsapp.net","quotedMessage":{"extendedTextMessage":{"text":"+5519994317797","contextInfo":{"expiration":0,"ephemeralSettingTimestamp":"0","disappearingMode":{"initiator":"CHANGED_IN_CHAT"}}}},"expiration":0,"ephemeralSettingTimestamp":"0","disappearingMode":{"initiator":"CHANGED_IN_CHAT"}},"messageType":"extendedTextMessage","messageTimestamp":1721228599,"owner":"Luiz","source":"desktop"},"destination":"https://webhook.sincronia.digital/webhook/disparador","date_time":"2024-07-17T12:03:19.180Z","sender":"5519994317797@s.whatsapp.net","server_url":"https://api.sincronia.digital","apikey":"s9od12dr2do8acmmtqssn"},"webhookUrl":"https://webhook.sincronia.digital/webhook/disparador","executionMode":"production"}}]},"versionId":"0c7b44e1-bc8c-450c-8b30-9d3b9af34ac4","triggerCount":1,"tags":[]}