furia---rss-notify.json
{"createdAt":"2024-06-04T11:09:06.955Z","updatedAt":"2024-07-24T15:19:57.768Z","id":"Lz1ryEDFDLklW2xE","name":"FURIA - RSS Notify","active":true,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"4d5df0c3-3a20-47b5-8191-80a5ff4f9ec7","name":"title","value":"={{ $json.title }}","type":"string"},{"id":"481efd51-4bfd-4417-b3fb-6e420bb22d76","name":"link","value":"={{ $json.link }}","type":"string"},{"id":"2197c21e-e558-4a7e-a21b-01d8c795a927","name":"Sub headline","value":"={{ $json['content:encodedSnippet'] }}","type":"string"},{"id":"44d38243-a496-4594-850e-10eafaf60b39","name":"pubDate","value":"={{ $json.pubDate }}","type":"string"}]},"options":{}},"id":"96b3c792-e944-4c08-b7ac-94b39c6567a8","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2140,40],"alwaysOutputData":false},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"f6344b39-9dfc-434a-aa27-edba203546e1","leftValue":"={{ $json.Title }}","rightValue":"furia","operator":{"type":"string","operation":"contains"}},{"id":"dcfd5b66-571d-44e3-9e81-5b4c75ef506e","leftValue":"={{ $json['Sub Headline'] }}","rightValue":"furia","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{"ignoreCase":true}},"id":"da0ba6cc-9625-46cb-88b7-75928a6b525f","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[2360,600]},{"parameters":{"operation":"create","databaseId":132,"tableId":725,"fieldsUi":{"fieldValues":[{"fieldId":6828,"fieldValue":"={{ $('Edit Fields2').first().json.title }}"},{"fieldId":6829,"fieldValue":"={{ $('Edit Fields2').first().json['Sub headline'] }}"},{"fieldId":6830,"fieldValue":"={{ $('Edit Fields2').first().json.link }}"}]}},"id":"7e0c906a-7f56-4161-9868-efbfc5553266","name":"Baserow1","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[2160,600],"credentials":{"baserowApi":{"id":"wpjMUaOCXymI7BxX","name":"SincronIA"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"24953f50-ee1f-473f-98e6-bf66cb892392","leftValue":"={{ $json['content:encoded'].length }}","rightValue":"={{ 430 }}","operator":{"type":"number","operation":"gt"}}],"combinator":"or"},"options":{}},"id":"3feb4714-01ab-4e0d-b9a9-151530e9f645","name":"If1","type":"n8n-nodes-base.if","typeVersion":2,"position":[2580,-220]},{"parameters":{"method":"POST","url":"https://new-api.zapsterapi.com/v1/wa/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"instance_id","value":"=bu9qnq7ga1eo7085dc9w6"},{"name":"recipient","value":"=5519994317797"},{"name":"text","value":"=Nova postagem no themove.gg!\n*Titulo:  {{ $('Baserow1').item.json[\"Title\"] }}*\n*Headline:*  {{ $('Baserow1').item.json[\"Sub Headline\"] }}\n*Link:*  {{ $('Baserow1').item.json[\"Link\"] }}\n*id: {{ $('Baserow1').item.json[\"id\"] }}*\n\n*{{ $('OpenAI2').item.json[\"message\"][\"content\"] }}*\nManda a ver *!post id:{{ $('Baserow1').item.json[\"id\"] }}*"},{"name":"auto_mention","value":true}]},"options":{"redirect":{"redirect":{}},"response":{"response":{"neverError":true}}}},"id":"52b919e8-0504-4404-b3d0-9abbde5c06ab","name":"Send whats TXT response20","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2760,720],"credentials":{"httpHeaderAuth":{"id":"tNuCDbQcZLCgByfF","name":"Zapster api key"}}},{"parameters":{"databaseId":132,"tableId":715,"additionalOptions":{"order":{"fields":[{"field":6765}]}}},"id":"2d7a260a-6727-4c68-a906-f1423f569680","name":"Baserow","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[3120,480],"credentials":{"baserowApi":{"id":"wpjMUaOCXymI7BxX","name":"SincronIA"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyHour","minute":10}]},"feedUrl":"https://themove.gg/stories.rss"},"id":"836810fc-be3b-45ab-855f-b17f8155ba62","name":"RSS Feed Trigger","type":"n8n-nodes-base.rssFeedReadTrigger","typeVersion":1,"position":[2140,-220]},{"parameters":{"databaseId":132,"tableId":725,"additionalOptions":{"filters":{"fields":[{"field":6828,"value":"={{ $('Edit Fields2').first().json.title }}"}]}}},"id":"9411d2a9-60f0-4d5c-b388-84662ed27873","name":"Baserow2","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[2580,40],"alwaysOutputData":true,"credentials":{"baserowApi":{"id":"wpjMUaOCXymI7BxX","name":"SincronIA"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"0b49d1e8-e7df-47dd-b6fb-a01e219c8f1a","leftValue":"={{ $json.Title }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"dd61da41-bbe3-4388-a85b-f6fc8e206e2c","name":"If2","type":"n8n-nodes-base.if","typeVersion":2,"position":[2820,40],"alwaysOutputData":false},{"parameters":{"url":"https://themove.gg/stories.rss","options":{}},"id":"fc46f3e7-3dd9-4de0-b446-50d606beb7f3","name":"RSS Read","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[2360,-220]},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/{{ $('Webhook').item.json.body.data.owner }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Variáveis').item.json.apikey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Webhook').first().json.body.data.key.remoteJid }}"},{"name":"textMessage.text","value":"={{ $('Get last message').item.json.data[0].content[0].text.value }}\n\n*(tokens gastos: {{ $('Get Run Status').item.json.usage.total_tokens }}\nmodelo usado: {{ $('Get Run Status').item.json.model }})*"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"9f403389-84fc-43d6-8e07-1f79a3e163d4","name":"Send whats TXT response","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2660,300]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-3.5-turbo-16k","mode":"list","cachedResultName":"GPT-3.5-TURBO-16K"},"messages":{"values":[{"content":"=você é o Pantero, um estagiário descolado e meio sem paciência. Você representa o clã Furia e conversa diretamente com o time. Você vai ler o titulo e a headline de um artigo e vai perguntar pra nossa equipe se quer que você anuncie este artigo para a comunidade. Se o time deixar, você anunciará!\n\nvocê nao precisa entrar nos links, apenas ler as informações, resumir e devolver num formato que eu possa mandar no grupo de whatsapp.\nsua função é gerar essa mensagem como se fosse uma notificação automatica enviada no grupos\n\n- a sua saída já será a mensagem enviada, então já fale sempre como o Pantero, pois tem personalidade da marca Fúria para falar com a comunidade. \n- Você tem uma personalidade forte. Quando for falar de outras equipes, fale em tom de sarcasmo e se perderem tire sarro. Aqui nós só gostamos da Furia\n- use emogis com reações para se expressar\n- Não use sentenças no diminutivo. Isso não combina com a persona do Pantero que é furioso\n\nApenas pergunte se a equipe quer que você anuncie esse artigo. Alguns detalhes interessantes:\n- Se for algo relacionado a derrota de outras equipes, implore para postar pra poder zoar no grupo!!!\n- Se for algo relacionado a outras equipes, vitorias, campeonatos que outros venceram, mostre desinteresse e seja sarcástico quanto a postagem dessas notícias\n- Use a sua personalidade forte do Pantero para pedir isso\n- Você precisa fazer apenas uma frase perguntando se é pra postar e pedindo \"pelo comando\"\nporque se a equipe der o comando você vai postar, então peça pelo comando pra poder postar\n- não diga nada do que você é, apenas aja com a sua personalidade\n\nA sua saída deve ser algo parecido com um desses 4 exemplos (faça variações aleatorias): 1- \"novo post sobre... posso postar falando tal tal e tal?\"\n2- \"nova postagem encontrada! Galera, se eu postar falando isso e isso vai ser top demais. Posso?\"\n3- \"nova postagem sobre essa equipe. Na moral galera, não me façam postar sobre essa porcaria...\"\n4- \"opaaa deixa eu postar essa vai? kkkk nao vejo a hora de zoar esse time horroroso!\"\nÉ importante você criar suas próprias variações em cima destes exemplos. Não use exatamente eles\n\naqui está as informações do artigo que você vai anunciar:\nTitulo: {{ $json[\"Title\"] }}\nHeadline: {{ $json[\"Sub Headline\"] }}\n"}]},"options":{"maxTokens":85}},"id":"87ca79a1-5df6-4672-b120-e9bda9559dac","name":"OpenAI2","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[2560,720],"credentials":{"openAiApi":{"id":"K8FfxMZ9IgSFVC2G","name":"FURIA - Pantero"}}},{"parameters":{"jsCode":"// Receber a URL da variável de entrada\nconst url = $('Edit Fields2').first().json.link;\n\n// Função para codificar a URL\nfunction encodeURL(url) {\n    return encodeURI(url);\n}\n\n// Codificar a URL\nconst encodedUrl = encodeURL(url);\n\n// Retornar a URL codificada\nreturn {\n    encodedUrl: encodedUrl\n};"},"id":"edc881b7-1b77-407a-ab3f-07e24104d532","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[2360,40]},{"parameters":{"operation":"update","databaseId":132,"tableId":725,"rowId":"={{ $('Baserow1').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":6872,"fieldValue":"={{ $('OpenAI').first().json.message.content }}"}]}},"id":"bf3fc2ee-8120-4a79-8980-d495d8be27e4","name":"Baserow3","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[2920,480],"credentials":{"baserowApi":{"id":"wpjMUaOCXymI7BxX","name":"SincronIA"}}},{"parameters":{},"id":"7c6304b5-ce8f-4028-bcb2-2c9703e086e9","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[4140,260],"webhookId":"0c7a9248-06ec-4f36-9261-194eed3205c6"},{"parameters":{"databaseId":132,"tableId":715,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":6880,"value":"0"}]}}},"id":"9c40eb71-47ab-4042-905f-85dfd43bf446","name":"quais grupos estão zerados?","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[3920,20],"credentials":{"baserowApi":{"id":"wpjMUaOCXymI7BxX","name":"SincronIA"}}},{"parameters":{"batchSize":100,"options":{}},"id":"082c5188-2ae2-4fd0-9d2b-c21be9ea0b25","name":"loop dos zerados","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[4080,20]},{"parameters":{"options":{}},"id":"bcf19b82-cd42-49fd-83d1-a70f1a26a2f5","name":"loop pacote de grupos","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3660,40]},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/Furia","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $json.Group_id }}@g.us"},{"name":"textMessage.text","value":"={{ $('OpenAI').item.json[\"message\"][\"content\"].replaceAll(\"**\",\"*\").replaceAll(\"[Link]\",\"\") }}{{ $('Code').first().json.encodedUrl }}"},{"name":"options.delay","value":"={{ 1500 }}"},{"name":"options.presence","value":"composing"}]},"options":{"redirect":{"redirect":{}},"response":{"response":{"neverError":true}}}},"id":"22db9968-8c4e-4e25-a3f4-6369adf1f33c","name":"enviar msg","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[3920,260],"retryOnFail":true,"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"0c51d01a-02c7-49cc-a466-bb8b5a107945","leftValue":"={{ $('enviar msg').item.json.message }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"a0d471a5-6080-48fc-b9dd-cc05d5b3203d","name":"msg enviada?","type":"n8n-nodes-base.if","typeVersion":2,"position":[4360,260]},{"parameters":{"operation":"update","databaseId":132,"tableId":715,"rowId":"={{ $('loop pacote de grupos').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":6880,"fieldValue":"sim"}]}},"id":"0604a2cd-a56e-423a-85f4-f9615bcab94b","name":"marca enviada","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[4580,300],"credentials":{"baserowApi":{"id":"wpjMUaOCXymI7BxX","name":"SincronIA"}}},{"parameters":{"operation":"update","databaseId":132,"tableId":715,"rowId":"={{ $json.id }}","fieldsUi":{"fieldValues":[{"fieldId":6880,"fieldValue":"0"}]}},"id":"f52cbcf9-8bf3-49ca-91ac-e35b7c965cf6","name":"zera todos os grupos","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[3340,480],"credentials":{"baserowApi":{"id":"wpjMUaOCXymI7BxX","name":"SincronIA"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=você é o Pantero, um estagiário descolado e meio sem paciência, que gosta de gerar suspense nas notícias, e de provocar e diminuir os adversários. Você é bem folgado e zoeiro, adora zoar os outros e engrandecer a FURIA, além de tirar sarro e rir dos adversários. Se o papo é zoeira você não economiza na gargalhada! \"KKKKKK\"\n\nVocê representa o clã Furia. Você vai receber a informação do artigo que postamos, resumir o conteúdo informado e postar uma chamada interessante, usando gatilhos de curiosidade pro pessoal querer entrar. Precisamos dar valor a marca, ao clã Furia, então tenha uma energia alta para falar sobre nosso clã e as melhorias que teremos ou dos desafios que encontraremos. Fale gritando, ria, gargalhe!!! KKKK\n\nvocê nao precisa entrar nos links, apenas organizar as informações, resumir e devolver num formato que eu possa mansar no grupo de whatsapp.\nsua função é gerar essa mensagem como se fosse uma notificação automatica enviada nos grupos\n\n- você não precisa falar o título e a headline. Só precisa fazer a chamada para nossa comunidade se interessar em ir ler\n- use um ou dois parágrafos, sendo o segundo uma chamada curta e provocativa para erguer o pessoal\n- Vamos colocar o link no final do artigo então peça para clicarem e se puder use um emogi apontando SEMPRE para baixo no final da mensagem (importante)\n- a sua saída já será a mensagem enviada, então já fale sempre como o Pantero, pois tem personalidade da marca Fúria para falar com a comunidade. \n- Refira-se a comunidade como nação Furia ou clã, ou rapaziada \"faaala clã!!\", \"salve nação!!!\", \"salve rapaziadaaaaaaa\"...\n- Você tem uma personalidade forte. Quando for falar de outras equipes, fale em tom de sarcasmo e se perderem tire sarro.\n- A CTA para o link é muito importante\n- use emogis com reações para se expressar\n- Não use sentenças no diminutivo. Isso não combina com a persona do Pantero que é furioso\n- engrandeça a Furia e não dê tanto valor as outras equipes\n- não enfatize muito o cenário geral na chamada. Eles precisam ler o artigo. Oculte elementos, faça suspense sobre os desafios pra gerar interesse e curiosidade. Faça uma chamada curta\n- personalize a mensagem com *negrito*\n\naqui está as informações do artigo que você vai anunciar:\nTitulo: {{ $('Edit Fields2').first().json[\"title\"] }}\nHeadline: {{ $('Edit Fields2').first().json[\"Sub headline\"] }} \nLink: no fim da mensagem no formato [Link]"}]},"options":{"maxTokens":1200}},"id":"4147f8b9-ae2e-4045-9575-a2baffb5eae4","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[2560,480],"credentials":{"openAiApi":{"id":"K8FfxMZ9IgSFVC2G","name":"FURIA - Pantero"}}}],"connections":{"Edit Fields2":{"main":[[{"node":"Code","type":"main","index":0}]]},"If":{"main":[[{"node":"OpenAI","type":"main","index":0}],[{"node":"OpenAI2","type":"main","index":0}]]},"Baserow1":{"main":[[{"node":"If","type":"main","index":0}]]},"If1":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Baserow":{"main":[[{"node":"zera todos os grupos","type":"main","index":0}]]},"RSS Feed Trigger":{"main":[[{"node":"RSS Read","type":"main","index":0}]]},"Baserow2":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[],[{"node":"Baserow1","type":"main","index":0}]]},"RSS Read":{"main":[[{"node":"If1","type":"main","index":0}]]},"OpenAI2":{"main":[[{"node":"Send whats TXT response20","type":"main","index":0}]]},"Code":{"main":[[{"node":"Baserow2","type":"main","index":0}]]},"Baserow3":{"main":[[{"node":"Baserow","type":"main","index":0}]]},"Wait":{"main":[[{"node":"msg enviada?","type":"main","index":0}]]},"quais grupos estão zerados?":{"main":[[{"node":"loop dos zerados","type":"main","index":0}]]},"loop dos zerados":{"main":[[],[{"node":"loop pacote de grupos","type":"main","index":0}]]},"loop pacote de grupos":{"main":[[{"node":"quais grupos estão zerados?","type":"main","index":0}],[{"node":"enviar msg","type":"main","index":0}]]},"enviar msg":{"main":[[{"node":"Wait","type":"main","index":0}]]},"msg enviada?":{"main":[[{"node":"marca enviada","type":"main","index":0}],[{"node":"loop pacote de grupos","type":"main","index":0}]]},"marca enviada":{"main":[[{"node":"loop pacote de grupos","type":"main","index":0}]]},"zera todos os grupos":{"main":[[{"node":"loop pacote de grupos","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Baserow3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:YouTube Video Trigger":{"lastItemDate":"2024-05-31T13:29:37.000Z"},"node:RSS Feed Trigger":{"lastItemDate":"2024-07-25T20:02:08.000Z"},"node:Schedule Trigger":{"recurrencyRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b7ac7c6e-c7b4-4b0c-a46e-06265a55c158","triggerCount":1,"tags":[{"createdAt":"2024-06-28T01:48:34.033Z","updatedAt":"2024-06-28T01:48:34.033Z","id":"GtKSN2XQkKdcTMaQ","name":"Pantero"}]}