furia---group-info-att-manual.json
{"createdAt":"2024-06-02T10:04:03.201Z","updatedAt":"2024-07-07T09:21:27.853Z","id":"W3HtHhosEY4mYeGf","name":"FURIA - group info att manual","active":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"id":"023e6e88-23a3-46c4-973c-b8e89b6cc08a","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[40,200],"notesInFlow":true,"notes":"roda de 20 em 20 min"},{"parameters":{"url":"https://api.sincronia.digital/group/findGroupInfos/Furia","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"groupJid","value":"={{ $json.Group_id }}"}]},"options":{"batching":{"batch":{"batchSize":1}},"redirect":{"redirect":{}}}},"id":"565f9d3d-015f-42b4-ac47-ab9e1d99f8b4","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[540,380],"notesInFlow":true,"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}},"notes":"puxa os membros"},{"parameters":{"databaseId":132,"tableId":715,"returnAll":true,"additionalOptions":{}},"id":"2b2b9d1f-1913-4776-b0fa-e2b667f1a76b","name":"Baserow","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[220,200],"notesInFlow":true,"credentials":{"baserowApi":{"id":"wpjMUaOCXymI7BxX","name":"SincronIA"}},"notes":"puxa os grupos cadastrados"},{"parameters":{"assignments":{"assignments":[{"id":"a4d8de20-1140-4753-a91d-9e3e6d3eca96","name":"subject","value":"={{ $json.subject }}","type":"string"},{"id":"36d97655-f0b3-4368-b681-3289a7c28390","name":"participants","value":"={{ $json.participants }}","type":"array"},{"id":"6b843578-e97e-46d2-9663-c172e9b83e66","name":"id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"id":"99ac5c15-5e59-454e-b9c1-cecc743e805a","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[940,400],"notesInFlow":true,"notes":"pega só os campos nome, id, membros"},{"parameters":{"options":{}},"id":"0630fac3-9445-477b-8577-a3c34c6402d3","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1660,400]},{"parameters":{"fieldToSplitOut":"participants","include":"allOtherFields","options":{}},"id":"0db986cd-b2ab-43a6-8b47-d882b93e81e1","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1160,400],"notesInFlow":true,"notes":"separa todos os itens"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"46d3a20b-9a63-4948-9f6c-30ac9536ec8b","leftValue":"={{ $json.participants.admin }}","rightValue":"admin","operator":{"type":"string","operation":"contains"}},{"id":"85ca55af-5029-4856-a96e-b74940923da7","leftValue":"={{ $json.participants.admin }}","rightValue":"owner","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"id":"08b3e063-b47c-4218-b1b7-30b9fde4bbfe","name":"Filter","type":"n8n-nodes-base.filter","typeVersion":2,"position":[1400,400],"notesInFlow":true,"notes":"passa apenas os admin"},{"parameters":{"databaseId":132,"tableId":724,"limit":1,"additionalOptions":{"filters":{"fields":[{"field":6823,"value":"={{ $json.participants.id.split(\"@\")[0] }}"},{"field":6827,"value":"={{ $json.id.split(\"@\")[0] }}"}]}}},"id":"fb331ed4-ce44-46f3-857e-077126de5f62","name":"Baserow4","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1900,500],"alwaysOutputData":true,"notesInFlow":true,"credentials":{"baserowApi":{"id":"wpjMUaOCXymI7BxX","name":"SincronIA"}},"notes":"procura pela entrada do admin"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"f50d113f-c91e-43f1-b0a9-712ebcf01bf0","leftValue":"={{ $json.Group }}","rightValue":"={{ $('Loop Over Items').item.json.id.split(\"@\")[0] }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"bffb5d71-85df-4086-948d-61b3098567e5","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[2080,500],"notesInFlow":true,"notes":"se já tem cadastro"},{"parameters":{"operation":"create","databaseId":132,"tableId":724,"fieldsUi":{"fieldValues":[{"fieldId":6823,"fieldValue":"={{ $('Loop Over Items').item.json.participants.id.split(\"@\")[0] }}"},{"fieldId":6827,"fieldValue":"={{ $('Loop Over Items').item.json.id.split(\"@\")[0] }}"}]}},"id":"f2e405de-5c46-446b-b302-81442acc430c","name":"Baserow1","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[2320,640],"notesInFlow":true,"credentials":{"baserowApi":{"id":"wpjMUaOCXymI7BxX","name":"SincronIA"}},"notes":"cadastra o admin no grupo dele"},{"parameters":{"assignments":{"assignments":[{"id":"28873062-1a09-4989-8cf0-34e5e29df89c","name":"subject","value":"={{ $json.subject }}","type":"string"},{"id":"d5b3314f-caef-4d53-b86b-ad294ed3f718","name":"pictureUrl","value":"={{ $json.pictureUrl }}","type":"string"},{"id":"46ba70af-52a2-43d9-a9a9-b703290d8642","name":"desc","value":"={{ $json.desc }}","type":"string"},{"id":"14792ec7-3c32-4448-9b87-328fb73fe5dd","name":"announce","value":"={{ $json.announce }}","type":"boolean"},{"id":"be3fe2d8-d103-4d91-8a1a-72f450a61eb5","name":"participants","value":"={{ $json.participants.length }}","type":"string"},{"id":"664a8a70-77b3-4423-b066-7e0191330c71","name":"id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"id":"6a0a7400-b612-473b-966b-065e7c8aeaad","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1000,180],"notesInFlow":true,"notes":"dados atualizados do grupo"},{"parameters":{"operation":"update","databaseId":132,"tableId":715,"rowId":"={{ $('Baserow').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":6765,"fieldValue":"={{ $json.id.split(\"@\")[0] }}"},{"fieldId":6766,"fieldValue":"={{ $json.subject }}"},{"fieldId":6771,"fieldValue":"={{ $json.pictureUrl }}"},{"fieldId":6822,"fieldValue":"={{ $json.desc }}"},{"fieldId":6876,"fieldValue":"={{ $json.participants }}"}]}},"id":"7e217fc3-1e64-40df-9814-3418a29813d4","name":"Baserow2","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1220,180],"notesInFlow":true,"credentials":{"baserowApi":{"id":"wpjMUaOCXymI7BxX","name":"SincronIA"}},"notes":"atualiza o BD com os dados atualizados"},{"parameters":{"databaseId":132,"tableId":732,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":6864,"value":"No"},{"field":6861,"operator":"contains","value":"3.5"}]}}},"id":"2565cc03-979a-4f5b-a346-010a723f803b","name":"Baserow3","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[880,-100],"credentials":{"baserowApi":{"id":"wpjMUaOCXymI7BxX","name":"SincronIA"}}},{"parameters":{"jsCode":"// Code here will run only once, no matter how many input items there are.\n// More info and help: https://docs.n8n.io/nodes/n8n-nodes-base.function\n\n//Setup an empty variable to hold the count\nlet total = 0;\n\n//Loop over the incoming items of data\nfor (item of items) {\n  //For each item of data, add the amount_USD to our total counter\n  total += Number(item.json.Tokens);\n}\n\n//Returns a well formed JSON object with just the total_value . You can either add more data to this returned object OR use the set node afterwards to do it in a no-code way.\nreturn [ { json: { total_value: total } } ];"},"id":"daac3e43-8793-4a80-915b-071ddc7d6f3f","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[1060,-100]},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/Furia","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=5519994317797"},{"name":"textMessage.text","value":"=*Gasto do Pantero depois da última contagem*\n\n {{ $('Code').first().json.total_value }} no modelo gpt-3.5 turbo\n\n {{ $json.total_value }} no modelo gpt-4o, gasto R$ {{ Number($('Code1').first().json.total_value) * 0.004  }}\n\nForam feitas aproximadamente interações\n"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"566bc763-ad03-4a07-a82a-44533277a2e3","name":"Send whats TXT response","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1620,-100],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}}},{"parameters":{"databaseId":132,"tableId":732,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":6864,"value":"No"},{"field":6861,"operator":"contains","value":"4o"}]}}},"id":"92db5424-1a10-41a3-bdc6-9e1e4123d84b","name":"Baserow5","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1260,-100],"credentials":{"baserowApi":{"id":"wpjMUaOCXymI7BxX","name":"SincronIA"}}},{"parameters":{"jsCode":"// Code here will run only once, no matter how many input items there are.\n// More info and help: https://docs.n8n.io/nodes/n8n-nodes-base.function\n\n//Setup an empty variable to hold the count\nlet total = 0;\n\n//Loop over the incoming items of data\nfor (item of items) {\n  //For each item of data, add the amount_USD to our total counter\n  total += Number(item.json.Tokens);\n}\n\n//Returns a well formed JSON object with just the total_value . You can either add more data to this returned object OR use the set node afterwards to do it in a no-code way.\nreturn [ { json: { total_value: total } } ];"},"id":"6d05a4b6-c240-4e2e-8114-f9e78a5abed7","name":"Code1","type":"n8n-nodes-base.code","typeVersion":2,"position":[1440,-100]},{"parameters":{"batchSize":30,"options":{}},"id":"b427a8b3-9bb8-4ae0-bc54-80b12706c653","name":"Loop Over Items1","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[500,200]},{"parameters":{"amount":6},"id":"6b3f925d-be62-468e-9046-acad764184f4","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[720,380],"webhookId":"feb0a697-a992-423a-a9c6-64260cd585c0"},{"parameters":{},"id":"3b76f3e4-7e2f-4bcb-967f-54a45cc7e43b","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[40,-20]}],"connections":{"Schedule Trigger":{"main":[[{"node":"Baserow","type":"main","index":0}]]},"Baserow":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Baserow4","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Baserow4":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Baserow1","type":"main","index":0}]]},"Baserow1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Baserow2","type":"main","index":0}]]},"Baserow3":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Baserow5","type":"main","index":0}]]},"Baserow5":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Send whats TXT response","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"HTTP Request","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Baserow","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrencyRules":[]},"node:Schedule Trigger1":{"recurrencyRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6e48caff-e06f-49d9-916f-c8313c187cb7","triggerCount":1,"tags":[]}