mga---analyst-(ygor-copy).json
{"createdAt":"2024-07-09T10:16:24.336Z","updatedAt":"2024-07-09T10:16:53.432Z","id":"nvDyf0XkZmImQnP6","name":"MGA - Analyst (Ygor copy)","active":false,"nodes":[{"parameters":{},"id":"5071674b-3249-406b-96d9-305d70e06789","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[820,360],"typeVersion":1},{"parameters":{"operation":"getAll","tableId":"Users","returnAll":true},"id":"2d041994-be60-4f1b-a601-756a605ea574","name":"Supabase - get all users","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-400,672.1540672459244]},{"parameters":{"batchSize":"=1","options":{}},"id":"578182e1-2325-4d42-a2ad-f4bce1050bd6","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-180,672.1540672459244]},{"parameters":{"operation":"getAll","tableId":"Interactions","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $('Supabase - get all users').item.json.whatsapp }}"},{"keyName":"processed","condition":"is","keyValue":"null"}]}},"id":"087386db-411c-4b51-9b83-72d6916c57a0","name":"Supabase - get all messages","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[20,872.1540672459244],"alwaysOutputData":true},{"parameters":{"operation":"update","tableId":"Users","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Supabase - get all users').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"tags","fieldValue":"={{ $json.message.content }}"}]}},"id":"58fb48c2-e8a2-4797-9f5b-85aa19a2c74a","name":"Supabase - add tags","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1200,1192.1540672459244],"executeOnce":false},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c6d457e0-145c-4e44-8d00-c66ddfe5ba39","leftValue":"={{ $json.id }}","rightValue":0,"operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"or"},"options":{}},"id":"b5904063-3818-4094-a6c7-26030b215dfd","name":"Tem mensagens?","type":"n8n-nodes-base.if","typeVersion":2,"position":[200,872.1540672459244]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"message","separateBy":", "},{"aggregation":"concatenate","field":"reaction","separateBy":", "},{"aggregation":"concatenate","field":"=message_prepared","separateBy":", "}]},"options":{}},"id":"e83e4148-5eed-4542-b3f1-95d4c242b087","name":"Summarize","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[720,972.1540672459244]},{"parameters":{"assignments":{"assignments":[{"id":"8af83b12-e2a5-4118-8cdd-e27dfcce4685","name":"interações","value":"=Mensagens: {{ $json.concatenated_message.replaceAll(\"\\n\", \"\") }}","type":"string"}]},"options":{}},"id":"0ca6f07f-0da5-477e-a7b0-e56ff3a7702f","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[940,972.1540672459244]},{"parameters":{"assignments":{"assignments":[{"id":"930f9b7e-fce5-4a45-a57f-5314581e3a6d","name":"message_prepared","value":"={{ $json.message ? $json.message.replaceAll(\"\\n\", \"\") : $json.reaction }}{{ $json.response_to ? \". Answer to: \" + $json.response_to: \"\" }} ","type":"string"},{"id":"3514451d-a0ab-4794-92ed-04229b24e4b2","name":"message","value":"={{ $json.message }}","type":"string"},{"id":"3bb956cc-6134-424e-8360-18d7cbe7c5b6","name":"reaction","value":"={{ $json.reaction }}","type":"string"}]},"options":{}},"id":"a92bb59c-fa79-46d6-bd79-5cd7c7df823c","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[500,972.1540672459244]},{"parameters":{"operation":"update","tableId":"Interactions","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"processed","fieldValue":"=true"}]}},"id":"8c6a8005-832d-4cc4-a841-555fc08146cc","name":"Supabase3","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[720,512.1540672459244]},{"parameters":{"operation":"getAll","tableId":"Interactions","returnAll":true,"filters":{"conditions":[{"keyName":"processed","condition":"is","keyValue":"null"}]}},"id":"e7d84eba-ae4d-40af-a3e7-2785b1e92693","name":"Supabase - get all messages1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[500,652.1540672459244],"alwaysOutputData":true,"executeOnce":true},{"parameters":{"modelId":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list","cachedResultName":"GPT-3.5-TURBO"},"messages":{"values":[{"content":"VocÊ vai receber uma lista de mensagens e vai separar os interesses desse usuário. Precisamos entender suas dores, seus desejos, suas necessidades, tentativas, do que ele gosta, se ele está ensinando algo para alguém...\n\nSepare os conteúdos em categorias e seu conteúdo analiosade deve ser em formato de texto curto\n\nMe de uma lista com categorias contendo todas as informações relevantes das interações deste usuário, \nIgnore todas as mensagens sem conteúdo relevante para a comunidade, ou de interações vazias ou risadas.\n\n\ncaso tenha algo escrito \"answer to:\" quer dizer que a mensagem anterior a isso é uma resposta do usuário para a mensagem de outro usuário que vem depois disso. \nportanto, foque no conteúdo da mensagem antes do \"answer to:\"\n\nVocê precisa resumir todos os conteúdos em no máximo um parágrafo curto, então seja breve em cada ponto. Use poucas e precisas palavras.\n","role":"system"},{"content":"={{ $('Edit Fields1').item.json['interações'] }}"}]},"options":{}},"id":"156315a9-1899-48b4-80c1-19e91406b7c9","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[500,1192.1540672459244],"notesInFlow":true,"executeOnce":true,"notes":"Resume os conteúdos do dia"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list","cachedResultName":"GPT-3.5-TURBO"},"messages":{"values":[{"content":"Você precisa tagear os conteúdos e identificar os desejos, necessidades, qualidades, conhecimentos dessa pessoa. Entenda o seu perfil e informe em um formato de lista simples com categorias","role":"system"},{"content":"={{ $json.message.content }}."}]},"options":{}},"id":"db1af0c1-90a3-4075-b21a-9f0ad5c46da3","name":"OpenAI1","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[880,1192.1540672459244],"notesInFlow":true,"executeOnce":true,"notes":"tag contents"},{"parameters":{"height":501.84784736314236,"width":900.5631336265228,"color":4},"id":"df4acbb7-81b3-42cd-8685-55bb921cb5c6","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[440,884.1540672459244]},{"parameters":{"height":370.52594180100095,"width":449.56400923041554,"color":6},"id":"618bcb92-35ed-4d5c-9ab0-fd23b71ed202","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,460]},{"parameters":{"height":298.3718745550766,"width":422.26247027249826,"color":7},"id":"d5716f22-e215-49d7-8272-bbd44cbd8508","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-40,792.1540672459244]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.comando }}","rightValue":"!atualizar","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"atualizar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"75b17b5f-5d4b-40a6-8ec8-d15b3b3b147d","leftValue":"={{ $json.comando }}","rightValue":"!threads","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"threads"}]},"options":{}},"id":"80ed3384-964b-4107-b85d-3af1c9edecc5","name":"Switch1","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-860,1232.1540672459244]},{"parameters":{"assignments":{"assignments":[{"id":"260b4232-3b4a-4118-9cde-757090b2b1d4","name":"messages","value":"={{ $json.user_name }}: {{ $json.message }}","type":"string"},{"id":"7c64f8d1-f295-440e-aa5f-1322cf6684d1","name":"contas_engajadas","value":"={{ $json.unique_count_whatsapp }}","type":"string"}]},"options":{}},"id":"77146e80-01ea-4b76-af42-8286a8638743","name":"Edit Fields7","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[40,1772.1540672459244]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"8b500d4d-51b3-449f-b6e1-47c7d29a7f3c","leftValue":"={{ $json.message }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"f67cdf8e-0393-4da1-9cd9-244a702252f1","name":"Filter","type":"n8n-nodes-base.filter","typeVersion":2,"position":[-300,1492.1540672459244],"notesInFlow":true,"notes":"pego só mensagens"},{"parameters":{"operation":"getAll","tableId":"Interactions","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"created_at","condition":"gte","keyValue":"={{ \n  (() => {\n    const date = new Date();\n    date.setDate(date.getDate() - 0); // Subtrai um dia\n    date.setHours(date.getHours() - 3); // Ajusta a hora para GMT-3\n    return date.toISOString().split('T')[0];\n  })() \n}}\n"},{"keyName":"group_id","condition":"eq","keyValue":"={{ $('When chat message received').item.json.group }}"}]}},"id":"2d06128a-cb20-4f35-ac4a-c809e08187d7","name":"Supabase - get daily","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-520,1652.1540672459244],"alwaysOutputData":true,"notesInFlow":true,"notes":"mensagens do dia"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"messages"}]},"options":{}},"id":"ab9f6147-cd3b-4c3d-ac8c-2ecc28fc3ddf","name":"Summarize2","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[360,1852.1540672459244]},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/Sincron","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('When chat message received').item.json.sendto }}"},{"name":"textMessage.text","value":"=*Bom dia pessoal! Testando novos modelos de Newsletter. Seu feedback será muito útil* 😍\n\n{{ $json.message.content.replaceAll(\"**\", \"*\") }}"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"48c24adb-4310-4653-93c1-468699f034eb","name":"msg_user","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1020,1952.1540672459244]},{"parameters":{"batchSize":50,"options":{}},"id":"03e5b4be-e467-490e-bd02-2da6ad470de7","name":"Loop Over Items2","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[200,1772.1540672459244]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"append","field":"message.content"}]},"options":{}},"id":"48a9790f-cac0-42e4-aca1-4259632b6091","name":"Summarize3","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[1020,1752.1540672459244]},{"parameters":{"assignments":{"assignments":[{"id":"ad68118f-3197-4032-9bcf-827535010405","name":"concatenated_messages","value":"={{ $json.appended_message_content.map((item, index) => `${item}`).join('\\n') }}\n","type":"string"},{"id":"e383c863-be81-412f-9558-fd46cb9f4bb9","name":"\"part1...\"","value":"={{ $json.appended_message_content.map((item, index) => `part ${index + 1}.${item}`).join('\\n') }}","type":"string"}]},"options":{}},"id":"a13461ea-6dde-4e50-9ed5-022146fa4b65","name":"Edit Fields8","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1160,1752.1540672459244]},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"created_at"}]},"options":{}},"id":"c9a00a95-25d0-4071-a03c-33493e7a1737","name":"Sort","type":"n8n-nodes-base.sort","typeVersion":1,"position":[-140,1492.1540672459244],"retryOnFail":false,"notesInFlow":true,"notes":"coloco em ordem"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"message.content.tags_de_interesse"}]},"options":{}},"id":"c73153c0-0f08-4788-9beb-14b59105e446","name":"Summarize4","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[1120,3312.154067245924],"disabled":true},{"parameters":{},"id":"2c451078-c42d-42b8-be58-890bc0ecccd1","name":"Merge2","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[-120,1772.1540672459244]},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"messages","order":"descending"}]},"options":{}},"id":"2f77c22b-3802-40e7-96dc-197d265abd02","name":"Sort1","type":"n8n-nodes-base.sort","typeVersion":1,"position":[1580,2892.154067245924],"disabled":true},{"parameters":{"maxItems":5},"id":"c6aac718-a218-4212-b59c-8d2311f7dd02","name":"Limit","type":"n8n-nodes-base.limit","typeVersion":1,"position":[1740,2892.154067245924],"disabled":true},{"parameters":{"operation":"getAll","tableId":"Statistics","returnAll":true,"filters":{"conditions":[{"keyName":"group_id","condition":"eq","keyValue":"={{ $('When chat message received').item.json.group }}"}]}},"id":"0e54dae0-b872-4d94-b50c-651de01e41bb","name":"Supabase - get usersss","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1280,2892.154067245924],"executeOnce":true,"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"6b585435-63ff-4f6a-bf1c-debcdc57c7f7","leftValue":"={{ $json.name }}","rightValue":"André Prado","operator":{"type":"string","operation":"notEquals"}},{"id":"2a4eecb8-d58c-4029-8cc7-1a1902f8e2fc","leftValue":"={{ $json.name }}","rightValue":"Felipe Raitano","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"44debb49-4ed0-40e8-907f-0f640463ccde","name":"Filter1","type":"n8n-nodes-base.filter","typeVersion":2,"position":[1420,2892.154067245924],"disabled":true},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"append","field":"name"},{"aggregation":"append","field":"messages"}]},"options":{}},"id":"5c3f4e4d-96f9-4287-a8db-d0818cb69481","name":"Summarize6","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[100,3092.154067245924],"disabled":true},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/Sincron","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('When chat message received').item.json.sendto }}"},{"name":"textMessage.text","value":"={{ $json.message.content }}"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"9e078f3e-edd9-455f-9820-c846c4a4f7c6","name":"msg_user1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1280,3512.154067245924],"disabled":true},{"parameters":{"method":"POST","url":"https://api.sincronia.digital/message/sendPoll/Sincron","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('When chat message received').item.json.sendto }}\",\n  \"options\": {\n    \"delay\": 123,\n    \"presence\": \"composing\"\n  },\n  \"pollMessage\": {\n    \"name\": \"Por qual dos assuntos de ontem você mais se interessou? (teste de enquete automatizada)\",\n    \"selectableCount\": 1,\n    \"values\": {{ $json[\"concatenated_message_content_tags_de_interesse\"]}}\n  }\n}","options":{}},"id":"5fdccad6-a4c3-4dab-ac62-770bbde79799","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1280,3312.154067245924],"disabled":true},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"countUnique","field":"whatsapp"},{"field":"whatsapp"}]},"options":{}},"id":"48366663-5494-4737-8f74-79f549e4beda","name":"msg counter","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[-300,1792.1540672459244]},{"parameters":{"assignments":{"assignments":[{"id":"fb8c32a2-9306-43b9-9b01-5a659eab6241","name":"group","value":"={{ $json.group }}","type":"string"}]},"options":{}},"id":"43bc0ef4-aafd-4064-b51b-7f08b88861a3","name":"pego_grupo","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-1280,1652.1540672459244]},{"parameters":{"assignments":{"assignments":[{"id":"a96db31d-17d4-450a-9320-3c940fe6858e","name":"topicos","value":"=Principais tópicos que rolaram aqui no grupo {{ $('Supabase - get daily').first().json[\"group_name\"] }}","type":"string"},{"id":"d75f9074-6ce7-4e7c-9481-5e8e2d394ad8","name":"reforce","value":"dicas, tutoriais, ajudas, conteudo técnico, anúncios negócios e oportunidades","type":"string"},{"id":"2244ed7b-20d7-4724-b14a-f7f4fb2de920","name":"ignore","value":"saudações, interações sem conteúdo coerente, polêmicas e discussões agressivas","type":"string"},{"id":"af2f1a0b-a869-4170-95f4-41470fe18b9c","name":"group_name","value":"={{ $('Merge2').first().json.group_name }}","type":"string"}]},"options":{}},"id":"c981cc14-981d-4001-94ee-0d65ee64b554","name":"Arguments","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[600,1952.1540672459244]},{"parameters":{"operation":"getAll","tableId":"links","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"created_at","condition":"gte","keyValue":"={{ \n  (() => {\n    const date = new Date();\n    date.setDate(date.getDate() - 6); // Subtrai um dia\n    date.setHours(date.getHours() - 3); // Ajusta a hora para GMT-3\n    return date.toISOString().split('T')[0];\n  })() \n}}\n"},{"keyName":"group_id","condition":"eq","keyValue":"={{ $('pego_grupo').item.json.group }}"}]}},"id":"9b67b541-31da-4756-b2ff-7b81ef78f57c","name":"Supabase","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1400,2032.1540672459244]},{"parameters":{"assignments":{"assignments":[{"id":"ad68118f-3197-4032-9bcf-827535010405","name":"links","value":"=\n{{ $('Summarize5').item.json[\"appended_link\"][0] }} - {{ $('Summarize5').item.json[\"appended_context\"][0] }}\n\n{{ $('Summarize5').item.json[\"appended_link\"][1] }} - {{ $('Summarize5').item.json[\"appended_context\"][1] }}\n\n{{ $('Summarize5').item.json[\"appended_link\"][2] }} - {{ $('Summarize5').item.json[\"appended_context\"][2] }}\n\n{{ $('Summarize5').item.json[\"appended_link\"][3] }} - {{ $('Summarize5').item.json[\"appended_context\"][3] }}\n\n{{ $('Summarize5').item.json[\"appended_link\"][4] }} - {{ $('Summarize5').item.json[\"appended_context\"][4] }}\n\n*Mostramos aqui os principais links da semana. Para facilitar na criação da lista, sempre curtam os links importantes e para postar, escrevam na mensagem uma descrição que ajude a identificar o contexto do link*","type":"string"},{"id":"58b3f961-09b4-4154-89db-a03839f7fe3d","name":"group_name","value":"={{ $('Supabase').first().json.group_name }}","type":"string"}]},"options":{}},"id":"8b215c8b-acc4-49e1-a98d-7d9796e00bab","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-600,2032.1540672459244]},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"pontos","order":"descending"}]},"options":{}},"id":"920740d8-2822-4f5f-8d6b-463679bdafc3","name":"Sort2","type":"n8n-nodes-base.sort","typeVersion":1,"position":[-1200,2032.1540672459244],"retryOnFail":false,"notesInFlow":true,"notes":"coloco em ordem"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"append","field":"link"},{"aggregation":"append","field":"context"}]},"options":{}},"id":"6de49c12-fd0c-4a26-a2eb-4809a43a61a1","name":"Summarize5","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[-780,2032.1540672459244]},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/Sincron","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('When chat message received').item.json.sendto }}"},{"name":"textMessage.text","value":"=*Principais links da semana no grupo  {{ $json.group_name }}:*\n\n\n{{ $json.message.content.replaceAll(\"**\", \"*\") }}\n\n*Você pode ajudar a rankear os principais links curtindo a mensagem* ❤️\n*E quanto mais detalhes sobre o link divulgado, melhor será a sua descrição na nossa Lista* 😍"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"58259836-98e2-46b3-a150-38b8fa7206b4","name":"msg_user2","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-420,2032.1540672459244]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list","cachedResultName":"GPT-3.5-TURBO"},"messages":{"values":[{"content":"=você lê todas as mensagens enviadas no dia em um grupo do whatsapp\nsua função é categorizar os principais assuntos do dia, quais as principais threads discutidas e que foi dito em cada um dos pontos. Mostre o resumo de cada ponto, enfatizando a solução ou link que possam ter indicado","role":"system"},{"content":"=grupo: {{ $('Merge2').first().json.group_name }}\n{{ $('Edit Fields8').item.json.concatenated_messages }}"}]},"options":{}},"id":"a23d2403-a01b-4d12-b419-e1ca415a3435","name":"OpenAI5","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[620,2892.154067245924],"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"260b4232-3b4a-4118-9cde-757090b2b1d4","name":"messages","value":"={{ $json.user_name }}: {{ $json.message }}","type":"string"},{"id":"7c64f8d1-f295-440e-aa5f-1322cf6684d1","name":"contas_engajadas","value":"={{ $json.unique_count_whatsapp }}","type":"string"}]},"options":{}},"id":"04a26c3b-2661-42fc-ae54-a8d247c52c38","name":"Edit Fields9","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1600,1472.1540672459244]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"messages"}]},"options":{}},"id":"87d82a61-caf8-48d5-8096-97d724d7e82e","name":"Summarize7","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[1920,1552.1540672459244]},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/Sincron","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('When chat message received').item.json.sendto }}"},{"name":"textMessage.text","value":"=*Bom dia pessoal! Testando novos modelos de Newsletter. Seu feedback será muito útil* 😍\n\n{{ $json.message.content.replaceAll(\"**\", \"*\") }}"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"5e2864ff-e730-4bdf-98bf-c438863010ae","name":"msg_user3","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2720,1652.1540672459244]},{"parameters":{"batchSize":50,"options":{}},"id":"775457bf-4013-46b5-a761-5b41127f3114","name":"Loop Over Items3","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1760,1472.1540672459244]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"append","field":"message.content"}]},"options":{}},"id":"02defe7f-531d-4eeb-8821-a8cfb814a9d8","name":"Summarize8","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[2720,1452.1540672459244]},{"parameters":{"assignments":{"assignments":[{"id":"ad68118f-3197-4032-9bcf-827535010405","name":"concatenated_messages","value":"={{ $json.appended_message_content.map((item, index) => `${item}`).join('\\n') }}\n","type":"string"},{"id":"e383c863-be81-412f-9558-fd46cb9f4bb9","name":"\"part1...\"","value":"={{ $json.appended_message_content.map((item, index) => `part ${index + 1}.${item}`).join('\\n') }}","type":"string"}]},"options":{}},"id":"a343d37c-337f-442e-baff-ddd50254da19","name":"Edit Fields10","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2860,1452.1540672459244]},{"parameters":{"assignments":{"assignments":[{"id":"a96db31d-17d4-450a-9320-3c940fe6858e","name":"topicos","value":"=Principais tópicos que rolaram aqui no grupo {{ $('Supabase - get daily').first().json[\"group_name\"] }}","type":"string"},{"id":"d75f9074-6ce7-4e7c-9481-5e8e2d394ad8","name":"reforce","value":"dicas, tutoriais, ajudas, conteudo técnico, anúncios negócios e oportunidades","type":"string"},{"id":"2244ed7b-20d7-4724-b14a-f7f4fb2de920","name":"ignore","value":"saudações, interações sem conteúdo coerente, polêmicas e discussões agressivas","type":"string"},{"id":"af2f1a0b-a869-4170-95f4-41470fe18b9c","name":"group_name","value":"={{ $('Merge2').first().json.group_name }}","type":"string"}]},"options":{}},"id":"9e6c318b-5b9b-41ff-a90b-ee3cc5b7d11f","name":"Arguments1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2160,1652.1540672459244]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list","cachedResultName":"GPT-3.5-TURBO"},"messages":{"values":[{"content":"você lê todas as mensagens enviadas no dia em um grupo do whatsapp\nsua função é categorizar esses assuntos da seguinte forma:\n\nvocê vai gerar um resumo das mensagens e threads discutidas. É interessante que as threads principais sejam interessantes e positivas para os interesses e negócios dos usuários e não polêmicas.\n\nMostre o que os usuários disseram, seus debates e insights sobre os conteúdos dentro de um curto parágrafo para cada tópico\n\nelimine saudações e mensagens sem sentido no contexto do tópico\n\nmostra o máximo de threads possiveis e descreva em um parágrafo para cada thread as interações dos usuários sobre o tema\n","role":"system"},{"content":"={{ $json.concatenated_messages }}"}]},"options":{}},"id":"0a186ba5-0c77-48f8-bc4e-62b4a06b2b55","name":"OpenAI10","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[2340,1452.1540672459244]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=você é quem posta todos os dias s newsletter diária do grupo {{ $('Merge2').first().json.group_name }}\nsua função é categorizar os principais assuntos do dia, quais as principais threads discutidas e que foi dito em cada um dos pontos. Mostre o resumo de cada ponto, enfatizando a solução ou link que possam ter indicado.\n\nFaça uma saudação que fomente o interesse do pessoal por ler o conteúdo da newsletter de hoje\nos assuntos tratados são os que o usuário te enviará. Você precisa fazer um resumo das interações para cada thread do grupo. \n\n- Inclua dentro do resumo em um parágrafo único o nome dos usuários, os assuntos, as conclusões e se tiver links ou sugestões dadas inclua também. Faça tudo isso em um único parágrafo para cada tópico, pontuando cada thread com um emoji\n\n- Inclua emojis em todos os tópicos\n\n- Use sempre *negrito* para personalizar a mensagem, troque o markdown com #hashtag por *titulos em negrito*\n\n{{ $('Arguments1').item.json.reforce ? \"- é interessante ter no resumo conteúdos desse tipo: \" + $('Arguments1').item.json.reforce : \"\" }}\n\n{{ $('Arguments1').item.json.ignore ? \"- elimine completamente no resumo conteúdos desse tipo: \" + $('Arguments1').item.json.ignore : \"\" }}","role":"system"},{"content":"={{ $json[\"topicos\"] }}\n{{ $('Edit Fields10').item.json.concatenated_messages }}\n\nPara análise dos tópicos:\n- Separe diferentes assuntos em diferentes tópicos\n- Inclua emojis em todos os tópicos\n- é interessante saber o que foi dito por tema e trazer um contexto com a solução \n- incluir sutilmente no meio do parágrafo insights sobre participações dos usuários, como tópicos discutidos e perguntas mais frequentes\n- expanda cada tópico em um item, tente mostrar o máximo de tópicos que conseguir"}]},"options":{}},"id":"dc338cae-cbce-4ac2-b7b1-b8d275491877","name":"OpenAI11","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[2340,1652.1540672459244],"executeOnce":true},{"parameters":{"public":true,"initialMessages":"Olá! 👋\nDigite o comando para iniciar o bot","options":{}},"id":"d3b41739-22e1-42f9-865b-b1f26ed5b076","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1,"position":[-1100,1232.1540672459244],"webhookId":"4ccdca7f-1661-4923-9ee4-12df0269699d"},{"parameters":{"maxItems":5},"id":"48e36e7b-3723-4dc3-b534-3795ecadf668","name":"Limit1","type":"n8n-nodes-base.limit","typeVersion":1,"position":[-980,2032.1540672459244]},{"parameters":{"modelId":{"__rl":true,"value":"={{ $('When chat message received').item.json.model }}","mode":"id"},"messages":{"values":[{"content":"=Sua saída deve ser parecida com isto:\n\nhttps://link... - taltal e tal\nhttps://link... - taltal e tal","role":"system"},{"content":"={{ $('Edit Fields').item.json.links }}"}]},"options":{}},"id":"45f43d5d-4fd6-421f-8e1b-6582253cd957","name":"OpenAI9","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[-140,2032.1540672459244]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list","cachedResultName":"GPT-3.5-TURBO"},"messages":{"values":[{"content":"você receberá as principais conversas da comunidade e sua função é informar algumas das principais tags de interesse. formate em um array tags_de_interesse em json \n\nuse no máximo 5 tags e priorize assuntos de desenvolvimento, crescimento. Assuntos polemicos ou de contexto negativo elimine","role":"system"},{"content":"={{ $('Edit Fields8').item.json.concatenated_messages }}"}]},"jsonOutput":true,"options":{}},"id":"643a8012-6845-4460-96bc-2298927877e4","name":"OpenAI6","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[620,3312.154067245924],"disabled":true},{"parameters":{"modelId":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list","cachedResultName":"GPT-3.5-TURBO"},"messages":{"values":[{"content":"=Apenas pergunte algo parecido com \"E como tá o projeto de vocês pessoal? Alguém tá precisando de alguma ajuda?\"\nfaça variações distintas, como \"alguém precisa de ajuda em alguma coisa? Responde aqui com a sua dúvida\"\n\nfaça sempre variações diferentes para essa pergunta incentivando a interação dos usuários do grupo.\n\nmande apenas uma vez a mensagem. Ela será enviada diretamente no grupo","role":"system"}]},"options":{}},"id":"db6f5e02-64cc-4651-99fa-c82a75001249","name":"OpenAI8","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[620,3512.154067245924],"executeOnce":true,"disabled":true},{"parameters":{"modelId":{"__rl":true,"value":"={{ $('When chat message received').item.json.model }}","mode":"id"},"messages":{"values":[{"content":"=você é quem posta todos os dias s newsletter diária do grupo {{ $('Merge2').first().json.group_name }}\nVocê é um assistente que transforma conversas em newsletters. \n\n- Inclua emojis em todos os tópicos\n- não use markdown, apenas deixe os títulos em *negrito*\n- Traga o contexto do que os membros estão debatendo, e o nome desses membros que interagem\n- mostre o desenrolar da conversa\n\n{{ $('Arguments').item.json.reforce ? \"- é interessante ter no resumo conteúdos desse tipo: \" + $('Arguments').item.json.reforce : \"\" }}\n\n{{ $('Arguments').item.json.ignore ? \"- elimine completamente no resumo conteúdos desse tipo: \" + $('Arguments').item.json.ignore : \"\" }}","role":"system"},{"content":"=\nFaça um outline das conversas enviadas para você. \n      Fale sobre assuntos das conversas, separado por tópicos. \n      Não invente assuntos, nunca. Apenas use assuntos da conversa enviada.\n      Não faça juízo de valor, ignore ofensas entre integrantes da conversa.\n      Se não tiver assunto para ser feito outline, não faça nada; \n\n      COMECE: \n{{ $json[\"topicos\"] }}\n{{ $('Edit Fields8').item.json.concatenated_messages }}"}]},"options":{}},"id":"e19a6318-78ad-4a95-913c-d094da131ffe","name":"OpenAI7","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[780,1952.1540672459244],"executeOnce":true},{"parameters":{"modelId":{"__rl":true,"value":"gpt-3.5-turbo-16k","mode":"list","cachedResultName":"GPT-3.5-TURBO-16K"},"messages":{"values":[{"content":"=Um assistente de resumo de tópicos de conversas de chat que trás um contexto do que os membros estão debatendo, destacando os tópicos, quem são os usuários, o conteúdo dos tópicos e o desenrolar da conversa","role":"system"},{"content":"=Faça um resumo conciso da seguinte conversa. START:\n\n{{ $json.concatenated_messages }}\n\npontue cada tópico com o que o membro em questão abordou"}]},"options":{}},"id":"dd24ac1a-465c-4d86-8e14-7410b2a1a11f","name":"OpenAI4","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[540,1752.1540672459244]}],"connections":{"Supabase - get all users":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Supabase - get all messages1","type":"main","index":0}],[{"node":"Supabase - get all messages","type":"main","index":0}]]},"Supabase - get all messages":{"main":[[{"node":"Tem mensagens?","type":"main","index":0}]]},"Supabase - add tags":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Tem mensagens?":{"main":[[{"node":"Edit Fields2","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Summarize":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Supabase - get all messages1":{"main":[[{"node":"Supabase3","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"Supabase - add tags","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Supabase - get all users","type":"main","index":0}],[{"node":"pego_grupo","type":"main","index":0}]]},"Edit Fields7":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Sort","type":"main","index":0}]]},"Supabase - get daily":{"main":[[{"node":"msg counter","type":"main","index":0},{"node":"Filter","type":"main","index":0}]]},"Summarize2":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Loop Over Items2":{"main":[[{"node":"OpenAI4","type":"main","index":0}],[{"node":"Summarize2","type":"main","index":0}]]},"Summarize3":{"main":[[{"node":"Edit Fields8","type":"main","index":0}]]},"Edit Fields8":{"main":[[{"node":"Arguments","type":"main","index":0}]]},"Sort":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Summarize4":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Edit Fields7","type":"main","index":0}]]},"Sort1":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Supabase - get usersss":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"Sort1","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Summarize6","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"OpenAI8","type":"main","index":0}]]},"msg counter":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"pego_grupo":{"main":[[{"node":"Supabase - get daily","type":"main","index":0}]]},"Arguments":{"main":[[{"node":"OpenAI7","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"Sort2","type":"main","index":0}]]},"Sort2":{"main":[[{"node":"Limit1","type":"main","index":0}]]},"Summarize5":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"msg_user2","type":"main","index":0}]]},"OpenAI5":{"main":[[{"node":"Supabase - get usersss","type":"main","index":0}]]},"Edit Fields9":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Summarize7":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Loop Over Items3":{"main":[[{"node":"OpenAI10","type":"main","index":0}],[{"node":"Summarize7","type":"main","index":0}]]},"Summarize8":{"main":[[{"node":"Edit Fields10","type":"main","index":0}]]},"Edit Fields10":{"main":[[{"node":"Arguments1","type":"main","index":0}]]},"Arguments1":{"main":[[{"node":"OpenAI11","type":"main","index":0}]]},"OpenAI10":{"main":[[{"node":"Summarize8","type":"main","index":0}]]},"OpenAI11":{"main":[[{"node":"msg_user3","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Limit1":{"main":[[{"node":"Summarize5","type":"main","index":0}]]},"OpenAI6":{"main":[[{"node":"Summarize4","type":"main","index":0}]]},"OpenAI8":{"main":[[{"node":"msg_user1","type":"main","index":0}]]},"OpenAI7":{"main":[[{"node":"msg_user","type":"main","index":0}]]},"OpenAI4":{"main":[[{"node":"Summarize3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When chat message received":[{"json":{"comando":"!threads","group":"120363168792712167","sendto":"5519994317797","model":"gpt-3.5-turbo-16k","model2":"gpt-4o"}}]},"versionId":"46209f69-5b21-4a44-b715-d3a92b812221","triggerCount":0,"tags":[]}