mga---analyst.json
{"createdAt":"2024-06-27T16:50:52.739Z","updatedAt":"2024-07-31T09:23:22.589Z","id":"6prUxPZ6QmgHWVgY","name":"MGA - analyst","active":true,"nodes":[{"parameters":{"operation":"getAll","tableId":"users","returnAll":true,"filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"5519994317797"}]}},"id":"6579f025-cf71-4fe6-9564-69e8b1610cf2","name":"Supabase - get all users","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2620,-580],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"batchSize":"=1","options":{}},"id":"0fc3bdf7-63f4-4853-b714-b85137dbdc43","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2400,-580]},{"parameters":{"operation":"getAll","tableId":"interactions","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $('Supabase - get all users').item.json.whatsapp }}"},{"keyName":"processed","condition":"is","keyValue":"null"},{"keyName":"created_at","condition":"gte","keyValue":"={{ \n  (() => {\n    const date = new Date();\n    date.setDate(date.getDate() - 1); // Subtrai um dia\n    date.setHours(date.getHours() - 3); // Ajusta a hora para GMT-3\n    return date.toISOString().split('T')[0];\n  })() \n}}\n"}]}},"id":"a66d16b4-5617-4a6c-a5f3-8737bf231d76","name":"Supabase - get all messages","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2200,-300],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"update","tableId":"users","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Supabase - get all users').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"tags","fieldValue":"={{ $json.message.content }}"}]}},"id":"8707c9ba-e828-4d63-965c-0053d2d81446","name":"Supabase - add tags","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1020,-60],"executeOnce":false,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c6d457e0-145c-4e44-8d00-c66ddfe5ba39","leftValue":"={{ $json.id }}","rightValue":0,"operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"or"},"options":{}},"id":"2c4c7e99-0903-42e4-b4a2-103d00561b84","name":"Tem mensagens?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-2020,-300]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"message","separateBy":", "},{"aggregation":"concatenate","field":"reaction","separateBy":", "},{"aggregation":"concatenate","field":"=message_prepared","separateBy":", "}]},"options":{}},"id":"fc546522-5c76-45b5-8323-4468785bf049","name":"Summarize","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[-1540,-280]},{"parameters":{"assignments":{"assignments":[{"id":"8af83b12-e2a5-4118-8cdd-e27dfcce4685","name":"interações","value":"=Mensagens: {{ $json.concatenated_message.replaceAll(\"\\n\", \"\") }}","type":"string"}]},"options":{}},"id":"e7268089-f36a-4086-9361-c206ff58d42d","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-1360,-280]},{"parameters":{"assignments":{"assignments":[{"id":"930f9b7e-fce5-4a45-a57f-5314581e3a6d","name":"message_prepared","value":"={{ $json.message ? $json.message.replaceAll(\"\\n\", \"\") : $json.reaction }}{{ $json.response_to ? \". Answer to: \" + $json.response_to: \"\" }} ","type":"string"},{"id":"3514451d-a0ab-4794-92ed-04229b24e4b2","name":"message","value":"={{ $json.message }}","type":"string"},{"id":"3bb956cc-6134-424e-8360-18d7cbe7c5b6","name":"reaction","value":"={{ $json.reaction }}","type":"string"}]},"options":{}},"id":"63e0d7c5-acd5-4d17-b0af-8207f23400de","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-1720,-280]},{"parameters":{"operation":"update","tableId":"interactions","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"processed","fieldValue":"=true"}]}},"id":"77388cb6-038a-4c7d-a502-6fb98e06a74c","name":"Supabase3","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1500,-740],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"getAll","tableId":"interactions","returnAll":true,"filters":{"conditions":[{"keyName":"processed","condition":"is","keyValue":"null"}]}},"id":"ed2796a8-3471-4fec-9bd1-55888d2aceda","name":"Supabase - get all messages1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1720,-600],"alwaysOutputData":true,"executeOnce":true,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"content":"## Analisa as mensagens enviadas\nFaz a leitura e separa em tagas todas as mensagens enviadas pelo usuário ","height":501.84784736314236,"width":900.5631336265228,"color":4},"id":"07ac608a-0bc4-414f-8ee1-2a1ec4cee309","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1780,-380]},{"parameters":{"height":370.52594180100095,"width":449.56400923041554,"color":6},"id":"976b15ae-466b-4086-8a1d-655348437fd9","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1760,-792]},{"parameters":{"content":"## Puxa todas as mensagens do user","height":298.3718745550766,"width":422.26247027249826,"color":7},"id":"f5929e6b-4e38-4d43-9db4-39b2b253e464","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2260,-380]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"message.content.tags_de_interesse"}]},"options":{}},"id":"9324ece7-25de-4a18-b0e7-31b9b8ce11ab","name":"Summarize4","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[-2040,1980],"disabled":true},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"messages","order":"descending"}]},"options":{}},"id":"7ed799d9-f335-4f93-bb3e-c0d113676d85","name":"Sort1","type":"n8n-nodes-base.sort","typeVersion":1,"position":[-1580,1560],"disabled":true},{"parameters":{"maxItems":5},"id":"4bf1b4f5-0f4b-4e27-9ee7-e60b3916c03e","name":"Limit","type":"n8n-nodes-base.limit","typeVersion":1,"position":[-1420,1560],"disabled":true},{"parameters":{"operation":"getAll","tableId":"Statistics","returnAll":true,"filters":{"conditions":[{"keyName":"group_id","condition":"eq","keyValue":"={{ $('When chat message received').item.json.group }}"}]}},"id":"f948a0eb-a83c-428f-9b95-a8dd81c9d9aa","name":"Supabase - get usersss","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1880,1560],"executeOnce":true,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"6b585435-63ff-4f6a-bf1c-debcdc57c7f7","leftValue":"={{ $json.name }}","rightValue":"André Prado","operator":{"type":"string","operation":"notEquals"}},{"id":"2a4eecb8-d58c-4029-8cc7-1a1902f8e2fc","leftValue":"={{ $json.name }}","rightValue":"Felipe Raitano","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"18196f34-d740-4aaa-8706-c87118478c57","name":"Filter1","type":"n8n-nodes-base.filter","typeVersion":2,"position":[-1740,1560],"disabled":true},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"append","field":"name"},{"aggregation":"append","field":"messages"}]},"options":{}},"id":"a432face-bf8f-41e0-946f-b3cd7a3751a1","name":"Summarize6","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[-1240,1560],"disabled":true},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/Sincron","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('When chat message received').item.json.sendto }}"},{"name":"textMessage.text","value":"={{ $json.message.content }}"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"70274e06-34b9-4c36-afca-28a0a116613f","name":"msg_user1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-1880,2180],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}},"disabled":true},{"parameters":{"method":"POST","url":"https://api.sincronia.digital/message/sendPoll/Sincron","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('When chat message received').item.json.sendto }}\",\n  \"options\": {\n    \"delay\": 123,\n    \"presence\": \"composing\"\n  },\n  \"pollMessage\": {\n    \"name\": \"Por qual dos assuntos de ontem você mais se interessou? (teste de enquete automatizada)\",\n    \"selectableCount\": 1,\n    \"values\": {{ $json[\"concatenated_message_content_tags_de_interesse\"]}}\n  }\n}","options":{}},"id":"ca13dc5f-b097-4199-82f6-8b0e2c5059cc","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1880,1980],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}},"disabled":true},{"parameters":{"operation":"getAll","tableId":"links","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"created_at","condition":"gte","keyValue":"={{ \n  (() => {\n    const date = new Date();\n    date.setDate(date.getDate() - 6); // Subtrai um dia\n    date.setHours(date.getHours() - 3); // Ajusta a hora para GMT-3\n    return date.toISOString().split('T')[0];\n  })() \n}}\n"},{"keyName":"group_id","condition":"eq","keyValue":"={{ $('pego_grupo').item.json.group }}"}]}},"id":"70b158f9-9ff6-4239-ab8c-c19224eddb80","name":"Supabase","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-5360,360],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"assignments":{"assignments":[{"id":"ad68118f-3197-4032-9bcf-827535010405","name":"links","value":"=\n{{ $('Summarize5').item.json[\"appended_link\"][0] }} - {{ $('Summarize5').item.json[\"appended_context\"][0] }}\n\n{{ $('Summarize5').item.json[\"appended_link\"][1] }} - {{ $('Summarize5').item.json[\"appended_context\"][1] }}\n\n{{ $('Summarize5').item.json[\"appended_link\"][2] }} - {{ $('Summarize5').item.json[\"appended_context\"][2] }}\n\n{{ $('Summarize5').item.json[\"appended_link\"][3] }} - {{ $('Summarize5').item.json[\"appended_context\"][3] }}\n\n{{ $('Summarize5').item.json[\"appended_link\"][4] }} - {{ $('Summarize5').item.json[\"appended_context\"][4] }}\n\n*Mostramos aqui os principais links da semana. Para facilitar na criação da lista, sempre curtam os links importantes e para postar, escrevam na mensagem uma descrição que ajude a identificar o contexto do link*","type":"string"},{"id":"58b3f961-09b4-4154-89db-a03839f7fe3d","name":"group_name","value":"={{ $('Supabase').first().json.group_name }}","type":"string"}]},"options":{}},"id":"bb8f2b32-131c-42a4-8890-8682f9655c0d","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-4720,360]},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"pontos","order":"descending"}]},"options":{}},"id":"1600e9c9-3433-44ad-8e87-ba90fe68622d","name":"Sort2","type":"n8n-nodes-base.sort","typeVersion":1,"position":[-5200,360],"retryOnFail":false,"notesInFlow":true,"notes":"coloco em ordem"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"append","field":"link"},{"aggregation":"append","field":"context"}]},"options":{}},"id":"f0deac67-df88-40a5-a677-1d9de2513306","name":"Summarize5","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[-4880,360]},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/Sincron","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('When chat message received').item.json.sendto }}"},{"name":"textMessage.text","value":"=*Principais links da semana no grupo  {{ $json.group_name }}:*\n\n\n{{ $json.message.content.replaceAll(\"**\", \"*\") }}\n\n*Você pode ajudar a rankear os principais links curtindo a mensagem* ❤️\n*E quanto mais detalhes sobre o link divulgado, melhor será a sua descrição na nossa Lista* 😍"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"e20c75c1-3253-4829-84d6-d8d96d821604","name":"msg_user2","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-4300,360],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}}},{"parameters":{"assignments":{"assignments":[{"id":"260b4232-3b4a-4118-9cde-757090b2b1d4","name":"messages","value":"={{ $json.user_name }}: {{ $json.message }}","type":"string"},{"id":"7c64f8d1-f295-440e-aa5f-1322cf6684d1","name":"contas_engajadas","value":"={{ $json.unique_count_whatsapp }}","type":"string"}]},"options":{}},"id":"82b8dfec-b460-47c1-a691-15b9356fd020","name":"Edit Fields9","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-2500,800]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"messages"}]},"options":{}},"id":"3ecc94a4-9a81-4866-92ff-511159039d10","name":"Summarize7","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[-2180,880]},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/Sincron","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('When chat message received').item.json.sendto }}"},{"name":"textMessage.text","value":"=*Bom dia pessoal! Testando novos modelos de Newsletter. Seu feedback será muito útil* 😍\n\n{{ $json.message.content.replaceAll(\"**\", \"*\") }}"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"e0f7f8f5-1c4e-45e4-a273-044b9f39078b","name":"msg_user3","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-1340,1000],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}}},{"parameters":{"batchSize":50,"options":{}},"id":"e2903c55-8f74-48e7-9d53-a9c1e5b086e8","name":"Loop Over Items3","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2340,800]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"append","field":"message.content"}]},"options":{}},"id":"c29a069f-4c39-436b-a230-db85342e49dc","name":"Summarize8","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[-1380,780]},{"parameters":{"assignments":{"assignments":[{"id":"ad68118f-3197-4032-9bcf-827535010405","name":"concatenated_messages","value":"={{ $json.appended_message_content.map((item, index) => `${item}`).join('\\n') }}\n","type":"string"},{"id":"e383c863-be81-412f-9558-fd46cb9f4bb9","name":"\"part1...\"","value":"={{ $json.appended_message_content.map((item, index) => `part ${index + 1}.${item}`).join('\\n') }}","type":"string"}]},"options":{}},"id":"a00dea90-bac4-49c4-9437-256d6bb96755","name":"Edit Fields10","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-1240,780]},{"parameters":{"assignments":{"assignments":[{"id":"a96db31d-17d4-450a-9320-3c940fe6858e","name":"topicos","value":"=Principais tópicos que rolaram aqui no grupo {{ $('Supabase - get daily').first().json[\"group_name\"] }}","type":"string"},{"id":"d75f9074-6ce7-4e7c-9481-5e8e2d394ad8","name":"reforce","value":"dicas, tutoriais, ajudas, conteudo técnico, anúncios negócios e oportunidades","type":"string"},{"id":"2244ed7b-20d7-4724-b14a-f7f4fb2de920","name":"ignore","value":"saudações, interações sem conteúdo coerente, polêmicas e discussões agressivas","type":"string"},{"id":"af2f1a0b-a869-4170-95f4-41470fe18b9c","name":"group_name","value":"={{ $('Merge2').first().json.group_name }}","type":"string"}]},"options":{}},"id":"86f8ab35-5326-431f-837b-2f6f9961cddb","name":"Arguments1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-1900,1000]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list","cachedResultName":"GPT-3.5-TURBO"},"messages":{"values":[{"content":"você lê todas as mensagens enviadas no dia em um grupo do whatsapp\nsua função é categorizar esses assuntos da seguinte forma:\n\nvocê vai gerar um resumo das mensagens e threads discutidas. É interessante que as threads principais sejam interessantes e positivas para os interesses e negócios dos usuários e não polêmicas.\n\nMostre o que os usuários disseram, seus debates e insights sobre os conteúdos dentro de um curto parágrafo para cada tópico\n\nelimine saudações e mensagens sem sentido no contexto do tópico\n\nmostra o máximo de threads possiveis e descreva em um parágrafo para cada thread as interações dos usuários sobre o tema\n","role":"system"},{"content":"={{ $json.concatenated_messages }}"}]},"options":{}},"id":"c6f6ae76-cbd9-44b6-b809-a225821b79d7","name":"OpenAI10","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[-1760,780],"credentials":{"openAiApi":{"id":"neTK4UBDC4tLBdAV","name":"G4 educação"}}},{"parameters":{"maxItems":5},"id":"18eddf98-7b6a-4dd4-b007-327015db589e","name":"Limit1","type":"n8n-nodes-base.limit","typeVersion":1,"position":[-5040,360]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list","cachedResultName":"GPT-3.5-TURBO"},"messages":{"values":[{"content":"você receberá as principais conversas da comunidade e sua função é informar algumas das principais tags de interesse. formate em um array tags_de_interesse em json \n\nuse no máximo 5 tags e priorize assuntos de desenvolvimento, crescimento. Assuntos polemicos ou de contexto negativo elimine","role":"system"},{"content":"={{ $('Junta as mensagens').item.json.concatenated_messages }}"}]},"jsonOutput":true,"options":{}},"id":"ca867e3a-2851-4821-aed0-46927d096c53","name":"OpenAI6","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[-2540,1980],"credentials":{"openAiApi":{"id":"neTK4UBDC4tLBdAV","name":"G4 educação"}},"disabled":true},{"parameters":{"modelId":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list","cachedResultName":"GPT-3.5-TURBO"},"messages":{"values":[{"content":"=Apenas pergunte algo parecido com \"E como tá o projeto de vocês pessoal? Alguém tá precisando de alguma ajuda?\"\nfaça variações distintas, como \"alguém precisa de ajuda em alguma coisa? Responde aqui com a sua dúvida\"\n\nfaça sempre variações diferentes para essa pergunta incentivando a interação dos usuários do grupo.\n\nmande apenas uma vez a mensagem. Ela será enviada diretamente no grupo","role":"system"}]},"options":{}},"id":"f122b968-b01e-4e55-9e40-087b072d94b2","name":"OpenAI8","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[-2540,2180],"executeOnce":true,"credentials":{"openAiApi":{"id":"neTK4UBDC4tLBdAV","name":"G4 educação"}},"disabled":true},{"parameters":{"content":"## Principais links da semana \n\n","color":6},"id":"6e00669c-8a3c-4ce6-8cb7-604e905c7839","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-5660,340]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list","cachedResultName":"GPT-3.5-TURBO"},"messages":{"values":[{"content":"=você lê todas as mensagens enviadas no dia em um grupo do whatsapp\nsua função é categorizar os principais assuntos do dia, quais as principais threads discutidas e que foi dito em cada um dos pontos. Mostre o resumo de cada ponto, enfatizando a solução ou link que possam ter indicado","role":"system"},{"content":"=grupo: {{ $('Merge2').first().json.group_name }}\n{{ $('Junta as mensagens').item.json.concatenated_messages }}"}]},"options":{}},"id":"a69d241d-3008-4b32-91a2-8a666556ab22","name":"OpenAI5","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[-2540,1560],"credentials":{"openAiApi":{"id":"neTK4UBDC4tLBdAV","name":"G4 educação"}},"disabled":true},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=você é quem posta todos os dias s newsletter diária do grupo {{ $('Merge2').first().json.group_name }}\nsua função é categorizar os principais assuntos do dia, quais as principais threads discutidas e que foi dito em cada um dos pontos. Mostre o resumo de cada ponto, enfatizando a solução ou link que possam ter indicado.\n\nFaça uma saudação que fomente o interesse do pessoal por ler o conteúdo da newsletter de hoje\nos assuntos tratados são os que o usuário te enviará. Você precisa fazer um resumo das interações para cada thread do grupo. \n\n- Inclua dentro do resumo em um parágrafo único o nome dos usuários, os assuntos, as conclusões e se tiver links ou sugestões dadas inclua também. Faça tudo isso em um único parágrafo para cada tópico, pontuando cada thread com um emoji\n\n- Inclua emojis em todos os tópicos\n\n- Use sempre *negrito* para personalizar a mensagem, troque o markdown com #hashtag por *titulos em negrito*\n\n{{ $('Arguments1').item.json.reforce ? \"- é interessante ter no resumo conteúdos desse tipo: \" + $('Arguments1').item.json.reforce : \"\" }}\n\n{{ $('Arguments1').item.json.ignore ? \"- elimine completamente no resumo conteúdos desse tipo: \" + $('Arguments1').item.json.ignore : \"\" }}","role":"system"},{"content":"={{ $json[\"topicos\"] }}\n{{ $('Edit Fields10').item.json.concatenated_messages }}\n\nPara análise dos tópicos:\n- Separe diferentes assuntos em diferentes tópicos\n- Inclua emojis em todos os tópicos\n- é interessante saber o que foi dito por tema e trazer um contexto com a solução \n- incluir sutilmente no meio do parágrafo insights sobre participações dos usuários, como tópicos discutidos e perguntas mais frequentes\n- expanda cada tópico em um item, tente mostrar o máximo de tópicos que conseguir"}]},"options":{}},"id":"681b9132-5b9d-49d5-9c13-8c9c3c71af0a","name":"OpenAI11","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[-1720,1000],"executeOnce":true,"credentials":{"openAiApi":{"id":"neTK4UBDC4tLBdAV","name":"G4 educação"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":14,"triggerAtMinute":40}]}},"id":"8c078904-ceb5-4b99-a48d-40c2b0f88cfd","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-5980,-960]},{"parameters":{"options":{"reset":false}},"id":"7cd070b7-f54e-48ee-948f-b9c1f0f21e34","name":"Loop Over Items1","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-5580,-960]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"8b500d4d-51b3-449f-b6e1-47c7d29a7f3c","leftValue":"={{ $json.message }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"1fab6a19-adbe-490b-820d-45891300cbff","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"5f9a9fcf-d27e-4876-8581-50efdcfb3fab","name":"Filter2","type":"n8n-nodes-base.filter","typeVersion":2,"position":[-5120,700],"notesInFlow":true,"notes":"pego só mensagens"},{"parameters":{"operation":"getAll","tableId":"interactions","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"created_at","condition":"gte","keyValue":"={{ \n  (() => {\n    const date = new Date();\n    date.setDate(date.getDate() - 1); // Subtrai um dia\n    date.setHours(date.getHours() - 3); // Ajusta a hora para GMT-3\n    return date.toISOString().split('T')[0];\n  })() \n}}\n"},{"keyName":"chat_id","condition":"eq","keyValue":"={{ $json.group }}"}]}},"id":"d1ad112b-31bc-438e-93c1-699bcbc18c9e","name":"Supabase - get daily1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-5280,860],"alwaysOutputData":true,"notesInFlow":true,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}},"notes":"mensagens do dia"},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"created_at"}]},"options":{}},"id":"b1070a34-f753-4421-b91a-852b86f92c3e","name":"Sort3","type":"n8n-nodes-base.sort","typeVersion":1,"position":[-4980,700],"retryOnFail":false,"notesInFlow":true,"notes":"coloco em ordem"},{"parameters":{"assignments":{"assignments":[{"id":"fb8c32a2-9306-43b9-9b01-5a659eab6241","name":"group","value":"={{ $json.id.split(\"@\")[0] }}","type":"string"},{"id":"29404ef0-2a44-4534-8c05-6eab88d14556","name":"group_name","value":"={{ $json.subject }}","type":"string"},{"id":"6e973574-8ea5-4263-982e-226eb7bd78fe","name":"num_membros","value":"={{ $json.size }}","type":"string"}]},"options":{}},"id":"27293ae9-d4c7-4077-8a9d-da7cd43c2d36","name":"pego_grupo1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-3580,1580]},{"parameters":{"rule":{"interval":[{"triggerAtHour":1,"triggerAtMinute":30}]}},"id":"7cc242a7-5f2e-4b09-ae14-72bd9694c83f","name":"Schedule Trigger1","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-4520,1560],"disabled":true},{"parameters":{"operation":"getAll","tableId":"groups","filters":{"conditions":[{"keyName":"summary_time","condition":"gte","keyValue":"={{ \n(() => {\n  const date = new Date();\n  date.setHours(date.getHours() - 3); // Ajusta a hora para GMT-3\n  date.setMinutes(date.getMinutes() - 1000); // Subtrai 30 minutos\n  return date.toISOString().split('T')[1].split('.')[0]; // Retorna apenas a hora\n})()\n\n }}"}]}},"id":"ff17e411-d71e-4413-aecc-b4aecf181f04","name":"Supabase2","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-4320,1560],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"options":{}},"id":"d307a676-ea80-415a-bb0b-4ba448d192eb","name":"Loop Over Items5","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-4120,1560]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"countUnique","field":"whatsapp"},{"field":"message"}]},"options":{}},"id":"52f76272-4ed2-466b-8c9c-b5ce7908d253","name":"engage counter1","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[-4840,860],"notes":"reações + votos em enquete"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"countUnique","field":"whatsapp"},{"field":"message"}]},"options":{}},"id":"47577170-e2a4-4a72-8db1-4cb9bfe979c1","name":"message counter1","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[-4840,700]},{"parameters":{"url":"=https://api.sincronia.digital/group/findGroupInfos/Sincron","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"groupJid","value":"={{ $('Supabase2').item.json.chat_id }}"}]},"options":{"redirect":{"redirect":{}}}},"id":"199f8114-4b33-4b08-9eac-3dac8d46d5e1","name":"get_group_info1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3760,1580],"notesInFlow":true,"executeOnce":true,"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}},"notes":"puxa info do grupo"},{"parameters":{"assignments":{"assignments":[{"id":"ec6cae2a-5b71-4151-bac5-e676cdd65048","name":"participants","value":"={{ $('get_group_info1').item.json.size }}","type":"number"},{"id":"633e3b9d-e28b-4bcf-9809-0db95a32ce0b","name":"daily_active","value":"={{ $json.active_daily}}","type":"number"},{"id":"b973a75c-87df-44b8-ad69-c3d95f2f8527","name":"daily_engage","value":"={{ $json.engage_daily}}","type":"number"},{"id":"6e3cccef-d6d6-46ba-840b-1228b4062881","name":"week_active","value":"={{ $json.active_week}}","type":"string"},{"id":"0e3266f4-a25f-4c2e-9894-0ce9f2443fcb","name":"week_engage","value":"={{ $json.engage_week }}","type":"string"},{"id":"18d6e088-94fe-4896-a878-b157c3c3422c","name":"group_name","value":"={{ $('get_group_info1').item.json.subject }}","type":"string"},{"id":"84ced77c-5ee0-4d0d-99a5-b83db532594d","name":"group_id","value":"={{ $('get_group_info1').item.json.id.split(\"@\")[0]  }}","type":"string"},{"id":"4c233c08-840b-4c2f-86c1-409e9760416e","name":"message_sent","value":"={{ $json.message_sent }}","type":"string"}]},"options":{}},"id":"660145bc-3216-45a5-9ee6-41c451dfb3e5","name":"Edit Fields4","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3980,980]},{"parameters":{"operation":"getAll","tableId":"interactions","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"created_at","condition":"gte","keyValue":"={{ \n  (() => {\n    const date = new Date();\n    date.setDate(date.getDate() - 6); // Subtrai um dia\n    date.setHours(date.getHours() - 3); // Ajusta a hora para GMT-3\n    return date.toISOString().split('T')[0];\n  })() \n}}\n"},{"keyName":"chat_id","condition":"eq","keyValue":"={{ $json.group }}"}]}},"id":"bf670d4a-4785-44b4-a807-58b992f27093","name":"Supabase - get week","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-5280,1260],"alwaysOutputData":true,"notesInFlow":true,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}},"notes":"mensagens do dia"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"8b500d4d-51b3-449f-b6e1-47c7d29a7f3c","leftValue":"={{ $json.message }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"1fab6a19-adbe-490b-820d-45891300cbff","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"16b9db87-3fbb-4f1c-8cf1-fcb0950f988d","name":"Filter3","type":"n8n-nodes-base.filter","typeVersion":2,"position":[-5000,1100],"notesInFlow":true,"notes":"pego só mensagens"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"countUnique","field":"whatsapp"},{"field":"message"}]},"options":{}},"id":"6a9065a1-d725-4d4d-a43a-f7fae10fd070","name":"engage counter","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[-4840,1260],"notes":"reações + votos em enquete"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"countUnique","field":"whatsapp"},{"field":"message"}]},"options":{}},"id":"418c55cf-0f29-4d23-a4c9-4e54f07e4466","name":"message counter","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[-4840,1100]},{"parameters":{},"id":"44fbfc3d-c8e5-469a-b068-47ecaa354321","name":"Merge2","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[-4620,1120]},{"parameters":{"tableId":"groups_logs","fieldsUi":{"fieldValues":[{"fieldId":"group_name","fieldValue":"={{ $json.group_name }}"},{"fieldId":"chat_id","fieldValue":"={{ $json.group_id }}"},{"fieldId":"engage_members","fieldValue":"={{ $json.daily_engage }}"},{"fieldId":"active_members","fieldValue":"={{ $json.daily_active }}"}]}},"id":"a98e3658-79eb-455f-af71-861c046a1baf","name":"Supabase4","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3820,980],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{},"id":"ab5296e5-a09e-4b1c-bb11-ab66ea31f949","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[-4620,840]},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/Sincron","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=5519994317797"},{"name":"textMessage.text","value":"=Insights {{ $('Edit Fields4').item.json.group_name }}\n\nAqui está o resumo do seu grupo de ontem!\n\n💬 {{ $('Merge1').item.json[\"message_sent\"] }} mensagens enviadas\n👥 {{ $('Edit Fields4').item.json[\"participants\"] }} total de membros\n👤 {{ $json[\"active_members\"] }} membros ativos (conversam) - {{ ($('Edit Fields4').item.json[\"daily_active\"] / $('Edit Fields4').item.json[\"participants\"] *100).toFixed(2)}}% do grupo\n🫂 {{ $('Edit Fields4').item.json[\"daily_engage\"] }} membros engajados (conversam ou só reagem) - {{ ($('Edit Fields4').item.json[\"daily_engage\"] / $('Edit Fields4').item.json[\"participants\"] *100).toFixed(2)}}% do grupo\n🗣️ {{ $('Edit Fields4').item.json[\"week_active\"] }} membros ativos nos últimos 7 dias - {{ ($('Edit Fields4').item.json[\"week_active\"]/$('Edit Fields4').item.json[\"participants\"] *100).toFixed(2) }}% do grupo\n👥 {{ $('Edit Fields4').item.json[\"week_engage\"] }} membros engajados nos últimos 7 dias - {{ ($('Edit Fields4').item.json[\"week_engage\"]/$('Edit Fields4').item.json[\"participants\"] *100).toFixed(2) }}% do grupo\n🟰 0 saldo de membros \n\nPara saber os top 10 membros mais ativos, digite aqui *!top10*"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"10fa57cf-2789-4b5c-b821-d001db0c9156","name":"msg_user4","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-4120,1260],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}}},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"messages","order":"descending"}]},"options":{}},"id":"0267d426-aa36-4f1c-8344-62e790abdcfc","name":"Sort4","type":"n8n-nodes-base.sort","typeVersion":1,"position":[-5280,80]},{"parameters":{"maxItems":10},"id":"4b845ef4-8043-4280-bb8c-b769bfb79e54","name":"Limit2","type":"n8n-nodes-base.limit","typeVersion":1,"position":[-5120,80]},{"parameters":{"operation":"getAll","tableId":"statistics_daily","returnAll":true,"filters":{"conditions":[{"keyName":"group_id","condition":"eq","keyValue":"={{ $('pego_grupo1').item.json.group }}"},{"keyName":"created_at","condition":"gt","keyValue":"={{ \n  (() => {\n    const date = new Date();\n    date.setDate(date.getDate() - 0); // Subtrai um dia\n    date.setHours(date.getHours() - 3); // Ajusta a hora para GMT-3\n    return date.toISOString().split('T')[0];\n  })() \n}}"}]}},"id":"80f241d8-880b-45c1-80d8-e56a4df3f2fb","name":"Supabase - get usersss1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-5580,80],"executeOnce":true,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"6b585435-63ff-4f6a-bf1c-debcdc57c7f7","leftValue":"={{ $json.name }}","rightValue":"Bruno Okamoto","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"97f8b03d-6a5c-4208-8e90-16d2c535c2d3","name":"Filter4","type":"n8n-nodes-base.filter","typeVersion":2,"position":[-5440,80]},{"parameters":{"operation":"update","tableId":"groups","filters":{"conditions":[{"keyName":"chat_id","condition":"eq","keyValue":"={{ $('pego_grupo1').item.json.group }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"top_members","fieldValue":"={{ $json.data }}"}]}},"id":"bf10c8b1-a1e2-4954-a55c-ab20d801c276","name":"Supabase5","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-4640,80],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"fieldToSplitOut":"name","include":"selectedOtherFields","fieldsToInclude":"messages","options":{}},"id":"8045fb01-5026-4284-9c25-acf12aee6335","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-4960,80]},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"1502f1b4-5eb0-408e-aafe-54d0f0a8c970","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-4800,80]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"05cf67d3-6214-45f1-91e3-1431fca89744","leftValue":"=","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"dd43ea4d-b65f-4613-9aae-6d22b29742e7","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[-2400,340]},{"parameters":{"content":"## Principais links da semana \n\n","color":6},"id":"750b49ba-8f3f-4740-bbe5-1630cfee4c2a","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,460]},{"parameters":{"content":"## % Engajamento no dia\n\n","height":372.8808600850229,"width":1031.704746463737,"color":6},"id":"4178a909-11f5-4743-8fd2-eb8c1c67ab25","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-5340,640]},{"parameters":{"content":"## % Engajamento na semana\n\n","height":382.7771694158197,"width":1031.704746463737,"color":6},"id":"ae15ab62-8486-4e14-90d4-e498f3643190","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-5340,1060]},{"parameters":{"content":"### Atualiza os % engajamentos na tabela\n\n","height":253.57562853475503,"width":512.5072640024233},"id":"1eb04c8a-282a-4d33-b2e7-94d2ff337055","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4177.991991966481,920]},{"parameters":{"content":"### Envia mensagem\n\n","height":254.89690108545676,"width":249.11988027923746,"color":3},"id":"ef7846e3-13f5-4730-a2d3-034db535ad24","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4180,1200]},{"parameters":{"content":"### Atualiza os top10 membros na tabela (off)\n\n\n","height":253.57562853475503,"width":1157.3811122045904,"color":7},"id":"4b24b7b3-d78c-4c80-a837-d2556387afe2","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-5640,20]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"4a40bcc7-c582-4156-bfc1-fba57d6aab21","name":"Merge1","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[-4140,980],"executeOnce":true},{"parameters":{"content":"## Puxa todos os grupos as 1:30 AM\n\n","height":299.84075073427806,"width":684.7163299673139,"color":4},"id":"739707de-b131-4383-a49d-d2f82c966012","name":"Sticky Note12","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4581.124553066242,1480]},{"parameters":{"content":"## Puxa dados atualizados dos grupos\n\n","height":299.84075073427806,"width":481.6638492027406,"color":4},"id":"7dd890ea-ec2b-4318-95e9-e559d869444b","name":"Sticky Note13","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3860,1480]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-3.5-turbo-0125","mode":"list","cachedResultName":"GPT-3.5-TURBO-0125"},"messages":{"values":[{"content":"Você precisa tagear os conteúdos e identificar os desejos, necessidades, qualidades, conhecimentos dessa pessoa. Entenda o seu perfil e informe em um formato de lista simples com categorias","role":"system"},{"content":"={{ $json.message.content }}."}]},"options":{}},"id":"f1b4a622-fee1-4f08-bfd2-fb83446d7bcb","name":"OpenAI1","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[-1340,-60],"notesInFlow":true,"executeOnce":true,"credentials":{"openAiApi":{"id":"neTK4UBDC4tLBdAV","name":"G4 educação"}},"notes":"tag contents"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.comando }}","rightValue":"!atualizar","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"atualizar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"75b17b5f-5d4b-40a6-8ec8-d15b3b3b147d","leftValue":"={{ $json.comando }}","rightValue":"!threads","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"threads"}]},"options":{}},"id":"6d14ab95-36fa-4c97-9a1f-5c51860af37f","name":"Switch1","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-2960,-980]},{"parameters":{"public":true,"initialMessages":"Olá! 👋\nDigite o comando para iniciar o bot","options":{}},"id":"5d4bed16-d2e9-4bf9-af76-294d2995f75a","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1,"position":[-3120,-980],"webhookId":"4ccdca7f-1661-4923-9ee4-12df0269699d","disabled":true},{"parameters":{"modelId":{"__rl":true,"value":"gpt-3.5-turbo-0125","mode":"list","cachedResultName":"GPT-3.5-TURBO-0125"},"messages":{"values":[{"content":"VocÊ vai receber uma lista de mensagens e vai separar os interesses desse usuário. Precisamos entender suas dores, seus desejos, suas necessidades, tentativas, do que ele gosta, se ele está ensinando algo para alguém...\n\nSepare os conteúdos em categorias e seu conteúdo analiosade deve ser em formato de texto curto\n\nMe de uma lista com categorias contendo todas as informações relevantes das interações deste usuário, \nIgnore todas as mensagens sem conteúdo relevante para a comunidade, ou de interações vazias ou risadas.\n\n\ncaso tenha algo escrito \"answer to:\" quer dizer que a mensagem anterior a isso é uma resposta do usuário para a mensagem de outro usuário que vem depois disso. \nportanto, foque no conteúdo da mensagem antes do \"answer to:\"\n\nVocê precisa resumir todos os conteúdos em no máximo um parágrafo curto, então seja breve em cada ponto. Use poucas e precisas palavras.\n","role":"system"},{"content":"={{ $('Edit Fields1').item.json['interações'] }}"}]},"options":{}},"id":"1fa66f78-bc88-4451-857d-6cf8034cb3a0","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[-1720,-60],"notesInFlow":true,"executeOnce":true,"credentials":{"openAiApi":{"id":"neTK4UBDC4tLBdAV","name":"G4 educação"}},"notes":"Resume os conteúdos do dia"},{"parameters":{"modelId":{"__rl":true,"value":"={{ $('When chat message received').item.json.model }}","mode":"id"},"messages":{"values":[{"content":"=Sua saída deve ser parecida com isto:\n\nhttps://link... - taltal e tal\nhttps://link... - taltal e tal","role":"system"},{"content":"={{ $('Edit Fields').item.json.links }}"}]},"options":{}},"id":"e27300a9-af39-4405-a7c6-0f776bc8b67d","name":"OpenAI9","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[-4140,360],"credentials":{"openAiApi":{"id":"neTK4UBDC4tLBdAV","name":"G4 educação"}}},{"parameters":{"operation":"update"},"id":"287c1a01-a94b-4c01-8cb6-1c7528fb9a00","name":"Supabase6","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-4500,360],"disabled":true},{"parameters":{"operation":"getAll","tableId":"groups","returnAll":true,"filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"1"}]}},"id":"0c87d01c-15fb-4ee2-b589-1c054353b0c3","name":"Supabase1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-5800,-960],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"getAll","tableId":"groups","matchType":"allFilters","filters":{"conditions":[{"keyName":"summary_time","condition":"gte","keyValue":"={{ \n(() => {\n  const date = new Date();\n  date.setHours(date.getHours() - 3); // Ajusta a hora para GMT-3\n  date.setMinutes(date.getMinutes() - 30); // Subtrai 30 minutos\n  return date.toISOString().split('T')[1].split('.')[0]; // Retorna apenas a hora\n})()\n\n }}"},{"keyName":"summary_time","condition":"lte","keyValue":"={{ \n(() => {\n  const date = new Date();\n  date.setHours(date.getHours() - 3); // Ajusta a hora para GMT-3\n  date.setMinutes(date.getMinutes() - 0); // Subtrai 30 minutos\n  return date.toISOString().split('T')[1].split('.')[0]; // Retorna apenas a hora\n})()\n\n }}"},{"keyName":"generate_summaries","condition":"is","keyValue":"true"}]}},"id":"5906dbff-50ad-4361-8002-76837e76b1bf","name":"Supabase8","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3440,-840],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"8b500d4d-51b3-449f-b6e1-47c7d29a7f3c","leftValue":"={{ $json.message }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"1fab6a19-adbe-490b-820d-45891300cbff","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"fe23b692-390d-4b77-b8f8-93a998ea2cbd","name":"Filter5","type":"n8n-nodes-base.filter","typeVersion":2,"position":[-3740,2280],"notesInFlow":true,"notes":"pego só mensagens"},{"parameters":{"operation":"getAll","tableId":"interactions","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"created_at","condition":"gte","keyValue":"={{ \n  (() => {\n    const date = new Date();\n    date.setDate(date.getDate() - 1); // Subtrai um dia\n    date.setHours(date.getHours() - 3); // Ajusta a hora para GMT-3\n    return date.toISOString().split('T')[0];\n  })() \n}}\n"},{"keyName":"chat_id","condition":"eq","keyValue":"={{ $json.group }}"}]}},"id":"73c08670-507b-4fce-8353-a751af3ba957","name":"Supabase - get daily2","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3900,2440],"alwaysOutputData":true,"notesInFlow":true,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}},"notes":"mensagens do dia"},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"created_at"}]},"options":{}},"id":"91ae103e-ea36-4293-8bb7-57807f3a9104","name":"Sort5","type":"n8n-nodes-base.sort","typeVersion":1,"position":[-3600,2280],"retryOnFail":false,"notesInFlow":true,"notes":"coloco em ordem"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"countUnique","field":"whatsapp"},{"field":"message"}]},"options":{}},"id":"5c049dd4-f000-4b8e-9710-9746a0d05aaa","name":"engage counter2","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[-3460,2440],"notes":"reações + votos em enquete"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"countUnique","field":"whatsapp"},{"field":"message"}]},"options":{}},"id":"602f4b63-4432-444b-ae28-8922a4017ca6","name":"message counter2","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[-3460,2280]},{"parameters":{},"id":"9468b7f9-554f-44e4-9b73-4b543288f2eb","name":"Merge3","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[-3240,2420]},{"parameters":{"assignments":{"assignments":[{"id":"e9c70e26-087d-4d03-85da-30abfff13bce","name":"active_daily","value":"={{ $('Merge3').itemMatching(0).json.unique_count_whatsapp }}","type":"number"},{"id":"27f33942-46ab-457e-a48a-5becc8046f17","name":"engage_daily","value":"={{ $('Merge3').itemMatching(1).json.unique_count_whatsapp }}","type":"string"},{"id":"e3a44376-f321-4370-85fd-9bcf4adf4fb4","name":"message_sent","value":"={{ $json.count_message }}","type":"string"},{"id":"8e109ff4-3e89-4386-87f7-da1eef59b31a","name":"total_members","value":"={{ $('get_group_info1').item.json.size }}","type":"string"}]},"options":{}},"id":"0fc25488-5d7c-468c-9305-821f0ff56d99","name":"Edit Fields5","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3080,2420],"executeOnce":true},{"parameters":{"content":"## % Engajamento no dia\n\n","height":372.8808600850229,"width":1031.704746463737,"color":6},"id":"44ad7125-6ea0-4856-b6b6-b303b809718c","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3960,2220]},{"parameters":{"assignments":{"assignments":[{"id":"e9c70e26-087d-4d03-85da-30abfff13bce","name":"active_daily","value":"={{ $('Merge').itemMatching(0).json.unique_count_whatsapp }}","type":"number"},{"id":"27f33942-46ab-457e-a48a-5becc8046f17","name":"engage_daily","value":"={{ $('Merge').itemMatching(1).json.unique_count_whatsapp }}","type":"string"},{"id":"9b055bb2-ccc0-4ecb-85fd-ca4478c88166","name":"total_members","value":"={{ $('get_group_info1').item.json.size }}","type":"string"},{"id":"ca21b3eb-c4d6-4a92-9441-a5a617ae2cb2","name":"message_sent","value":"={{ $json.count_message }}","type":"string"}]},"options":{}},"id":"a0bce02c-281d-4b7f-9df3-9ccc37b72c64","name":"Edit Fields - daily","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4460,840]},{"parameters":{"assignments":{"assignments":[{"id":"e9c70e26-087d-4d03-85da-30abfff13bce","name":"active_week","value":"={{ $('Merge2').itemMatching(0).json.unique_count_whatsapp }}","type":"number"},{"id":"27f33942-46ab-457e-a48a-5becc8046f17","name":"engage_week","value":"={{ $('Merge2').itemMatching(1).json.unique_count_whatsapp }}","type":"string"},{"id":"b53bba6f-c58d-4717-b7cc-8f0914f97967","name":"","value":"","type":"string"}]},"options":{}},"id":"c5f111f0-3b9d-4341-a0ac-11492c2d2edf","name":"Edit Fields - week","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4460,1120]},{"parameters":{"assignments":{"assignments":[{"id":"ec6cae2a-5b71-4151-bac5-e676cdd65048","name":"participants","value":"={{ $('get_group_info1').item.json.size }}","type":"number"},{"id":"633e3b9d-e28b-4bcf-9809-0db95a32ce0b","name":"daily_active","value":"={{ ($json.active_daily / $('get_group_info1').item.json.size * 100).toFixed(2)}}","type":"number"},{"id":"b973a75c-87df-44b8-ad69-c3d95f2f8527","name":"daily_engage","value":"={{ ($json.engage_daily / $('get_group_info1').item.json.size * 100).toFixed(2)}}","type":"number"},{"id":"6e3cccef-d6d6-46ba-840b-1228b4062881","name":"week_active","value":"={{ ($json.active_week / $('get_group_info1').item.json.size * 100).toFixed(2)}}","type":"string"},{"id":"0e3266f4-a25f-4c2e-9894-0ce9f2443fcb","name":"week_engage","value":"={{ ($json.engage_week / $('get_group_info1').item.json.size * 100).toFixed(2) }}","type":"string"},{"id":"e2f1d0dc-d29a-48b1-8245-cc979a769198","name":"percent_daily_engaged","value":"={{ ($json.engage_daily / $json.engage_week * 100).toFixed(2) }}","type":"string"},{"id":"d41c459f-2cfb-453c-ba4b-029e4be80407","name":"percent_daily_active","value":"={{ ($json.active_daily / $json.active_week * 100).toFixed(2) }}","type":"string"},{"id":"18d6e088-94fe-4896-a878-b157c3c3422c","name":"group_name","value":"={{ $('get_group_info1').item.json.subject }}","type":"string"},{"id":"84ced77c-5ee0-4d0d-99a5-b83db532594d","name":"group_id","value":"={{ $('get_group_info1').item.json.id }}","type":"string"},{"id":"4c233c08-840b-4c2f-86c1-409e9760416e","name":"","value":"","type":"string"}]},"options":{}},"id":"279a67ee-d36c-4854-bd58-f645f43d412e","name":"Edit Fields6","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4000,780]},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/Sincron","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=5519994317797"},{"name":"textMessage.text","value":"=*Estatísticas de engajamento do grupo {{ $('Supabase4').item.json[\"group_name\"] }}*\n\n*Hoje:*\n {{ $('Supabase4').item.json[\"p_active_daily\"] }}% estiveram ativos (enviaram mensagens)\n {{ $('Supabase4').item.json[\"p_engage_daily\"] }}% engajaram de alguma forma\n\n*Na semana:* \n {{ $('Supabase4').item.json[\"p_active_week\"] }}% estiveram ativos\n {{ $('Supabase4').item.json[\"p_engage_week\"] }}% engajaram\n\nÉ interessante saber que\nEntre os membros que geralmente participam na semana\n{{ $('Supabase4').item.json[\"week_active\"] }}% enviaram mensagem hoje\n{{ $('Supabase4').item.json[\"week_engaged\"] }}% engajaram hoje"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"b12c9aaa-e2b1-4d39-8212-a419e7491846","name":"msg_user5","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-3580,780],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}}},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/Sincron","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=5519994317797"},{"name":"textMessage.text","value":"=Insights {{ $('Edit Fields4').item.json.group_name }}\n\nAqui está o resumo do seu grupo de ontem!\n\n💬 {{ $('Merge1').item.json[\"message_sent\"] }} mensagens enviadas\n👥 {{ $('Edit Fields4').item.json[\"participants\"] }} total de membros\n👤 {{ $json[\"active_members\"] }} membros ativos ({{ ($('Edit Fields4').item.json[\"daily_active\"] / $('Edit Fields4').item.json[\"participants\"] *100).toFixed(2)}}% do grupo)\n👥 {{ $('Merge1').item.json[\"active_week\"] }} membros ativos nos últimos 7 dias ({{ ($('Edit Fields4').item.json[\"week_active\"]/$('Edit Fields4').item.json[\"participants\"] *100).toFixed(2) }}% do grupo)\n🟰 0 saldo de membros "}]},"options":{"response":{"response":{"neverError":true}}}},"id":"9664109e-5a6e-4bbf-b2e1-9cc1115393a5","name":"msg_user6","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-3360,780],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"id"},"messages":{"values":[{"content":"=Você é um assistente que transforma conversas em newsletters e posta todos os dias anunciando a newsletter do grupo {{ $('pego_grupo').first().json.group_name }}\n\n- Inclua emojis em todos os tópicos\n- não use markdown, apenas deixe os títulos em *negrito*\n- contextualize brevemente cada assunto, incluindo oque os membros disseram e seus insights\n- seu tom {{ $json.bot_tone }}\n- seu estilo {{ $json.bot_style }}\n\n{{ $('Arguments').item.json.reforce ? \"- é interessante ter no resumo conteúdos desse tipo: \" + $('Arguments').item.json.reforce : \"\" }}\n\n{{ $('Arguments').item.json.ignore ? \"- elimine completamente no resumo conteúdos desse tipo: \" + $('Arguments').item.json.ignore : \"\" }}","role":"system"},{"content":"=Faça um outline das conversas enviadas para você. \n      Nomeie os tópicos dessa forma: \n      (emoji) Nome do tópico/assunto:\n\n      Termine os parágrafos mostrando a dica ou sugestões apresentadas\nPriorize links sugeridos para cada topico, informe no corpo do topico\nFaça um paragrafo para cada topico, insira as informações neste parágrafo de 30~50 palavras\n      \n\n      COMECE: \n{{ $json[\"topicos\"] }}\n{{ $('Junta as mensagens').item.json.concatenated_messages }}\n\n----- Use um emoji no titulo de cada topico!\n----- Caso tenha link, informe o link dentro do topico.\n----- Informe os horários dos tópicos entre parenteses na frente dos titulos do topico\n      Termine os parágrafos mostrando a dica ou sugestões apresentadas\nPriorize links sugeridos para cada topico, informe no corpo do topico\nFaça um paragrafo para cada topico, insira as informações neste parágrafo de 30~50 palavras\n      \n\n      COMECE: \n{{ $json[\"topicos\"] }}\n{{ $('Junta as mensagens').item.json.concatenated_messages }}\n\n----- Use um emoji no titulo de cada topico!\n----- Caso tenha link, informe o link dentro do topico."}]},"options":{"temperature":0.8}},"id":"edbb2977-ee06-4c01-afbb-499e56add5e0","name":"OpenAI12","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[-3820,280],"executeOnce":false,"credentials":{"openAiApi":{"id":"XzWU4v1rISX59xgy","name":"MGM - Newsletter"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"gpt-4o-mini"},{"name":"messages","value":"={{ $json }}"},{"name":"temperature","value":"0.8"}]},"options":{}},"id":"f41c8888-dbb9-49e6-8d4d-bbb9ebdef7e4","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3420,280],"credentials":{"openAiApi":{"id":"XzWU4v1rISX59xgy","name":"MGM - Newsletter"}}},{"parameters":{"tableId":"summaries","fieldsUi":{"fieldValues":[{"fieldId":"summary","fieldValue":"={{ $json.message.extendedTextMessage.text }}"},{"fieldId":"date","fieldValue":"={{ \n  (() => {\n    const date = new Date();\n    date.setDate(date.getDate() - 0); \n    date.setHours(date.getHours() - 3); // Ajusta a hora para GMT-3\n    return date.toISOString().split('T')[0];\n  })() \n}}\n"},{"fieldId":"message_id","fieldValue":"={{ $json.key.id }}"},{"fieldId":"id_group","fieldValue":"={{ $('pego_grupo').item.json.id }}"}]}},"id":"0f4a6457-4f23-49f6-a80a-241f93fb5913","name":"Supabase7","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2980,300],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"created_at"}]},"options":{}},"id":"1719eac7-300e-4bc0-b1be-3f161032d750","name":"Sort","type":"n8n-nodes-base.sort","typeVersion":1,"position":[-4160,-880],"retryOnFail":false,"notesInFlow":true,"notes":"coloco em ordem"},{"parameters":{"assignments":{"assignments":[{"id":"fb8c32a2-9306-43b9-9b01-5a659eab6241","name":"group","value":"={{ $('Supabase1').item.json.chat_id }}","type":"string"},{"id":"29404ef0-2a44-4534-8c05-6eab88d14556","name":"group_name","value":"={{ $('Supabase1').item.json.group_name }}","type":"string"},{"id":"8b776c38-6c42-42dd-b1da-d84420d45a0a","name":"bot_tone","value":"={{ $('Supabase1').item.json.bot_tone }}","type":"string"},{"id":"8f89cf2b-66d3-4c4f-97da-b757c8edb1a0","name":"bot_style","value":"={{ $('Supabase1').item.json.bot_style }}","type":"string"},{"id":"c25af50d-39c9-4e02-b60a-fab1d6a664cb","name":"id","value":"={{ $('Supabase1').item.json.id }}","type":"string"}]},"options":{}},"id":"d234918e-7f70-4753-8b47-ba4a4403cff9","name":"pego_grupo","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-4960,-940]},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/Sincron","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=5519994317797"},{"name":"textMessage.text","value":"=#Neswletter do grupo {{ $('pego_grupo').first().json.group_name }}\n\n{{ $json.message.content.replaceAll(\"**\", \"*\"). replaceAll(\"#\", \"\").replaceAll(\"[\", \"*\").replaceAll(\"]\", \"* - \") }}"},{"name":"options.linkPreview","value":"={{ false }}"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"cbf54d72-4fa3-4dfe-aba4-f31b060f9f48","name":"msg_user","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-4660,-380],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}}},{"parameters":{"assignments":{"assignments":[{"id":"260b4232-3b4a-4118-9cde-757090b2b1d4","name":"messages","value":"=({{ $json.created_at.substring(11,16) }}) {{ $json.user_name }}: {{ $json.message }} ","type":"string"},{"id":"01b8bba4-2d55-4506-bbed-9fed8bb9b142","name":"grupo","value":"={{ $json.chat_id }}","type":"string"}]},"options":{}},"id":"d17b1f81-dd73-423b-8adc-43f04184e248","name":"user message","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-5440,-620],"notesInFlow":true,"notes":"organiza mensagem por usuário"},{"parameters":{"assignments":{"assignments":[{"id":"a96db31d-17d4-450a-9320-3c940fe6858e","name":"topicos","value":"=Principais tópicos que rolaram aqui no grupo {{ $('Supabase - get daily').first().json[\"group_name\"] }}","type":"string"},{"id":"d75f9074-6ce7-4e7c-9481-5e8e2d394ad8","name":"reforce","value":"dicas, tutoriais, ajudas, conteudo técnico, anúncios negócios e oportunidades","type":"string"},{"id":"2244ed7b-20d7-4724-b14a-f7f4fb2de920","name":"ignore","value":"saudações, interações sem conteúdo coerente, polêmicas e discussões agressivas","type":"string"},{"id":"af2f1a0b-a869-4170-95f4-41470fe18b9c","name":"group_name","value":"={{ $('Supabase - get daily').first().json.group_name }}","type":"string"},{"id":"d935d338-ffe1-496c-ba8e-1f74f32a0b62","name":"bot_tone","value":"={{ $('pego_grupo').first().json.bot_tone }}","type":"string"},{"id":"7c11e1a3-9dcd-47cf-8302-1003ade10866","name":"bot_style","value":"={{ $('pego_grupo').first().json.bot_style }}","type":"string"}]},"options":{}},"id":"7110a8e7-0361-48f9-b1b5-922a892cb316","name":"Arguments","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-5280,-380]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"message.content","separateBy":"other","customSeparator":"\\n"}]},"options":{}},"id":"074494a5-34eb-414c-8f87-8ab9ae56f2e2","name":"Summarize3","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[-4660,-620]},{"parameters":{"assignments":{"assignments":[{"id":"ad68118f-3197-4032-9bcf-827535010405","name":"concatenated_messages","value":"={{ $json.concatenated_message_content }}","type":"string"},{"id":"e383c863-be81-412f-9558-fd46cb9f4bb9","name":"\"part1...\"","value":"={{ $json.appended_message_content.map((item, index) => `part ${index + 1}.${item}`).join('\\n') }}","type":"string"},{"id":"5217cfd0-ea4e-4a23-a727-f2fd3ed3a72d","name":"1","value":"{{ $json.appended_message_content.map((item, index) => `${item}`).join('\\n') }}","type":"string"}]},"options":{}},"id":"1f4036c7-bc39-4fac-a6fe-4b677f737f65","name":"Junta as mensagens","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-4500,-620]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"4559d276-65e5-4e65-a84f-1b22cbfe8743","leftValue":"={{ $json.grupo }}","rightValue":"={{ $('user message').last().json.grupo }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"b868d919-1bc2-47dc-a262-627d8bf7d306","name":"Filter6","type":"n8n-nodes-base.filter","typeVersion":2,"position":[-5140,-620]},{"parameters":{"tableId":"summaries","fieldsUi":{"fieldValues":[{"fieldId":"summary","fieldValue":"={{ $json.message.extendedTextMessage.text }}"},{"fieldId":"date","fieldValue":"={{ \n  (() => {\n    const date = new Date();\n    date.setDate(date.getDate() - 0); \n    date.setHours(date.getHours() - 3); // Ajusta a hora para GMT-3\n    return date.toISOString().split('T')[0];\n  })() \n}}\n"},{"fieldId":"message_id","fieldValue":"={{ $json.key.id }}"},{"fieldId":"id_group","fieldValue":"={{ $('pego_grupo').item.json.id }}"},{"fieldId":"date","fieldValue":"={{ $json.messageTimestamp.toDateTime('s') }}"},{"fieldId":"sent","fieldValue":"={{ true }}"}]}},"id":"3bfa333d-d59c-4a6d-8fd9-03725d336d19","name":"Supabase9","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-4500,-380],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"assignments":{"assignments":[{"id":"260b4232-3b4a-4118-9cde-757090b2b1d4","name":"messages","value":"=id:{{ $json[\"id\"] }}, ({{ $json[\"created_at\"].substring(11,16) }}) {{ $json[\"user_name\"] }}: {{ $json[\"message\"] }} ","type":"string"}]},"options":{}},"id":"a707d051-132b-4eec-a642-35a2602fdbc8","name":"user message1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-4120,-580],"notesInFlow":true,"notes":"organiza mensagem por usuário"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Um assistant que recebe as conversas de um grupo e guarda em um array o id, o horário, os usuários e o tópico abordado\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Separe em tópicos a seguinte conversa: \"\n    }\n  ],\n  \"temperature\": 0.7\n}","options":{}},"id":"830a7d3e-089e-413d-8a81-b1aa30e3b99b","name":"HTTP Request2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3500,-1060],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"},"openAiApi":{"id":"neTK4UBDC4tLBdAV","name":"G4 educação"}}},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"messages"}]},"fieldsToSplitBy":"grupo","options":{}},"id":"cf8b1c6e-3ee0-4a57-95c4-23bafdc99d57","name":"Summarize9","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[-3960,-580]},{"parameters":{},"id":"38c5c0c8-92da-4a7d-9f75-333a8efd90e1","name":"Merge4","type":"n8n-nodes-base.merge","typeVersion":3,"position":[-4260,-580]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"7840e4bb-f15a-4bce-bc82-d6e313a8db5c","leftValue":"={{ $json.whatsapp }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"2f3c98ee-95be-48d6-a61b-4049e8c34369","name":"If1","type":"n8n-nodes-base.if","typeVersion":2,"position":[-4580,-940]},{"parameters":{"operation":"update","tableId":"summaries","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Supabase9').first().json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"daily_topics","fieldValue":"={{ $json.choices[0].message.content }}"}]}},"id":"15536186-401a-4eeb-9e59-501fa1fb4a39","name":"Supabase10","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3640,-340],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Você é um assistant que guarda uma lista dos tageando os assuntos abordados, o horário e o id de uma das mensagens. Isso nos ajudará a pesquisar os topicos posteriormente. Das interações salve apenas algumas tags chave relacionada ao assunto e dicas/sugestões abordado e agrupe as interações de vários usuários no mesmo id, pois buscaremos apenas em um id por assunto/topico. Preserve o id original corretamente. \"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Aqui estão as mensagens. Comece: {{ $json[\"concatenated_messages\"].replace(/\\n/g, '\\\\n').replace(/\\r/g, '\\\\r').replace(/\"/g, '\\\\\"') }}\"\n    }\n  ],\n  \"temperature\": 0.8\n}","options":{}},"id":"f3c8613f-ef05-4051-8057-f6b5f2fe6284","name":"OpenAI msg - topics1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3800,-580],"retryOnFail":true,"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"},"openAiApi":{"id":"wtFsZzM1m6ZwWui1","name":"MGM - summarize"}},"onError":"continueRegularOutput"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"messages"}]},"fieldsToSplitBy":"grupo","options":{}},"id":"86586117-40e5-4aaa-9cfa-4e6e5b49f4e8","name":"Summarize2","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[-5280,-620]},{"parameters":{"operation":"getAll","tableId":"interactions","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"created_at","condition":"gte","keyValue":"={{ \n  (() => {\n    const date = new Date();\n    date.setDate(date.getDate() - 0); // Subtrai um dia\n    date.setHours(date.getHours() - 3); // Ajusta a hora para GMT-3\n    return date.toISOString().split('T')[0];\n  })() \n}}\n"},{"keyName":"chat_id","condition":"eq","keyValue":"={{ $json.group }}"}]}},"id":"d8310dc3-531f-4799-91ce-d0db57f521be","name":"Supabase - get daily","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-4800,-940],"alwaysOutputData":true,"notesInFlow":true,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}},"notes":"mensagens do dia"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"8cee896c-812c-4959-aaa9-fd37d58a6cb2","leftValue":"={{ $json.message.slice(0, -2) }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"c3ff7849-74ea-4aac-bdb4-762b58cb802a","name":"Filter","type":"n8n-nodes-base.filter","typeVersion":2,"position":[-4320,-880]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"id"},"messages":{"values":[{"content":"=Você é um assistente que transforma conversas em newsletters e posta todos os dias anunciando a newsletter do grupo {{ $('pego_grupo').first().json.group_name }}\n\n- Inclua emojis em todos os tópicos\n- não use markdown, apenas deixe os títulos em *negrito*\n- contextualize brevemente cada assunto, incluindo oque os membros disseram e seus insights\n- seu tom {{ $json.bot_tone }}\n- seu estilo {{ $json.bot_style }}\n\n{{ $('Arguments').item.json.reforce ? \"- é interessante ter no resumo conteúdos desse tipo: \" + $('Arguments').item.json.reforce : \"\" }}\n\n{{ $('Arguments').item.json.ignore ? \"- elimine completamente no resumo conteúdos desse tipo: \" + $('Arguments').item.json.ignore : \"\" }}","role":"system"},{"content":"=Faça um outline das conversas enviadas para você. \n      Nomeie os tópicos dessa forma: \n      (emoji) Nome do tópico/assunto (horário hh:mm):\n\n      Termine os parágrafos mostrando a dica ou sugestões apresentadas\nPriorize links sugeridos para cada topico caso tenha, informe no corpo do topico\nFaça um paragrafo para cada topico, insira as informações neste parágrafo de 25~45 palavras\n      \n\n      COMECE: \n{{ $json[\"topicos\"] }}\n{{ $('Junta as mensagens').item.json.concatenated_messages }}\n\n----- Use um emoji no titulo de cada topico!\n----- Caso tenha link, informe o link dentro do topico.\n----- Informe os horários dos tópicos entre parenteses na frente dos titulos do topico\n\nExplore o máximo de horários e tópicos possivel"}]},"options":{"temperature":0.8}},"id":"0f35a62a-7c8a-4e3c-9041-293f7e69cf19","name":"OpenAI7","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[-4980,-380],"executeOnce":false,"retryOnFail":true,"credentials":{"openAiApi":{"id":"XzWU4v1rISX59xgy","name":"MGM - Newsletter"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"id"},"messages":{"values":[{"content":"=Um assistente de resumo de conversas de chat que trás um contexto do que os membros estão debatendo,\nresuma destacando por tópicos informando em parágrafos quem são os usuários, o conteúdo e principalmente sugestões de links caso tenha. Seja direto na entrega do tópico, foque no resultado da conversa.\nPontue as dicas, insights e sugestões. Isso é importante\nPriorize links de cada topico caso tenha\nresuma os tópicos em formato de parágrafos\n\nIgnore apresentações","role":"system"},{"content":"=Faça um resumo conciso da seguinte conversa. START:\n\n{{ $json.concatenated_messages }}\n\npontue cada tópico com o que foi dito e concluido pelos membros. Priorize as conclusões e insigths. Ignore elogios e conversas prolixas.\nPiorize os links sugeridos para cada topico caso tenha\n!caso não tenha links no topico jamais invente e não dê exemplos. Apenas informe sobre links se realmente houver e forem úteis!\nrespeite e informe corretamente os horários dos tópicos\nelimine assuntos que possam ter gerado desconforto entre os membros"}]},"options":{"temperature":0.8}},"id":"7bbd24ee-efe6-4d3b-81b3-ed690be2e1fb","name":"OpenAI4","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[-4980,-620],"retryOnFail":true,"credentials":{"openAiApi":{"id":"wtFsZzM1m6ZwWui1","name":"MGM - summarize"}}}],"connections":{"Supabase - get all users":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Supabase - get all messages1","type":"main","index":0}],[{"node":"Supabase - get all messages","type":"main","index":0}]]},"Supabase - get all messages":{"main":[[{"node":"Tem mensagens?","type":"main","index":0}]]},"Supabase - add tags":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Tem mensagens?":{"main":[[{"node":"Edit Fields2","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Summarize":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Supabase - get all messages1":{"main":[[{"node":"Supabase3","type":"main","index":0}]]},"Summarize4":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Sort1":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Supabase - get usersss":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"Sort1","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Summarize6","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"OpenAI8","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"Sort2","type":"main","index":0}]]},"Sort2":{"main":[[{"node":"Limit1","type":"main","index":0}]]},"Summarize5":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields9":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Summarize7":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Loop Over Items3":{"main":[[{"node":"OpenAI10","type":"main","index":0}],[{"node":"Summarize7","type":"main","index":0}]]},"Summarize8":{"main":[[{"node":"Edit Fields10","type":"main","index":0}]]},"Edit Fields10":{"main":[[{"node":"Arguments1","type":"main","index":0}]]},"Arguments1":{"main":[[{"node":"OpenAI11","type":"main","index":0}]]},"OpenAI10":{"main":[[{"node":"Summarize8","type":"main","index":0}]]},"Limit1":{"main":[[{"node":"Summarize5","type":"main","index":0}]]},"OpenAI6":{"main":[[{"node":"Summarize4","type":"main","index":0}]]},"OpenAI8":{"main":[[{"node":"msg_user1","type":"main","index":0}]]},"OpenAI5":{"main":[[{"node":"Supabase - get usersss","type":"main","index":0}]]},"OpenAI11":{"main":[[{"node":"msg_user3","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Supabase1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"pego_grupo","type":"main","index":0}]]},"Filter2":{"main":[[{"node":"Sort3","type":"main","index":0}]]},"Supabase - get daily1":{"main":[[{"node":"engage counter1","type":"main","index":0},{"node":"Filter2","type":"main","index":0}]]},"Sort3":{"main":[[{"node":"message counter1","type":"main","index":0}]]},"pego_grupo1":{"main":[[{"node":"Supabase - get daily1","type":"main","index":0},{"node":"Supabase - get week","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Supabase2","type":"main","index":0}]]},"Supabase2":{"main":[[{"node":"Loop Over Items5","type":"main","index":0}]]},"Loop Over Items5":{"main":[[],[{"node":"get_group_info1","type":"main","index":0}]]},"engage counter1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"message counter1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"get_group_info1":{"main":[[{"node":"pego_grupo1","type":"main","index":0}]]},"Filter3":{"main":[[{"node":"message counter","type":"main","index":0}]]},"engage counter":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"message counter":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Supabase - get week":{"main":[[{"node":"Filter3","type":"main","index":0},{"node":"engage counter","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Edit Fields - week","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Edit Fields - daily","type":"main","index":0}]]},"Supabase4":{"main":[[{"node":"msg_user4","type":"main","index":0}]]},"Sort4":{"main":[[{"node":"Limit2","type":"main","index":0}]]},"Limit2":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Supabase - get usersss1":{"main":[[{"node":"Filter4","type":"main","index":0}]]},"Filter4":{"main":[[{"node":"Sort4","type":"main","index":0}]]},"msg_user4":{"main":[[{"node":"Loop Over Items5","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Supabase5","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"Supabase - add tags","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Supabase - get all users","type":"main","index":0}],[{"node":"Supabase - get all users","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"Supabase1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Filter5":{"main":[[{"node":"Sort5","type":"main","index":0}]]},"Supabase - get daily2":{"main":[[{"node":"engage counter2","type":"main","index":0},{"node":"Filter5","type":"main","index":0}]]},"Sort5":{"main":[[{"node":"message counter2","type":"main","index":0}]]},"engage counter2":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"message counter2":{"main":[[{"node":"Merge3","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Edit Fields - daily":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Edit Fields - week":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Edit Fields4":{"main":[[{"node":"Supabase4","type":"main","index":0}]]},"Sort":{"main":[[{"node":"user message","type":"main","index":0},{"node":"Merge4","type":"main","index":0}]]},"pego_grupo":{"main":[[{"node":"Supabase - get daily","type":"main","index":0}]]},"msg_user":{"main":[[{"node":"Supabase9","type":"main","index":0}]]},"user message":{"main":[[{"node":"Summarize2","type":"main","index":0}]]},"Arguments":{"main":[[{"node":"OpenAI7","type":"main","index":0}]]},"Summarize3":{"main":[[{"node":"Junta as mensagens","type":"main","index":0}]]},"Junta as mensagens":{"main":[[{"node":"Arguments","type":"main","index":0}]]},"Filter6":{"main":[[{"node":"OpenAI4","type":"main","index":0}]]},"user message1":{"main":[[{"node":"Summarize9","type":"main","index":0}]]},"Summarize9":{"main":[[{"node":"OpenAI msg - topics1","type":"main","index":0}]]},"Supabase9":{"main":[[{"node":"Merge4","type":"main","index":1}]]},"Merge4":{"main":[[{"node":"user message1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Filter","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"Supabase10":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"OpenAI msg - topics1":{"main":[[{"node":"Supabase10","type":"main","index":0}]]},"Summarize2":{"main":[[{"node":"Filter6","type":"main","index":0}]]},"Supabase - get daily":{"main":[[{"node":"If1","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Sort","type":"main","index":0}]]},"OpenAI7":{"main":[[{"node":"msg_user","type":"main","index":0}]]},"OpenAI4":{"main":[[{"node":"Summarize3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrencyRules":[]},"node:Schedule Trigger1":{"recurrencyRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"When chat message received":[{"json":{"comando":"!threads","group":"120363168792712167","sendto":"5519994317797","model":"gpt-3.5-turbo-16k","model2":"gpt-4o"}}],"OpenAI7":[{"json":{"index":0,"message":{"role":"assistant","content":"#Neswletter do grupo Business Micro-SaaS\n\n*Principais tópicos que rolaram aqui no grupo Business Micro-SaaS*  \n*Resumo da Conversa:*\n\n1. 🎨 *Canva com Leonardo I.A (06:31 - 06:32)*  \nSamirian trouxe à tona uma super novidade: a integração do Canva com a IA Leonardo! Ele destacou como essa parceria pode revolucionar o design, permitindo criações ainda mais criativas e personalizadas. Incrível, né?\n\n2. 🤝 *Parcerias na Comunidade (07:58 - 08:10)*  \nBruno compartilhou insights sobre parcerias entre membros e grandes nomes do marketing digital. Um membro alcançou R$14k de MRR organicamente! Para quem quer se aprofundar no tema, aqui estão alguns vídeos que podem ajudar: *Live sobre parcerias* - (https://www.youtube.com/live/ZlgDgJdEuJc?si=DFH1wsEPmoL46At1) e *Outro vídeo relacionado* - (https://youtu.be/2R4lV4jFTEA?si=MyxhOt72-RRJM0KE).\n\n3. 🎤 *Evento com Mizael e Voicefy (08:51)*  \nA Samantha anunciou um evento imperdível com Mizael, fundador do Voicefy, que vai compartilhar sua experiência de faturamento. O encontro será dia 30/07 às 14h. Não perca a chance de se inscrever aqui: *Participar do evento* - (https://us06web.zoom.us/j/89190637576?pwd=AfoyQAzaG7zqs7u6QRruqceKsMGjQa.1).\n\n4. 🛠️ *Soluções de Plataforma (09:27 - 09:36)*  \nJônatan apresentou diversas plataformas que podem atender as necessidades da comunidade. Confira as opções: *The Members* - (https://themembers.com.br), *Astron Members* - (https://www.astronmembers.com.br/), *Membox* - (https://www.membox.io/) e *Curso Educacional* - (https://www.curseduca.com/). Leonardo ficou bem interessado nas sugestões!\n\n5. 🤖 *Ideia do MGM 3.0 (10:52 - 11:56)*  \nBruno trouxe uma ideia massa: um bot chamado MGM que resume grupos de WhatsApp e gera métricas. O projeto usa N8N e ChatGPT e visa facilitar o onboarding e vendas pelo WhatsApp. Membros, como André, apoiaram a ideia, elogiando a conexão com o público brasileiro!\n\n6. 📊 *Métricas e Dashboard (11:00 - 11:32)*  \nDiscutimos a importância de um dashboard para acompanhar métricas, mas muitos preferem relatórios via WhatsApp. Fabrício sugeriu usar Airtable como base de dados e N8N para consultas. Olha a praticidade!\n\n7. 💳 *Estudo sobre Free Trials (12:07 - 12:14)*  \nBruno trouxe dados interessantes sobre a conversão de free trials. Trials que pedem cartão de crédito têm uma taxa de conversão maior, e 60% dos SaaS faturam menos de $15k de MRR. Esse estudo traz muitos insights valiosos para a estratégia de pricing.\n\n8. 📄 *Validação de Documentos (18:01 - 18:04)*  \nItalo Andrade pediu dicas para plataformas de validação de documentos. Igor sugeriu a Único, além de ClearSale e Idwall, como boas opções. Se você precisa desse serviço, vale a pena conferir!\n\n9. 💍 *Micro-SaaS para Cerimonialistas (18:49 - 19:04)*  \nHenrique está desenvolvendo um Micro-SaaS focado em cerimonialistas, um nicho promissor! Os membros concordaram que o mercado de casamentos, especialmente voltado para o agro, pode ser super lucrativo. Uma ótima ideia para explorar!\n\nEsse resumo destaca as melhores ideias, sugestões e insights que surgiram nas conversas, sempre em busca do sucesso na jornada do Micro-SaaS! ✨"},"logprobs":null,"finish_reason":"stop"}}],"OpenAI4":[{"json":{"index":0,"message":{"role":"assistant","content":"**Resumo da Conversa:**\n\n1. **Discussão sobre o EAOF (13:23)**\n   - Vitor Pereira pergunta se alguém possui informações sobre o EAOF, mencionando que há rumores sobre ele ser 1S com CAA. Não foram apresentadas respostas ou links relevantes a esta questão.\n\n2. **Teste de Funcionalidade (16:10 - 17:24)**\n   - Vitor Pereira realiza testes com um bot chamado MGM, pedindo para os participantes fazerem o comando `/add`. Luiz comenta sobre a eficácia do bot, com Vitor enfatizando que o bot não deve funcionar corretamente. Não foram fornecidos links úteis nesse momento.\n\n3. **Reação a Mensagens (17:35 - 17:44)**\n   - Luiz compartilha um código em JSON para enviar reações a mensagens: \n     ```json\n     curl --request POST \\\n     --url https://api.sincronia.digital/message/sendReaction/{instance} \\\n     --header 'Content-Type: application/json' \\\n     --header 'apikey: <api-key>' \\\n     --data '{\n       \"reactionMessage\": {\n         \"key\": {\n           \"remoteJid\": \"<string>\",\n           \"fromMe\": true,\n           \"id\": \"<string>\"\n         },\n         \"reaction\": \"🚀\"\n       }\n     }'\n     ```\n   - Também sugere que Vitor tire o parâmetro `fromMe` para que as reações sejam registradas corretamente. Link relevante compartilhado: [Documentação da API](https://doc.evolution-api.com/api-reference/message-controller/send-reaction).\n\n4. **Ajuste na Lógica do Bot (18:02 - 18:08)**\n   - Vitor menciona que precisa mudar a lógica para verificar se o usuário é dono do grupo antes de enviar reações. Ele decide permitir que qualquer administrador ative o grupo, uma vez que o criador pode não estar mais presente. Essa mudança visa melhorar a funcionalidade do bot.\n\n5. **Revisão da Saída de Dados (18:05 - 18:07)**\n   - Vitor nota que está recebendo três itens do banco de dados PostgreSQL e que isso precisa ser ajustado. Ele conclui que a lógica deve ser adaptada para considerar o grupo como um todo.\n\n**Conclusão:**\n- A conversa se concentrou na funcionalidade de um bot e na interação com a API para enviar reações a mensagens. Insights principais envolveram a necessidade de ajustes na lógica do bot e na configuração para evitar ações desnecessárias. O compartilhamento de códigos e links foi crucial para o avanço nas funcionalidades discutidas."},"logprobs":null,"finish_reason":"stop"}}]},"versionId":"edc2e498-2071-49b6-8140-eff4124352d1","triggerCount":1,"tags":[{"createdAt":"2024-07-22T21:06:40.448Z","updatedAt":"2024-07-22T21:06:40.448Z","id":"RX2ESLnM0IynaKQR","name":"MGM2"}]}