mga---analyst.json
{"createdAt":"2024-06-27T16:50:52.739Z","updatedAt":"2024-07-06T15:13:35.855Z","id":"6prUxPZ6QmgHWVgY","name":"MGA - analyst","active":true,"nodes":[{"parameters":{"operation":"getAll","tableId":"Users","returnAll":true},"id":"6579f025-cf71-4fe6-9564-69e8b1610cf2","name":"Supabase - get all users","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2740,-260],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"G4 Educação"}}},{"parameters":{"batchSize":"=1","options":{}},"id":"0fc3bdf7-63f4-4853-b714-b85137dbdc43","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2520,-260]},{"parameters":{"operation":"getAll","tableId":"Interactions","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $('Supabase - get all users').item.json.whatsapp }}"},{"keyName":"processed","condition":"is","keyValue":"null"}]}},"id":"a66d16b4-5617-4a6c-a5f3-8737bf231d76","name":"Supabase - get all messages","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2320,-60],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"G4 Educação"}}},{"parameters":{"operation":"update","tableId":"Users","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Supabase - get all users').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"tags","fieldValue":"={{ $json.message.content }}"}]}},"id":"8707c9ba-e828-4d63-965c-0053d2d81446","name":"Supabase - add tags","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1140,260],"executeOnce":false,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"G4 Educação"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c6d457e0-145c-4e44-8d00-c66ddfe5ba39","leftValue":"={{ $json.id }}","rightValue":0,"operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"or"},"options":{}},"id":"2c4c7e99-0903-42e4-b4a2-103d00561b84","name":"Tem mensagens?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-2140,-60]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"message","separateBy":", "},{"aggregation":"concatenate","field":"reaction","separateBy":", "},{"aggregation":"concatenate","field":"=message_prepared","separateBy":", "}]},"options":{}},"id":"fc546522-5c76-45b5-8323-4468785bf049","name":"Summarize","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[-1620,40]},{"parameters":{"assignments":{"assignments":[{"id":"8af83b12-e2a5-4118-8cdd-e27dfcce4685","name":"interações","value":"=Mensagens: {{ $json.concatenated_message.replaceAll(\"\\n\", \"\") }}","type":"string"}]},"options":{}},"id":"e7268089-f36a-4086-9361-c206ff58d42d","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-1400,40]},{"parameters":{"assignments":{"assignments":[{"id":"930f9b7e-fce5-4a45-a57f-5314581e3a6d","name":"message_prepared","value":"={{ $json.message ? $json.message.replaceAll(\"\\n\", \"\") : $json.reaction }}{{ $json.response_to ? \". Answer to: \" + $json.response_to: \"\" }} ","type":"string"},{"id":"3514451d-a0ab-4794-92ed-04229b24e4b2","name":"message","value":"={{ $json.message }}","type":"string"},{"id":"3bb956cc-6134-424e-8360-18d7cbe7c5b6","name":"reaction","value":"={{ $json.reaction }}","type":"string"}]},"options":{}},"id":"63e0d7c5-acd5-4d17-b0af-8207f23400de","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-1840,40]},{"parameters":{"operation":"update","tableId":"Interactions","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"processed","fieldValue":"=true"}]}},"id":"77388cb6-038a-4c7d-a502-6fb98e06a74c","name":"Supabase3","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1620,-420],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"G4 Educação"}}},{"parameters":{"operation":"getAll","tableId":"Interactions","returnAll":true,"filters":{"conditions":[{"keyName":"processed","condition":"is","keyValue":"null"}]}},"id":"ed2796a8-3471-4fec-9bd1-55888d2aceda","name":"Supabase - get all messages1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1840,-280],"alwaysOutputData":true,"executeOnce":true,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"G4 Educação"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list","cachedResultName":"GPT-3.5-TURBO"},"messages":{"values":[{"content":"VocÊ vai receber uma lista de mensagens e vai separar os interesses desse usuário. Precisamos entender suas dores, seus desejos, suas necessidades, tentativas, do que ele gosta, se ele está ensinando algo para alguém...\n\nSepare os conteúdos em categorias e seu conteúdo analiosade deve ser em formato de texto curto\n\nMe de uma lista com categorias contendo todas as informações relevantes das interações deste usuário, \nIgnore todas as mensagens sem conteúdo relevante para a comunidade, ou de interações vazias ou risadas.\n\n\ncaso tenha algo escrito \"answer to:\" quer dizer que a mensagem anterior a isso é uma resposta do usuário para a mensagem de outro usuário que vem depois disso. \nportanto, foque no conteúdo da mensagem antes do \"answer to:\"\n\nVocê precisa resumir todos os conteúdos em no máximo um parágrafo curto, então seja breve em cada ponto. Use poucas e precisas palavras.\n","role":"system"},{"content":"={{ $('Edit Fields1').item.json['interações'] }}"}]},"options":{}},"id":"1fa66f78-bc88-4451-857d-6cf8034cb3a0","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[-1840,260],"notesInFlow":true,"executeOnce":true,"credentials":{"openAiApi":{"id":"neTK4UBDC4tLBdAV","name":"G4 educação"}},"notes":"Resume os conteúdos do dia"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list","cachedResultName":"GPT-3.5-TURBO"},"messages":{"values":[{"content":"Você precisa tagear os conteúdos e identificar os desejos, necessidades, qualidades, conhecimentos dessa pessoa. Entenda o seu perfil e informe em um formato de lista simples com categorias","role":"system"},{"content":"={{ $json.message.content }}."}]},"options":{}},"id":"f1b4a622-fee1-4f08-bfd2-fb83446d7bcb","name":"OpenAI1","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[-1460,260],"notesInFlow":true,"executeOnce":true,"credentials":{"openAiApi":{"id":"neTK4UBDC4tLBdAV","name":"G4 educação"}},"notes":"tag contents"},{"parameters":{"height":501.84784736314236,"width":900.5631336265228,"color":4},"id":"07ac608a-0bc4-414f-8ee1-2a1ec4cee309","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1900,-48]},{"parameters":{"height":370.52594180100095,"width":449.56400923041554,"color":6},"id":"976b15ae-466b-4086-8a1d-655348437fd9","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1880,-472.15406724592435]},{"parameters":{"height":298.3718745550766,"width":422.26247027249826,"color":7},"id":"f5929e6b-4e38-4d43-9db4-39b2b253e464","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2380,-140]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.comando }}","rightValue":"!atualizar","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"atualizar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"75b17b5f-5d4b-40a6-8ec8-d15b3b3b147d","leftValue":"={{ $json.comando }}","rightValue":"!threads","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"threads"}]},"options":{}},"id":"6d14ab95-36fa-4c97-9a1f-5c51860af37f","name":"Switch1","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-3200,300]},{"parameters":{"assignments":{"assignments":[{"id":"260b4232-3b4a-4118-9cde-757090b2b1d4","name":"messages","value":"={{ $json.user_name }}: {{ $json.message }}","type":"string"},{"id":"7c64f8d1-f295-440e-aa5f-1322cf6684d1","name":"contas_engajadas","value":"={{ $json.unique_count_whatsapp }}","type":"string"}]},"options":{}},"id":"1b81c75c-0a13-4fd3-8fb9-00661699b77a","name":"Edit Fields7","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-2300,840]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"8b500d4d-51b3-449f-b6e1-47c7d29a7f3c","leftValue":"={{ $json.message }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"510b5d11-7401-49b7-83a5-d2b1b51154a7","name":"Filter","type":"n8n-nodes-base.filter","typeVersion":2,"position":[-2640,560],"notesInFlow":true,"notes":"pego só mensagens"},{"parameters":{"operation":"getAll","tableId":"Interactions","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"created_at","condition":"gte","keyValue":"={{ \n  (() => {\n    const date = new Date();\n    date.setDate(date.getDate() - 1); // Subtrai um dia\n    date.setHours(date.getHours() - 3); // Ajusta a hora para GMT-3\n    return date.toISOString().split('T')[0];\n  })() \n}}\n"},{"keyName":"group_id","condition":"eq","keyValue":"={{ $('When chat message received').item.json.group }}"}]}},"id":"804c45ac-6e93-4346-b79c-c9a1aab073ab","name":"Supabase - get daily","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2860,720],"alwaysOutputData":true,"notesInFlow":true,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"G4 Educação"}},"notes":"mensagens do dia"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"messages"}]},"options":{}},"id":"0e3a99d2-b0b2-438e-ae63-19517ca93986","name":"Summarize2","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[-1960,840]},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/Sincron","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('When chat message received').item.json.sendto }}"},{"name":"textMessage.text","value":"=*Bom dia pessoal! Testando novos modelos de Newsletter. Seu feedback será muito útil* 😍\n\n{{ $json.message.content.replaceAll(\"**\", \"*\") }}"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"561b547b-38a3-414b-8af4-bd1643d7abf0","name":"msg_user","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-1420,1440],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}}},{"parameters":{"batchSize":50,"options":{}},"id":"9b41f862-405f-48a3-a1b9-f3fe83100d3a","name":"Loop Over Items2","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2140,840]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"append","field":"message.content"}]},"options":{}},"id":"bae97c29-c675-43f2-a508-28adc81ff396","name":"Summarize3","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[-2800,1600]},{"parameters":{"assignments":{"assignments":[{"id":"ad68118f-3197-4032-9bcf-827535010405","name":"concatenated_messages","value":"={{ $json.appended_message_content.map((item, index) => `${item}`).join('\\n') }}\n","type":"string"},{"id":"e383c863-be81-412f-9558-fd46cb9f4bb9","name":"\"part1...\"","value":"={{ $json.appended_message_content.map((item, index) => `part ${index + 1}.${item}`).join('\\n') }}","type":"string"}]},"options":{}},"id":"b8ea64ff-b0bf-4504-862d-1299797e696d","name":"Edit Fields8","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-2660,1600]},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"created_at"}]},"options":{}},"id":"26f7c02c-4606-4388-83a9-97012b515e56","name":"Sort","type":"n8n-nodes-base.sort","typeVersion":1,"position":[-2480,560],"retryOnFail":false,"notesInFlow":true,"notes":"coloco em ordem"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"message.content.tags_de_interesse"}]},"options":{}},"id":"9324ece7-25de-4a18-b0e7-31b9b8ce11ab","name":"Summarize4","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[-1780,2020],"disabled":true},{"parameters":{},"id":"74bbbd68-1628-4702-b9b3-a73932bce8d6","name":"Merge2","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[-2460,840]},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"messages","order":"descending"}]},"options":{}},"id":"7ed799d9-f335-4f93-bb3e-c0d113676d85","name":"Sort1","type":"n8n-nodes-base.sort","typeVersion":1,"position":[-1320,1600],"disabled":true},{"parameters":{"maxItems":5},"id":"4bf1b4f5-0f4b-4e27-9ee7-e60b3916c03e","name":"Limit","type":"n8n-nodes-base.limit","typeVersion":1,"position":[-1160,1600],"disabled":true},{"parameters":{"operation":"getAll","tableId":"Statistics","returnAll":true,"filters":{"conditions":[{"keyName":"group_id","condition":"eq","keyValue":"={{ $('When chat message received').item.json.group }}"}]}},"id":"f948a0eb-a83c-428f-9b95-a8dd81c9d9aa","name":"Supabase - get usersss","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1620,1600],"executeOnce":true,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"G4 Educação"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"6b585435-63ff-4f6a-bf1c-debcdc57c7f7","leftValue":"={{ $json.name }}","rightValue":"André Prado","operator":{"type":"string","operation":"notEquals"}},{"id":"2a4eecb8-d58c-4029-8cc7-1a1902f8e2fc","leftValue":"={{ $json.name }}","rightValue":"Felipe Raitano","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"18196f34-d740-4aaa-8706-c87118478c57","name":"Filter1","type":"n8n-nodes-base.filter","typeVersion":2,"position":[-1480,1600],"disabled":true},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"append","field":"name"},{"aggregation":"append","field":"messages"}]},"options":{}},"id":"a432face-bf8f-41e0-946f-b3cd7a3751a1","name":"Summarize6","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[-2800,1800],"disabled":true},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/Sincron","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('When chat message received').item.json.sendto }}"},{"name":"textMessage.text","value":"={{ $json.message.content }}"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"70274e06-34b9-4c36-afca-28a0a116613f","name":"msg_user1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-1620,2220],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}},"disabled":true},{"parameters":{"method":"POST","url":"https://api.sincronia.digital/message/sendPoll/Sincron","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('When chat message received').item.json.sendto }}\",\n  \"options\": {\n    \"delay\": 123,\n    \"presence\": \"composing\"\n  },\n  \"pollMessage\": {\n    \"name\": \"Por qual dos assuntos de ontem você mais se interessou? (teste de enquete automatizada)\",\n    \"selectableCount\": 1,\n    \"values\": {{ $json[\"concatenated_message_content_tags_de_interesse\"]}}\n  }\n}","options":{}},"id":"ca13dc5f-b097-4199-82f6-8b0e2c5059cc","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1620,2020],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}},"disabled":true},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"countUnique","field":"whatsapp"},{"field":"whatsapp"}]},"options":{}},"id":"320afde1-5738-4ee0-b337-9b282811d24a","name":"msg counter","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[-2640,860]},{"parameters":{"assignments":{"assignments":[{"id":"fb8c32a2-9306-43b9-9b01-5a659eab6241","name":"group","value":"={{ $json.group }}","type":"string"}]},"options":{}},"id":"2cfd3ecf-9589-4881-b0ea-2c6afc1ca9e5","name":"pego_grupo","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-3620,720]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list","cachedResultName":"GPT-3.5-TURBO"},"messages":{"values":[{"content":"=Apenas pergunte algo parecido com \"E como tá o projeto de vocês pessoal? Alguém tá precisando de alguma ajuda?\"\nfaça variações distintas, como \"alguém precisa de ajuda em alguma coisa? Responde aqui com a sua dúvida\"\n\nfaça sempre variações diferentes para essa pergunta incentivando a interação dos usuários do grupo.\n\nmande apenas uma vez a mensagem. Ela será enviada diretamente no grupo","role":"system"}]},"options":{}},"id":"f122b968-b01e-4e55-9e40-087b072d94b2","name":"OpenAI8","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[-2280,2220],"executeOnce":true,"credentials":{"openAiApi":{"id":"neTK4UBDC4tLBdAV","name":"G4 educação"}},"disabled":true},{"parameters":{"modelId":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list","cachedResultName":"GPT-3.5-TURBO"},"messages":{"values":[{"content":"você receberá as principais conversas da comunidade e sua função é informar algumas das principais tags de interesse. formate em um array tags_de_interesse em json \n\nuse no máximo 5 tags e priorize assuntos de desenvolvimento, crescimento. Assuntos polemicos ou de contexto negativo elimine","role":"system"},{"content":"={{ $('Edit Fields8').item.json.concatenated_messages }}"}]},"jsonOutput":true,"options":{}},"id":"ca867e3a-2851-4821-aed0-46927d096c53","name":"OpenAI6","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[-2280,2020],"credentials":{"openAiApi":{"id":"neTK4UBDC4tLBdAV","name":"G4 educação"}},"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"a96db31d-17d4-450a-9320-3c940fe6858e","name":"topicos","value":"=Principais tópicos que rolaram aqui no grupo {{ $('Supabase - get daily').first().json[\"group_name\"] }}","type":"string"},{"id":"d75f9074-6ce7-4e7c-9481-5e8e2d394ad8","name":"reforce","value":"dicas, tutoriais, ajudas, conteudo técnico, anúncios negócios e oportunidades","type":"string"},{"id":"2244ed7b-20d7-4724-b14a-f7f4fb2de920","name":"ignore","value":"saudações, interações sem conteúdo coerente, polêmicas e discussões agressivas","type":"string"},{"id":"af2f1a0b-a869-4170-95f4-41470fe18b9c","name":"group_name","value":"={{ $('Merge2').first().json.group_name }}","type":"string"}]},"options":{}},"id":"5a1a8c26-349a-4efb-8cf6-2b47e5736e13","name":"Arguments","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-2180,1440]},{"parameters":{"operation":"getAll","tableId":"links","limit":10,"matchType":"allFilters","filters":{"conditions":[{"keyName":"created_at","condition":"gte","keyValue":"={{ \n  (() => {\n    const date = new Date();\n    date.setDate(date.getDate() - 6); // Subtrai um dia\n    date.setHours(date.getHours() - 3); // Ajusta a hora para GMT-3\n    return date.toISOString().split('T')[0];\n  })() \n}}\n"},{"keyName":"group_id","condition":"eq","keyValue":"={{ $('pego_grupo').item.json.group }}"}]}},"id":"70b158f9-9ff6-4239-ab8c-c19224eddb80","name":"Supabase","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3640,1020],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"G4 Educação"}}},{"parameters":{"assignments":{"assignments":[{"id":"ad68118f-3197-4032-9bcf-827535010405","name":"links","value":"=*Principais links da semana*\n\n{{ $('Summarize5').item.json[\"appended_link\"][0] }} - {{ $('Summarize5').item.json[\"appended_context\"][0] }}\n\n{{ $('Summarize5').item.json[\"appended_link\"][1] }} - {{ $('Summarize5').item.json[\"appended_context\"][1] }}\n\n{{ $('Summarize5').item.json[\"appended_link\"][2] }} - {{ $('Summarize5').item.json[\"appended_context\"][2] }}\n\n{{ $('Summarize5').item.json[\"appended_link\"][3] }} - {{ $('Summarize5').item.json[\"appended_context\"][3] }}\n\n{{ $('Summarize5').item.json[\"appended_link\"][4] }} - {{ $('Summarize5').item.json[\"appended_context\"][4] }}\n\n*Mostramos aqui os principais links da semana. Para facilitar na criação da lista, sempre curtam os links importantes e para postar, escrevam na mensagem uma descrição que ajude a identificar o contexto do link*","type":"string"},{"id":"58b3f961-09b4-4154-89db-a03839f7fe3d","name":"group_name","value":"={{ $('Supabase').first().json.group_name }}","type":"string"}]},"options":{}},"id":"bb8f2b32-131c-42a4-8890-8682f9655c0d","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-3140,1020]},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"pontos","order":"descending"}]},"options":{}},"id":"1600e9c9-3433-44ad-8e87-ba90fe68622d","name":"Sort2","type":"n8n-nodes-base.sort","typeVersion":1,"position":[-3480,1020],"retryOnFail":false,"notesInFlow":true,"notes":"coloco em ordem"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"append","field":"link"},{"aggregation":"append","field":"context"}]},"options":{}},"id":"f0deac67-df88-40a5-a677-1d9de2513306","name":"Summarize5","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[-3320,1020]},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/Sincron","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('When chat message received').item.json.sendto }}"},{"name":"textMessage.text","value":"={{ $json.message.content.replaceAll(\"**\", \"*\") }}"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"e20c75c1-3253-4829-84d6-d8d96d821604","name":"msg_user2","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-3280,1220],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list","cachedResultName":"GPT-3.5-TURBO"},"messages":{"values":[{"content":"=Você cria uma mensagem informando os principais links da semana, colocando um emoji a frente de cada um deles e dando um breve resumo sobre o conteúdo deste link\n\nSua saída deve ser parecida com isto:\n\n*Principais links da semana no grupo  {{ $json.group_name }}:*\n\nhttps://link... - taltal e tal\nhttps://link... - taltal e tal\n\nseguindo de uma mensagem para ajudar a criação da lista","role":"system"},{"content":"={{ $('Edit Fields').item.json.links }}"}]},"options":{}},"id":"e27300a9-af39-4405-a7c6-0f776bc8b67d","name":"OpenAI9","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[-3640,1220],"credentials":{"openAiApi":{"id":"neTK4UBDC4tLBdAV","name":"G4 educação"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list","cachedResultName":"GPT-3.5-TURBO"},"messages":{"values":[{"content":"=você lê todas as mensagens enviadas no dia em um grupo do whatsapp\nsua função é categorizar os principais assuntos do dia, quais as principais threads discutidas e que foi dito em cada um dos pontos. Mostre o resumo de cada ponto, enfatizando a solução ou link que possam ter indicado","role":"system"},{"content":"=grupo: {{ $('Merge2').first().json.group_name }}\n{{ $('Edit Fields8').item.json.concatenated_messages }}"}]},"options":{}},"id":"a69d241d-3008-4b32-91a2-8a666556ab22","name":"OpenAI5","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[-2280,1600],"credentials":{"openAiApi":{"id":"neTK4UBDC4tLBdAV","name":"G4 educação"}},"disabled":true},{"parameters":{"public":true,"initialMessages":"Olá! 👋\nDigite o comando para iniciar o bot","options":{}},"id":"5d4bed16-d2e9-4bf9-af76-294d2995f75a","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1,"position":[-3440,300],"webhookId":"4ccdca7f-1661-4923-9ee4-12df0269699d"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list","cachedResultName":"GPT-3.5-TURBO"},"messages":{"values":[{"content":"=você lê todas as mensagens enviadas no dia em um grupo do whatsapp\nsua função é categorizar os principais assuntos do dia, quais as principais threads discutidas e que foi dito em cada um dos pontos. Mostre o resumo de cada ponto, enfatizando a solução ou link que possam ter indicado.\n\nEntregue a #newsletter de hoje no grupo.\nos assuntos tratados são os que o usuário te enviará. Você precisa fazer um resumo das interações para cada thread do grupo. \n\n- Inclua dentro do resumo em um parágrafo único o nome dos usuários, os assuntos, as conclusões e se tiver links ou sugestões dadas inclua também. Faça tudo isso em um único parágrafo para cada tópico, pontuando cada thread com um emoji\n\n- Inclua emojis em todos os tópicos\n\n- Use sempre *negrito* para personalizar a mensagem, troque o markdown com #hashtag por *titulos em negrito*\n\n{{ $('Arguments').item.json.reforce ? \"- é interessante ter no resumo conteúdos desse tipo: \" + $('Arguments').item.json.reforce : \"\" }}\n\n{{ $('Arguments').item.json.ignore ? \"- elimine completamente no resumo conteúdos desse tipo: \" + $('Arguments').item.json.ignore : \"\" }}","role":"system"},{"content":"={{ $json[\"topicos\"] }}\n{{ $('Edit Fields8').item.json.concatenated_messages }}\n\nPara análise dos tópicos:\n- Separe diferentes assuntos em diferentes tópicos\n- Inclua emojis em todos os tópicos\n- é interessante saber o que foi dito por tema e trazer um contexto com a solução \n- incluir insights sobre participações dos usuários, como tópicos discutidos e perguntas mais frequentes\n- expanda cada tópico em um item, separe cada parte no máximo de tópicos que conseguir "}]},"options":{}},"id":"bd9340c1-e49d-4bc2-8f8d-f46d6a47192e","name":"OpenAI7","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[-1800,1440],"executeOnce":true,"credentials":{"openAiApi":{"id":"neTK4UBDC4tLBdAV","name":"G4 educação"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list","cachedResultName":"GPT-3.5-TURBO"},"messages":{"values":[{"content":"você lê todas as mensagens enviadas no dia em um grupo do whatsapp\nsua função é categorizar esses assuntos da seguinte forma:\n\nvocê vai gerar um resumo das mensagens e threads discutidas. É interessante que as threads principais sejam interessantes e positivas para os interesses e negócios dos usuários e não polêmicas.\n\nMostre o que os usuários disseram, seus debates e insights sobre os conteúdos dentro de um curto parágrafo para cada tópico\n\nelimine saudações e mensagens sem sentido no contexto do tópico\n","role":"system"},{"content":"={{ $json.concatenated_messages }}"}]},"options":{}},"id":"11386815-b686-465f-aa39-342b76849846","name":"OpenAI4","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[-2280,1100],"credentials":{"openAiApi":{"id":"neTK4UBDC4tLBdAV","name":"G4 educação"}}}],"connections":{"Supabase - get all users":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Supabase - get all messages1","type":"main","index":0}],[{"node":"Supabase - get all messages","type":"main","index":0}]]},"Supabase - get all messages":{"main":[[{"node":"Tem mensagens?","type":"main","index":0}]]},"Supabase - add tags":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Tem mensagens?":{"main":[[{"node":"Edit Fields2","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Summarize":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Supabase - get all messages1":{"main":[[{"node":"Supabase3","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"Supabase - add tags","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Supabase - get all users","type":"main","index":0}],[{"node":"pego_grupo","type":"main","index":0}]]},"Edit Fields7":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Sort","type":"main","index":0}]]},"Supabase - get daily":{"main":[[{"node":"msg counter","type":"main","index":0},{"node":"Filter","type":"main","index":0}]]},"Summarize2":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Loop Over Items2":{"main":[[{"node":"OpenAI4","type":"main","index":0}],[{"node":"Summarize2","type":"main","index":0}]]},"Summarize3":{"main":[[{"node":"Edit Fields8","type":"main","index":0}]]},"Edit Fields8":{"main":[[{"node":"Arguments","type":"main","index":0}]]},"Sort":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Summarize4":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Edit Fields7","type":"main","index":0}]]},"Sort1":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Supabase - get usersss":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"Sort1","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Summarize6","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"OpenAI8","type":"main","index":0}]]},"msg counter":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"pego_grupo":{"main":[[{"node":"Supabase - get daily","type":"main","index":0}]]},"OpenAI8":{"main":[[{"node":"msg_user1","type":"main","index":0}]]},"OpenAI6":{"main":[[{"node":"Summarize4","type":"main","index":0}]]},"Arguments":{"main":[[{"node":"OpenAI7","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"Sort2","type":"main","index":0}]]},"Sort2":{"main":[[{"node":"Summarize5","type":"main","index":0}]]},"Summarize5":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"OpenAI9","type":"main","index":0}]]},"OpenAI9":{"main":[[{"node":"msg_user2","type":"main","index":0}]]},"OpenAI5":{"main":[[{"node":"Supabase - get usersss","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"OpenAI7":{"main":[[{"node":"msg_user","type":"main","index":0}]]},"OpenAI4":{"main":[[{"node":"Summarize3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When chat message received":[{"json":{"comando":"!threads","group":"120363168792712167","sendto":"5519994317797"}}]},"versionId":"84a0ad91-5001-4d1f-a326-e41dc7c71ca0","triggerCount":2,"tags":[{"createdAt":"2024-06-28T01:48:57.012Z","updatedAt":"2024-06-28T01:48:57.012Z","id":"QIHXx0gwoBEXkYoa","name":"G4"}]}