mga---user-tracker.json
{"createdAt":"2024-06-26T20:44:37.568Z","updatedAt":"2024-07-19T17:35:17.536Z","id":"mc6wR8aUavnFfbrV","name":"MGA - user tracker","active":true,"nodes":[{"parameters":{"content":"## Gatilho do fluxo via API de Whatsapp\nE guarda as variáveis para consulta do fluxo","height":300.16497355008175,"width":381.11394614486005,"color":4},"id":"bfae5037-99fd-4a5c-8d30-ade65f9bc036","name":"Sticky Note18","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1320,-1080]},{"parameters":{"tableId":"interactions","fieldsUi":{"fieldValues":[{"fieldId":"whatsapp","fieldValue":"={{ $('variaveis').item.json.whatsapp }}"},{"fieldId":"message","fieldValue":"={{ $('variaveis').item.json.user_message }}"},{"fieldId":"chat_id","fieldValue":"={{ $('variaveis').item.json.grupo.split(\"@\")[0] }}"},{"fieldId":"group_name","fieldValue":"={{ $('get_group_info').item.json.subject }}"},{"fieldId":"user_name","fieldValue":"={{ $('variaveis').item.json.name }}"},{"fieldId":"response_to","fieldValue":"={{ $('Supabase1 - id resposta').item.json.message }}"},{"fieldId":"message_id","fieldValue":"={{ $('Webhook').item.json.body.data.key.id }}"}]}},"id":"e0df8662-81ad-4ee1-94f0-4af7e37870f5","name":"Supabase","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[620,200],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"tableId":"interactions","fieldsUi":{"fieldValues":[{"fieldId":"whatsapp","fieldValue":"={{ $('variaveis').item.json.whatsapp }}"},{"fieldId":"chat_id","fieldValue":"={{ $('variaveis').item.json.grupo.split(\"@\")[0] }}"},{"fieldId":"group_name","fieldValue":"={{ $('get_group_info').item.json.subject }}"},{"fieldId":"reaction","fieldValue":"={{ $('Webhook').item.json.body.data.message.reactionMessage.text }}"},{"fieldId":"user_name","fieldValue":"={{ $('variaveis').item.json.name }}"},{"fieldId":"response_to","fieldValue":"={{ $('Supabase1 - id resposta').item.json.message }}"},{"fieldId":"message_id","fieldValue":"={{ $('Webhook').item.json.body.data.key.id }}"}]}},"id":"1b0c73ec-7590-47ec-9d16-3cb5adbf1404","name":"Supabase1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[980,-340],"executeOnce":true,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"identifique do que se trata a imagem e transforme em uma breve mensagem escrita, começando por imagem: ... seguido da descrição da imagem em um curto parágrafo de no máximo duas linhas\"\n        },\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"data:image/jpeg;base64,{{ $('variaveis').item.json['img_base64'] }}\"\n          }\n        }\n      ]\n    }\n  ],\n  \"max_tokens\": 300\n}\n","options":{}},"id":"9ffc18ea-1b9e-4838-9a63-80adae90fbc7","name":"Vision - gpt-4o","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[620,20],"credentials":{"openAiApi":{"id":"neTK4UBDC4tLBdAV","name":"G4 educação"}}},{"parameters":{"tableId":"interactions","fieldsUi":{"fieldValues":[{"fieldId":"whatsapp","fieldValue":"={{ $('variaveis').item.json.whatsapp }}"},{"fieldId":"message","fieldValue":"={{ $('variaveis').item.json.user_message }}{{ $json.choices[0].message.content }}"},{"fieldId":"chat_id","fieldValue":"={{ $('variaveis').item.json.grupo.split(\"@\")[0] }}"},{"fieldId":"group_name","fieldValue":"={{ $('get_group_info').item.json.subject }}"},{"fieldId":"user_name","fieldValue":"={{ $('variaveis').item.json.name }}"},{"fieldId":"response_to","fieldValue":"={{ $('Supabase1 - id resposta').item.json.message }}"},{"fieldId":"message_id","fieldValue":"={{ $('Webhook').item.json.body.data.key.id }}"}]}},"id":"6104104f-4b9e-40fd-8cec-1fde835f99b9","name":"Supabase7","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[800,20],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"fileName":"audio","mimeType":"={{ $json.mimetype }}"}},"id":"5ffb6ce1-325f-460b-94ae-f3765a0be70d","name":"Convert to File1","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[800,-160],"executeOnce":false},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/chat/getBase64FromMediaMessage/Sincron","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $('Webhook').item.json[\"body\"][\"data\"][\"key\"][\"id\"] }}\"\n    }\n  },\n  \"convertToMp4\": true\n}","options":{"redirect":{"redirect":{}}}},"id":"5c7a5f7b-24a5-41c4-9fec-616371ae1959","name":"pega mp4 do audio3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[620,-160],"retryOnFail":true,"maxTries":2,"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}},"onError":"continueErrorOutput"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"ef79756f-59c2-4931-9f30-3dd1c8d9fcd4","name":"Transcrever audio","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[980,-160],"credentials":{"openAiApi":{"id":"K8FfxMZ9IgSFVC2G","name":"FURIA - Pantero"}}},{"parameters":{"tableId":"interactions","fieldsUi":{"fieldValues":[{"fieldId":"whatsapp","fieldValue":"={{ $('variaveis').item.json.whatsapp }}"},{"fieldId":"message","fieldValue":"=audio: {{ $json.text }}"},{"fieldId":"chat_id","fieldValue":"={{ $('variaveis').item.json.grupo.split(\"@\")[0] }}"},{"fieldId":"group_name","fieldValue":"={{ $('get_group_info').item.json.subject }}"},{"fieldId":"user_name","fieldValue":"={{ $('variaveis').item.json.name }}"},{"fieldId":"response_to","fieldValue":"={{ $('Supabase1 - id resposta').item.json.message }}"},{"fieldId":"message_id","fieldValue":"={{ $('Webhook').item.json.body.data.key.id }}"}]}},"id":"5fd0d6a6-44f4-46b1-b215-79f2698212c8","name":"Supabase8","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1160,-160],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/chat/findMessages/{{ $('variaveis').item.json.instance_evolution }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"where\": {\n    \"key\": {\n      \"remoteJid\": \"{{ $('Webhook').item.json.body.data.message.reactionMessage.key.id }}\"\n    }\n  }\n}","options":{}},"id":"2f85bf3a-2d32-4ebc-a4f1-b8fac1626896","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[620,-340],"notesInFlow":true,"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}},"notes":"MSG info"},{"parameters":{"operation":"getAll","tableId":"interactions","limit":1,"filters":{"conditions":[{"keyName":"message_id","condition":"eq","keyValue":"={{ $('Webhook').item.json.body.data.message.extendedTextMessage.contextInfo.stanzaId ? $('Webhook').item.json.body.data.message.extendedTextMessage.contextInfo.stanzaId : ($('Webhook').item.json.body.data.message.reactionMessage.key.id ? $('Webhook').item.json.body.data.message.reactionMessage.key.id : $('Webhook').item.json.body.data.message.audioMessage.contextInfo.stanzaId) }} "}]}},"id":"610df001-ffee-4232-86ba-e77495ece89f","name":"Supabase1 - id resposta","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[840,-980],"alwaysOutputData":true,"notesInFlow":true,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}},"notes":"puxa a mensagem respondida (se houver)"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"0b745d62-74d5-4c62-8583-1ee1296f3457","leftValue":"={{ $json.message.reactionMessage.key.id }}","rightValue":"={{ $('Webhook').item.json.body.data.message.reactionMessage.key.id }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"2ac826d3-812e-48ed-8fb3-7664293de8db","name":"Filter1","type":"n8n-nodes-base.filter","typeVersion":2,"position":[800,-340]},{"parameters":{"workflowId":"4qhqFLqSXhgWmILg","options":{}},"id":"306f1eeb-53f8-4542-ad27-f80b209d0bd6","name":"Execute Workflow","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[-1260,-760]},{"parameters":{"tableId":"statistics","fieldsUi":{"fieldValues":[{"fieldId":"whatsapp","fieldValue":"={{ $('variaveis').item.json.whatsapp }}"},{"fieldId":"name","fieldValue":"={{ $('variaveis').item.json.name }}"},{"fieldId":"chat_id","fieldValue":"={{ $('variaveis').item.json.grupo.split(\"@\")[0] }}"}]}},"id":"e41ba42b-8a15-4cd9-b5d9-dd658d5e641e","name":"Supabase11","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[360,-820],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"update","tableId":"statistics","matchType":"allFilters","filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $('variaveis').item.json.whatsapp }}"},{"keyName":"chat_id","condition":"eq","keyValue":"={{ $('variaveis').item.json.grupo.split(\"@\")[0] }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"group_name","fieldValue":"={{ $('get_group_info').item.json.subject }}"},{"fieldId":"reactions","fieldValue":"={{ $('Supabase - busca linha estatistica').item.json.reactions + 1 }}"}]}},"id":"25d27c0b-8395-493f-a514-80c031ca02d9","name":"Supabase12","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1160,-340],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"getAll","tableId":"statistics","limit":1,"matchType":"allFilters","filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $json.whatsapp }}"},{"keyName":"chat_id","condition":"eq","keyValue":"={{ $('variaveis').item.json.grupo.split(\"@\")[0] }}"}]}},"id":"b2db0b66-ea9a-4dd7-8309-afc005d8258c","name":"Supabase - busca linha estatistica","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[160,-960],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"update","tableId":"statistics","matchType":"allFilters","filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $('variaveis').item.json.whatsapp }}"},{"keyName":"chat_id","condition":"eq","keyValue":"={{ $('variaveis').item.json.grupo.split(\"@\")[0] }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"group_name","fieldValue":"={{ $('get_group_info').item.json.subject }}"},{"fieldId":"messages","fieldValue":"={{ $('Supabase - busca linha estatistica').item.json.messages + 1 }}"},{"fieldId":"name","fieldValue":"={{ $('variaveis').item.json.name }}"}]}},"id":"0666ffca-c197-4433-acc2-42c7e9c49576","name":"Supabase13","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1340,-160],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"update","tableId":"statistics","matchType":"allFilters","filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $('variaveis').item.json.whatsapp }}"},{"keyName":"chat_id","condition":"eq","keyValue":"={{ $('variaveis').item.json.grupo.split(\"@\")[0] }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"group_name","fieldValue":"={{ $('get_group_info').item.json.subject }}"},{"fieldId":"messages","fieldValue":"={{ $('Supabase - busca linha estatistica').item.json.messages + 1 }}"},{"fieldId":"name","fieldValue":"={{ $('variaveis').item.json.name }}"}]}},"id":"e576bc0e-a10e-4328-a32a-511937784ada","name":"Supabase14","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[980,20],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"assignments":{"assignments":[{"id":"235f9e4c-4c17-42a3-a09f-1de701d30058","name":"user_whatsapp","value":"={{ $('Supabase10').item.json.whatsapp }}","type":"string"},{"id":"9fc96f31-8d65-4447-9662-18a302ff5f32","name":"user_name","value":"={{ $('Supabase16').last().json.name }}","type":"string"},{"id":"85bfc930-083f-4522-b258-038a58b49b5c","name":"user_tags","value":"={{ $('Supabase10').item.json.tags }}","type":"string"}]},"options":{}},"id":"785209b2-9005-4703-aa3d-43082367e34d","name":"Edit Fields7","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-400,-20]},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"group_name"},{"fieldToAggregate":"messages"},{"fieldToAggregate":"reactions"}]},"options":{"keepMissing":true}},"id":"4951a7e1-ace3-4ed2-90d5-566200c2f42a","name":"Aggregate2","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-560,160]},{"parameters":{"assignments":{"assignments":[{"id":"235f9e4c-4c17-42a3-a09f-1de701d30058","name":"user_whatsapp","value":"={{ $('Supabase17').item.json.whatsapp }}","type":"string"},{"id":"9fc96f31-8d65-4447-9662-18a302ff5f32","name":"user_name","value":"={{ $('Supabase18').last().json.name }}","type":"string"},{"id":"85bfc930-083f-4522-b258-038a58b49b5c","name":"user_tags","value":"={{ $('Supabase17').item.json.tags.replace(/[\\{\\}\\[\\]']/g, '') }}","type":"string"},{"id":"7b86cf7c-9848-4d3b-9597-b9069da51722","name":"formatado","value":"=*Grupo:* {{ $json.group_name }}\n\n{{ $json[\"messages\"] ? \"Mensagens: \" + $json[\"messages\"] : \"\"}} {{ $json[\"reactions\"] ? \", Interações: \" + $json[\"reactions\"] : \"\" }}\n","type":"string"}]},"options":{}},"id":"4e575e8e-fb31-4759-9923-b87135a01e0a","name":"Edit Fields8","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-240,160]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"formatado","separateBy":"\n"}]},"options":{}},"id":"236f1862-9be0-425e-a355-f8254005232e","name":"Summarize2","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[-80,160]},{"parameters":{"operation":"getAll","tableId":"users","returnAll":true,"filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $json.user_message.split(\" \")[1] }}"}]}},"id":"90b1f215-263c-4422-8791-3810f46b14b9","name":"Supabase10","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-880,-20],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"getAll","tableId":"statistics","returnAll":true,"filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $json.whatsapp }}"}]}},"id":"02a7044d-337f-4208-b996-9166c13227f8","name":"Supabase16","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-720,-20],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"dr6vro85PMJ0isBe","name":"Supabase account"}}},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"group_name","separateBy":"\n"}]},"options":{}},"id":"9d5e2f94-e4be-4472-8b10-0a62a5e5d653","name":"Summarize","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[-560,-20]},{"parameters":{"operation":"getAll","tableId":"users","returnAll":true,"filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $json.user_message.split(\" \")[1] }}"}]}},"id":"5b1d4ccd-3f1d-4eda-9743-dfbe2a4a0ee8","name":"Supabase17","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-880,160],"credentials":{"supabaseApi":{"id":"dr6vro85PMJ0isBe","name":"Supabase account"}}},{"parameters":{"operation":"getAll","tableId":"statistics","returnAll":true,"filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $json.whatsapp }}"}]}},"id":"0f7e482f-8b4b-42d9-a2d1-09adce09d28a","name":"Supabase18","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-720,160],"credentials":{"supabaseApi":{"id":"dr6vro85PMJ0isBe","name":"Supabase account"}}},{"parameters":{"fieldToSplitOut":"group_name, messages, reactions","options":{}},"id":"3b21d548-ef8c-469b-a408-f851950c2a8b","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-400,160]},{"parameters":{"content":"## Checa cadastro do usuário\ncaso não tenha, cria a entrada no bd","height":445.78326861611566,"width":461.467840124591,"color":7},"id":"c46c8ee5-640d-4854-bf74-2f9929234290","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-400,-1080]},{"parameters":{"operation":"getAll","tableId":"users","limit":1,"filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $json.whatsapp }}"}]}},"id":"66108405-9d91-44b4-a2b5-1ce5e21cbfbb","name":"Supabase - busco o usuário","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-300,-980],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"tableId":"users","fieldsUi":{"fieldValues":[{"fieldId":"whatsapp","fieldValue":"={{ $('variaveis').item.json.whatsapp }}"},{"fieldId":"name","fieldValue":"={{ $('variaveis').item.json.name }}"}]}},"id":"8199cdbf-f67e-477e-9f3d-3a8f83d6d0c3","name":"Supabase - cadastro usuário","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-140,-840],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"dd1d069d-7a6c-4f68-9228-1a703ef0400f","leftValue":"={{ $json.whatsapp }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"3e163e61-029e-427c-846c-a5e64c1fbc5c","name":"tem_cadastro","type":"n8n-nodes-base.if","typeVersion":2,"position":[-140,-980]},{"parameters":{"content":"## Checa entrada grupo/usuário\né preciso para contabilizar todos os grupos que o usuário esteja falando","height":445.78326861611566,"width":461.467840124591,"color":7},"id":"a4e10006-c1b2-4c4d-98d2-67953ba4ed92","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[100,-1080]},{"parameters":{"content":"## Busca informações\nPega informações do grupo e de possivel mensagem respondida","height":315.9856701672631,"width":402.1240241064658,"color":5},"id":"8733ed5a-5c2f-4a3c-90dd-130d47ab5be5","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[600,-1100]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"99e37adf-50d3-4e0c-9a52-f22942ae9306","leftValue":"={{ $('variaveis').item.json.user_message.split(\"\")[0] }}","rightValue":"!","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"c9a5e09e-0456-4031-867b-eec22aa1ad9e","name":"is_command","type":"n8n-nodes-base.if","typeVersion":2,"position":[-640,-820]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"9119acee-cf2a-43f6-b64f-d63fa3bc09a6","leftValue":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","rightValue":"g.us","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"id":"95316c45-0cc6-48dd-973b-6f6373414930","name":"is_group","type":"n8n-nodes-base.if","typeVersion":2,"position":[-820,-960]},{"parameters":{"operation":"getAll","tableId":"users","filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $('variaveis').item.json.user_message.split(\"@\")[1].substring(0, 10) }}"}]}},"id":"ce1cc778-80f2-48a1-bfae-f8a972a75a88","name":"Supabase - busca usuário","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[620,-640],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"content":"## Busca informações\nPega informações do grupo e de possivel mensagem respondida","height":325.62796441998967,"width":406.8130016981088,"color":4},"id":"8e8f8754-c3c9-4e3e-8129-cdef33614fc3","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[600,-751]},{"parameters":{"assignments":{"assignments":[{"id":"f3732173-de9d-4733-85e6-928109c99dc6","name":"=user_message","value":"={{ $json.user_message.replaceAll(\"\\n\", \"\") }}","type":"string"}]},"options":{}},"id":"a64c284c-87b6-4860-9c1b-d94ad7a8b1fb","name":"get_message","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-880,-480]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cc35dc2a-54ce-455e-a921-268c0c28a4a2","leftValue":"={{ $json.whatsapp }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"01acb61e-2573-40d1-8f07-9d7805e29a16","name":"grupo_usuario_cadastrado","type":"n8n-nodes-base.if","typeVersion":2,"position":[360,-960]},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/{{ $('Webhook').item.json.body.data.owner }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Webhook').first().json.body.data.key.remoteJid.split(\"@\")[0] }}"},{"name":"textMessage.text","value":"=*Comandos ativos para teste*\n\n*!user 5511999996622* - dá informações sobre o usuário\n*!statistics 5511999996622* - mostra algumas estatísticas sobre o usuário"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"fff277d3-aa87-443a-a844-656be9fb30a3","name":"msg_commands","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-880,-200],"executeOnce":true,"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}}},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/{{ $('Webhook').item.json.body.data.owner }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Webhook').first().json.body.data.key.remoteJid.split(\"@\")[0] }}"},{"name":"textMessage.text","value":"=*Informações do usuário*\n*{{ $json.user_name }}* -  {{ $json.user_whatsapp }}\n\n*Interesses:*\n{{ $json.user_tags }}\n\n"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"aa51890d-e6d8-4b6b-b5df-2cce6a90e9fe","name":"msg_user","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-240,-20],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}}},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/{{ $('Webhook').item.json.body.data.owner }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Webhook').first().json.body.data.key.remoteJid.split(\"@\")[0] }}"},{"name":"textMessage.text","value":"=*Estatísticas do usuário*\n*{{ $('Edit Fields8').last().json.user_name }}* - {{ $('Edit Fields8').last().json.user_whatsapp }}\n\n{{ $json.concatenated_formatado }}"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"51778c42-345f-448a-917b-6756b07cb998","name":"msg_stats","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[80,160],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}}},{"parameters":{"content":"## Envio de mensagens\nBusca e trata as informações para enviar mensagens","height":358.9602581839663,"width":460.5723353518027,"color":3},"id":"12f4718d-e65f-4593-b5cb-402cd6875e02","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-900,-600]},{"parameters":{"content":"## Checa se é grupo e se é comando\n","height":624.2284491248938,"width":461.467840124591,"color":6},"id":"2351954a-6df1-4642-aa90-1f71ef954cba","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-900,-1258.445180508778]},{"parameters":{"url":"=https://api.sincronia.digital/group/findGroupInfos/{{ $('variaveis').item.json.instance_evolution }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"groupJid","value":"={{ $('variaveis').item.json.grupo }}"}]},"options":{"redirect":{"redirect":{}}}},"id":"70dc4ccb-8fb6-4eee-abed-ec7eb9c66696","name":"get_group_info","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[660,-980],"notesInFlow":true,"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}},"notes":"puxa info do grupo"},{"parameters":{"assignments":{"assignments":[{"id":"005575be-15a4-4ab8-b7f3-eb548a5b7879","name":"whatsapp","value":"={{ $('Webhook').item.json[\"body\"][\"data\"][\"key\"][\"participant\"] ? $('Webhook').item.json[\"body\"][\"data\"][\"key\"][\"participant\"].split(\"@\")[0] : $json.body.data.key.remoteJid.split(\"@\")[0] }}","type":"string"},{"id":"b03dcd99-430a-44e0-8ec7-d18bf7ed5068","name":"user_message","value":"={{ $json.body.data.message.extendedTextMessage && $json.body.data.message.extendedTextMessage.text ? $json.body.data.message.extendedTextMessage.text : ($json.body.data.message.imageMessage && $json.body.data.message.imageMessage.caption ? $json.body.data.message.imageMessage.caption : ($json.body.data.message.conversation ? $json.body.data.message.conversation : $('Webhook').item.json.body.data.message.editedMessage.message.protocolMessage.editedMessage.extendedTextMessage.text)) }}\n","type":"string"},{"id":"a0d11d81-89d0-4594-ba57-c109b9598299","name":"instance_id","value":"=bu9qnq7ga1eo7085dc9w6","type":"string"},{"id":"947b6267-951c-46a2-a46c-2bfeeeeadc87","name":"msg_sent","value":"={{ $json.body.date_time }}","type":"string"},{"id":"b68930cd-4c56-4e9e-b210-7d088a83ef36","name":"assistant_id","value":"asst_z7suvl0dVsf5rNWeicAjt475","type":"string"},{"id":"05ae9849-52fb-471a-8abb-60aa77eeb52b","name":"Developer_Key","value":"AIzaSyBzYmCjdHAkg4X9GJKqthauxGJCUg6K71o","type":"string"},{"id":"48c1810c-e147-495f-be11-0f62692c3bf5","name":"name","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"27b515dd-b6a0-41fa-b79e-c58da772df3e","name":"assistant_version","value":"v1","type":"string"},{"id":"4caba8d0-3f79-4f35-876a-37e3546991b7","name":"msg_type","value":"={{ $json.body.event }}","type":"string"},{"id":"1ef43203-11fc-4242-9c54-188b9d558fa5","name":"msg_channel_type","value":"={{ $json.body.type }}","type":"string"},{"id":"70064ac6-acec-4581-bd96-6475a633d98d","name":"grupo","value":"={{ $json.body.data.key.remoteJid.split(\"@\")[0] }}","type":"string"},{"id":"f7633cfb-bfa0-4ebd-affd-da44872ba365","name":"instance_evolution","value":"Sincron","type":"string"},{"id":"e6b9b1d5-d793-4a95-a8c4-77dd80ef626d","name":"message_id","value":"={{ $json.body.data.key.id }}","type":"string"},{"id":"8819af21-9836-4cac-95e3-a77bc0cfdc9d","name":"imagem_url","value":"={{ $json.body.data.message.imageMessage.url }}","type":"string"},{"id":"95ef9e6f-d8df-4406-8a0e-938e207f29c1","name":"whats_participante","value":"={{ $json.body.data.key.participant.split(\"@\")[0] }}","type":"string"},{"id":"9e24de26-d7a5-418b-a14e-6350b4545138","name":"img_base64","value":"={{ $('Webhook').item.json.body.data.message.base64 }}","type":"string"},{"id":"c69cf6cd-dcf8-47a8-a564-5e29d4f70d99","name":"tipo","value":"={{ $json.body.data.message.base64 ? \"image\" : \"text\" }}","type":"string"},{"id":"66af3c28-b30d-41cd-b990-e8a0455b53e9","name":"tipoMidia","value":"={{ $('Webhook').item.json.body.data.messageType }}","type":"string"},{"id":"878e37e5-c135-4617-869e-5c59d8cdac88","name":"message_link","value":"={{ $json.body.data.message.extendedTextMessage.canonicalUrl }}","type":"string"},{"id":"c6d7d76b-57c4-425a-ac7c-a65462e3b8a9","name":"title_link","value":"={{ $json.body.data.message.extendedTextMessage.title }}","type":"string"},{"id":"1aa292b1-4b45-40b4-9c05-1a8683d8b110","name":"description_link","value":"={{ $json.body.data.message.extendedTextMessage.description }}","type":"string"},{"id":"9a213465-a754-459f-8df7-ed6bc465a105","name":"response_to","value":"={{ $('Webhook').item.json.body.data.message.extendedTextMessage.contextInfo.quotedMessage.conversation ? $('Webhook').item.json.body.data.message.extendedTextMessage.contextInfo.quotedMessage.conversation : $('Webhook').item.json.body.data.message.audioMessage.contextInfo.quotedMessage.conversation }}","type":"string"},{"id":"93553a5f-84be-4b25-a996-afea7a6c1d14","name":"quoted_image","value":"={{ $json.body.data.message.extendedTextMessage.contextInfo.quotedMessage.imageMessage.jpegThumbnail }}","type":"string"},{"id":"e4f9ec6a-13ce-457b-bbe5-38ee3d4e8e67","name":"","value":"","type":"string"}]},"options":{"ignoreConversionErrors":false}},"id":"875a1ec9-db48-45d9-b154-c273b5079ddc","name":"variaveis","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-1100,-960],"alwaysOutputData":false},{"parameters":{"operation":"update","tableId":"statistics","matchType":"allFilters","filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $('variaveis').item.json.whatsapp }}"},{"keyName":"chat_id","condition":"eq","keyValue":"={{ $('variaveis').item.json.grupo.split(\"@\")[0] }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"group_name","fieldValue":"={{ $('get_group_info').item.json.subject }}"},{"fieldId":"messages","fieldValue":"={{ $('Supabase - busca linha estatistica').item.json.messages + 1 }}"},{"fieldId":"name","fieldValue":"={{ $('variaveis').item.json.name }}"}]}},"id":"aa352658-eb28-41f7-9cf7-b6ff9a6fd909","name":"Supabase - update statistics","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[800,200],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"update","tableId":"statistics_daily","matchType":"allFilters","filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $('variaveis').item.json.whatsapp }}"},{"keyName":"group_id","condition":"eq","keyValue":"={{ $('variaveis').item.json.grupo.split(\"@\")[0] }}"},{"keyName":"created_at","condition":"gte","keyValue":"={{ \n  (() => {\n    const date = new Date();\n    date.setHours(date.getHours() - 3); // Ajusta a hora para GMT-3\n    return date.toISOString().split('T')[0];\n  })() \n}}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"group_name","fieldValue":"={{ $('get_group_info').item.json.subject }}"},{"fieldId":"messages","fieldValue":"={{ $('Supabase - busca linha estatistica1').item.json.messages + 1 }}"},{"fieldId":"name","fieldValue":"={{ $('variaveis').item.json.name }}"}]}},"id":"4c40bae5-6886-4557-a58b-4d3dfb934c41","name":"Supabase - update statistics_daily","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1560,100],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"tableId":"statistics_daily","fieldsUi":{"fieldValues":[{"fieldId":"whatsapp","fieldValue":"={{ $('variaveis').item.json.whatsapp }}"},{"fieldId":"name","fieldValue":"={{ $('variaveis').item.json.name }}"},{"fieldId":"group_id","fieldValue":"={{ $('variaveis').item.json.grupo.split(\"@\")[0] }}"}]}},"id":"98a30c1d-5c39-4fd3-ae91-ecb50c3389fc","name":"Supabase15","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1560,360],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"getAll","tableId":"statistics_daily","limit":1,"matchType":"allFilters","filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $json.whatsapp }}"},{"keyName":"group_id","condition":"eq","keyValue":"={{ $('variaveis').item.json.grupo.split(\"@\")[0] }}"},{"keyName":"created_at","condition":"gte","keyValue":"={{ \n  (() => {\n    const date = new Date();\n    date.setHours(date.getHours() - 3); // Ajusta a hora para GMT-3\n    return date.toISOString().split('T')[0];\n  })() \n}}"}]}},"id":"ac513420-255c-467f-8465-3513f638dc11","name":"Supabase - busca linha estatistica1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1160,240],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cc35dc2a-54ce-455e-a921-268c0c28a4a2","leftValue":"={{ $json.whatsapp }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"b87a715a-e2d9-4113-ab42-164e78b17733","name":"grupo_usuario_cadastrado1","type":"n8n-nodes-base.if","typeVersion":2,"position":[1340,240]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"7f765501-7995-4c4b-8047-e131cd9bc19b","leftValue":"={{ \n  (() => {\n    const message = $('Supabase1 - id resposta').item.json.message;\n    const urlRegex = /((?:https?:\\/\\/|www\\.|(?<!\\.))[\\w-]+(\\.[\\w-]+)+\\.?(:\\d+)?(\\/\\S*)?)/gi;\n    const links = message.match(urlRegex) || [];\n    \n    return links.length > 0 ? links : null;\n  })() \n}}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"683816ab-db85-43d5-aef4-5b73621f51b4","name":"If6","type":"n8n-nodes-base.if","typeVersion":2,"position":[1380,-340]},{"parameters":{"operation":"update","tableId":"links","matchType":"allFilters","filters":{"conditions":[{"keyName":"link","condition":"eq","keyValue":"={{ $json.link }}"},{"keyName":"chat_id","condition":"eq","keyValue":"={{ $('variaveis').item.json.grupo.split(\"@\")[0] }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"pontos","fieldValue":"={{ $json.pontos + 1 }}"}]}},"id":"9997da8d-7376-42bc-984f-2a5fc72fca76","name":"Supabase19","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2080,-420],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"tableId":"links","fieldsUi":{"fieldValues":[{"fieldId":"link","fieldValue":"={{ $('Split Out3').item.json.links }}"},{"fieldId":"group_name","fieldValue":"={{ $('get_group_info').item.json.subject }}"},{"fieldId":"chat_id","fieldValue":"={{ $('variaveis').item.json.grupo.split(\"@\")[0] }}"},{"fieldId":"message_id","fieldValue":"={{ $('Webhook').item.json.body.data.key.id }}"},{"fieldId":"context","fieldValue":"={{ $json.message.content.replaceAll(\"Descrição: \", \"\") }}"}]}},"id":"877461ae-7c1a-42cf-b4be-ce3a15ed37c6","name":"Supabase20","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3140,280],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"update","tableId":"links","matchType":"allFilters","filters":{"conditions":[{"keyName":"link","condition":"eq","keyValue":"={{ $('Split Out3').item.json.links }}"},{"keyName":"chat_id","condition":"eq","keyValue":"={{ $('variaveis').item.json.grupo.split(\"@\")[0] }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"pontos","fieldValue":"={{ $('Supabase - busca o link e grupo').item.json.pontos + 1 }}"},{"fieldId":"context","fieldValue":"={{ $json.message.content.replaceAll(\"Descrição: \", \"\") }}"}]}},"id":"b34a2e7b-81be-43af-82bc-fe105c6dc686","name":"Supabase21","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3140,20],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"a42e5fa9-6725-4a20-b4a6-b8656f1127e5","leftValue":"={{ \n  (() => {\n    const message = $('variaveis').item.json.user_message;\n    const urlRegex = /((?:https?:\\/\\/|www\\.|(?<!\\.))[\\w-]+(\\.[\\w-]+)+\\.?(:\\d+)?(\\/\\S*)?)/gi;\n    const links = message.match(urlRegex) || [];\n    \n    return links.length > 0 ? links : null;\n  })() \n}}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"cb512b5a-8ec3-4301-812e-d410d8e5c074","name":"se - tem link","type":"n8n-nodes-base.if","typeVersion":2,"position":[1720,280]},{"parameters":{"operation":"getAll","tableId":"links","limit":1,"matchType":"allFilters","filters":{"conditions":[{"keyName":"link","condition":"eq","keyValue":"={{ $json.links }}"},{"keyName":"chat_id","condition":"eq","keyValue":"={{ $('variaveis').item.json.grupo.split(\"@\")[0] }}"}]}},"id":"9304e140-c283-417c-88ab-f8a59c0a9032","name":"Supabase - busca o link e grupo","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2200,140],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cc35dc2a-54ce-455e-a921-268c0c28a4a2","leftValue":"={{ $('Supabase - busca o link e grupo').item.json.link }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{"ignoreCase":true}},"id":"23d224cb-cda5-45ae-9a3b-d9f34bbbb106","name":"se link já cadastrado","type":"n8n-nodes-base.if","typeVersion":2,"position":[2720,140]},{"parameters":{"content":"## Reações\nSalva a reação e a mensagem respondida","height":112.29434538885582,"width":286.0096270660209,"color":6},"id":"aa2d2e89-bee6-47d3-babc-807f0f344d99","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[260,-340]},{"parameters":{"content":"## Audios\nTranscreve o áudio e guarda como mensagem","height":112.29434538885582,"width":286.0096270660209,"color":6},"id":"c6fc45a0-ff62-40c5-a107-62c95a3e800c","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[260,-160]},{"parameters":{"content":"## Imagens\nLê e cria uma descrição para a imagem","height":112.29434538885582,"width":286.0096270660209,"color":6},"id":"719b9b93-53d0-4e6e-ab8f-c16ad9e0041f","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[260,20]},{"parameters":{"content":"## Mensagem de texto\nSalva a mensagem, links, respostas etc","height":112.29434538885582,"width":286.0096270660209,"color":6},"id":"d242b280-b39a-44ec-93ee-c9df9bec9f9b","name":"Sticky Note14","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[260,200]},{"parameters":{"content":"## !comandos\nEnvia os comandos disponiveis","height":112.29434538885582,"width":286.0096270660209,"color":6},"id":"c43e1dca-6bde-4dcc-9a88-47ebf4c808e4","name":"Sticky Note15","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1260,-200]},{"parameters":{"content":"## !user\nMostra um resumo interações do usuário","height":112.29434538885582,"width":286.0096270660209,"color":6},"id":"0bf378d1-c7e1-407b-acee-f8bca4e663e1","name":"Sticky Note16","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1260,-20]},{"parameters":{"content":"## !stats\nConta as interações do usuário nos grupos cadastrados","height":112.29434538885582,"width":286.0096270660209,"color":6},"id":"4459799e-1bc9-49a6-b999-58a2b515d68c","name":"Sticky Note17","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1260,160]},{"parameters":{"fieldToSplitOut":"links","options":{}},"id":"a66fbbd3-81ad-49d4-9453-443d26ff32be","name":"Split Out3","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2040,140],"notesInFlow":true,"notes":"separa os links em itens"},{"parameters":{"assignments":{"assignments":[{"id":"5806eff0-ac24-4c44-9523-f1f904b97df6","name":"links","value":"={{ \n  (() => {\n    const message = $('variaveis').item.json.user_message.toLowerCase();\n    const urlRegex = /((?:https?:\\/\\/|www\\.|(?<!\\.))[\\w-]+(\\.[\\w-]+)+\\.?(:\\d+)?(\\/\\S*)?)/gi;\n    const links = message.match(urlRegex) || [];\n    \n    return links.length > 0 ? links : null;\n  })() \n}}","type":"array"},{"id":"93db6188-a208-4fe9-9425-cf746db7b898","name":"message","value":"={{ $('variaveis').item.json.user_message }}","type":"string"}]},"options":{}},"id":"840c324b-4502-476e-a59e-a8207bb3b8d5","name":"set_links","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1880,140],"notesInFlow":true,"notes":"pega os links"},{"parameters":{"operation":"getAll","tableId":"links","limit":1,"matchType":"allFilters","filters":{"conditions":[{"keyName":"link","condition":"eq","keyValue":"={{ $json.links }}"},{"keyName":"chat_id","condition":"eq","keyValue":"={{ $('variaveis').item.json.grupo.split(\"@\")[0] }}"}]}},"id":"742fcd65-2f78-439e-bd7f-4d5659db44e5","name":"Supabase - busca link no bd","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1940,-420],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"getAll","tableId":"links","limit":1,"matchType":"allFilters","filters":{"conditions":[{"keyName":"link","condition":"eq","keyValue":"={{ $json.links }}"},{"keyName":"group_id","condition":"eq","keyValue":"={{ $('variaveis').item.json.grupo.split(\"@\")[0] }}"}]}},"id":"c71a6d27-542d-442f-a37f-63068e5b79d5","name":"Supabase - busca o link e grupo1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1360,320],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"fieldToSplitOut":"links","options":{}},"id":"459ae9ff-06fe-4a38-804e-331ab8634503","name":"Split Out4","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1780,-420],"notesInFlow":true,"notes":"separa os links em itens"},{"parameters":{"assignments":{"assignments":[{"id":"5806eff0-ac24-4c44-9523-f1f904b97df6","name":"links","value":"={{ \n  (() => {\n    const message = $('Supabase1').item.json.response_to;\n    const urlRegex = /((?:https?:\\/\\/|www\\.|(?<!\\.))[\\w-]+(\\.[\\w-]+)+\\.?(:\\d+)?(\\/\\S*)?)/gi;\n    const links = message.match(urlRegex) || [];\n    \n    return links.length > 0 ? links : null;\n  })() \n}}","type":"array"},{"id":"93db6188-a208-4fe9-9425-cf746db7b898","name":"message","value":"={{ $('variaveis').item.json.user_message }}","type":"string"}]},"options":{}},"id":"6720f7c9-473b-4604-b790-fb84ba1542cf","name":"set_links1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1620,-420],"notesInFlow":true,"notes":"pega os links"},{"parameters":{"assignments":{"assignments":[{"id":"ad68118f-3197-4032-9bcf-827535010405","name":"links","value":"=\n{{ $('Summarize5').item.json[\"appended_link\"][0] }} - {{ $('Summarize5').item.json[\"appended_context\"][0] }}\n\n{{ $('Summarize5').item.json[\"appended_link\"][1] }} - {{ $('Summarize5').item.json[\"appended_context\"][1] }}\n\n{{ $('Summarize5').item.json[\"appended_link\"][2] }} - {{ $('Summarize5').item.json[\"appended_context\"][2] }}\n\n{{ $('Summarize5').item.json[\"appended_link\"][3] }} - {{ $('Summarize5').item.json[\"appended_context\"][3] }}\n\n{{ $('Summarize5').item.json[\"appended_link\"][4] }} - {{ $('Summarize5').item.json[\"appended_context\"][4] }}\n\n*Mostramos aqui os principais links da semana. Para facilitar na criação da lista, sempre curtam os links importantes e para postar, escrevam na mensagem uma descrição que ajude a identificar o contexto do link*","type":"string"},{"id":"58b3f961-09b4-4154-89db-a03839f7fe3d","name":"group_name","value":"={{ $('Supabase2').first().json.group_name }}","type":"string"}]},"options":{}},"id":"d1274766-3404-4fce-b67d-06cd6dd7b588","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-240,380]},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"pontos","order":"descending"}]},"options":{}},"id":"a9db5e18-89e8-4992-851f-7b79a77fe701","name":"Sort2","type":"n8n-nodes-base.sort","typeVersion":1,"position":[-720,380],"retryOnFail":false,"notesInFlow":true,"notes":"coloco em ordem"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"append","field":"link"},{"aggregation":"append","field":"context"}]},"options":{}},"id":"e223bf92-bdeb-4392-a48c-18d7cfd31661","name":"Summarize5","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[-400,380]},{"parameters":{"maxItems":5},"id":"d44d9729-5bfc-400c-acc9-f25c8f79a3e8","name":"Limit1","type":"n8n-nodes-base.limit","typeVersion":1,"position":[-560,380]},{"parameters":{"operation":"getAll","tableId":"links","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"created_at","condition":"gte","keyValue":"={{ \n  (() => {\n    const date = new Date();\n    date.setDate(date.getDate() - 6); // Subtrai um dia\n    date.setHours(date.getHours() - 3); // Ajusta a hora para GMT-3\n    return date.toISOString().split('T')[0];\n  })() \n}}\n"},{"keyName":"group_id","condition":"eq","keyValue":"={{ $('pego_grupo').item.json.group }}"}]}},"id":"0cc58fa8-ac7c-4854-a7eb-b109419324fe","name":"Supabase2","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-880,380],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=você recebe uma mensagem que contém a descrição. Identifique este contexto e gere uma descrição para a utilidade deste conteúdo. Seja breve e apenas fale sobre o que o conteúdo se trata.\nSua mensagem precisa conter a descrição direto ao ponto\nA sua saída já é a mensagem enviada, então já inicie direto ao ponto mostrando a descrição\n{{ $json.context ? \"já temos um contexto do link. Misture ou se necessário substitua pelo do usuário\" + $json.context : \"\" }}","role":"assistant"},{"content":"={{ $('variaveis').item.json.user_message.replaceAll($('set_links').item.json[\"links\"][0], \"\") }}"}]},"options":{}},"id":"d472377b-a6dc-4b66-8a4d-1e523b36107a","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.4,"position":[2380,140],"credentials":{"openAiApi":{"id":"neTK4UBDC4tLBdAV","name":"G4 educação"}}},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"messages","order":"descending"}]},"options":{}},"id":"1bf080ba-adab-4d7e-906d-2d18a3065f2e","name":"Sort4","type":"n8n-nodes-base.sort","typeVersion":1,"position":[-580,620]},{"parameters":{"maxItems":10},"id":"7c0d6745-5b28-4ad7-92ed-5e0b1d504cca","name":"Limit2","type":"n8n-nodes-base.limit","typeVersion":1,"position":[-420,620]},{"parameters":{"operation":"getAll","tableId":"statistics_daily","returnAll":true,"filters":{"conditions":[{"keyName":"group_id","condition":"eq","keyValue":"="},{"keyName":"created_at","condition":"gt","keyValue":"={{ \n  (() => {\n    const date = new Date();\n    date.setDate(date.getDate() - 0); // Subtrai um dia\n    date.setHours(date.getHours() - 3); // Ajusta a hora para GMT-3\n    return date.toISOString().split('T')[0];\n  })() \n}}"}]}},"id":"c112e4d5-f41e-4e3a-af71-88eed11af5b4","name":"Supabase - get usersss1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-880,620],"executeOnce":true,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"6b585435-63ff-4f6a-bf1c-debcdc57c7f7","leftValue":"={{ $json.name }}","rightValue":"Bruno Okamoto","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"57a12155-fc8d-4a9a-9016-8d3eca729b24","name":"Filter4","type":"n8n-nodes-base.filter","typeVersion":2,"position":[-740,620]},{"parameters":{"operation":"update","tableId":"groups","filters":{"conditions":[{"keyName":"chat_id","condition":"eq","keyValue":"={{ $('pego_grupo1').item.json.group }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"top_members","fieldValue":"={{ $json.data }}"}]}},"id":"d960a6ce-d376-42a6-beea-3f85c06cdc36","name":"Supabase5","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[60,620],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"1d6e5638-0fe3-4bf1-a4f8-d3a68a1b06f1","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-100,620]},{"parameters":{"content":"### Atualiza os top10 membros na tabela (off)\n\n\n","height":253.57562853475503,"width":1157.3811122045904,"color":7},"id":"13760898-7565-4850-b494-e1a2bf53d9a5","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-940,560]},{"parameters":{"fieldToSplitOut":"name","include":"selectedOtherFields","fieldsToInclude":"messages","options":{}},"id":"7c33f772-ad6f-4056-bc92-86563a537b1e","name":"Split Out1","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-260,620]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"34f8c8b4-4228-4d52-a710-28ece860b98e","leftValue":"={{ $json.user_message.split(\" \")[0] }}","rightValue":"!comand","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"!comand"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"51f18e62-b9e4-476c-893c-689058020631","leftValue":"={{ $json.user_message.split(\" \")[0] }}","rightValue":"!cmd","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"!cmd"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.user_message.split(\" \")[0] }}","rightValue":"!user","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"!user"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"b17d450a-d643-43e7-99e4-72f076ec6e8e","leftValue":"={{ $json.user_message.split(\" \")[0] }}","rightValue":"!stats","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"!stats"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"b1d2700d-c0df-4380-bbe9-7077aa958acc","leftValue":"={{ $json.user_message.split(\" \")[0] }}","rightValue":"!stati","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"!stati"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"b81391b3-05db-4751-bf97-fd9ee57f1cb0","leftValue":"={{ $json.user_message.split(\" \")[0] }}","rightValue":"!estati","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"!estati"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"ee8c49b1-2c62-4435-b038-ff11eb764c86","leftValue":"={{ $json.user_message.split(\" \")[0] }}","rightValue":"!aaa","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"new_group"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cdd65a19-7415-4015-8ce4-3402d7b298c3","leftValue":"={{ $json.user_message.split(\" \")[0] }}","rightValue":"!links","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"links"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"886537fb-a608-47fe-8bee-20c1148e803c","leftValue":"={{ $json.user_message.split(\" \")[0] }}","rightValue":"!top10","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"!top10"}]},"options":{}},"id":"c8e0bdef-26eb-4e83-a953-d247dd8c1c86","name":"command_is","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-680,-500]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"99e37adf-50d3-4e0c-9a52-f22942ae9306","leftValue":"={{ $('variaveis').item.json.user_message.split(\"\")[0] }}","rightValue":"!","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"dc0eeeda-086a-4dc8-8e0d-beab40d225fc","name":"is_command1","type":"n8n-nodes-base.if","typeVersion":2,"position":[-640,-1100]},{"parameters":{"workflowId":"4pCoHjGYVXLTNanj","options":{}},"id":"97c494d6-02f3-45c3-8579-70fe123a8bc9","name":"Execute Workflow1","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[-300,-1320]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.data.message.reactionMessage }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"reaction"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"611b659b-5254-47f7-aee3-5bc2d424b905","leftValue":"={{ $('variaveis').item.json.tipoMidia }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"9ced64a5-00c5-4b5b-9838-558f49a79e4f","leftValue":"={{ $('variaveis').item.json.tipoMidia }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c9382541-7021-4264-8224-3d5f70556fef","leftValue":"={{ $('variaveis').item.json.user_message.length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"renameOutput":true,"outputKey":"message"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"1d808e04-0a06-4025-83ae-f07437eda45b","leftValue":"={{ $('variaveis').item.json.tipoMidia }}","rightValue":"videoMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"videoMessage"}]},"options":{}},"id":"07a0ca26-517a-480c-82e0-59993211795a","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[800,-640]},{"parameters":{"httpMethod":"POST","path":"microsaas-tracker","options":{}},"id":"e11fd4bd-3587-4040-90b3-deebfb01bff7","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[-1280,-960],"webhookId":"26e58c23-2573-42a5-be8a-b5887c45b8c7"},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/{{ $('Webhook').item.json.body.data.owner }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Webhook').first().json.body.data.key.remoteJid.split(\"@\")[0] }}"},{"name":"textMessage.text","value":"=*Estatísticas do usuário*\n*{{ $('Edit Fields8').last().json.user_name }}* - {{ $('Edit Fields8').last().json.user_whatsapp }}\n\n{{ $json.concatenated_formatado }}"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"fee6d35a-0b5c-42a6-9bbb-4999a2bc4f29","name":"msg_stats1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[0,-40],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}}}],"connections":{"Vision - gpt-4o":{"main":[[{"node":"Supabase7","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Transcrever audio","type":"main","index":0}]]},"pega mp4 do audio3":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Transcrever audio":{"main":[[{"node":"Supabase8","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"Supabase1 - id resposta":{"main":[[{"node":"Supabase - busca usuário","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"Supabase1","type":"main","index":0}]]},"Supabase11":{"main":[[{"node":"Supabase - busca linha estatistica","type":"main","index":0}]]},"Supabase1":{"main":[[{"node":"Supabase12","type":"main","index":0}]]},"Supabase - busca linha estatistica":{"main":[[{"node":"grupo_usuario_cadastrado","type":"main","index":0}]]},"Supabase8":{"main":[[{"node":"Supabase13","type":"main","index":0}]]},"Supabase7":{"main":[[{"node":"Supabase14","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"Supabase - update statistics","type":"main","index":0}]]},"Edit Fields7":{"main":[[{"node":"msg_user","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Edit Fields8":{"main":[[{"node":"Summarize2","type":"main","index":0}]]},"Summarize2":{"main":[[{"node":"msg_stats","type":"main","index":0}]]},"Supabase10":{"main":[[{"node":"Supabase16","type":"main","index":0}]]},"Supabase16":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Summarize":{"main":[[{"node":"Edit Fields7","type":"main","index":0}]]},"Supabase17":{"main":[[{"node":"Supabase18","type":"main","index":0}]]},"Supabase18":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Edit Fields8","type":"main","index":0}]]},"Supabase - busco o usuário":{"main":[[{"node":"tem_cadastro","type":"main","index":0}]]},"Supabase - cadastro usuário":{"main":[[{"node":"Supabase - busco o usuário","type":"main","index":0}]]},"tem_cadastro":{"main":[[{"node":"Supabase - busca linha estatistica","type":"main","index":0}],[{"node":"Supabase - cadastro usuário","type":"main","index":0}]]},"is_command":{"main":[[{"node":"get_message","type":"main","index":0}]]},"is_group":{"main":[[{"node":"is_command1","type":"main","index":0}],[{"node":"is_command","type":"main","index":0}]]},"Supabase - busca usuário":{"main":[[{"node":"Switch","type":"main","index":0}]]},"get_message":{"main":[[{"node":"command_is","type":"main","index":0}]]},"grupo_usuario_cadastrado":{"main":[[{"node":"get_group_info","type":"main","index":0}],[{"node":"Supabase11","type":"main","index":0}]]},"get_group_info":{"main":[[{"node":"Supabase1 - id resposta","type":"main","index":0}]]},"variaveis":{"main":[[{"node":"is_group","type":"main","index":0}]]},"Supabase - update statistics":{"main":[[{"node":"Supabase - busca linha estatistica1","type":"main","index":0}]]},"Supabase15":{"main":[[{"node":"Supabase - busca linha estatistica1","type":"main","index":0}]]},"Supabase - busca linha estatistica1":{"main":[[{"node":"grupo_usuario_cadastrado1","type":"main","index":0}]]},"grupo_usuario_cadastrado1":{"main":[[{"node":"Supabase - update statistics_daily","type":"main","index":0}],[{"node":"Supabase15","type":"main","index":0}]]},"Supabase - update statistics_daily":{"main":[[{"node":"se - tem link","type":"main","index":0}]]},"Supabase12":{"main":[[{"node":"If6","type":"main","index":0}]]},"If6":{"main":[[{"node":"set_links1","type":"main","index":0}]]},"se - tem link":{"main":[[{"node":"set_links","type":"main","index":0}]]},"Supabase - busca o link e grupo":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"se link já cadastrado":{"main":[[{"node":"Supabase21","type":"main","index":0}],[{"node":"Supabase20","type":"main","index":0}]]},"Split Out3":{"main":[[{"node":"Supabase - busca o link e grupo","type":"main","index":0}]]},"set_links":{"main":[[{"node":"Split Out3","type":"main","index":0}]]},"Supabase - busca link no bd":{"main":[[{"node":"Supabase19","type":"main","index":0}]]},"set_links1":{"main":[[{"node":"Split Out4","type":"main","index":0}]]},"Split Out4":{"main":[[{"node":"Supabase - busca link no bd","type":"main","index":0}]]},"Sort2":{"main":[[{"node":"Limit1","type":"main","index":0}]]},"Summarize5":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Limit1":{"main":[[{"node":"Summarize5","type":"main","index":0}]]},"Supabase2":{"main":[[{"node":"Sort2","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"se link já cadastrado","type":"main","index":0}]]},"Sort4":{"main":[[{"node":"Limit2","type":"main","index":0}]]},"Limit2":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Supabase - get usersss1":{"main":[[{"node":"Filter4","type":"main","index":0}]]},"Filter4":{"main":[[{"node":"Sort4","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Supabase5","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"command_is":{"main":[[{"node":"msg_commands","type":"main","index":0}],[{"node":"msg_commands","type":"main","index":0}],[{"node":"Supabase10","type":"main","index":0}],[{"node":"Supabase17","type":"main","index":0}],[{"node":"Supabase17","type":"main","index":0}],[{"node":"Supabase17","type":"main","index":0}],[],[{"node":"Supabase2","type":"main","index":0}],[{"node":"Supabase - get usersss1","type":"main","index":0}]]},"is_command1":{"main":[[{"node":"Execute Workflow1","type":"main","index":0}],[{"node":"Supabase - busco o usuário","type":"main","index":0}]]},"Switch":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[{"node":"pega mp4 do audio3","type":"main","index":0}],[{"node":"Vision - gpt-4o","type":"main","index":0}],[{"node":"Supabase","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"variaveis","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook.sincronia.digital","user-agent":"axios/1.7.2","content-length":"10856","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"webhook.sincronia.digital","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"31e0f1d9720a","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"Sincron","data":{"key":{"remoteJid":"120363302353017297@g.us","fromMe":false,"id":"9EE00C1E065472F06E","participant":"5519994317797@s.whatsapp.net"},"pushName":"Luiz | Sincron IA","message":{"extendedTextMessage":{"text":"!tradução","contextInfo":{"stanzaId":"FFE50B020A4890F767","participant":"5519994317797@s.whatsapp.net","quotedMessage":{"imageMessage":{"url":"https://mmg.whatsapp.net/o1/v/t62.7118-24/f1/m232/up-oil-image-0a2c8364-6090-4058-872f-bce6b2ea0230?ccb=9-4&oh=01_Q5AaIGFmRxAJTUsNwe-Wv9KqiJQAtduFPi6m-CRyXPnqi0qf&oe=66C2073C&_nc_sid=000000&mms3=true","mimetype":"image/jpeg","caption":"","fileSha256":"BltjoIpPhlTSpxxRQFv9yeK/anLdWn8nNTNSJvcBdcc=","fileLength":"118646","height":1280,"width":591,"mediaKey":"KpcPP2ThEutV9muGl3B83aZ/7pfFo58zMnIGsni7vq0=","fileEncSha256":"X59Q+PxpW/Tw8NK0cxUSBq2i0anFZgCj1D7YsVP3igo=","directPath":"/o1/v/t62.7118-24/f1/m232/up-oil-image-0a2c8364-6090-4058-872f-bce6b2ea0230?ccb=9-4&oh=01_Q5AaIGFmRxAJTUsNwe-Wv9KqiJQAtduFPi6m-CRyXPnqi0qf&oe=66C2073C&_nc_sid=000000","mediaKeyTimestamp":"1721407772","jpegThumbnail":"/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAMCAgICAgMCAgIDAwMDBAYEBAQEBAgGBgUGCQgKCgkICQkKDA8MCgsOCwkJDRENDg8QEBEQCgwSExIQEw8QEBD/2wBDAQMDAwQDBAgEBAgQCwkLEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBD/wAARCABkAC4DASIAAhEBAxEB/8QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUFBAQAAAF9AQIDAAQRBRIhMUEGE1FhByJxFDKBkaEII0KxwRVS0fAkM2JyggkKFhcYGRolJicoKSo0NTY3ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqDhIWGh4iJipKTlJWWl5iZmqKjpKWmp6ipqrKztLW2t7i5usLDxMXGx8jJytLT1NXW19jZ2uHi4+Tl5ufo6erx8vP09fb3+Pn6/8QAHwEAAwEBAQEBAQEBAQAAAAAAAAECAwQFBgcICQoL/8QAtREAAgECBAQDBAcFBAQAAQJ3AAECAxEEBSExBhJBUQdhcRMiMoEIFEKRobHBCSMzUvAVYnLRChYkNOEl8RcYGRomJygpKjU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3uLm6wsPExcbHyMnK0tPU1dbX2Nna4uPk5ebn6Onq8vP09fb3+Pn6/9oADAMBAAIRAxEAPwD9UjntxQM/xVzlvqHh+28dX+mxWeqjV7yxhmnuG0i6NqYYmYIi3pi8ksDKxEAlyNzuEBaRmTxZ8SvAfgexk1LxZ4r07TLaC4gtZnmm/wBU801vCm8DJRd93bBnYBUEyMxVTuoA6WiuQ1z4vfC3wz4m0/wXr3xA0Gy8Qas8UdlpUl9H9snMu7yisIO/DlGVWxhmwoJYgGK+j+FOk6LeW+oXmj2mleProrIsl2Eh1W5u4li2RfNhpJlAwkfLkswBZmJAN2/tvFkl7LJpetaTb2h+xeVFcaZJNIu2dmvNzrcIG82AokWFHkyK0jeerCJTwra+LLPQ4Lfxxrek6trCl/Pu9K0uTT7ZwWJXZBLcXDphdoOZWyQT8oO0cjb+F/gr4ms/Ags4dN1a10i2jl8I3EF5JPGsUBgkV4ZVciQjyIDuLEsqsMlWcHvrezhtprmaNpy13KJpBJO7qGCKmEViRGuEB2oAu4s2NzMTEKtOpKUYSTcXZ+TsnZ9nZp+jT6lOMo2bW5Vk0/UzqU95Hrsy28sMccdm0MZjiZS5aRWwHLPuUEMxUCNdoUli3Caj4F+NlxfX82nfHeGztbln+ywnwpbytaKZt64cyDeyp+6ywIK5O3d8w19Z8J+LNQ8cWeu2viQw6VAYy9sJHQhVILx7VG1wxUZLHPOMEKBXSXFvfXWoWzSQIttbPJMskd9KjF9oVFaNVCyKQ8pIZiFKRkBjgp5+BxlfGVK0K1CVNQlyxba99fzKz0Xr+d0px+X0asKd6jd1d8spxt5Nxcb/ANeo7QbPVNP0Wysdb1j+1r+CFUub77OsH2iQDl/LX5UyecDgVfrMtY9Xs7eOzhsbZooPLijaXUJZHaMOVZmZoyzMIwrcklnLKSMbzW1C1164gEUNnb/69pjjVpoiNkm+L5liJIbam9PugMy/Ov3vUSXUiMeSKjHp3f6vX5m5Ve3tPIuLm4+1TyfaXV/LkbKRYULhBjgHGSPUk96ZHazGZ5JLiRVDYjVZMjbtXOflBHIPc+uRnAte/rSKRxPi3wH4o8Vaw2oaP8aPGfhO3iiSA2OjW+kPA7DLGUm8sZ5N53BSA4XCLhQdxbF/4U/48/6Oi+KH/gH4b/8AlTXoF/fXWnwyz2ej3epu11FGYbVoVdVbYrSEyui7UBLMAS2FO0M2FKaPqt9qalr3w3qWkkRpJtvJLdiWYsCn7mWQbl2gnth1wSdwUGcB/wAKf8ef9HRfFD/wD8N//Kmj/hT/AI8/6Oi+KH/gH4b/APlTXqNFAHkNx8LviNBFfyR/tDfF64azjLwxx2vhUNeHZu2xbtNABJ+X94UGe+35q6zwD4V8SeGnnk8QfErxd4pN9GpSHxBDpSGyKE52fYLWAEvvGd5f7i7dvzbuyqFv+PqP/rm/81oAyPE02pW+k3VxpFtq9zcxXds4g0o2guZVEkRdAbsrCEK7g+WDbC+wh9hrn7WPxhb31v4Rmu/HV1FBcPK/imYaEIrhGikYRvGgVwis6oCtsrb40yWQuza3jKw+H+paeln8RrDw/e2E2pQQ2sOtRwPDJeSARwpGs3ymVi5RQPmJbA61meHdW8C6zr+qyR+FtMsNW0SS1uLyaWTTnnhmaKWCPeYJZHjdIvMjBfb8kjKhYbgADPsrLxcp0v7H4z8f63aRajbg38a+HfJ1C1fbKZnKwofs4DGJvKVJjsYoD8sjWdB0Dx5pskTXHjnxnqhnuIbhxrVrohjgiQhZLcizihb94szOGDPta2BztzFPpzeINI0HWrHT5PCYstPiszHBrXn2EVnbhmP+jKDMJgWWFXwsRQqF5ypCx33xEutPuIYbnwLrSQy3UsH2lr/S0iWCNY2a7O68DGHDueFMgEMhKAFC4AnhGx8VaDdLb6zrXjLxJHfM8Pn6umjxpYCBnUSkWccLEXA2sBtkIATKwneK61v+PqP/AK5v/Naxn8X2v9tWelW1jLdQ3BuBNfQ3dp5FoYmKESK0wlJaQGMbI3wwIbbWySGuoipyDG/81oAz9XsbO8tp5LvQ01VraQywwGOJ33mHYSnmkKGKu65JHDMM4Jrm5p/E0djpGn2/hvxUkN0bSKU266OrafHG8Jf7QHl2MrqXVxArkIsnlhW8snc8UW2o3mj3lrpWratptzJcwKt1pYtDcxruj3FRdo8JXbu3ZUtt3bPn21z+m67pt94s1uNvild291atG0/huS70lv7OhiYN522ONp1juIgsmZZWYRzggRNwoBleLbPxpq2qJpel6H4zs7JL63tZL61Ph7yfs7wT+ZcRJcLK7ICIYZUZUfa6mMMFkB37jQrzULPw+t1b66LjzIP7QuHg0l5pEETCVbzKFNsowkn2YbsldhVdxGPrmpatpNkbnSPFni/xJFBYXOn3U2mz+H1FrcwOC9xKbhYlW44aMqMwqFbdGhw1cxonxYk0pZPFHiHX9dfwzqOqQpHqupa94XXTLGFvN+WOWB0d1ztV1YvJujPlswUmQA9e0fQf7NtUh1DUrjWblMD7ZfQW6zN93r5MUacsu7hRyT2wBe2qlxEqKFVYnAAHA5WvIfBvxE8ZWd5eXPj7Qtc01b66sbf7LqevaBJFptxN5vnx2xtjG8kETNbIGnLTyCVCsYIbd6tY29xbGOO5vrm7dvtEu+4EYdQ8gZY/3aqu1AwRTgkqg3MzZYgFDxIiLYyalc+Lrnw5Z6VdLqF7dRtbLG9vEgaSOd7iN1SEqCXZdjgLw681j2vinwibg64nxjtbjT47OW+eA3+nm2FsqrO1wXWMOI0hu7U79+3y2gZs+YWfodV0y81aGS3svEF/pDrcLIZ7JIGdgEHyETxyLtOeyg8DBHNVpvDeqS2ENnH441yGaIqXu0jszLNjdncGtzGM7hnai/cXGMtu0jCLteSX3/5ESk1tFv7v8yKO903wxDc6x4g+ITTWJ8u336lNZwwQSCRxkOkcfzuZEQhmI/dptAYuXkt/EHgPw61l4Rtda0HTGghe3stLjuIYSkVvGrNHHCCMLFGUJVRhVK5wMVoWem3VteS3U2uX13HIiotvMkIjjIABZSkatkkEnLEZJwAMAXqhpLzKTuVrHVNM1RXk03ULa7WN2jdoJVcKykhlJB4IIII7EGpG/wCPqP8A65v/ADWpce1RN/x9R/8AXN/5rQ7X0BXtqVZ7W4nu4JodTubVLa882WKJYyt2hgZPKk3ozBQzrJmMo26JAWKl0b5A0f8Aaq+LH/CvfiLq1zcaVc33g3wB4Z8Q2VxJZANPeX2jzXM7TKhClfNjVgqBQMkdOAUUhnmPgn/gop8ctY8KadqWoaB4MluZ0fzH+w3K7irsucC4AHA7V1vhv9vD4vax4i0rSLrw74QWG+vYLaRo7O6DBXkCkjNwRnB7iiigD7wqFv8Aj6j/AOub/wA1oooA/9k=","contextInfo":{"expiration":0}}},"expiration":0}}},"contextInfo":{"stanzaId":"FFE50B020A4890F767","participant":"5519994317797@s.whatsapp.net","quotedMessage":{"imageMessage":{"url":"https://mmg.whatsapp.net/o1/v/t62.7118-24/f1/m232/up-oil-image-0a2c8364-6090-4058-872f-bce6b2ea0230?ccb=9-4&oh=01_Q5AaIGFmRxAJTUsNwe-Wv9KqiJQAtduFPi6m-CRyXPnqi0qf&oe=66C2073C&_nc_sid=000000&mms3=true","mimetype":"image/jpeg","caption":"","fileSha256":"BltjoIpPhlTSpxxRQFv9yeK/anLdWn8nNTNSJvcBdcc=","fileLength":"118646","height":1280,"width":591,"mediaKey":"KpcPP2ThEutV9muGl3B83aZ/7pfFo58zMnIGsni7vq0=","fileEncSha256":"X59Q+PxpW/Tw8NK0cxUSBq2i0anFZgCj1D7YsVP3igo=","directPath":"/o1/v/t62.7118-24/f1/m232/up-oil-image-0a2c8364-6090-4058-872f-bce6b2ea0230?ccb=9-4&oh=01_Q5AaIGFmRxAJTUsNwe-Wv9KqiJQAtduFPi6m-CRyXPnqi0qf&oe=66C2073C&_nc_sid=000000","mediaKeyTimestamp":"1721407772","jpegThumbnail":"/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAMCAgICAgMCAgIDAwMDBAYEBAQEBAgGBgUGCQgKCgkICQkKDA8MCgsOCwkJDRENDg8QEBEQCgwSExIQEw8QEBD/2wBDAQMDAwQDBAgEBAgQCwkLEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBD/wAARCABkAC4DASIAAhEBAxEB/8QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUFBAQAAAF9AQIDAAQRBRIhMUEGE1FhByJxFDKBkaEII0KxwRVS0fAkM2JyggkKFhcYGRolJicoKSo0NTY3ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqDhIWGh4iJipKTlJWWl5iZmqKjpKWmp6ipqrKztLW2t7i5usLDxMXGx8jJytLT1NXW19jZ2uHi4+Tl5ufo6erx8vP09fb3+Pn6/8QAHwEAAwEBAQEBAQEBAQAAAAAAAAECAwQFBgcICQoL/8QAtREAAgECBAQDBAcFBAQAAQJ3AAECAxEEBSExBhJBUQdhcRMiMoEIFEKRobHBCSMzUvAVYnLRChYkNOEl8RcYGRomJygpKjU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3uLm6wsPExcbHyMnK0tPU1dbX2Nna4uPk5ebn6Onq8vP09fb3+Pn6/9oADAMBAAIRAxEAPwD9UjntxQM/xVzlvqHh+28dX+mxWeqjV7yxhmnuG0i6NqYYmYIi3pi8ksDKxEAlyNzuEBaRmTxZ8SvAfgexk1LxZ4r07TLaC4gtZnmm/wBU801vCm8DJRd93bBnYBUEyMxVTuoA6WiuQ1z4vfC3wz4m0/wXr3xA0Gy8Qas8UdlpUl9H9snMu7yisIO/DlGVWxhmwoJYgGK+j+FOk6LeW+oXmj2mleProrIsl2Eh1W5u4li2RfNhpJlAwkfLkswBZmJAN2/tvFkl7LJpetaTb2h+xeVFcaZJNIu2dmvNzrcIG82AokWFHkyK0jeerCJTwra+LLPQ4Lfxxrek6trCl/Pu9K0uTT7ZwWJXZBLcXDphdoOZWyQT8oO0cjb+F/gr4ms/Ags4dN1a10i2jl8I3EF5JPGsUBgkV4ZVciQjyIDuLEsqsMlWcHvrezhtprmaNpy13KJpBJO7qGCKmEViRGuEB2oAu4s2NzMTEKtOpKUYSTcXZ+TsnZ9nZp+jT6lOMo2bW5Vk0/UzqU95Hrsy28sMccdm0MZjiZS5aRWwHLPuUEMxUCNdoUli3Caj4F+NlxfX82nfHeGztbln+ywnwpbytaKZt64cyDeyp+6ywIK5O3d8w19Z8J+LNQ8cWeu2viQw6VAYy9sJHQhVILx7VG1wxUZLHPOMEKBXSXFvfXWoWzSQIttbPJMskd9KjF9oVFaNVCyKQ8pIZiFKRkBjgp5+BxlfGVK0K1CVNQlyxba99fzKz0Xr+d0px+X0asKd6jd1d8spxt5Nxcb/ANeo7QbPVNP0Wysdb1j+1r+CFUub77OsH2iQDl/LX5UyecDgVfrMtY9Xs7eOzhsbZooPLijaXUJZHaMOVZmZoyzMIwrcklnLKSMbzW1C1164gEUNnb/69pjjVpoiNkm+L5liJIbam9PugMy/Ov3vUSXUiMeSKjHp3f6vX5m5Ve3tPIuLm4+1TyfaXV/LkbKRYULhBjgHGSPUk96ZHazGZ5JLiRVDYjVZMjbtXOflBHIPc+uRnAte/rSKRxPi3wH4o8Vaw2oaP8aPGfhO3iiSA2OjW+kPA7DLGUm8sZ5N53BSA4XCLhQdxbF/4U/48/6Oi+KH/gH4b/8AlTXoF/fXWnwyz2ej3epu11FGYbVoVdVbYrSEyui7UBLMAS2FO0M2FKaPqt9qalr3w3qWkkRpJtvJLdiWYsCn7mWQbl2gnth1wSdwUGcB/wAKf8ef9HRfFD/wD8N//Kmj/hT/AI8/6Oi+KH/gH4b/APlTXqNFAHkNx8LviNBFfyR/tDfF64azjLwxx2vhUNeHZu2xbtNABJ+X94UGe+35q6zwD4V8SeGnnk8QfErxd4pN9GpSHxBDpSGyKE52fYLWAEvvGd5f7i7dvzbuyqFv+PqP/rm/81oAyPE02pW+k3VxpFtq9zcxXds4g0o2guZVEkRdAbsrCEK7g+WDbC+wh9hrn7WPxhb31v4Rmu/HV1FBcPK/imYaEIrhGikYRvGgVwis6oCtsrb40yWQuza3jKw+H+paeln8RrDw/e2E2pQQ2sOtRwPDJeSARwpGs3ymVi5RQPmJbA61meHdW8C6zr+qyR+FtMsNW0SS1uLyaWTTnnhmaKWCPeYJZHjdIvMjBfb8kjKhYbgADPsrLxcp0v7H4z8f63aRajbg38a+HfJ1C1fbKZnKwofs4DGJvKVJjsYoD8sjWdB0Dx5pskTXHjnxnqhnuIbhxrVrohjgiQhZLcizihb94szOGDPta2BztzFPpzeINI0HWrHT5PCYstPiszHBrXn2EVnbhmP+jKDMJgWWFXwsRQqF5ypCx33xEutPuIYbnwLrSQy3UsH2lr/S0iWCNY2a7O68DGHDueFMgEMhKAFC4AnhGx8VaDdLb6zrXjLxJHfM8Pn6umjxpYCBnUSkWccLEXA2sBtkIATKwneK61v+PqP/AK5v/Naxn8X2v9tWelW1jLdQ3BuBNfQ3dp5FoYmKESK0wlJaQGMbI3wwIbbWySGuoipyDG/81oAz9XsbO8tp5LvQ01VraQywwGOJ33mHYSnmkKGKu65JHDMM4Jrm5p/E0djpGn2/hvxUkN0bSKU266OrafHG8Jf7QHl2MrqXVxArkIsnlhW8snc8UW2o3mj3lrpWratptzJcwKt1pYtDcxruj3FRdo8JXbu3ZUtt3bPn21z+m67pt94s1uNvild291atG0/huS70lv7OhiYN522ONp1juIgsmZZWYRzggRNwoBleLbPxpq2qJpel6H4zs7JL63tZL61Ph7yfs7wT+ZcRJcLK7ICIYZUZUfa6mMMFkB37jQrzULPw+t1b66LjzIP7QuHg0l5pEETCVbzKFNsowkn2YbsldhVdxGPrmpatpNkbnSPFni/xJFBYXOn3U2mz+H1FrcwOC9xKbhYlW44aMqMwqFbdGhw1cxonxYk0pZPFHiHX9dfwzqOqQpHqupa94XXTLGFvN+WOWB0d1ztV1YvJujPlswUmQA9e0fQf7NtUh1DUrjWblMD7ZfQW6zN93r5MUacsu7hRyT2wBe2qlxEqKFVYnAAHA5WvIfBvxE8ZWd5eXPj7Qtc01b66sbf7LqevaBJFptxN5vnx2xtjG8kETNbIGnLTyCVCsYIbd6tY29xbGOO5vrm7dvtEu+4EYdQ8gZY/3aqu1AwRTgkqg3MzZYgFDxIiLYyalc+Lrnw5Z6VdLqF7dRtbLG9vEgaSOd7iN1SEqCXZdjgLw681j2vinwibg64nxjtbjT47OW+eA3+nm2FsqrO1wXWMOI0hu7U79+3y2gZs+YWfodV0y81aGS3svEF/pDrcLIZ7JIGdgEHyETxyLtOeyg8DBHNVpvDeqS2ENnH441yGaIqXu0jszLNjdncGtzGM7hnai/cXGMtu0jCLteSX3/5ESk1tFv7v8yKO903wxDc6x4g+ITTWJ8u336lNZwwQSCRxkOkcfzuZEQhmI/dptAYuXkt/EHgPw61l4Rtda0HTGghe3stLjuIYSkVvGrNHHCCMLFGUJVRhVK5wMVoWem3VteS3U2uX13HIiotvMkIjjIABZSkatkkEnLEZJwAMAXqhpLzKTuVrHVNM1RXk03ULa7WN2jdoJVcKykhlJB4IIII7EGpG/wCPqP8A65v/ADWpce1RN/x9R/8AXN/5rQ7X0BXtqVZ7W4nu4JodTubVLa882WKJYyt2hgZPKk3ozBQzrJmMo26JAWKl0b5A0f8Aaq+LH/CvfiLq1zcaVc33g3wB4Z8Q2VxJZANPeX2jzXM7TKhClfNjVgqBQMkdOAUUhnmPgn/gop8ctY8KadqWoaB4MluZ0fzH+w3K7irsucC4AHA7V1vhv9vD4vax4i0rSLrw74QWG+vYLaRo7O6DBXkCkjNwRnB7iiigD7wqFv8Aj6j/AOub/wA1oooA/9k=","contextInfo":{"expiration":0}}},"expiration":0},"messageType":"extendedTextMessage","messageTimestamp":1721407787,"owner":"Sincron","source":"desktop"},"destination":"https://webhook.sincronia.digital/webhook/microsaas-tracker","date_time":"2024-07-19T13:49:47.767Z","sender":"5519994583576@s.whatsapp.net","server_url":"https://api.sincronia.digital","apikey":"2vkrtkdrzjyjv58w3h7ky8"},"webhookUrl":"https://webhook.sincronia.digital/webhook/microsaas-tracker","executionMode":"production"}}]},"versionId":"af78aec7-9ca9-4c85-8e2a-51e8e1f3d4b7","triggerCount":1,"tags":[{"createdAt":"2024-06-28T01:48:57.012Z","updatedAt":"2024-06-28T01:48:57.012Z","id":"QIHXx0gwoBEXkYoa","name":"G4"}]}