mgm2---group-(commands).json
{"createdAt":"2024-07-19T16:53:54.041Z","updatedAt":"2024-07-26T09:11:12.653Z","id":"4pCoHjGYVXLTNanj","name":"MGM2 - group (commands)","active":false,"nodes":[{"parameters":{},"id":"b531df2b-01b7-44cb-a7b0-2c473002bc10","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-80,260]},{"parameters":{"operation":"update","tableId":"statistics","matchType":"allFilters","filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $('variaveis').item.json.whatsapp }}"},{"keyName":"chat_id","condition":"eq","keyValue":"={{ $('variaveis').item.json.grupo.split(\"@\")[0] }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"group_name","fieldValue":"={{ $('get_group_info').item.json.subject }}"},{"fieldId":"messages","fieldValue":"={{ $('Supabase - busca linha estatistica').item.json.messages + 1 }}"},{"fieldId":"name","fieldValue":"={{ $('variaveis').item.json.name }}"}]}},"id":"231aa03b-4b5e-461f-b0ee-0dafc0a3e125","name":"Supabase22","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1620,-280],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"tableId":"interactions","fieldsUi":{"fieldValues":[{"fieldId":"whatsapp","fieldValue":"={{ $('variaveis').item.json.whatsapp }}"},{"fieldId":"message","fieldValue":"={{ $('variaveis').item.json.user_message }}{{ $json.choices[0].message.content }}"},{"fieldId":"chat_id","fieldValue":"={{ $('variaveis').item.json.grupo.split(\"@\")[0] }}"},{"fieldId":"group_name","fieldValue":"={{ $('get_group_info').item.json.subject }}"},{"fieldId":"user_name","fieldValue":"={{ $('variaveis').item.json.name }}"},{"fieldId":"response_to","fieldValue":"={{ $('Supabase1 - id resposta').item.json.message }}"},{"fieldId":"message_id","fieldValue":"={{ $('Webhook').item.json.body.data.key.id }}"}]}},"id":"0b7a8fcc-4d2b-48c8-9b53-f61fa8177c8d","name":"Supabase9","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1440,-280],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"getAll","tableId":"interactions","limit":1,"filters":{"conditions":[{"keyName":"message_id","condition":"eq","keyValue":"={{ $('Webhook').item.json.body.data.message.extendedTextMessage.contextInfo.stanzaId ? $('Webhook').item.json.body.data.message.extendedTextMessage.contextInfo.stanzaId : ($('Webhook').item.json.body.data.message.reactionMessage.key.id ? $('Webhook').item.json.body.data.message.reactionMessage.key.id : $('Webhook').item.json.body.data.message.audioMessage.contextInfo.stanzaId) }} "}]}},"id":"b76512d3-a067-4034-9df1-f7637f5e6e03","name":"Supabase1 - id resposta1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1180,-280],"alwaysOutputData":true,"notesInFlow":true,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}},"notes":"puxa a mensagem respondida (se houver)"},{"parameters":{"url":"=https://api.sincronia.digital/group/findGroupInfos/{{ $('variaveis').item.json.instance_evolution }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"groupJid","value":"={{ $('variaveis').item.json.grupo }}"}]},"options":{"redirect":{"redirect":{}}}},"id":"db654859-c956-4042-a380-38d1402c372d","name":"get_group_info1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,-280],"notesInFlow":true,"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}},"notes":"puxa info do grupo"},{"parameters":{"options":{}},"id":"30e03cbb-f647-4738-a731-19610c611bcc","name":"set sem nada","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[760,60]},{"parameters":{"operation":"getAll","tableId":"users","returnAll":true,"filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"5519994317797"}]}},"id":"c990cfc8-dd9b-4512-9ce5-34d6d6ae7f33","name":"Supabase - get all users","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2660,200],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"created_at"}]},"options":{}},"id":"6562ac05-3384-4ea3-82fe-e5fea8a3e1be","name":"Sort","type":"n8n-nodes-base.sort","typeVersion":1,"position":[2220,980],"retryOnFail":false,"notesInFlow":true,"notes":"coloco em ordem"},{"parameters":{"assignments":{"assignments":[{"id":"260b4232-3b4a-4118-9cde-757090b2b1d4","name":"messages","value":"=({{ $json.created_at.substring(11,16) }}) {{ $json.user_name }}: {{ $json.message }} ","type":"string"},{"id":"01b8bba4-2d55-4506-bbed-9fed8bb9b142","name":"grupo","value":"={{ $json.chat_id }}","type":"string"}]},"options":{}},"id":"f0f957cb-43ec-4170-9be5-1be8156ac0a9","name":"user message","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2420,980],"notesInFlow":true,"notes":"organiza mensagem por usuário"},{"parameters":{"assignments":{"assignments":[{"id":"a96db31d-17d4-450a-9320-3c940fe6858e","name":"topicos","value":"=Principais tópicos que rolaram aqui no grupo {{ $('Supabase - get daily msg').first().json[\"group_name\"] }}","type":"string"},{"id":"d75f9074-6ce7-4e7c-9481-5e8e2d394ad8","name":"reforce","value":"dicas, tutoriais, ajudas, conteudo técnico, anúncios negócios e oportunidades","type":"string"},{"id":"2244ed7b-20d7-4724-b14a-f7f4fb2de920","name":"ignore","value":"saudações, interações sem conteúdo coerente, polêmicas e discussões agressivas","type":"string"},{"id":"af2f1a0b-a869-4170-95f4-41470fe18b9c","name":"group_name","value":"={{ $('Supabase - get daily msg').first().json.group_name }}","type":"string"},{"id":"d935d338-ffe1-496c-ba8e-1f74f32a0b62","name":"bot_tone","value":"={{ $('Salva infos do grupo').first().json.bot_tone }}","type":"string"},{"id":"7c11e1a3-9dcd-47cf-8302-1003ade10866","name":"bot_style","value":"={{ $('Salva infos do grupo').first().json.bot_style }}","type":"string"}]},"options":{}},"id":"5ceb55e9-d93f-4d4d-8e83-2be7795d7281","name":"Arguments","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2440,1200]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"message.content","separateBy":"other","customSeparator":"\\n"}]},"options":{}},"id":"79c9ec9a-3b5b-42b7-9fa0-c5aaad862108","name":"Summarize3","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[2080,1200]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"8b500d4d-51b3-449f-b6e1-47c7d29a7f3c","leftValue":"={{ $json.message }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"6236e0ca-a811-48dd-8196-5744002d8a81","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"3fbb0452-2592-4b02-b216-90a3e228aef7","name":"Filter","type":"n8n-nodes-base.filter","typeVersion":2,"position":[2060,980],"notesInFlow":true,"notes":"pego só mensagens"},{"parameters":{"assignments":{"assignments":[{"id":"ad68118f-3197-4032-9bcf-827535010405","name":"concatenated_messages","value":"={{ $json.concatenated_message_content }}","type":"string"},{"id":"e383c863-be81-412f-9558-fd46cb9f4bb9","name":"\"part1...\"","value":"={{ $json.appended_message_content.map((item, index) => `part ${index + 1}.${item}`).join('\\n') }}","type":"string"},{"id":"5217cfd0-ea4e-4a23-a727-f2fd3ed3a72d","name":"1","value":"{{ $json.appended_message_content.map((item, index) => `${item}`).join('\\n') }}","type":"string"}]},"options":{}},"id":"c1f0ba67-96b9-4255-aebb-a2130179591f","name":"Junta as mensagens","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2240,1200]},{"parameters":{"tableId":"summaries","fieldsUi":{"fieldValues":[{"fieldId":"summary","fieldValue":"={{ $json.message.extendedTextMessage.text }}"},{"fieldId":"date","fieldValue":"={{ \n  (() => {\n    const date = new Date();\n    date.setDate(date.getDate() - 0); \n    date.setHours(date.getHours() - 3); // Ajusta a hora para GMT-3\n    return date.toISOString().split('T')[0];\n  })() \n}}\n"},{"fieldId":"message_id","fieldValue":"={{ $json.key.id }}"},{"fieldId":"id_group","fieldValue":"={{ $('Salva infos do grupo').first().json.id }}"},{"fieldId":"date","fieldValue":"={{ $json.messageTimestamp.toDateTime('s') }}"},{"fieldId":"sent","fieldValue":"={{ true }}"},{"fieldId":"remake","fieldValue":"={{ true }}"}]}},"id":"06e54cf0-8e47-45d4-8679-2d863c7c6ac1","name":"Supabase10","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2240,1420],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"getAll","tableId":"groups","limit":1,"filters":{"conditions":[{"keyName":"id","condition":"={{ $json.id_group }}"}]}},"id":"f281a245-3ed6-43bc-948b-a1908f2352db","name":"Supabase2","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1060,1140],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/Sincron","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Execute Workflow Trigger').item.json.chat_id }}"},{"name":"textMessage.text","value":"=Sua Newsletter está sendo gerada :D"},{"name":"options.linkPreview","value":"={{ false }}"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"88ab8dfd-a045-4acb-8830-2b6e510ca27c","name":"\"news sendo gerada\"","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[980,940],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}}},{"parameters":{"method":"DELETE","url":"https://api.sincronia.digital/chat/deleteMessageForEveryone/Sincron","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"fromMe","value":"={{ true }}"},{"name":"id","value":"={{ $('Execute Workflow Trigger').item.json.id_msg_reagida }}"},{"name":"remoteJid","value":"={{ $('Execute Workflow Trigger').item.json.chat_id }}@g.us"}]},"options":{}},"id":"f2239f7c-4c39-4dbd-9ef2-39546fa1072f","name":"Deleta a news","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,940],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}}},{"parameters":{"operation":"getAll","tableId":"groups","limit":1,"filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Puxo news reagida').item.json.id_group }}"}]}},"id":"ab46c95a-4769-47ed-bbfd-c7d875168e24","name":"Puxa dados do grupo","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1320,980],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"assignments":{"assignments":[{"id":"fb8c32a2-9306-43b9-9b01-5a659eab6241","name":"group","value":"={{ $json.chat_id }}","type":"string"},{"id":"29404ef0-2a44-4534-8c05-6eab88d14556","name":"group_name","value":"={{ $('Puxa dados do grupo').item.json.group_name }}","type":"string"},{"id":"8b776c38-6c42-42dd-b1da-d84420d45a0a","name":"bot_tone","value":"={{ $('Puxa dados do grupo').item.json.bot_tone }}","type":"string"},{"id":"8f89cf2b-66d3-4c4f-97da-b757c8edb1a0","name":"bot_style","value":"={{ $('Puxa dados do grupo').item.json.bot_style }}","type":"string"},{"id":"c25af50d-39c9-4e02-b60a-fab1d6a664cb","name":"id","value":"={{ $('Puxa dados do grupo').item.json.id }}","type":"string"}]},"options":{}},"id":"ddbda993-65af-43cd-8f47-66d48d21a08e","name":"Salva infos do grupo","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1500,980]},{"parameters":{"operation":"getAll","tableId":"interactions","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"created_at","condition":"gte","keyValue":"={{ \n  (() => {\n    const date = new Date();\n    date.setDate(date.getDate() - 0); // Subtrai um dia\n    date.setHours(date.getHours() - 3); // Ajusta a hora para GMT-3\n    return date.toISOString().split('T')[0];\n  })() \n}}\n"},{"keyName":"chat_id","condition":"eq","keyValue":"={{ $json.group }}"}]}},"id":"b800818f-3728-48de-bd9d-6cc4ca635832","name":"Supabase - get daily msg","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1680,980],"alwaysOutputData":true,"notesInFlow":true,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}},"notes":"mensagens do dia"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"messages"}]},"fieldsToSplitBy":"grupo","options":{}},"id":"7012b0c2-1591-4ee4-916e-50e8f0df036a","name":"Organizo as mensagens","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[1460,1200]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"4559d276-65e5-4e65-a84f-1b22cbfe8743","leftValue":"={{ $json.grupo }}","rightValue":"={{ $('user message').last().json.grupo }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"873f163d-094a-4006-ba0f-83f55afd45fc","name":"Filtro por grupo","type":"n8n-nodes-base.filter","typeVersion":2,"position":[1600,1200]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"368a6324-535b-4aea-b149-0ef64e487621","leftValue":"={{ $json.message_id }}","rightValue":"={{ $('Execute Workflow Trigger').item.json.id_msg_reagida }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"0c80089c-c104-4e72-b629-be42d226bdbd","leftValue":"={{ $json.remake }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"id":"52129855-5ec0-4c29-b618-8b19062d0282","name":"Corresponde?","type":"n8n-nodes-base.if","typeVersion":2,"position":[620,960]},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/Sincron","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=120363302353017297"},{"name":"textMessage.text","value":"=#Neswletter do grupo {{ $('Salva infos do grupo').first().json.group_name }}\n\n{{ $json.message.content.replaceAll(\"**\", \"*\"). replaceAll(\"#\", \"\").replaceAll(\"[\", \"*\").replaceAll(\"]\", \"* - \") }}"},{"name":"options.linkPreview","value":"={{ false }}"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"65fbf08e-966c-4ae7-85f4-7413b0b93f1e","name":"send newsletter","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2080,1420],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}}},{"parameters":{"operation":"update","tableId":"summaries","filters":{"conditions":[{"keyName":"message_id","condition":"eq","keyValue":"={{ $('Puxo news reagida').first().json.message_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"deleted","fieldValue":"={{ true }}"}]}},"id":"274df1f9-7d5a-48d9-a55e-82bc1d40d01a","name":"Supabase","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2440,1420],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"id"},"messages":{"values":[{"content":"=Você é um assistente que transforma conversas em newsletters e posta todos os dias anunciando a newsletter do grupo {{ $('Salva infos do grupo').first().json.group_name }}\n\n- Inclua emojis em todos os tópicos\n- não use markdown, apenas deixe os títulos em *negrito*\n- contextualize brevemente cada assunto, incluindo oque os membros disseram e seus insights\n- seu tom {{ $json.bot_tone }}\n- seu estilo {{ $json.bot_style }}\n\n{{ $('Arguments').item.json.reforce ? \"- é interessante ter no resumo conteúdos desse tipo: \" + $('Arguments').item.json.reforce : \"\" }}\n\n{{ $('Arguments').item.json.ignore ? \"- elimine completamente no resumo conteúdos desse tipo: \" + $('Arguments').item.json.ignore : \"\" }}","role":"system"},{"content":"=Faça um outline das conversas enviadas para você. \n      Nomeie os tópicos dessa forma: \n      (emoji) Nome do tópico/assunto (horário hh:mm):\n\n      Termine os parágrafos mostrando a dica ou sugestões apresentadas\nPriorize links sugeridos para cada topico, informe no corpo do topico\nFaça um paragrafo para cada topico, insira as informações neste parágrafo de 30~50 palavras\n      \n\n      COMECE: \n{{ $json[\"topicos\"] }}\n{{ $('Junta as mensagens').item.json.concatenated_messages }}\n\n----- Use um emoji no titulo de cada topico!\n----- Caso tenha link, informe o link dentro do topico.\n----- Informe os horários dos tópicos entre parenteses na frente dos titulos do topico\n      Termine os parágrafos mostrando a dica ou sugestões apresentadas\nPriorize links sugeridos para cada topico, informe no corpo do topico\nFaça um paragrafo para cada topico, insira as informações neste parágrafo de 30~50 palavras\n      \n\n      COMECE: \n{{ $json[\"topicos\"] }}\n{{ $('Junta as mensagens').item.json.concatenated_messages }}\n\n----- Use um emoji no titulo de cada topico!\n----- Caso tenha link, informe o link dentro do topico, caso não tenha jamais invente link algum Apenas ignore no topico."}]},"options":{"temperature":0.8}},"id":"970db121-3874-4041-99ab-f67f9a8df021","name":"AI Newsletter","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[1740,1420],"executeOnce":false,"credentials":{"openAiApi":{"id":"XzWU4v1rISX59xgy","name":"MGM - Newsletter"}}},{"parameters":{"operation":"getAll","tableId":"groups","limit":1,"filters":{"conditions":[{"keyName":"chat_id","condition":"eq","keyValue":"={{ $('Execute Workflow Trigger').item.json.grupo }}"}]}},"id":"382b72e9-87f8-46b7-9f85-a99a7cace830","name":"Supabase1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[460,740],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"getAll","tableId":"summaries","returnAll":true,"filters":{"conditions":[{"keyName":"id_group","condition":"eq","keyValue":"={{ $json.id }}"}]}},"id":"38adcf30-11d8-4798-8ce6-eeb47ad65641","name":"Supabase3","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[620,740],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"score","order":"descending"}]},"options":{}},"id":"d7d79418-5141-4b96-bc6b-58efc3a103ec","name":"Sort1","type":"n8n-nodes-base.sort","typeVersion":1,"position":[780,740]},{"parameters":{"maxItems":5},"id":"682de7e2-b1e2-478a-8cd6-863282d4bf01","name":"Limit","type":"n8n-nodes-base.limit","typeVersion":1,"position":[940,740]},{"parameters":{"operation":"getAll","tableId":"summaries","limit":1,"filters":{"conditions":[{"keyName":"message_id","condition":"eq","keyValue":"={{ $('Execute Workflow Trigger').item.json.id_msg_reagida }}"}]}},"id":"0c4c6002-bcaf-42a4-acf0-ddbc6429d597","name":"Puxo news reagida","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[460,960],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"145c3b7d-860e-426c-8eb7-02b03184f098","leftValue":"={{ $json.reaction }}","rightValue":"1️⃣","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"45e89664-1a75-4cb1-a8e9-bd69cf85bbde","leftValue":"={{ $json.reaction }}","rightValue":"2️⃣","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"bcf688d0-f1af-4753-9120-e2ee095fd247","leftValue":"={{ $json.reaction }}","rightValue":"3️⃣","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"868cc266-f4f2-4562-bc44-112618d4bedd","leftValue":"={{ $json.reaction }}","rightValue":"4️⃣","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"3c7daefc-e520-4634-99e8-f8e98e06ebbe","leftValue":"={{ $json.reaction }}","rightValue":"5️⃣","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"adb8206b-f0aa-48db-8378-044e00d4257e","leftValue":"={{ $json.reaction }}","rightValue":"6️⃣","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"befa3aa5-63f9-4fca-a64e-f8007942a18d","leftValue":"={{ $json.reaction }}","rightValue":"7️⃣","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"2065d6fb-e7da-4476-9b97-ddfa52ccabbf","leftValue":"={{ $json.reaction }}","rightValue":"8️⃣","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"1451e390-afda-48c6-91b6-ffffbb8fa7cd","leftValue":"={{ $json.reaction }}","rightValue":"9️⃣","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"250b19bb-eb4f-441a-bb80-013c79baa593","leftValue":"={{ $json.reaction }}","rightValue":"🔟","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"id":"820ad286-b013-44f8-b950-e54c08faf273","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[140,260]},{"parameters":{"operation":"getAll","tableId":"summaries","limit":1,"filters":{"conditions":[{"keyName":"message_id","condition":"eq","keyValue":"={{ $('Execute Workflow Trigger').item.json.id_msg_reagida }}"}]}},"id":"c27ec86c-8f99-4e04-8795-2d644f91b304","name":"Puxo news reagida1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-880,860],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"368a6324-535b-4aea-b149-0ef64e487621","leftValue":"={{ $json.message_id }}","rightValue":"={{ $('Execute Workflow Trigger').item.json.id_msg_reagida }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"5e370bbc-e1a8-4dc7-a570-0fc5c3af7c38","name":"Corresponde?1","type":"n8n-nodes-base.if","typeVersion":2,"position":[-720,860]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"você pega a newsletter de um grupo e separa algumas palavras chaves dos topicos em um json. Resuma bem todos os topicos, apenas para guardarmos os assuntos. comece:{{ $json[\"summary\"].replace(/\\n/g, '\\\\n').replace(/\\r/g, '\\\\r').replace(/\"/g, '\\\\\"') }}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"\"\n    }\n  ],\n  \"temperature\": 0.7\n}","options":{}},"id":"f4d9fa09-d78c-4cb3-9a37-80dc25ab7a60","name":"OpenAI msg - topics","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,740],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"},"openAiApi":{"id":"neTK4UBDC4tLBdAV","name":"G4 educação"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"id"},"messages":{"values":[{"content":"=Um assistente de resumo de conversas de chat que trás um contexto do que os membros estão debatendo, destacando em parágrafos os tópicos, quem são os usuários, o conteúdo e principalmente sugestões de links. Seja direto na entrega do tópico, foque no resultado da conversa.\nPontue as dicas, insights e sugestões. Isso é importante\nPriorize links de cada topico\nresuma os tópicos em formato de parágrafos","role":"system"},{"content":"=Faça um resumo conciso da seguinte conversa. START:\n\n{{ $json.concatenated_messages }}\n\npontue cada tópico com o que os membros abordaram, junto ao insight. Ignore elogios e conversas prolixas.\nPiorize os links sugeridos para cada topico\n!caso não tenha links no topico jamais invente!\nrespeite e informe corretamente os horários dos tópicos"}]},"options":{"temperature":0.8}},"id":"7075996e-dcaf-441c-bdc9-036a690c1adf","name":"AI Resumo","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[1740,1200],"notesInFlow":true,"credentials":{"openAiApi":{"id":"wtFsZzM1m6ZwWui1","name":"MGM - summarize"}},"notes":"Resume os topicos"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"choices[0].message.content","separateBy":"other","customSeparator":"\\n"}]},"options":{}},"id":"7d7586fc-3127-4497-a2a4-c81fce74e531","name":"Summarize","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[1340,740]},{"parameters":{"assignments":{"assignments":[{"id":"ad68118f-3197-4032-9bcf-827535010405","name":"concatenated_messages","value":"={{ $json.concatenated_choices0_message_content }}","type":"string"},{"id":"e383c863-be81-412f-9558-fd46cb9f4bb9","name":"\"part1...\"","value":"={{ $json.appended_message_content.map((item, index) => `part ${index + 1}.${item}`).join('\\n') }}","type":"string"},{"id":"5217cfd0-ea4e-4a23-a727-f2fd3ed3a72d","name":"1","value":"{{ $json.appended_message_content.map((item, index) => `${item}`).join('\\n') }}","type":"string"}]},"options":{}},"id":"62afaca3-b893-4b8b-920e-829bde13dcd0","name":"Junta as mensagens1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2420,260]},{"parameters":{},"id":"3c0e2a6d-7043-47b9-a027-3e8807bf2203","name":"Supabase5","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2040,180],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"assignments":{"assignments":[{"id":"3ccd4433-28d6-4e11-a7f2-865c2f8cdc6e","name":"choose","value":"1","type":"string"}]},"options":{}},"id":"87368ee9-06d3-4d71-ae8e-fa4d871bec59","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1160,1040]},{"parameters":{"assignments":{"assignments":[{"id":"3ccd4433-28d6-4e11-a7f2-865c2f8cdc6e","name":"choose","value":"2","type":"string"}]},"options":{}},"id":"c7150290-5c82-47d8-ae9a-765ca67f1b2e","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1160,1180]},{"parameters":{"assignments":{"assignments":[{"id":"3ccd4433-28d6-4e11-a7f2-865c2f8cdc6e","name":"choose","value":"3","type":"string"}]},"options":{}},"id":"ce5824b2-6712-421e-bb10-a1428a220b65","name":"Edit Fields3","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1160,1320]},{"parameters":{"assignments":{"assignments":[{"id":"3ccd4433-28d6-4e11-a7f2-865c2f8cdc6e","name":"choose","value":"4","type":"string"}]},"options":{}},"id":"71152e94-b419-4b58-8498-d11c5d45efba","name":"Edit Fields4","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1160,1480]},{"parameters":{"assignments":{"assignments":[{"id":"3ccd4433-28d6-4e11-a7f2-865c2f8cdc6e","name":"choose","value":"5","type":"string"}]},"options":{}},"id":"eb4649e2-ad62-4792-ab7a-0f975c31e4b3","name":"Edit Fields5","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1160,1620]},{"parameters":{"assignments":{"assignments":[{"id":"3ccd4433-28d6-4e11-a7f2-865c2f8cdc6e","name":"choose","value":"6","type":"string"}]},"options":{}},"id":"8cca8f8e-02a9-499a-93e8-9a7618a9b40c","name":"Edit Fields6","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1160,1760]},{"parameters":{"assignments":{"assignments":[{"id":"3ccd4433-28d6-4e11-a7f2-865c2f8cdc6e","name":"choose","value":"7","type":"string"}]},"options":{}},"id":"b59767ce-70ba-4d73-b92a-21beaa64f836","name":"Edit Fields7","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1160,1900]},{"parameters":{"assignments":{"assignments":[{"id":"3ccd4433-28d6-4e11-a7f2-865c2f8cdc6e","name":"choose","value":"8","type":"string"}]},"options":{}},"id":"c9da5539-0224-47f3-8e63-df659c6055bd","name":"Edit Fields8","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1160,2060]},{"parameters":{"assignments":{"assignments":[{"id":"3ccd4433-28d6-4e11-a7f2-865c2f8cdc6e","name":"choose","value":"9","type":"string"}]},"options":{}},"id":"81c1c5cc-bbba-4511-a54a-05556f9e1cd6","name":"Edit Fields9","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1160,2200]},{"parameters":{"assignments":{"assignments":[{"id":"3ccd4433-28d6-4e11-a7f2-865c2f8cdc6e","name":"choose","value":"10","type":"string"}]},"options":{}},"id":"4d17021b-e585-4a72-bfae-f66f988c85f6","name":"Edit Fields10","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1160,2340]},{"parameters":{"url":"https://<PROJECT_REF>.supabase.co/rest/v1/todos","options":{},"queryParametersUi":{"parameter":[{"name":"apikey","value":"<ANON_KEY>"}]}},"name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[40,1200],"id":"8f7fe6c5-7eb5-4849-9b8b-1c9748e5f413"},{"parameters":{"assignments":{"assignments":[{"id":"3ccd4433-28d6-4e11-a7f2-865c2f8cdc6e","name":"choose","value":"={{ $json.choose }}","type":"string"}]},"options":{}},"id":"30919543-139d-4f90-9dc0-697cf9de9672","name":"choosed","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1140,840]},{"parameters":{"operation":"getAll"},"id":"79bd4657-ae37-43bb-9e95-78ba1b8d8dde","name":"Supabase6","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-140,1200],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Você buscará o id do assunto pedido pelo usuário dentro de uma newsletter abaixo e retornará apenas o id correspondente em uma string única cotendo os números do id. A lista de ids é o seguinte json: {{ $json.daily_topics.replace(/\\n/g, '\\\\n').replace(/\\r/g, '\\\\r').replace(/\"/g, '\\\\\"') }}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Encontre o id do tópico {{ $('choosed').item.json.choose }} e me informe apenas os números deste id. A Newsletter é esta: {{ $json.summary.replace(/\\n/g, '\\\\n').replace(/\\r/g, '\\\\r').replace(/\"/g, '\\\\\"') }}\"\n    }\n  ],\n  \"temperature\": 0.1\n}","options":{}},"id":"80fd684d-0e7c-4477-8475-0a06b2a2fd46","name":"OpenAI msg - tradução1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-560,720],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"},"openAiApi":{"id":"neTK4UBDC4tLBdAV","name":"G4 educação"}}},{"parameters":{"operation":"getAll","tableId":"interactions","limit":1,"filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.choices[0].message.content }}"}]}},"id":"fc707a35-d177-47d0-9869-1f54e8ecf00a","name":"Supabase4","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-400,720],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"method":"POST","url":"={{ $('Execute Workflow Trigger').item.json.host_evolution }}/message/sendText/{{ $('Execute Workflow Trigger').item.json.instance_evolution }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Execute Workflow Trigger').item.json.apikey_evolution }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"options\": {\n    \"quoted\": {\n      \"key\": {\n        \"remoteJid\": \"{{ $('Supabase4').item.json[\"whatsapp\"] }}\",\n        \"id\": \"{{ $('Supabase4').item.json[\"message_id\"] }}\"\n      }\n    },\n    \"linkPreview\": false\n  },\n  \"number\": \"{{ $('Supabase4').item.json[\"chat_id\"] }}\",\n  \"textMessage\": {\n    \"text\": \"{{ $json.choices[0].message.content }}\"\n  }\n}","options":{"response":{"response":{"neverError":true}}}},"id":"01f6619e-ada3-4f59-8d3d-e862e2ac0fc8","name":"\"news sendo gerada\"2","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-60,720]},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/Sincron","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Execute Workflow Trigger').item.json.chat_id }}"},{"name":"textMessage.text","value":"={{ $json.choices[0].message.content.split('\\n🔡Tra')[0] }}\n\n🔡Tradução: mygroupmetrics.com"},{"name":"options.linkPreview","value":"={{ false }}"},{"name":"options.quoted.key.remoteJid","value":"={{ $('Execute Workflow Trigger').item.json.whatsapp }}"},{"name":"options.quoted.key.id","value":"={{ $('Execute Workflow Trigger').item.json.id_msg_reagida }}"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"5a5c6238-babd-40ef-a8c6-d961e30fab8c","name":"\"news sendo gerada\"3","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[880,540],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Faça a tradução deste texto, sempre para pt-br. Caso já esteja em pt-br, traduza para english. Respeite a formatação. Comece: {{ $('Execute Workflow Trigger').item.json.response_to.replace(/\\n/g, '\\\\n').replace(/\\r/g, '\\\\r').replace(/\"/g, '\\\\\"') }}\"\n    }\n  ],\n  \"temperature\": 0.7\n}","options":{}},"id":"edac61ef-2390-4cef-95e7-0bab7532d903","name":"OpenAI msg - tradução2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[700,540],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"},"openAiApi":{"id":"neTK4UBDC4tLBdAV","name":"G4 educação"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"A sua função é apenas reproduzir a mensagem do usuário como se fosse ele dizendo, mas alterando alguns elementos para torná-la aleatória. Não se apresente nem fale nada fora do que está ali. A sua mensagem já será a saída, então apenas reenvie a mensagem já formatada. Seja criativo, mas preserve o nome o número original da mensagem, além da palavra #Newsletter\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Trazendo uma mensagem do Tópico {{ $('choosed').item.json[\"choose\"] }} da última #Newsletter para o @{{ $('Execute Workflow Trigger').item.json[\"whatsapp\"] }} que se interessou no assunto\"\n    }\n  ],\n  \"temperature\": 1\n}","options":{}},"id":"4210d9a0-e6bd-407f-9a01-f8e4c984b989","name":"OpenAI msg - tradução","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-260,720],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"},"openAiApi":{"id":"neTK4UBDC4tLBdAV","name":"G4 educação"}}},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/Sincron","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Execute Workflow Trigger').item.json.chat_id }}"},{"name":"textMessage.text","value":"={{ $json.choices[0].message.content }}"},{"name":"options.linkPreview","value":"={{ false }}"},{"name":"options.quoted.key.remoteJid","value":"={{ $('Supabase4').item.json[\"whatsapp\"] }}"},{"name":"options.quoted.key.id","value":"={{ $('Supabase4').item.json[\"message_id\"] }}"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"8dc4ef19-d1b0-47af-9663-676eb3742616","name":"\"news sendo gerada\"4","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-60,900],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.reaction }}","rightValue":"1️⃣","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"1"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"85b16326-d3ce-4f7a-9fc7-66b76f68a38e","leftValue":"={{ $json.reaction }}","rightValue":"2️⃣","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"2"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"51ee9263-f485-4f3c-b31a-39a4ffa83100","leftValue":"={{ $json.reaction }}","rightValue":"3️⃣","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"3"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"470ca90e-1fbc-4dd9-8dfd-3bf08d7d8fd1","leftValue":"={{ $json.reaction }}","rightValue":"4️⃣","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"4"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"11a1dd09-54fc-4df8-9de0-7ac2b5750626","leftValue":"={{ $json.reaction }}","rightValue":"5️⃣","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"5"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"f5aa36f6-8050-4665-bc15-3f68e801b542","leftValue":"={{ $json.reaction }}","rightValue":"6️⃣","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"6"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"392ac771-b268-4ce8-9e28-3f7216f770f4","leftValue":"={{ $json.reaction }}","rightValue":"7️⃣","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"7"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"8d7305f4-2e05-45ad-83f1-11c2d3134919","leftValue":"={{ $json.reaction }}","rightValue":"8️⃣","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"8"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"1df5dd08-d14b-411a-9e99-c1fa0f0f9709","leftValue":"={{ $json.reaction }}","rightValue":"9️⃣","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"9"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"fef361c8-870c-42d3-b021-080d42f98d61","leftValue":"={{ $json.reaction }}","rightValue":"🔟","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"10"}]},"options":{}},"id":"5d5b6dc7-e993-4252-8746-1c5aae421eae","name":"Switch2","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-1160,520]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"gpt-4o\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"Identifique e reproduza o texto da imagem com a sua formatação original\"\n        },\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"data:image/jpeg;base64,{{ $('Execute Workflow Trigger').item.json['quoted_image'] }}\"\n          }\n        }\n      ]\n    }\n  ],\n  \"max_tokens\": 300\n}\n","options":{}},"id":"83fefdbe-6880-4200-aad9-62d0d25bf409","name":"Vision - gpt-4o","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[700,340],"credentials":{"openAiApi":{"id":"neTK4UBDC4tLBdAV","name":"G4 educação"}}},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/Sincron","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Execute Workflow Trigger').item.json.chat_id }}"},{"name":"textMessage.text","value":"={{ $json.choices[0].message.content.split('\\n🔡Tra')[0] }}\n\n🔡Tradução: mygroupmetrics.com"},{"name":"options.linkPreview","value":"={{ false }}"},{"name":"options.quoted.key.remoteJid","value":"={{ $('Execute Workflow Trigger').item.json.whatsapp }}"},{"name":"options.quoted.key.id","value":"={{ $('Execute Workflow Trigger').item.json.id_msg_reagida }}"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"719ecb90-2a8b-4482-9cd0-ea15c6de5c06","name":"\"news sendo gerada\"5","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1080,340],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Faça a tradução deste texto, sempre pt-br para english ou o contrário caso esteja em eng. Respeite a formatação. Comece: {{ $json.choices[0].message.content.replace(/\\n/g, '\\\\n').replace(/\\r/g, '\\\\r').replace(/\"/g, '\\\\\"') }}\"\n    }\n  ],\n  \"temperature\": 0.7\n}","options":{}},"id":"dd605801-77e0-463f-bbf7-5543acbcfb86","name":"OpenAI msg - tradução3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,340],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"},"openAiApi":{"id":"neTK4UBDC4tLBdAV","name":"G4 educação"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $('Execute Workflow Trigger').item.json.quoted_image }}","rightValue":"imageMessage","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"6abe1c04-9f4b-4ba4-97a9-16d9d153cd73","leftValue":"={{ $('Execute Workflow Trigger').item.json.tipoMidia }}","rightValue":"={{ $('Execute Workflow Trigger').item.json.tipoMidia }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"187d6a46-88a9-48f3-ae33-3d63de18d736","leftValue":"={{ $('Execute Workflow Trigger').item.json.tipoMidia }}","rightValue":"audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"}]},"options":{}},"id":"71561e3c-f5af-45f9-96ba-7b151235930a","name":"Switch3","type":"n8n-nodes-base.switch","typeVersion":3,"position":[460,560]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.user_message }}","rightValue":"anti bug","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"anti bug"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"81da0563-4b9d-41b8-a8c0-9805796ce628","leftValue":"={{ $json.user_message }}","rightValue":"!tradu","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"!tradu"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"d6f362e4-127e-4f13-bd7d-4240221b238f","leftValue":"={{ $json.reaction }}","rightValue":"❌","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"!newsletter"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"5b5aa92c-c2c8-4b49-9d0c-739013aa4551","leftValue":"={{ $json.user_message }}","rightValue":"!topnews","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"!topnews"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"585b5169-5a44-4538-9fcd-df0fa7e57b74","leftValue":"={{ $json.user_message }}","rightValue":"!transl","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"!transl"}]},"options":{}},"id":"d7fbabe3-e995-47f7-9249-3f968c12c3dc","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[420,280],"alwaysOutputData":true}],"connections":{"Supabase9":{"main":[[{"node":"Supabase22","type":"main","index":0}]]},"get_group_info1":{"main":[[{"node":"Supabase1 - id resposta1","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"If","type":"main","index":0}]]},"Sort":{"main":[[{"node":"user message","type":"main","index":0}]]},"user message":{"main":[[{"node":"Organizo as mensagens","type":"main","index":0}]]},"Arguments":{"main":[[{"node":"AI Newsletter","type":"main","index":0}]]},"Summarize3":{"main":[[{"node":"Junta as mensagens","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Sort","type":"main","index":0}]]},"Junta as mensagens":{"main":[[{"node":"Arguments","type":"main","index":0}]]},"\"news sendo gerada\"":{"main":[[{"node":"Puxa dados do grupo","type":"main","index":0}]]},"Puxa dados do grupo":{"main":[[{"node":"Salva infos do grupo","type":"main","index":0}]]},"Salva infos do grupo":{"main":[[{"node":"Supabase - get daily msg","type":"main","index":0}]]},"Supabase - get daily msg":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Organizo as mensagens":{"main":[[{"node":"Filtro por grupo","type":"main","index":0}]]},"Filtro por grupo":{"main":[[{"node":"AI Resumo","type":"main","index":0}]]},"Corresponde?":{"main":[[{"node":"Deleta a news","type":"main","index":0}]]},"send newsletter":{"main":[[{"node":"Supabase10","type":"main","index":0}]]},"Supabase10":{"main":[[{"node":"Supabase","type":"main","index":0}]]},"AI Newsletter":{"main":[[{"node":"send newsletter","type":"main","index":0}]]},"Supabase1":{"main":[[{"node":"Supabase3","type":"main","index":0}]]},"Supabase3":{"main":[[{"node":"Sort1","type":"main","index":0}]]},"Sort1":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Puxo news reagida":{"main":[[{"node":"Corresponde?","type":"main","index":0}]]},"If":{"main":[[{"node":"Switch2","type":"main","index":0}],[{"node":"Switch","type":"main","index":0}]]},"Puxo news reagida1":{"main":[[{"node":"Corresponde?1","type":"main","index":0}]]},"Corresponde?1":{"main":[[{"node":"OpenAI msg - tradução1","type":"main","index":0}]]},"Limit":{"main":[[{"node":"OpenAI msg - topics","type":"main","index":0}]]},"AI Resumo":{"main":[[{"node":"Summarize3","type":"main","index":0}]]},"OpenAI msg - topics":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"choosed","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"choosed","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"choosed","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"choosed","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"choosed","type":"main","index":0}]]},"Edit Fields6":{"main":[[{"node":"choosed","type":"main","index":0}]]},"Edit Fields7":{"main":[[{"node":"choosed","type":"main","index":0}]]},"Edit Fields8":{"main":[[{"node":"choosed","type":"main","index":0}]]},"Edit Fields9":{"main":[[{"node":"choosed","type":"main","index":0}]]},"Edit Fields10":{"main":[[{"node":"choosed","type":"main","index":0}]]},"choosed":{"main":[[{"node":"Puxo news reagida1","type":"main","index":0}]]},"OpenAI msg - tradução1":{"main":[[{"node":"Supabase4","type":"main","index":0}]]},"OpenAI msg - tradução2":{"main":[[{"node":"\"news sendo gerada\"3","type":"main","index":0}]]},"Supabase4":{"main":[[{"node":"OpenAI msg - tradução","type":"main","index":0}]]},"OpenAI msg - tradução":{"main":[[{"node":"\"news sendo gerada\"4","type":"main","index":0},{"node":"\"news sendo gerada\"2","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Edit Fields2","type":"main","index":0}],[{"node":"Edit Fields3","type":"main","index":0}],[{"node":"Edit Fields4","type":"main","index":0}],[{"node":"Edit Fields5","type":"main","index":0}],[{"node":"Edit Fields6","type":"main","index":0}],[{"node":"Edit Fields7","type":"main","index":0}],[{"node":"Edit Fields8","type":"main","index":0}],[{"node":"Edit Fields9","type":"main","index":0}],[{"node":"Edit Fields10","type":"main","index":0}]]},"OpenAI msg - tradução3":{"main":[[{"node":"\"news sendo gerada\"5","type":"main","index":0}]]},"Vision - gpt-4o":{"main":[[{"node":"OpenAI msg - tradução3","type":"main","index":0}]]},"Switch3":{"main":[[{"node":"Vision - gpt-4o","type":"main","index":0}],[{"node":"OpenAI msg - tradução2","type":"main","index":0}]]},"Deleta a news":{"main":[[{"node":"\"news sendo gerada\"","type":"main","index":0}]]},"Switch":{"main":[[{"node":"set sem nada","type":"main","index":0}],[{"node":"Switch3","type":"main","index":0}],[{"node":"Puxo news reagida","type":"main","index":0}],[{"node":"Supabase1","type":"main","index":0}],[{"node":"Switch3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","executionTimeout":1200},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Execute Workflow Trigger":[{"json":{"whatsapp":"5519994317797","user_message":"\n","instance_id":"bu9qnq7ga1eo7085dc9w6","msg_sent":"2024-07-23T11:11:48.500Z","assistant_id":"asst_z7suvl0dVsf5rNWeicAjt475","Developer_Key":"AIzaSyBzYmCjdHAkg4X9GJKqthauxGJCUg6K71o","name":"Luiz | Sincron IA","assistant_version":"v1","msg_type":"messages.upsert","msg_channel_type":null,"chat_id":"120363302353017297","message_id":"8F1CAB8208E3C24439","imagem_url":null,"whats_participante":"5519994317797","img_base64":null,"tipo":"text","tipoMidia":"reactionMessage","message_link":null,"title_link":null,"description_link":null,"response_to":null,"quoted_image":null,"reaction":"2️⃣","id_msg_reagida":"BAE52318A8AFC3C3","instance_evolution":"Sincron","host_evolution":"https://api.sincronia.digital","apikey_evolution":"2vkrtkdrzjyjv58w3h7ky8"}}]},"versionId":"555093cf-ae55-40a4-9cdd-dca320a1714c","triggerCount":0,"tags":[{"createdAt":"2024-07-22T21:06:40.448Z","updatedAt":"2024-07-22T21:06:40.448Z","id":"RX2ESLnM0IynaKQR","name":"MGM2"}]}