mgm2---private-(ai)-copy.json
{"createdAt":"2024-07-31T21:19:39.010Z","updatedAt":"2024-07-31T21:19:39.010Z","id":"QidAKW7icwaFvvKQ","name":"MGM2 - private (AI) copy","active":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"5eb8be50-7f3a-4bf2-83fa-bd732b4ad5ca","leftValue":"={{ !!Object.keys($node[\"Supabase\"].data).length }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"5a1eb7c2-8660-40c7-a7b9-d4a8cc617b6d","name":"Tem cadastro?","type":"n8n-nodes-base.if","typeVersion":2,"position":[5860,-500]},{"parameters":{},"id":"d87d5e93-c3b2-4a49-996b-762afefb54fe","name":"Merge - user","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[6460,-500]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c186cbdd-908f-4551-a4de-37c0902bf3ae","leftValue":"={{ $json.thread_id }}","rightValue":"=","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"82988075-0f39-41ba-9680-32b3e892d892","leftValue":"={{ $json.thread_id }}","rightValue":"0","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"f5ed7811-960b-4b5e-9418-726378adf6c9","name":"Possui Thread?","type":"n8n-nodes-base.if","typeVersion":2,"position":[6660,-500],"alwaysOutputData":false,"executeOnce":false,"retryOnFail":false,"notesInFlow":false},{"parameters":{"amount":4,"path":"8a0f34ef-397c-48be-b008-6b6078c649a2"},"id":"5a1790ec-1497-4502-bc6b-58031a792142","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[8900,-500],"webhookId":"8a0f34ef-397c-48be-b008-6b6078c649a2"},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/{{ $('Execute Workflow Trigger').item.json.body.data.owner }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Execute Workflow Trigger').first().json.body.data.key.remoteJid }}"},{"name":"textMessage.text","value":"={{ $('Get last message').item.json.data[0].content[0].text.value.replaceAll(\"**\", \"*\") }}\n\n*(tokens gastos: {{ $('Get Run Status').item.json.usage.total_tokens }})*"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"e14bca88-0c0b-433d-9589-2fea449c4019","name":"Send whats TXT response","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[9120,-860],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}}},{"parameters":{"assignments":{"assignments":[{"id":"142534ee-d7b6-4935-bcbc-cd3d3cda35fc","name":"output","value":"={{ $json.data }}","type":"string"}]},"options":{}},"id":"b2a1de0b-1438-44ca-8e38-be5f6a49d198","name":"Output Array","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[9600,-500]},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Get Run Status').first().json[\"thread_id\"] }}/runs/{{ $('Get Run Status').first().json[\"id\"] }}/submit_tool_outputs","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"=assistants={{ $('Variáveis').first().json[\"assistant_version\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={ \n  \"tool_outputs\": {{ $json.output }}\n}","options":{}},"id":"e80e28ef-e0e7-41e2-9b3d-9c8686274370","name":"insere Output","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9760,-500],"credentials":{"openAiApi":{"id":"RV9nTV0PCJCBhlAB","name":"MGM Assistant"}}},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"tool_call_id\": \"{{ $('Separa arguments para JSON').first().json[\"Properties\"][\"id\"] }}\",\n  \"output\": \"{{ $json[\"concatenated_output\"] }}.\"\n}","options":{}},"id":"9fa6eb74-4319-4595-a15b-75996af89cc7","name":"Tool Call ID - Get Books","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[8880,-40]},{"parameters":{"batchSize":"=1","options":{"reset":"={{ $node[\"Loop Over Items\"].context[\"done\"] }}"}},"id":"6b7eda97-7f3e-466f-b585-2c82914176a0","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[9140,-180]},{"parameters":{"assignments":{"assignments":[{"id":"3905b531-6eaf-4a11-9be5-bd5e0d2ed36b","name":"tool_calls","value":"={{ $json.required_action.submit_tool_outputs.tool_calls }}","type":"array"}]},"options":{}},"id":"1476c3b9-f182-4163-8f04-3618844a121b","name":"Captura Tool Calls","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[8740,-280]},{"parameters":{"assignments":{"assignments":[{"id":"49d8f0b6-256a-4a23-832e-fc4d747fbd27","name":"arguments","value":"={{ $json.Properties.function.arguments }}","type":"object"},{"id":"72aa9df4-ba28-4295-93d6-652dfa3d3f8e","name":"name","value":"={{ $json.Properties.function.name }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"e880264a-51ec-4dae-b85b-407c2535f032","name":"Separa arguments para JSON","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[9660,-60],"onError":"continueRegularOutput"},{"parameters":{"content":"## Nó de saída\nEnvia a mensagem para o usuário","height":315.6823970359038,"width":501.6459323383684,"color":3},"id":"fd15f907-f78a-491d-8bba-75d86c86c269","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[8820,-960]},{"parameters":{"content":"## Tool selection\nDesiga a tool que será executada","height":260.271323610998,"width":383.78424853528935,"color":5},"id":"c0dbe6b3-0602-4eb6-a4a9-8adefa901344","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[9600,-140]},{"parameters":{"content":"## Cria uma thread para a conversa\nCaso não tenha uma thread ativa","height":571.6405377504287,"width":490.02926794927083,"color":7},"id":"d75a7350-c5b3-498e-8464-9839e999c388","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6360,-640]},{"parameters":{"content":"## Cancela Run ativa e cria uma nova\nCaso tenha alguma rodando","height":308.29803189172566,"width":706.070988078458,"color":5},"id":"f753d082-2286-4e24-8a2e-2a056125fad8","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[7598,-640]},{"parameters":{"content":"## Prepara os dados de output\ne limpa o json para evitar erros","height":260.271323610998,"width":659.9051110856547,"color":5},"id":"4b3a41ca-7d12-4fb9-bf39-ac79a62ff40a","name":"Sticky Note12","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[10160,540]},{"parameters":{"content":"## Cadastro de usuário\nCaso seja novo","height":308.399794769607,"width":243.79790125447602,"color":6},"id":"5c408a93-104e-4fb9-b5c3-abf4293011a7","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6081,-300]},{"parameters":{"content":"## Checa cadastro do usuário","height":308.399794769607,"width":383.9956167740963,"color":6},"id":"998292d9-3b3f-4b65-ab1b-94c3a93fa638","name":"Sticky Note13","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5660,-620]},{"parameters":{"content":"## Gatilho do fluxo via API de Whatsapp\nE guarda as variáveis para consulta do fluxo","height":308.70730016078534,"width":348.65310502418646},"id":"c53823ac-9e16-4e6a-8a16-fc414b321891","name":"Sticky Note18","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5041,-660]},{"parameters":{"method":"POST","url":"= https://api.openai.com/v1/threads","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"OpenAI-Beta","value":"=assistants={{ $('Variáveis').first().json[\"assistant_version\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Primeiras informações do usuário \\\\n Nome:  {{ $json.name }}\\\\n Whatsapp:  {{ $json.whatsapp }} \\\\n Email: {{ $json.email ? $json.email : \"não informado\" }} \\\\n É Cliente?: {{ $json.auth_id ? \"sim\" : \"ainda não\" }}\"\n    }\n  ]\n}","options":{}},"id":"ceed93de-8fb8-49d5-9d99-94f09a4bc996","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6460,-320],"credentials":{"openAiApi":{"id":"RV9nTV0PCJCBhlAB","name":"MGM Assistant"}}},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $('Merge - user').first().json[\"thread_id\"] }}/runs ","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"=assistants={{ $('Variáveis').first().json[\"assistant_version\"] }}"}]},"options":{}},"id":"32beb397-a606-4e54-a9ae-b4b88a8b99ea","name":"Listar Runs","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7820,-480],"credentials":{"openAiApi":{"id":"RV9nTV0PCJCBhlAB","name":"MGM Assistant"}}},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Merge - user').first().json[\"thread_id\"] }}/runs/{{ $('Listar Runs').item.json[\"first_id\"] }}/cancel","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"=assistants={{ $('Variáveis').first().json[\"assistant_version\"] }}"}]},"options":{}},"id":"0778c5c7-b962-4f0f-91c4-ab0b1e4d3f06","name":"Cancel Run","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7980,-480],"credentials":{"openAiApi":{"id":"RV9nTV0PCJCBhlAB","name":"MGM Assistant"}}},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $json.thread_id }}/messages?order=desc","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"=assistants={{ $('Variáveis').first().json[\"assistant_version\"] }}"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"12894b95-d8aa-46f3-b3f6-bbbb1cf09443","name":"Get last message","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8900,-860],"credentials":{"openAiApi":{"id":"RV9nTV0PCJCBhlAB","name":"MGM Assistant"}}},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $json[\"thread_id\"] }}/runs/{{ $json[\"id\"] }}","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"=assistants={{ $('Variáveis').first().json[\"assistant_version\"] }}"}]},"options":{}},"id":"68bc2be6-af90-4532-bbd2-e0bfdaf2a5e5","name":"Get Run Status","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8400,-480],"credentials":{"openAiApi":{"id":"RV9nTV0PCJCBhlAB","name":"MGM Assistant"}}},{"parameters":{"path":"fe6ead43-f9f3-440d-baff-8cc1801f8a52"},"id":"54a07186-406c-4bbf-bd1d-8a85422ab2ea","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[7800,-160],"webhookId":"fe6ead43-f9f3-440d-baff-8cc1801f8a52"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"4120c556-014c-4d31-b904-f10bcbf81025","leftValue":"={{ $('Enviar msg Openai').item.json.id }}","rightValue":"={{ $('Listar_msgs').item.json.data[0].id }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"72becc8e-6532-49ac-a398-bbff4612e5d5","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[8080,-160]},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $('Merge - user').first().json[\"thread_id\"] }}/messages?order=desc","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"=assistants={{ $('Variáveis').first().json[\"assistant_version\"] }}"}]},"options":{}},"id":"f18032ad-f48e-4868-9798-7c212da8f52b","name":"Listar_msgs","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7940,-160],"credentials":{"openAiApi":{"id":"RV9nTV0PCJCBhlAB","name":"MGM Assistant"}}},{"parameters":{"content":"## Buffer de mensagens\nroda apenas se o usuário ficar 20s sem mandar mensagens","height":340.3427303057622,"width":705.7031300468116,"color":6},"id":"487455c2-4ece-4a5b-961f-a543ce2c543e","name":"Sticky Note23","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[7600,-280]},{"parameters":{"assignments":{"assignments":[{"id":"388b8772-21e3-4e22-a126-8e81e155b0cf","name":"content","value":"{\"torradas\": 2, \"ovo mexido\": 1 porção, \"presunto\": 1 fatia, \"linguiças\": 2, \"bacon\": 1 tira, \"café com leite\": 1 xícara, \"água com limão\": 1 copo}","type":"string"}]},"options":{}},"id":"6d147863-78e7-41eb-85f8-07b810b29119","name":"Edit Fields3","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[7200,480]},{"parameters":{"assignments":{"assignments":[{"id":"005575be-15a4-4ab8-b7f3-eb548a5b7879","name":"whatsapp","value":"={{ $json.body.data.key.remoteJid.split('@')[0] }}","type":"string"},{"id":"b03dcd99-430a-44e0-8ec7-d18bf7ed5068","name":"user_message","value":"={{ $('Execute Workflow Trigger').first().json.body.data.message.conversation ? $('Execute Workflow Trigger').first().json.body.data.message.conversation : $('Execute Workflow Trigger').item.json.body.data.message.extendedTextMessage.text }}","type":"string"},{"id":"a0d11d81-89d0-4594-ba57-c109b9598299","name":"instance","value":"={{ $json.body.instance }}","type":"string"},{"id":"4615993d-be1a-4fcd-b460-7ae34af27bc8","name":"api_url","value":"={{ $json.body.server_url }}","type":"string"},{"id":"947b6267-951c-46a2-a46c-2bfeeeeadc87","name":"msg_sent","value":"={{ $('Execute Workflow Trigger').item.json[\"body\"][\"date_time\"] }}","type":"string"},{"id":"b68930cd-4c56-4e9e-b210-7d088a83ef36","name":"assistant_id","value":"asst_42N79Z8xTboZYSGVhO8qSqfn","type":"string"},{"id":"48c1810c-e147-495f-be11-0f62692c3bf5","name":"name","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"27b515dd-b6a0-41fa-b79e-c58da772df3e","name":"assistant_version","value":"v2","type":"string"},{"id":"5879ad7c-2d6d-482f-8043-b748ab4a1d0d","name":"base64_image","value":"={{ $json.body.data.message.base64 }}","type":"string"},{"id":"b3980d25-5fa5-4f3c-93cf-b33e0a15c357","name":"tipo","value":"={{ $json.body.data.message.base64 ? \"image\" : \"text\" }}","type":"string"},{"id":"1b591f39-0d82-4b5a-8d75-921fc967b064","name":"tipo2","value":"={{ $('Execute Workflow Trigger').item.json.body.data.messageType }}","type":"string"}]},"options":{}},"id":"7151a904-7072-4db8-8f5c-055d1fba320b","name":"Variáveis","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[5240,-540],"alwaysOutputData":true},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Listar_msgs').item.json.data[0].thread_id }}/runs","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"=assistants={{ $('Variáveis').first().json[\"assistant_version\"] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"assistant_id","value":"={{ $('Variáveis').item.json.assistant_id }}"}]},"options":{}},"id":"b5807b60-0154-44b2-98ba-76d138dfc485","name":"Run Assistant","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8160,-480],"notesInFlow":true,"credentials":{"openAiApi":{"id":"RV9nTV0PCJCBhlAB","name":"MGM Assistant"}},"notes":"Roda o assistant"},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Merge - user').first().json[\"thread_id\"] }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"=assistants={{ $('Variáveis').first().json[\"assistant_version\"] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"role","value":"user"},{"name":"content","value":"={{ $('tool').item.json.content }}"}]},"options":{}},"id":"07c47ad6-50fa-4aba-9854-49966533af3e","name":"Enviar msg Openai","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7640,-500],"credentials":{"openAiApi":{"id":"RV9nTV0PCJCBhlAB","name":"MGM Assistant"}},"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"59883941-cee1-4e98-8553-6630e3b4c2ce","name":"tool","value":"={{ $('Variáveis').item.json.tipo2 ? \n[\n  {\n    \"type\": \"function\",\n    \"function\":\n      {\n        \"name\": \"func_foodimg\"\n      }\n  }\n] \n: \"\"\n}}","type":"object"},{"id":"3b24b7e0-b259-43f5-bd50-6c3bbf866966","name":"content","value":"={{ $json.choices[0].message.content ? $json.choices[0].message.content : ($json.text ? $json.text : $('Variáveis').item.json.user_message) }}","type":"string"}]},"options":{"ignoreConversionErrors":true}},"id":"aef1586e-6ce5-4182-9d69-6a6811fbaf48","name":"para teste","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[7960,-800]},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/{{ $('Webhook').item.json.body.data.owner }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Webhook').first().json.body.data.key.remoteJid.split(\"@\")[0] }}"},{"name":"textMessage.text","value":"=Olá. no momento a fins de testes estou aceitando apenas imagens de alimentos 😉"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"74781d41-2dd3-4889-a23b-4cc477900f1c","name":"msg teste - só imagem","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[9680,180],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}}},{"parameters":{"operation":"getAll","tableId":"users","limit":1,"filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $('Variáveis').item.json[\"whatsapp\"] }}"}]}},"id":"d8ef47b4-bff2-41be-a261-e51e1114e51d","name":"Supabase","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[5700,-500],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"update","tableId":"users","filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $('Merge - user').first().json.whatsapp }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"thread_id","fieldValue":"={{ $json.id }}"}]}},"id":"c8d364a9-0f1a-4ceb-8e34-0b15f5e4b456","name":"Supabase1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[6660,-320],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"51e1c7e7-1d66-48c8-87e6-8c4845cbb8e2","leftValue":"={{ $json.status }}","rightValue":"completed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"completed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"04624a04-1772-4e77-bfc4-273d5e235711","leftValue":"={{ $json.status }}","rightValue":"failed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"failed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"56bbe829-8c9f-4ceb-ac2e-fd210a950f9b","leftValue":"={{ $json.status }}","rightValue":"expired","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"expired"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"e564ca13-163c-465c-9db7-a402e0709234","leftValue":"={{ $json.status }}","rightValue":"in_progress","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"in_progress"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.status }}","rightValue":"queued","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"queued"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"6e85f12c-3813-46a1-94b6-f9ae52f49b13","leftValue":"={{ $json.status }}","rightValue":"requires_action","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"requires_action"}]},"options":{}},"id":"a606a238-a546-4203-92ff-611078057b44","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[8560,-500]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"64749546-819c-449c-bebf-b526efb94659","leftValue":"={{ $json.credits }}","rightValue":1,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"id":"7fcfdc57-cd61-46e2-9b19-c2598289cf33","name":"If2","type":"n8n-nodes-base.if","typeVersion":2,"position":[6160,-1680]},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Listar_msgs').item.json.data[0].thread_id }}/runs","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"=assistants={{ $('Variáveis').first().json[\"assistant_version\"] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"assistant_id","value":"={{ $('Variáveis').item.json.assistant_id }}"},{"name":"tools","value":"={{ $('tool').item.json.tool ? $('tool').item.json.tool : \"\" }}"}]},"options":{}},"id":"7df387fa-ec76-467f-a549-56a4aea3e277","name":"Run Assistant1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8160,-800],"notesInFlow":true,"credentials":{"openAiApi":{"id":"Z2mHFvSkYW4fOXqx","name":"SincronIA"}},"notes":"Roda o assistant"},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/{{ $('Webhook').item.json.body.data.owner }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Webhook').first().json.body.data.key.remoteJid.split(\"@\")[0] }}"},{"name":"textMessage.text","value":"=*Seu teste acabou.*\n\nAgradecemos por testar nosso sistema. Vamos analizar as respostas e após melhorias liberaremos mais créditos para você (:"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"0b3cce83-6060-40f5-93db-5a88e4b2427f","name":"msg - não identificou alimento1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[6160,-1840],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}}},{"parameters":{"content":"## Sem créditos \n**seu teste acabou** :D","height":440.0509486183677,"width":242.57028456664017,"color":3},"id":"0a24be42-bcb9-4162-a89f-8b05c23a0adb","name":"Sticky Note19","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6100,-1920]},{"parameters":{},"id":"7effa149-688e-4601-a704-f00904ef704a","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[9440,-60],"typeVersion":1},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"gpt-4o\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"identifique os alimentos da imagem e se esforce para informar a quantidade em gramas ou ml. Formate desta forma: {\\\"item 1\\\": quantidade, \\\"item 2\\\": quantidade} ##caso não seja uma imagem de alimento, apenas responda erro \"\n        },\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"data:image/jpeg;base64,{{ $('Variáveis').item.json['base64_image'] }}\"\n          }\n        }\n      ]\n    }\n  ],\n  \"max_tokens\": 300\n}\n","options":{}},"id":"437c5875-3f73-4df7-a745-f6a8e7455de2","name":"Vision - gpt-4o","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7500,-1800],"credentials":{"openAiApi":{"id":"Z2mHFvSkYW4fOXqx","name":"SincronIA"}}},{"parameters":{"fieldToSplitOut":"tool_calls","options":{"destinationFieldName":"Properties"}},"id":"dea32ec7-4b2e-43bb-87a9-024a06542ebb","name":"Split Out2","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[8880,-280]},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"0655cf0e-ad89-4b6e-a2de-db8c42287f18","name":"Aggregate1","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[9440,-500]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"output","separateBy":"other","customSeparator":"; "}]},"options":{"outputFormat":"singleItem"}},"id":"48ce419d-a5bb-4871-bb4f-4a8f39a4a68b","name":"Summarize1","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[8720,-40]},{"parameters":{"content":"## Wait 4s\nCaso a run esteja in_progress ou queued","height":245.9523279828706,"width":265.2399048045356,"color":7},"id":"ea57041c-8a2c-4751-965e-0e2d08991ac6","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[8820,-600]},{"parameters":{"tableId":"users","fieldsUi":{"fieldValues":[{"fieldId":"whatsapp","fieldValue":"={{ $('Execute Workflow Trigger').first().json.body.data.key.remoteJid.split(\"@\")[0] }}"},{"fieldId":"name","fieldValue":"={{ $('Execute Workflow Trigger').first().json.body.data.pushName }}"}]}},"id":"5bb3a7d2-d461-49fb-b474-b787f42bbf04","name":"Supabase6","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[6140,-180],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"content":"## ERRO \n**Aviso** Erro no audio","height":266.3666805421406,"width":250.09753371240078,"color":3},"id":"9b36f309-2081-422c-80f4-c1a5091d83bf","name":"Sticky Note25","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[7140,180]},{"parameters":{"assignments":{"assignments":[{"id":"50db61da-9a10-45a1-a791-0f981b186a2a","name":"choices[0].message.content","value":"=[{\"macarrão\": 300g, \"calabresa picada\": 50g}]","type":"string"},{"id":"bd8804e7-cbdf-48f0-90a2-4bd360d63853","name":"2","value":"{\"suco de laranja\": 200 ml, \"pedaço de mamão\": 50 g, \"pedaço de melão\": 50 g, \"pão de melado\": 30 g, \"bolo de cenoura com cobertura de chocolate\": 40 g, \"bolo simples com açúcar\": 30 g}","type":"string"}]},"options":{}},"id":"a89ec8c4-e570-4a25-8a8b-91e95e09358f","name":"Vision - gpt-4o1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[7500,-1620]},{"parameters":{"assignments":{"assignments":[{"id":"50db61da-9a10-45a1-a791-0f981b186a2a","name":"text","value":"={{ $('Vision - gpt-4o1').item.json.choices[0].message.content }}","type":"string"}]},"options":{}},"id":"26e4f13f-3c75-4700-9027-1c5d8761b71c","name":"Edit Fields5","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[8080,-1620]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"5555af97-d44e-45a6-9646-84e574f8db0a","leftValue":"={{ $json.choices[0].message.content }}","rightValue":"erro","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{"ignoreCase":true}},"id":"96bbc767-5efa-450f-8af0-234c2f0130bb","name":"tem alimento?","type":"n8n-nodes-base.if","typeVersion":2,"position":[7700,-1620]},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/{{ $('Webhook').item.json.body.data.owner }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Variáveis').item.json.whatsapp }}"},{"name":"textMessage.text","value":"=Desculpe, mas não identifiquei algum alimento nessa imagem."}]},"options":{"response":{"response":{"neverError":true}}}},"id":"3cf88fb3-42d3-48a7-8456-d642937dc49e","name":"msg - não identificou alimento","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[7900,-1900],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}}},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/{{ $('Webhook').item.json.body.data.owner }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Webhook').first().json.body.data.key.remoteJid.split(\"@\")[0] }}"},{"name":"textMessage.text","value":"=*Muito bom!*\n\nEstou analisando sua refeição e calculando os nutrientes..."}]},"options":{"response":{"response":{"neverError":true}}}},"id":"deb901c5-6b6b-4fb3-ab7c-f107af3181d1","name":"msg - analizando","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[7900,-1620],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}}},{"parameters":{"content":"## ERRO \n**AVISO** não é imagem de comida","height":266.3666805421406,"width":288.40941754376024,"color":3},"id":"1d02f11b-eddb-4b63-a660-3aca89fdab1d","name":"Sticky Note24","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[7820,-1980]},{"parameters":{"assignments":{"assignments":[{"id":"7afcb2ec-5e32-427c-81ee-39293b010dfe","name":"text","value":"={{ $('Variáveis').item.json.user_message }}","type":"string"}]},"options":{}},"id":"9d509d61-34e1-48e4-81ad-3dbe0ac4985a","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[7400,-280]},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/{{ $('Webhook').item.json.body.data.owner }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Webhook').first().json.body.data.key.remoteJid.split(\"@\")[0] }}"},{"name":"textMessage.text","value":"=Houve um erro com a leitura do áudio. Poderia enviar novamente?"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"1d682955-a6e1-4fa9-bd41-a3e50c4a6636","name":"msg - erro audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[7200,280],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"6f026ddb-a1d4-44cd-a05f-8d97e610f098","name":"Transcrever audio","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[7400,-140],"credentials":{"openAiApi":{"id":"K8FfxMZ9IgSFVC2G","name":"FURIA - Pantero"}}},{"parameters":{"assignments":{"assignments":[{"id":"59883941-cee1-4e98-8553-6630e3b4c2ce","name":"tool","value":"={{ $('Variáveis').item.json.tipo2 ? \n[\n  {\n    \"type\": \"function\",\n    \"function\":\n      {\n        \"name\": \"func_foodimg\"\n      }\n  }\n] \n: \"\"\n}}","type":"object"},{"id":"3b24b7e0-b259-43f5-bd50-6c3bbf866966","name":"content","value":"={{ $json.text  }}","type":"string"},{"id":"08ce14c2-aec4-498f-9a6f-b05f1925efc0","name":"","value":"","type":"string"}]},"options":{"ignoreConversionErrors":true}},"id":"3111868f-a90b-49ad-a4f0-c4468c79a65e","name":"tool","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[7400,-500]},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/chat/getBase64FromMediaMessage/Sincron","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $('Webhook').item.json[\"body\"][\"data\"][\"key\"][\"id\"] }}\"\n    }\n  },\n  \"convertToMp4\": true\n}","options":{"redirect":{"redirect":{}}}},"id":"07c6bb05-a4bf-4b85-a241-e5b36d6f6d87","name":"pega mp4 do audio3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7000,-120],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"fileName":"audio","mimeType":"={{ $json.mimetype }}"}},"id":"fdab79b5-a1db-4059-921e-a04fff1e565f","name":"Convert to File1","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[7200,-140],"executeOnce":false},{"parameters":{},"id":"6f0ef0ec-2f71-4ab0-b0b0-8afd94873922","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[5061,-540],"disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $('Variáveis').item.json.tipo }}","rightValue":"text","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"3b8c4da6-5b70-4749-8c57-c3a17372a8f4","leftValue":"={{ $('Variáveis').item.json.tipo2 }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"imagem"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"642021f6-8c7c-4da6-9d7d-fb4bbb8a99d9","leftValue":"={{ $('Variáveis').item.json.tipo2 }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"}]},"options":{}},"id":"063c40ba-111e-4e43-a50f-f2b835d5eaee","name":"tipo da mensagem","type":"n8n-nodes-base.switch","typeVersion":3,"position":[6980,-520]},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/{{ $('Webhook').item.json.body.data.owner }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Variáveis').item.json.whatsapp }}"},{"name":"textMessage.text","value":"=Desculpe, mas não identifiquei algum alimento nessa imagem."}]},"options":{"response":{"response":{"neverError":true}}}},"id":"0358263e-20d3-45f9-957b-a9074309bc4b","name":"msg - não identificou alimento2","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[7340,-1480],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ xxxxx.split(\"\")[0] }}","rightValue":"!","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"comando"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"034dd8b5-452f-4bc2-b811-8564350bd5a8","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"texto comum"}]},"options":{}},"id":"5979aa55-55c5-495a-8cbb-b056e137f553","name":"Switch2","type":"n8n-nodes-base.switch","typeVersion":3,"position":[7000,-300]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.user_message }}","rightValue":"/zerar","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"/zerar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"d4beeccb-48d8-45c3-b570-52034efc0338","leftValue":"={{ $json.user_message }}","rightValue":"/cliente_n","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"/cliente_n"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"aae37992-8cb3-493c-a872-dc9f72047f7d","leftValue":"={{ $json.user_message }}","rightValue":"/cliente_s","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"/cliente_s"},{}]},"options":{}},"id":"244de5c9-abbb-49b0-b25d-cec48662bac6","name":"Switch1","type":"n8n-nodes-base.switch","typeVersion":3,"position":[5461,-540]},{"parameters":{"operation":"update","tableId":"users","filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $json.whatsapp }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"thread_id"}]}},"id":"a0412569-e37a-49aa-999b-288c1491d2be","name":"zerar_thread","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[5461,-1100],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"update","tableId":"users","filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $json.whatsapp }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"auth_id","fieldValue":"x"}]}},"id":"952ee08f-f679-49c9-98a1-d26eaa11b571","name":"cliente_s","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[5461,-920],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"update","tableId":"users","filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $json.whatsapp }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"auth_id"}]}},"id":"c74b4de4-b582-4af0-8e95-9855aafcf86d","name":"cliente_s1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[5461,-740],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"content":"## Cancela Run ativa e cria uma nova\nCaso tenha alguma rodando","height":699.10786435566,"width":691.267585333612,"color":5},"id":"fae67a1c-bcdc-47c2-991f-1aa1693691dd","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6880,-640]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.Properties.function.name }}","rightValue":"save_user_data","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"save_user_data"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"21a41b69-dc25-4cae-8fd3-23b4e52e4ba9","leftValue":"={{ $json.Properties.function.name }}","rightValue":"save_subscription","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"save_subscription"}]},"options":{}},"id":"4ec88053-5556-44f0-9fde-691058722074","name":"Escolhe a tool que deve ser utilizada","type":"n8n-nodes-base.switch","typeVersion":3,"position":[9820,-60]},{"parameters":{"operation":"update","tableId":"users","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Supabase').first().json.id }}"}]},"dataToSend":"autoMapInputData"},"id":"c8d84d01-91b3-4686-b9c4-04712b60596d","name":"Supabase2","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[10300,-80],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"assignments":{"assignments":[{"id":"9e83e585-a1fc-4a0c-92b3-68ad1558560a","name":"email","value":"={{ $json.arguments.email }}","type":"string"},{"id":"be3002b7-0e01-49e9-aae0-4ddf3c9e2c5e","name":"name","value":"={{ $json.arguments.name }}","type":"string"}]},"options":{}},"id":"b2c6119d-d0c3-446b-a232-90519297e030","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[10140,-80]},{"parameters":{"assignments":{"assignments":[{"id":"2d72c7f8-279f-450c-aa41-f3b3a22ed53b","name":"output","value":"=Dados atualizados\\n\\nNome: {{ $json.Name }}\\n{{ $json.email ? \"email: \" + $json.email : \"\"  }}\n","type":"string"}]},"options":{}},"id":"bf63340d-607d-4284-9bdc-872938b2c57f","name":"Descreve as saídas","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[10260,640]},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"output\" : \"ok. Feito! Os dados do usuário foram atualizados: {{ $json.output.replaceAll('\\n', \" \") }}. Podemos prosseguir\" \n}  ","options":{}},"id":"27a3afad-c295-4989-b32e-f65269a3929e","name":"Prepara o output","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[10420,640],"onError":"continueRegularOutput"}],"connections":{"Tem cadastro?":{"main":[[{"node":"Merge - user","type":"main","index":0}],[{"node":"Supabase6","type":"main","index":0}]]},"Merge - user":{"main":[[{"node":"Possui Thread?","type":"main","index":0}]]},"Possui Thread?":{"main":[[{"node":"tipo da mensagem","type":"main","index":0}],[{"node":"HTTP Request","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Get Run Status","type":"main","index":0}]]},"Output Array":{"main":[[{"node":"insere Output","type":"main","index":0}]]},"insere Output":{"main":[[{"node":"Get Run Status","type":"main","index":0}]]},"Tool Call ID - Get Books":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Aggregate1","type":"main","index":0}],[{"node":"Separa arguments para JSON","type":"main","index":0}]]},"Captura Tool Calls":{"main":[[{"node":"Split Out2","type":"main","index":0}]]},"Separa arguments para JSON":{"main":[[{"node":"Escolhe a tool que deve ser utilizada","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Supabase1","type":"main","index":0}]]},"Listar Runs":{"main":[[{"node":"Cancel Run","type":"main","index":0}]]},"Cancel Run":{"main":[[{"node":"Enviar msg Openai","type":"main","index":0}]]},"Get last message":{"main":[[{"node":"Send whats TXT response","type":"main","index":0}]]},"Get Run Status":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Listar_msgs","type":"main","index":0}]]},"If":{"main":[[{"node":"Run Assistant","type":"main","index":0}]]},"Listar_msgs":{"main":[[{"node":"If","type":"main","index":0}]]},"Variáveis":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Run Assistant":{"main":[[{"node":"Get Run Status","type":"main","index":0}]]},"Enviar msg Openai":{"main":[[{"node":"Wait1","type":"main","index":0}],[{"node":"Listar Runs","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"Tem cadastro?","type":"main","index":0}]]},"Supabase1":{"main":[[{"node":"Merge - user","type":"main","index":1}]]},"Switch":{"main":[[{"node":"Get last message","type":"main","index":0}],[],[],[{"node":"Wait","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}],[{"node":"Captura Tool Calls","type":"main","index":0}]]},"If2":{"main":[[],[{"node":"msg - não identificou alimento1","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Separa arguments para JSON","type":"main","index":0}]]},"Split Out2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Output Array","type":"main","index":0}]]},"Summarize1":{"main":[[{"node":"Tool Call ID - Get Books","type":"main","index":0}]]},"Supabase6":{"main":[[{"node":"Merge - user","type":"main","index":1}]]},"Vision - gpt-4o1":{"main":[[{"node":"tem alimento?","type":"main","index":0}]]},"tem alimento?":{"main":[[{"node":"msg - não identificou alimento","type":"main","index":0}],[{"node":"msg - analizando","type":"main","index":0}]]},"msg - analizando":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"tool","type":"main","index":0}]]},"Transcrever audio":{"main":[[{"node":"tool","type":"main","index":0}]]},"tool":{"main":[[{"node":"Enviar msg Openai","type":"main","index":0}]]},"pega mp4 do audio3":{"main":[[{"node":"Convert to File1","type":"main","index":0}],[{"node":"msg - erro audio","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Transcrever audio","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Variáveis","type":"main","index":0}]]},"tipo da mensagem":{"main":[[{"node":"Switch2","type":"main","index":0}],[],[{"node":"pega mp4 do audio3","type":"main","index":0}]]},"Switch2":{"main":[[],[{"node":"Edit Fields1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"zerar_thread","type":"main","index":0}],[{"node":"cliente_s1","type":"main","index":0}],[{"node":"cliente_s","type":"main","index":0}],[{"node":"Supabase","type":"main","index":0}]]},"Escolhe a tool que deve ser utilizada":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Supabase2","type":"main","index":0}]]},"Supabase2":{"main":[[{"node":"Descreve as saídas","type":"main","index":0}]]},"Descreve as saídas":{"main":[[{"node":"Prepara o output","type":"main","index":0}]]},"Prepara o output":{"main":[[{"node":"Summarize1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Separa arguments para JSON":[{"json":{"Properties":{"id":"call_p1qxTPyuxSrdJsxyQwI5pz7B","type":"function","function":{"name":"save_user_data","arguments":"{\"email\": \"contato.luizhms@gmail.com\", \"name\": \"Luiz\"}"}},"arguments":{"email":"contato.luizhms@gmail.com","name":"Luiz"},"name":"save_user_data"}}],"Execute Workflow Trigger":[{"json":{"headers":{"host":"webhook.sincronia.digital","user-agent":"axios/1.7.2","content-length":"817","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"webhook.sincronia.digital","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"31e0f1d9720a","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"Sincron","data":{"key":{"remoteJid":"5519994317797@s.whatsapp.net","fromMe":false,"id":"3EB036FC5BE87CD3E879C1"},"pushName":"Luiz | Sincron IA","message":{"conversation":"contato.luizhms@gmail.com","messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"s850Fh8AwlHfMQ==","senderTimestamp":"1722003849","senderAccountType":"E2EE","receiverAccountType":"E2EE","recipientKeyHash":"a5MbOvQa/MZ8AA==","recipientTimestamp":"1721221306"},"deviceListMetadataVersion":2}},"messageType":"conversation","messageTimestamp":1722416847,"owner":"Sincron","source":"web"},"destination":"https://webhook.sincronia.digital/webhook/microsaas-tracker","date_time":"2024-07-31T06:07:27.274Z","sender":"5519994583576@s.whatsapp.net","server_url":"https://api.sincronia.digital","apikey":"2vkrtkdrzjyjv58w3h7ky8"},"webhookUrl":"https://webhook.sincronia.digital/webhook/microsaas-tracker","executionMode":"production","whatsapp":"5519994317797","user_message":"contato.luizhms@gmail.com","instance_id":"bu9qnq7ga1eo7085dc9w6","msg_sent":"2024-07-31T06:07:27.274Z","assistant_id":"asst_z7suvl0dVsf5rNWeicAjt475","Developer_Key":"AIzaSyBzYmCjdHAkg4X9GJKqthauxGJCUg6K71o","name":"Luiz | Sincron IA","assistant_version":"v1","msg_type":"messages.upsert","msg_channel_type":null,"chat_id":"5519994317797","message_id":"3EB036FC5BE87CD3E879C1","imagem_url":null,"whats_participante":null,"img_base64":null,"tipo":"text","tipoMidia":"conversation","message_link":null,"title_link":null,"description_link":null,"response_to":"\n","quoted_image":null,"reaction":null,"id_msg_reagida":null,"instance_evolution":"Sincron","host_evolution":"https://api.sincronia.digital","apikey_evolution":"2vkrtkdrzjyjv58w3h7ky8"}}]},"versionId":"a635b084-d558-4c3b-83ef-b2fdba3b0c25","triggerCount":0,"tags":[{"createdAt":"2024-07-22T21:06:40.448Z","updatedAt":"2024-07-22T21:06:40.448Z","id":"RX2ESLnM0IynaKQR","name":"MGM2"}]}