mgm2---private-(ai).json
{"createdAt":"2024-07-22T19:53:10.428Z","updatedAt":"2024-07-22T21:11:03.088Z","id":"VgiFh1W3m2OpK9ZH","name":"MGM2 - private (AI)","active":false,"nodes":[{"parameters":{},"id":"6524b46e-a0d9-4549-87a9-708c6ece45f2","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[919,40]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"5eb8be50-7f3a-4bf2-83fa-bd732b4ad5ca","leftValue":"={{ !!Object.keys($node[\"Supabase\"].data).length }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"47017156-5502-41bc-a94b-fbd544118154","name":"Tem cadastro?","type":"n8n-nodes-base.if","typeVersion":2,"position":[2400,40]},{"parameters":{},"id":"69a46965-d4e4-4c36-834f-8b0c4de877a1","name":"Merge - user","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[3000,20]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c186cbdd-908f-4551-a4de-37c0902bf3ae","leftValue":"={{ $json.thread_id }}","rightValue":"=","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"82988075-0f39-41ba-9680-32b3e892d892","leftValue":"={{ $json.thread_id }}","rightValue":"0","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"0e5bff74-aaf0-4d28-a56c-a9f88ffce2fb","name":"Possui Thread?","type":"n8n-nodes-base.if","typeVersion":2,"position":[3200,20],"alwaysOutputData":false,"executeOnce":false,"retryOnFail":false,"notesInFlow":false},{"parameters":{"amount":4},"id":"231051d7-7f96-4f82-97f2-2c4c1567b9ff","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[5820,40],"webhookId":"96bde2e8-ebf5-438e-8ae1-5ca37676b4ca"},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/{{ $('Webhook').item.json.body.data.owner }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Webhook').first().json.body.data.key.remoteJid }}"},{"name":"textMessage.text","value":"={{ $('Get last message').item.json.data[0].content[0].text.value.replaceAll(\"**\", \"*\") }}\n\n*(tokens gastos: {{ $('Get Run Status').item.json.usage.total_tokens }})*"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"52348193-353f-4893-ae21-bddf830d6e55","name":"Send whats TXT response","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[6040,-320],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}}},{"parameters":{"assignments":{"assignments":[{"id":"142534ee-d7b6-4935-bcbc-cd3d3cda35fc","name":"output","value":"={{ $json.data }}","type":"string"}]},"options":{}},"id":"4987d364-9396-4d0e-bb7b-8ff7bc691aa1","name":"Output Array","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[6520,40]},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Get Run Status').first().json[\"thread_id\"] }}/runs/{{ $('Get Run Status').first().json[\"id\"] }}/submit_tool_outputs","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v1"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={ \n  \"tool_outputs\": {{ $json.output }}\n}","options":{}},"id":"d3e623a7-fe18-42f9-b708-2b7805421010","name":"insere Output","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6680,40],"credentials":{"openAiApi":{"id":"Z2mHFvSkYW4fOXqx","name":"SincronIA"}}},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"tool_call_id\": \"{{ $('Separa arguments para JSON').first().json[\"Properties\"][\"id\"] }}\",\n  \"output\": \"{{ $json[\"concatenated_output\"] }}.\"\n}","options":{}},"id":"6679ae51-7e9b-4cb4-bf6f-147fb5e57be2","name":"Tool Call ID - Get Books","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[5800,500]},{"parameters":{"batchSize":"=1","options":{"reset":"={{ $node[\"Loop Over Items\"].context[\"done\"] }}"}},"id":"aa8bced4-c390-4413-9eb3-0d8f4fb4410e","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[6060,360]},{"parameters":{"assignments":{"assignments":[{"id":"3905b531-6eaf-4a11-9be5-bd5e0d2ed36b","name":"tool_calls","value":"={{ $json.required_action.submit_tool_outputs.tool_calls }}","type":"array"}]},"options":{}},"id":"fe1a3730-69c5-4e41-b97d-14f73fda8307","name":"Captura Tool Calls","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[5660,260]},{"parameters":{"assignments":{"assignments":[{"id":"49d8f0b6-256a-4a23-832e-fc4d747fbd27","name":"arguments","value":"={{ $json.Properties.function.arguments }}","type":"object"},{"id":"72aa9df4-ba28-4295-93d6-652dfa3d3f8e","name":"name","value":"={{ $json.Properties.function.name }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"a8e88f90-1fb5-41b1-92a7-21aac1035149","name":"Separa arguments para JSON","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[6360,480],"onError":"continueRegularOutput"},{"parameters":{"content":"## Nó de saída\nEnvia a mensagem para o usuário","height":315.6823970359038,"width":501.6459323383684,"color":3},"id":"3f07fa33-1ae7-4fd8-937c-251c13d656ea","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5740,-420]},{"parameters":{"content":"## Tool selection\nDesiga a tool que será executada","height":260.271323610998,"width":383.78424853528935,"color":5},"id":"b9f1adcb-1b16-4ab8-9ad2-1cb5ea5a910e","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6300,400]},{"parameters":{"content":"## Cria uma thread para a conversa\nCaso não tenha uma thread ativa","height":571.6405377504287,"width":490.02926794927083,"color":7},"id":"245c9717-7625-4016-9edd-019d3fa6b1ff","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2900,-100]},{"parameters":{"content":"## Cancela Run ativa e cria uma nova\nCaso tenha alguma rodando","height":308.29803189172566,"width":706.070988078458,"color":5},"id":"cf8349d3-7e9c-457f-961d-9b0421054092","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4518,-100]},{"parameters":{"content":"## Prepara os dados de output\ne limpa o json para evitar erros","height":260.271323610998,"width":659.9051110856547,"color":5},"id":"dfa8bb82-5a56-40cc-88bd-a1ed9998b40f","name":"Sticky Note12","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[7080,1080]},{"parameters":{"content":"## Cadastro de usuário\nCaso seja novo","height":308.399794769607,"width":243.79790125447602,"color":6},"id":"b6c89d0b-6497-47c6-a25d-f946b4e534de","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2621,240]},{"parameters":{"content":"## Checa cadastro do usuário","height":308.399794769607,"width":383.9956167740963,"color":6},"id":"888fe1a0-304c-4c46-9041-d194eb7f4ea7","name":"Sticky Note13","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2200,-80]},{"parameters":{"content":"## Gatilho do fluxo via API de Whatsapp\nE guarda as variáveis para consulta do fluxo","height":308.70730016078534,"width":348.65310502418646},"id":"e21f72b2-c245-4cf0-9911-d05a6380ebf3","name":"Sticky Note18","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[900,-80]},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"output\" : \"Título do Vídeo do YouTube: {{ $('raspa comentarios').item.json[\"title\"] }}\n\nDescrição do Vídeo: {{ $('raspa comentarios').item.json[\"description\"] }}\n\nComentários do Vídeo: \n{{ $('Puxa_comentarios').item.json[\"Comentários\"] }} \" \n}  ","options":{}},"id":"b91ea8a2-48e9-4633-883c-2460702665b0","name":"Jason to Str2","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[7580,1200]},{"parameters":{"method":"POST","url":"= https://api.openai.com/v1/threads","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"OpenAI-Beta","value":"=assistants={{ $('Variáveis').first().json[\"assistant_version\"] }}"}]},"options":{}},"id":"6ae87f78-2144-48b4-84f1-a1945f4a18f7","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3000,220],"credentials":{"openAiApi":{"id":"Z2mHFvSkYW4fOXqx","name":"SincronIA"}}},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $('Merge - user').first().json[\"thread_id\"] }}/runs ","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"=assistants={{ $('Variáveis').first().json[\"assistant_version\"] }}"}]},"options":{}},"id":"e7ddf47b-968f-4b78-8eba-8593b7127b83","name":"Listar Runs","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4740,60],"credentials":{"openAiApi":{"id":"Z2mHFvSkYW4fOXqx","name":"SincronIA"}}},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Merge - user').first().json[\"thread_id\"] }}/runs/{{ $('Listar Runs').item.json[\"first_id\"] }}/cancel","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"=assistants={{ $('Variáveis').first().json[\"assistant_version\"] }}"}]},"options":{}},"id":"77973ec5-ac64-4eda-94c2-6e5f701b1f31","name":"Cancel Run","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4900,60],"credentials":{"openAiApi":{"id":"Z2mHFvSkYW4fOXqx","name":"SincronIA"}}},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $json.thread_id }}/messages?order=desc","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"=assistants={{ $('Variáveis').first().json[\"assistant_version\"] }}"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"73b4b3f3-078f-4a79-be81-4ddb2328bebc","name":"Get last message","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5820,-320],"credentials":{"openAiApi":{"id":"Z2mHFvSkYW4fOXqx","name":"SincronIA"}}},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $json[\"thread_id\"] }}/runs/{{ $json[\"id\"] }}","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"=assistants={{ $('Variáveis').first().json[\"assistant_version\"] }}"}]},"options":{}},"id":"93e38cff-6eeb-4ad0-995a-ccc2cbf38b16","name":"Get Run Status","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5320,60],"credentials":{"openAiApi":{"id":"Z2mHFvSkYW4fOXqx","name":"SincronIA"}}},{"parameters":{"assignments":{"assignments":[{"id":"2d72c7f8-279f-450c-aa41-f3b3a22ed53b","name":"output","value":"=Título do video:{{ $('Aggregate1').item.json.data[0].title.replaceAll('\"', \" \") }}; Descrição do video:  {{ $('Aggregate1').item.json.data[0].description.replaceAll('\"', \" \") }}; Análise dos comentários do video: {{ $('OpenAI').item.json[\"message\"][\"content\"].replaceAll('\"', \" \") }}","type":"string"}]},"options":{}},"id":"f0930f71-9459-44b8-8794-d35a7cd0beb8","name":"Descreve as saídas","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[7180,1180]},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"output\" : \"ok. Feito! Estes são os detalhes da análise do video: {{ $json.output.replaceAll('\\n', \" \") }}. Podemos gerar os insights e planos de conteúdo\" \n}  ","options":{}},"id":"84cc4968-a8c1-49c4-ad75-0ec30444fa99","name":"Prepara o output","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[7340,1180],"onError":"continueErrorOutput"},{"parameters":{},"id":"3a3da4f7-8f9d-46c6-80ab-cd6ea06a7e06","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[4720,380],"webhookId":"16fcf57c-72cb-47bb-a610-9c132a54a933"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"4120c556-014c-4d31-b904-f10bcbf81025","leftValue":"={{ $('Enviar msg Openai').item.json.id }}","rightValue":"={{ $('Listar_msgs').item.json.data[0].id }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"3e37dd16-3233-4f22-b2cd-11a516c95230","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[5000,380]},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $('Merge - user').first().json[\"thread_id\"] }}/messages?order=desc","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"=assistants={{ $('Variáveis').first().json[\"assistant_version\"] }}"}]},"options":{}},"id":"5a93eff8-8fb5-47e9-ba18-761046086431","name":"Listar_msgs","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4860,380],"credentials":{"openAiApi":{"id":"Z2mHFvSkYW4fOXqx","name":"SincronIA"}}},{"parameters":{"content":"## Buffer de mensagens\nroda apenas se o usuário ficar 20s sem mandar mensagens","height":340.3427303057622,"width":705.7031300468116,"color":6},"id":"ca759754-1e43-42b5-9b9e-76f977d33ed2","name":"Sticky Note23","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4520,260]},{"parameters":{"assignments":{"assignments":[{"id":"388b8772-21e3-4e22-a126-8e81e155b0cf","name":"content","value":"{\"torradas\": 2, \"ovo mexido\": 1 porção, \"presunto\": 1 fatia, \"linguiças\": 2, \"bacon\": 1 tira, \"café com leite\": 1 xícara, \"água com limão\": 1 copo}","type":"string"}]},"options":{}},"id":"64e8d247-76f8-4562-9762-52148431daa0","name":"Edit Fields3","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[3700,940]},{"parameters":{"assignments":{"assignments":[{"id":"005575be-15a4-4ab8-b7f3-eb548a5b7879","name":"whatsapp","value":"={{ $json.body.data.key.remoteJid.split('@')[0] }}","type":"string"},{"id":"b03dcd99-430a-44e0-8ec7-d18bf7ed5068","name":"user_message","value":"={{ $('Webhook').first().json.body.data.message.conversation ? $('Webhook').first().json.body.data.message.conversation : $('Webhook').item.json.body.data.message.extendedTextMessage.text }}","type":"string"},{"id":"a0d11d81-89d0-4594-ba57-c109b9598299","name":"instance","value":"={{ $json.body.instance }}","type":"string"},{"id":"4615993d-be1a-4fcd-b460-7ae34af27bc8","name":"api_url","value":"={{ $json.body.server_url }}","type":"string"},{"id":"947b6267-951c-46a2-a46c-2bfeeeeadc87","name":"msg_sent","value":"={{ $('Webhook').item.json[\"body\"][\"date_time\"] }}","type":"string"},{"id":"b68930cd-4c56-4e9e-b210-7d088a83ef36","name":"assistant_id","value":"asst_CQTChkHpjVWRpNDbZPAoT4y1","type":"string"},{"id":"48c1810c-e147-495f-be11-0f62692c3bf5","name":"name","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"27b515dd-b6a0-41fa-b79e-c58da772df3e","name":"assistant_version","value":"v2","type":"string"},{"id":"5879ad7c-2d6d-482f-8043-b748ab4a1d0d","name":"base64_image","value":"={{ $json.body.data.message.base64 }}","type":"string"},{"id":"b3980d25-5fa5-4f3c-93cf-b33e0a15c357","name":"tipo","value":"={{ $json.body.data.message.base64 ? \"image\" : \"text\" }}","type":"string"},{"id":"1b591f39-0d82-4b5a-8d75-921fc967b064","name":"tipo2","value":"={{ $('Webhook').item.json.body.data.messageType }}","type":"string"}]},"options":{}},"id":"53f1aa2e-9e3c-4102-8a1f-00bfef726a92","name":"Variáveis","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1099,40],"alwaysOutputData":true},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Listar_msgs').item.json.data[0].thread_id }}/runs","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"=assistants={{ $('Variáveis').first().json[\"assistant_version\"] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"assistant_id","value":"={{ $('Variáveis').item.json.assistant_id }}"}]},"options":{}},"id":"4cad73b3-e5fd-472d-a7ad-45eb4f183ca9","name":"Run Assistant","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5080,60],"notesInFlow":true,"credentials":{"openAiApi":{"id":"Z2mHFvSkYW4fOXqx","name":"SincronIA"}},"notes":"Roda o assistant"},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Merge - user').first().json[\"thread_id\"] }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"=assistants={{ $('Variáveis').first().json[\"assistant_version\"] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"role","value":"user"},{"name":"content","value":"={{ $('tool').item.json.content }}"}]},"options":{}},"id":"77c6b36e-30d8-42a2-a95e-784fbdf34964","name":"Enviar msg Openai","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4560,40],"credentials":{"openAiApi":{"id":"Z2mHFvSkYW4fOXqx","name":"SincronIA"}},"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"59883941-cee1-4e98-8553-6630e3b4c2ce","name":"tool","value":"={{ $('Variáveis').item.json.tipo2 ? \n[\n  {\n    \"type\": \"function\",\n    \"function\":\n      {\n        \"name\": \"func_foodimg\"\n      }\n  }\n] \n: \"\"\n}}","type":"object"},{"id":"3b24b7e0-b259-43f5-bd50-6c3bbf866966","name":"content","value":"={{ $json.choices[0].message.content ? $json.choices[0].message.content : ($json.text ? $json.text : $('Variáveis').item.json.user_message) }}","type":"string"}]},"options":{"ignoreConversionErrors":true}},"id":"afab08f9-4555-42f8-aeb9-ece07c506015","name":"para teste","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[4880,-260]},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/{{ $('Webhook').item.json.body.data.owner }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Webhook').first().json.body.data.key.remoteJid.split(\"@\")[0] }}"},{"name":"textMessage.text","value":"=Olá. no momento a fins de testes estou aceitando apenas imagens de alimentos 😉"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"e55fec2d-8442-42d4-a088-423da9ef4d17","name":"msg teste - só imagem","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[6600,720],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}}},{"parameters":{"operation":"getAll","tableId":"User","limit":1,"filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $('Variáveis').item.json[\"whatsapp\"] }}"}]}},"id":"c6dffd2a-80d8-4d87-b535-9093e1f9c6cb","name":"Supabase","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2240,40],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"foAj22VvGqK4Jph0","name":"Vitalfy"}}},{"parameters":{"operation":"update","tableId":"User","filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $('Merge - user').first().json.whatsapp }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"thread_id","fieldValue":"={{ $json.id }}"}]}},"id":"0793915d-64b9-4486-8472-403ea137e341","name":"Supabase1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3200,220],"credentials":{"supabaseApi":{"id":"foAj22VvGqK4Jph0","name":"Vitalfy"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"51e1c7e7-1d66-48c8-87e6-8c4845cbb8e2","leftValue":"={{ $json.status }}","rightValue":"completed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"completed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"04624a04-1772-4e77-bfc4-273d5e235711","leftValue":"={{ $json.status }}","rightValue":"failed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"failed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"56bbe829-8c9f-4ceb-ac2e-fd210a950f9b","leftValue":"={{ $json.status }}","rightValue":"expired","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"expired"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"e564ca13-163c-465c-9db7-a402e0709234","leftValue":"={{ $json.status }}","rightValue":"in_progress","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"in_progress"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.status }}","rightValue":"queued","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"queued"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"6e85f12c-3813-46a1-94b6-f9ae52f49b13","leftValue":"={{ $json.status }}","rightValue":"requires_action","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"requires_action"}]},"options":{}},"id":"b283b530-ccee-4300-a914-cc1d4666e2f8","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[5480,40]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"64749546-819c-449c-bebf-b526efb94659","leftValue":"={{ $json.credits }}","rightValue":1,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"id":"a112e72c-353b-4ab8-ace7-dee790dbed9d","name":"If2","type":"n8n-nodes-base.if","typeVersion":2,"position":[2680,20]},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Listar_msgs').item.json.data[0].thread_id }}/runs","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"=assistants={{ $('Variáveis').first().json[\"assistant_version\"] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"assistant_id","value":"={{ $('Variáveis').item.json.assistant_id }}"},{"name":"tools","value":"={{ $('tool').item.json.tool ? $('tool').item.json.tool : \"\" }}"}]},"options":{}},"id":"cc9ccce9-f7a6-415f-94dd-00fdd5136c17","name":"Run Assistant1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5080,-260],"notesInFlow":true,"credentials":{"openAiApi":{"id":"Z2mHFvSkYW4fOXqx","name":"SincronIA"}},"notes":"Roda o assistant"},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/{{ $('Webhook').item.json.body.data.owner }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Webhook').first().json.body.data.key.remoteJid.split(\"@\")[0] }}"},{"name":"textMessage.text","value":"=*Seu teste acabou.*\n\nAgradecemos por testar nosso sistema. Vamos analizar as respostas e após melhorias liberaremos mais créditos para você (:"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"554a7178-7661-46dd-b820-c143744e9619","name":"msg - não identificou alimento1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2680,-140],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}}},{"parameters":{"content":"## Sem créditos \n**seu teste acabou** :D","height":440.0509486183677,"width":242.57028456664017,"color":3},"id":"62e7bd3a-b1c0-42ec-8421-495b16a42013","name":"Sticky Note19","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2620,-220]},{"parameters":{},"id":"82fecc45-2c6b-4d5d-82b5-a260dd2f6071","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[7340,1540],"typeVersion":1,"disabled":true},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"1J4U_z1NjHuOMoFxXvkrR1qtvBbtd0VyU","mode":"list","cachedResultName":"Alimentos Preparados.csv","cachedResultUrl":"https://drive.google.com/file/d/1J4U_z1NjHuOMoFxXvkrR1qtvBbtd0VyU/view?usp=drivesdk"},"options":{"binaryPropertyName":"data"}},"id":"978009d7-1f69-44ba-8a31-0db1565c714c","name":"Google Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[7520,1540],"credentials":{"googleDriveOAuth2Api":{"id":"S6Ohnu7I7CuNoNAH","name":"Google Drive account"}}},{"parameters":{"model":"text-embedding-3-large","options":{}},"id":"fbc7be44-6384-49f6-aeb8-f4e325a60a65","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[7760,1680],"credentials":{"openAiApi":{"id":"neTK4UBDC4tLBdAV","name":"G4 educação"}}},{"parameters":{"dataType":"binary","loader":"csvLoader","options":{}},"id":"d5de993b-f6ff-4b85-bdc2-42c3b1a5dd22","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[7860,1680]},{"parameters":{"chunkSize":2000,"chunkOverlap":4,"options":{"splitCode":"markdown"}},"id":"c28f6410-3bb9-4f1d-8c78-9ea062fb5674","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[8020,1800]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"gpt-4o\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"identifique os alimentos da imagem e se esforce para informar a quantidade em gramas ou ml. Formate desta forma: {\\\"item 1\\\": quantidade, \\\"item 2\\\": quantidade} ##caso não seja uma imagem de alimento, apenas responda erro \"\n        },\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"data:image/jpeg;base64,{{ $('Variáveis').item.json['base64_image'] }}\"\n          }\n        }\n      ]\n    }\n  ],\n  \"max_tokens\": 300\n}\n","options":{}},"id":"77f24769-4599-43fe-a5ac-86bc11c89a29","name":"Vision - gpt-4o","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3300,-640],"credentials":{"openAiApi":{"id":"Z2mHFvSkYW4fOXqx","name":"SincronIA"}}},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"id":"a2788ac4-762a-4f16-80c7-e23d6aad3bdc","name":"Supabase Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[7700,1540],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.Properties.function.name }}","rightValue":"func_foodinfo","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"func_foodinfo"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"21a41b69-dc25-4cae-8fd3-23b4e52e4ba9","leftValue":"={{ $json.Properties.function.name }}","rightValue":"func_strategist","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"func_strategist"}]},"options":{}},"id":"078b7920-0c71-4001-9e56-70346371aaf1","name":"Escolhe a tool que deve ser utilizada","type":"n8n-nodes-base.switch","typeVersion":3,"position":[6520,480]},{"parameters":{"fieldToSplitOut":"tool_calls","options":{"destinationFieldName":"Properties"}},"id":"9364b797-67e9-4fac-80bc-be3afa55fda0","name":"Split Out2","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[5800,260]},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"48df2054-4960-491d-94d9-5f518da3abdf","name":"Aggregate1","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[6360,40]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"output","separateBy":"other","customSeparator":"; "}]},"options":{"outputFormat":"singleItem"}},"id":"b847646c-a7ce-423b-916a-842b7e6266ec","name":"Summarize1","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[5660,500]},{"parameters":{"content":"## Wait 4s\nCaso a run esteja in_progress ou queued","height":245.9523279828706,"width":265.2399048045356,"color":7},"id":"96bc1ce2-3538-4fe6-9284-f3de5610e7de","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5740,-60]},{"parameters":{"tableId":"User","fieldsUi":{"fieldValues":[{"fieldId":"whatsapp","fieldValue":"={{ $('Webhook').first().json.body.data.key.remoteJid.split(\"@\")[0] }}"},{"fieldId":"name","fieldValue":"={{ $('Webhook').first().json.body.data.pushName }}"}]}},"id":"8ca9d58a-9637-40b4-9677-8b3bcf5d0419","name":"Supabase6","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2680,360],"credentials":{"supabaseApi":{"id":"foAj22VvGqK4Jph0","name":"Vitalfy"}}},{"parameters":{"content":"## ERRO \n**Aviso** Erro no audio","height":266.3666805421406,"width":250.09753371240078,"color":3},"id":"0841c873-dacb-4196-b6f3-33e348b195bd","name":"Sticky Note25","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3760,440]},{"parameters":{"assignments":{"assignments":[{"id":"50db61da-9a10-45a1-a791-0f981b186a2a","name":"choices[0].message.content","value":"=[{\"macarrão\": 300g, \"calabresa picada\": 50g}]","type":"string"},{"id":"bd8804e7-cbdf-48f0-90a2-4bd360d63853","name":"2","value":"{\"suco de laranja\": 200 ml, \"pedaço de mamão\": 50 g, \"pedaço de melão\": 50 g, \"pão de melado\": 30 g, \"bolo de cenoura com cobertura de chocolate\": 40 g, \"bolo simples com açúcar\": 30 g}","type":"string"}]},"options":{}},"id":"68fca152-06a9-4fc9-acdd-d7fac39c1b62","name":"Vision - gpt-4o1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[3620,-160]},{"parameters":{"assignments":{"assignments":[{"id":"50db61da-9a10-45a1-a791-0f981b186a2a","name":"text","value":"={{ $('Vision - gpt-4o1').item.json.choices[0].message.content }}","type":"string"}]},"options":{}},"id":"f9c8cba1-b66e-4cf5-87dd-3c11312e3df3","name":"Edit Fields5","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[4200,-160]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"5555af97-d44e-45a6-9646-84e574f8db0a","leftValue":"={{ $json.choices[0].message.content }}","rightValue":"erro","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{"ignoreCase":true}},"id":"6eeaac1f-fd91-4ebd-a712-8829e0aec63b","name":"tem alimento?","type":"n8n-nodes-base.if","typeVersion":2,"position":[3820,-160]},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/{{ $('Webhook').item.json.body.data.owner }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Variáveis').item.json.whatsapp }}"},{"name":"textMessage.text","value":"=Desculpe, mas não identifiquei algum alimento nessa imagem."}]},"options":{"response":{"response":{"neverError":true}}}},"id":"b19928b3-e602-4f90-8a41-0987dfdbbf3a","name":"msg - não identificou alimento","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[4020,-440],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}}},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/{{ $('Webhook').item.json.body.data.owner }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Webhook').first().json.body.data.key.remoteJid.split(\"@\")[0] }}"},{"name":"textMessage.text","value":"=*Muito bom!*\n\nEstou analisando sua refeição e calculando os nutrientes..."}]},"options":{"response":{"response":{"neverError":true}}}},"id":"94721b88-b0ce-4a47-8006-f265cdd7c24f","name":"msg - analizando","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[4020,-160],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}}},{"parameters":{"content":"## ERRO \n**AVISO** não é imagem de comida","height":266.3666805421406,"width":288.40941754376024,"color":3},"id":"77e1d91d-fb97-42ca-90bf-4acd60f14685","name":"Sticky Note24","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3940,-520]},{"parameters":{"assignments":{"assignments":[{"id":"7afcb2ec-5e32-427c-81ee-39293b010dfe","name":"text","value":"={{ $('Variáveis').item.json.user_message }}","type":"string"}]},"options":{}},"id":"820152f3-2b44-48e1-80d3-f49197e2bbb3","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[4020,40]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ xxxxx.split(\"\")[0] }}","rightValue":"!","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"comando"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"034dd8b5-452f-4bc2-b811-8564350bd5a8","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"texto comum"}]},"options":{}},"id":"8db6deee-cc6a-42e8-8570-dc6e42183454","name":"Switch2","type":"n8n-nodes-base.switch","typeVersion":3,"position":[3620,20]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $('Variáveis').item.json.tipo }}","rightValue":"text","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"3b8c4da6-5b70-4749-8c57-c3a17372a8f4","leftValue":"={{ $('Variáveis').item.json.tipo2 }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"imagem"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"642021f6-8c7c-4da6-9d7d-fb4bbb8a99d9","leftValue":"={{ $('Variáveis').item.json.tipo2 }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"}]},"options":{}},"id":"b12fb112-65ca-47aa-ab37-23ceac729544","name":"tipo da mensagem","type":"n8n-nodes-base.switch","typeVersion":3,"position":[3400,40]},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/{{ $('Webhook').item.json.body.data.owner }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Webhook').first().json.body.data.key.remoteJid.split(\"@\")[0] }}"},{"name":"textMessage.text","value":"=Houve um erro com a leitura do áudio. Poderia enviar novamente?"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"917feb8e-53a5-4af6-9b33-73216b1df436","name":"msg - erro audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[3820,540],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"89770ac9-a43b-4509-a378-70a741300f56","name":"Transcrever audio","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[4020,200],"credentials":{"openAiApi":{"id":"K8FfxMZ9IgSFVC2G","name":"FURIA - Pantero"}}},{"parameters":{"assignments":{"assignments":[{"id":"59883941-cee1-4e98-8553-6630e3b4c2ce","name":"tool","value":"={{ $('Variáveis').item.json.tipo2 ? \n[\n  {\n    \"type\": \"function\",\n    \"function\":\n      {\n        \"name\": \"func_foodimg\"\n      }\n  }\n] \n: \"\"\n}}","type":"object"},{"id":"3b24b7e0-b259-43f5-bd50-6c3bbf866966","name":"content","value":"={{ $json.text  }}","type":"string"},{"id":"08ce14c2-aec4-498f-9a6f-b05f1925efc0","name":"","value":"","type":"string"}]},"options":{"ignoreConversionErrors":true}},"id":"bc5c24a2-a234-45c2-a003-6ed5e82ae86c","name":"tool","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[4380,40]},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/chat/getBase64FromMediaMessage/Sincron","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $('Webhook').item.json[\"body\"][\"data\"][\"key\"][\"id\"] }}\"\n    }\n  },\n  \"convertToMp4\": true\n}","options":{"redirect":{"redirect":{}}}},"id":"47064f1c-1103-4e5b-b710-48727bba2924","name":"pega mp4 do audio3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3620,220],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"fileName":"audio","mimeType":"={{ $json.mimetype }}"}},"id":"94730530-4a27-4153-a8b0-ef09322b0760","name":"Convert to File1","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[3820,200],"executeOnce":false},{"parameters":{"content":"## Cliente / admin check\nE guarda as variáveis para consulta do fluxo","height":308.70730016078534,"width":627.7982377441182},"id":"92831f88-550d-4195-be24-ba2c0f0758a8","name":"Sticky Note20","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1540.8548672800684,-80]}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Variáveis","type":"main","index":0}]]},"Tem cadastro?":{"main":[[{"node":"If2","type":"main","index":0}],[{"node":"Supabase6","type":"main","index":0}]]},"Merge - user":{"main":[[{"node":"Possui Thread?","type":"main","index":0}]]},"Possui Thread?":{"main":[[{"node":"tipo da mensagem","type":"main","index":0}],[{"node":"HTTP Request","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Get Run Status","type":"main","index":0}]]},"Output Array":{"main":[[{"node":"insere Output","type":"main","index":0}]]},"insere Output":{"main":[[{"node":"Get Run Status","type":"main","index":0}]]},"Tool Call ID - Get Books":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Aggregate1","type":"main","index":0}],[{"node":"Separa arguments para JSON","type":"main","index":0}]]},"Captura Tool Calls":{"main":[[{"node":"Split Out2","type":"main","index":0}]]},"Separa arguments para JSON":{"main":[[{"node":"Escolhe a tool que deve ser utilizada","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Supabase1","type":"main","index":0}]]},"Listar Runs":{"main":[[{"node":"Cancel Run","type":"main","index":0}]]},"Cancel Run":{"main":[[{"node":"Enviar msg Openai","type":"main","index":0}]]},"Get last message":{"main":[[{"node":"Send whats TXT response","type":"main","index":0}]]},"Get Run Status":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Descreve as saídas":{"main":[[{"node":"Prepara o output","type":"main","index":0}]]},"Prepara o output":{"main":[[{"node":"Summarize1","type":"main","index":0}],[{"node":"Jason to Str2","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Listar_msgs","type":"main","index":0}]]},"If":{"main":[[{"node":"Run Assistant","type":"main","index":0}]]},"Listar_msgs":{"main":[[{"node":"If","type":"main","index":0}]]},"Variáveis":{"main":[[{"node":"Supabase","type":"main","index":0}]]},"Run Assistant":{"main":[[{"node":"Get Run Status","type":"main","index":0}]]},"Enviar msg Openai":{"main":[[{"node":"Wait1","type":"main","index":0}],[{"node":"Listar Runs","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"Tem cadastro?","type":"main","index":0}]]},"Supabase1":{"main":[[{"node":"Merge - user","type":"main","index":1}]]},"Switch":{"main":[[{"node":"Get last message","type":"main","index":0}],[],[],[{"node":"Wait","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}],[{"node":"Captura Tool Calls","type":"main","index":0}]]},"If2":{"main":[[{"node":"Merge - user","type":"main","index":0}],[{"node":"msg - não identificou alimento1","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Supabase Vector Store","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Supabase Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Split Out2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Output Array","type":"main","index":0}]]},"Summarize1":{"main":[[{"node":"Tool Call ID - Get Books","type":"main","index":0}]]},"Supabase6":{"main":[[{"node":"Merge - user","type":"main","index":1}]]},"Vision - gpt-4o1":{"main":[[{"node":"tem alimento?","type":"main","index":0}]]},"tem alimento?":{"main":[[{"node":"msg - não identificou alimento","type":"main","index":0}],[{"node":"msg - analizando","type":"main","index":0}]]},"msg - analizando":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Switch2":{"main":[[],[{"node":"Edit Fields1","type":"main","index":0}]]},"tipo da mensagem":{"main":[[{"node":"Switch2","type":"main","index":0}],[{"node":"Vision - gpt-4o1","type":"main","index":0}],[{"node":"pega mp4 do audio3","type":"main","index":0}]]},"tool":{"main":[[{"node":"Enviar msg Openai","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"tool","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"tool","type":"main","index":0}]]},"Transcrever audio":{"main":[[{"node":"tool","type":"main","index":0}]]},"pega mp4 do audio3":{"main":[[{"node":"Convert to File1","type":"main","index":0}],[{"node":"msg - erro audio","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Transcrever audio","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"08246f42-ca43-4508-897a-740aac9ba054","triggerCount":0,"tags":[]}