mgm2---private-(commands).json
{"createdAt":"2024-07-22T21:04:23.020Z","updatedAt":"2024-07-23T10:12:35.748Z","id":"F8fpegSMHK79B34S","name":"MGM2 - private (commands)","active":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"235f9e4c-4c17-42a3-a09f-1de701d30058","name":"user_whatsapp","value":"={{ $('Supabase10').item.json.whatsapp }}","type":"string"},{"id":"9fc96f31-8d65-4447-9662-18a302ff5f32","name":"user_name","value":"={{ $('Supabase16').last().json.name }}","type":"string"},{"id":"85bfc930-083f-4522-b258-038a58b49b5c","name":"user_tags","value":"={{ $('Supabase10').item.json.tags }}","type":"string"}]},"options":{}},"id":"880ff82f-b9ab-4246-ae45-4f2c31c43768","name":"Edit Fields7","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1420,820]},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"group_name"},{"fieldToAggregate":"messages"},{"fieldToAggregate":"reactions"}]},"options":{"keepMissing":true}},"id":"d887c988-0bb8-4785-b162-7a83778e526a","name":"Aggregate2","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1260,1000]},{"parameters":{"assignments":{"assignments":[{"id":"235f9e4c-4c17-42a3-a09f-1de701d30058","name":"user_whatsapp","value":"={{ $('Supabase17').item.json.whatsapp }}","type":"string"},{"id":"9fc96f31-8d65-4447-9662-18a302ff5f32","name":"user_name","value":"={{ $('Supabase18').last().json.name }}","type":"string"},{"id":"85bfc930-083f-4522-b258-038a58b49b5c","name":"user_tags","value":"={{ $('Supabase17').item.json.tags.replace(/[\\{\\}\\[\\]']/g, '') }}","type":"string"},{"id":"7b86cf7c-9848-4d3b-9597-b9069da51722","name":"formatado","value":"=*Grupo:* {{ $json.group_name }}\n\n{{ $json[\"messages\"] ? \"Mensagens: \" + $json[\"messages\"] : \"\"}} {{ $json[\"reactions\"] ? \", Interações: \" + $json[\"reactions\"] : \"\" }}\n","type":"string"}]},"options":{}},"id":"fa36d845-e3c6-4ae9-824b-fa21aa292caa","name":"Edit Fields8","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1580,1000]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"formatado","separateBy":"\n"}]},"options":{}},"id":"fa2a138f-f636-4824-ba6d-af4e104632c4","name":"Summarize2","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[1740,1000]},{"parameters":{"operation":"getAll","tableId":"users","returnAll":true,"filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $json.user_message.split(\" \")[1] }}"}]}},"id":"0099b68a-1913-4a58-80c0-793aaab98405","name":"Supabase10","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[940,820],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"getAll","tableId":"statistics","returnAll":true,"filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $json.whatsapp }}"}]}},"id":"082fc7b1-c412-4efc-8898-0dc797d6fc44","name":"Supabase16","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1100,820],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"dr6vro85PMJ0isBe","name":"Supabase account"}}},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"group_name","separateBy":"\n"}]},"options":{}},"id":"0e54d684-a553-4205-a1a6-e8cf828b5424","name":"Summarize","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[1260,820]},{"parameters":{"operation":"getAll","tableId":"users","returnAll":true,"filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $json.user_message.split(\" \")[1] }}"}]}},"id":"0c31da02-2b68-4ccf-af23-774d4c4b534b","name":"Supabase17","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[940,1000],"credentials":{"supabaseApi":{"id":"dr6vro85PMJ0isBe","name":"Supabase account"}}},{"parameters":{"operation":"getAll","tableId":"statistics","returnAll":true,"filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $json.whatsapp }}"}]}},"id":"dfca39d0-ffbd-4516-b81d-0d836b566d14","name":"Supabase18","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1100,1000],"credentials":{"supabaseApi":{"id":"dr6vro85PMJ0isBe","name":"Supabase account"}}},{"parameters":{"fieldToSplitOut":"group_name, messages, reactions","options":{}},"id":"2d363e6b-e63b-468d-9bd1-60d74af0c939","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1420,1000]},{"parameters":{"assignments":{"assignments":[{"id":"f3732173-de9d-4733-85e6-928109c99dc6","name":"=user_message","value":"={{ $json.user_message.replaceAll(\"\\n\", \"\") }}","type":"string"}]},"options":{}},"id":"afd94f29-6300-49f5-a777-1b2b147c7b10","name":"get_message","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[940,280]},{"parameters":{"method":"POST","url":"={{ $('variaveis').item.json.host_evolution }}/message/sendText/{{ $('variaveis').item.json.instance_evolution }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('variaveis').item.json.apikey_evolution }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Webhook').first().json.body.data.key.remoteJid.split(\"@\")[0] }}"},{"name":"textMessage.text","value":"=*Comandos ativos para teste*\n\n*!user 5511999996622* - dá informações sobre o usuário\n*!statistics 5511999996622* - mostra algumas estatísticas sobre o usuário"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"5ae54105-e4ff-434d-8a59-95011455d43b","name":"msg_commands","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[940,640],"executeOnce":true},{"parameters":{"method":"POST","url":"={{ $('variaveis').item.json.host_evolution }}/message/sendText/{{ $('Webhook').item.json.body.data.owner }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('variaveis').item.json.apikey_evolution }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Webhook').first().json.body.data.key.remoteJid.split(\"@\")[0] }}"},{"name":"textMessage.text","value":"=*Informações do usuário*\n*{{ $json.user_name }}* -  {{ $json.user_whatsapp }}\n\n*Interesses:*\n{{ $json.user_tags }}\n\n"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"987e1e8e-4143-445a-a416-d8cdcffdcf97","name":"msg_user","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1580,820]},{"parameters":{"method":"POST","url":"={{ $('variaveis').item.json.host_evolution }}/message/sendText/{{ $('Webhook').item.json.body.data.owner }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('variaveis').item.json.apikey_evolution }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Webhook').first().json.body.data.key.remoteJid.split(\"@\")[0] }}"},{"name":"textMessage.text","value":"=*Estatísticas do usuário*\n*{{ $('Edit Fields8').last().json.user_name }}* - {{ $('Edit Fields8').last().json.user_whatsapp }}\n\n{{ $json.concatenated_formatado }}"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"c0e23b50-13c5-4c92-9c70-9d8ab6890df5","name":"msg_stats","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1900,1000]},{"parameters":{"content":"## Comandos\nBusca e o comando do usuário","height":358.9602581839663,"width":460.5723353518027,"color":3},"id":"81db6e85-2f19-4e2d-8323-e6ce87482efc","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[920,200]},{"parameters":{"content":"## !comandos\nEnvia os comandos disponiveis","height":112.29434538885582,"width":286.0096270660209,"color":6},"id":"e1ff216d-f0c4-46a6-af4f-918f4c6b3fb8","name":"Sticky Note15","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[560,640]},{"parameters":{"content":"## !user\nMostra um resumo interações do usuário","height":112.29434538885582,"width":286.0096270660209,"color":6},"id":"c6b2a90c-cd2b-4bfe-a9d3-c30204633c7d","name":"Sticky Note16","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[560,820]},{"parameters":{"content":"## !stats\nConta as interações do usuário nos grupos cadastrados","height":112.29434538885582,"width":286.0096270660209,"color":6},"id":"c70fc75b-3259-443a-8384-10acd4cf1693","name":"Sticky Note17","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[560,1000]},{"parameters":{"operation":"getAll","tableId":"links","limit":1,"matchType":"allFilters","filters":{"conditions":[{"keyName":"link","condition":"eq","keyValue":"={{ $json.links }}"},{"keyName":"group_id","condition":"eq","keyValue":"={{ $('variaveis').item.json.grupo.split(\"@\")[0] }}"}]}},"id":"878cf21a-6aa6-4af8-bce8-9aa979ba551e","name":"Supabase - busca o link e grupo1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[340,1160],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"assignments":{"assignments":[{"id":"ad68118f-3197-4032-9bcf-827535010405","name":"links","value":"=\n{{ $('Summarize5').item.json[\"appended_link\"][0] }} - {{ $('Summarize5').item.json[\"appended_context\"][0] }}\n\n{{ $('Summarize5').item.json[\"appended_link\"][1] }} - {{ $('Summarize5').item.json[\"appended_context\"][1] }}\n\n{{ $('Summarize5').item.json[\"appended_link\"][2] }} - {{ $('Summarize5').item.json[\"appended_context\"][2] }}\n\n{{ $('Summarize5').item.json[\"appended_link\"][3] }} - {{ $('Summarize5').item.json[\"appended_context\"][3] }}\n\n{{ $('Summarize5').item.json[\"appended_link\"][4] }} - {{ $('Summarize5').item.json[\"appended_context\"][4] }}\n\n*Mostramos aqui os principais links da semana. Para facilitar na criação da lista, sempre curtam os links importantes e para postar, escrevam na mensagem uma descrição que ajude a identificar o contexto do link*","type":"string"},{"id":"58b3f961-09b4-4154-89db-a03839f7fe3d","name":"group_name","value":"={{ $('Supabase2').first().json.group_name }}","type":"string"}]},"options":{}},"id":"6f79bd4d-95ad-4926-ad4d-be1e472dc2f1","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1580,1180]},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"pontos","order":"descending"}]},"options":{}},"id":"9815bd09-de16-40c2-9ff5-d9d743b0d793","name":"Sort2","type":"n8n-nodes-base.sort","typeVersion":1,"position":[1100,1180],"retryOnFail":false,"notesInFlow":true,"notes":"coloco em ordem"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"append","field":"link"},{"aggregation":"append","field":"context"}]},"options":{}},"id":"83ac7ed7-7be7-4dcd-99ed-de527907804e","name":"Summarize5","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[1420,1180]},{"parameters":{"maxItems":5},"id":"042bc260-4e16-42af-a1c4-383ce34cdb64","name":"Limit1","type":"n8n-nodes-base.limit","typeVersion":1,"position":[1260,1180]},{"parameters":{"operation":"getAll","tableId":"links","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"created_at","condition":"gte","keyValue":"={{ \n  (() => {\n    const date = new Date();\n    date.setDate(date.getDate() - 6); // Subtrai um dia\n    date.setHours(date.getHours() - 3); // Ajusta a hora para GMT-3\n    return date.toISOString().split('T')[0];\n  })() \n}}\n"},{"keyName":"group_id","condition":"eq","keyValue":"={{ $('pego_grupo').item.json.group }}"}]}},"id":"c895ae28-34fb-4b4f-a1d5-3d916acd070a","name":"Supabase2","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[940,1180],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"messages","order":"descending"}]},"options":{}},"id":"cb1c3649-f6a6-47da-a0e8-b0d19f31ad8b","name":"Sort4","type":"n8n-nodes-base.sort","typeVersion":1,"position":[1240,1400]},{"parameters":{"maxItems":10},"id":"6086be8d-6756-41df-beb8-6f1ebea75695","name":"Limit2","type":"n8n-nodes-base.limit","typeVersion":1,"position":[1400,1400]},{"parameters":{"operation":"getAll","tableId":"statistics_daily","returnAll":true,"filters":{"conditions":[{"keyName":"group_id","condition":"eq","keyValue":"="},{"keyName":"created_at","condition":"gt","keyValue":"={{ \n  (() => {\n    const date = new Date();\n    date.setDate(date.getDate() - 0); // Subtrai um dia\n    date.setHours(date.getHours() - 3); // Ajusta a hora para GMT-3\n    return date.toISOString().split('T')[0];\n  })() \n}}"}]}},"id":"55f60fd0-6106-44a4-a7c7-e81e65f3cf43","name":"Supabase - get usersss1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[940,1400],"executeOnce":true,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"6b585435-63ff-4f6a-bf1c-debcdc57c7f7","leftValue":"={{ $json.name }}","rightValue":"Bruno Okamoto","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"f5225521-9baf-4c7e-bac0-18e549522250","name":"Filter4","type":"n8n-nodes-base.filter","typeVersion":2,"position":[1080,1400]},{"parameters":{"operation":"update","tableId":"groups","filters":{"conditions":[{"keyName":"chat_id","condition":"eq","keyValue":"={{ $('pego_grupo1').item.json.group }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"top_members","fieldValue":"={{ $json.data }}"}]}},"id":"36c0ca44-94e5-478e-bdcb-91f83a7da975","name":"Supabase5","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1880,1400],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"ab9f66dc-ff0a-492b-994d-67e9f7a8050e","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1720,1400]},{"parameters":{"content":"### Atualiza os top10 membros na tabela (off)\n\n\n","height":253.57562853475503,"width":1157.3811122045904,"color":7},"id":"98029f66-259c-4290-a252-2618b67e6edc","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[880,1340]},{"parameters":{"fieldToSplitOut":"name","include":"selectedOtherFields","fieldsToInclude":"messages","options":{}},"id":"21e626a9-d13c-416a-b56d-a73bfdf1cb5e","name":"Split Out1","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1560,1400]},{"parameters":{},"id":"ca8cb337-3db6-4f61-ac79-d3ee2b658244","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[180,280]},{"parameters":{"content":"## Client / admin check\nBusca e o comando do usuário","height":358.9602581839663,"width":460.5723353518027},"id":"8e07cb26-9edf-4160-ae64-29ac8f159333","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[420,200]},{"parameters":{"content":"## !links\nMostra os top 5 links da semana","height":112.29434538885582,"width":286.0096270660209,"color":6},"id":"9ec2ddc8-8c32-40f9-ade2-9893c9d55349","name":"Sticky Note18","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[560,1180]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"34f8c8b4-4228-4d52-a710-28ece860b98e","leftValue":"={{ $json.user_message.split(\" \")[0] }}","rightValue":"!comand","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"!comand"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"51f18e62-b9e4-476c-893c-689058020631","leftValue":"={{ $json.user_message.split(\" \")[0] }}","rightValue":"!cmd","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"!cmd"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.user_message.split(\" \")[0] }}","rightValue":"!user","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"!user"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"b17d450a-d643-43e7-99e4-72f076ec6e8e","leftValue":"={{ $json.user_message.split(\" \")[0] }}","rightValue":"!stats","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"!stats"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"b1d2700d-c0df-4380-bbe9-7077aa958acc","leftValue":"={{ $json.user_message.split(\" \")[0] }}","rightValue":"!stati","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"!stati"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"b81391b3-05db-4751-bf97-fd9ee57f1cb0","leftValue":"={{ $json.user_message.split(\" \")[0] }}","rightValue":"!estati","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"!estati"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"ee8c49b1-2c62-4435-b038-ff11eb764c86","leftValue":"={{ $json.user_message.split(\" \")[0] }}","rightValue":"!novo_grupo","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"novo_grupo"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cdd65a19-7415-4015-8ce4-3402d7b298c3","leftValue":"={{ $json.user_message.split(\" \")[0] }}","rightValue":"!links","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"links"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"886537fb-a608-47fe-8bee-20c1148e803c","leftValue":"={{ $json.user_message.split(\" \")[0] }}","rightValue":"!top10","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"!top10"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"013d71e9-24d7-46e1-a06c-30669d94629f","leftValue":"={{ $json.user_message.split(\" \")[0] }}","rightValue":"!agenda","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"!agenda"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c32ba3ec-2817-4e15-9102-78192a0b118b","leftValue":"={{ $json.user_message.split(\" \")[0] }}","rightValue":"!agendar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"!agendar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"44b604e8-53e4-4889-8b93-5501cac9103d","leftValue":"={{ $json.user_message.split(\" \")[0] }}","rightValue":"!mass","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true}]},"options":{}},"id":"34de301a-526e-4338-a643-d55334c7805b","name":"command_is","type":"n8n-nodes-base.switch","typeVersion":3,"position":[1140,340]}],"connections":{"Edit Fields7":{"main":[[{"node":"msg_user","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Edit Fields8":{"main":[[{"node":"Summarize2","type":"main","index":0}]]},"Summarize2":{"main":[[{"node":"msg_stats","type":"main","index":0}]]},"Supabase10":{"main":[[{"node":"Supabase16","type":"main","index":0}]]},"Supabase16":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Summarize":{"main":[[{"node":"Edit Fields7","type":"main","index":0}]]},"Supabase17":{"main":[[{"node":"Supabase18","type":"main","index":0}]]},"Supabase18":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Edit Fields8","type":"main","index":0}]]},"get_message":{"main":[[{"node":"command_is","type":"main","index":0}]]},"Sort2":{"main":[[{"node":"Limit1","type":"main","index":0}]]},"Summarize5":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Limit1":{"main":[[{"node":"Summarize5","type":"main","index":0}]]},"Supabase2":{"main":[[{"node":"Sort2","type":"main","index":0}]]},"Sort4":{"main":[[{"node":"Limit2","type":"main","index":0}]]},"Limit2":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Supabase - get usersss1":{"main":[[{"node":"Filter4","type":"main","index":0}]]},"Filter4":{"main":[[{"node":"Sort4","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Supabase5","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"get_message","type":"main","index":0}]]},"command_is":{"main":[[{"node":"msg_commands","type":"main","index":0}],[{"node":"msg_commands","type":"main","index":0}],[{"node":"Supabase10","type":"main","index":0}],[{"node":"Supabase17","type":"main","index":0}],[{"node":"Supabase17","type":"main","index":0}],[{"node":"Supabase17","type":"main","index":0}],[],[{"node":"Supabase2","type":"main","index":0}],[{"node":"Supabase - get usersss1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"db0243e8-6eb9-4d4d-8260-bf9b91aed0eb","triggerCount":0,"tags":[{"createdAt":"2024-07-22T21:06:40.448Z","updatedAt":"2024-07-22T21:06:40.448Z","id":"RX2ESLnM0IynaKQR","name":"MGM2"}]}