mgm2---commands.json
{"createdAt":"2024-07-19T16:53:54.041Z","updatedAt":"2024-07-21T01:30:19.224Z","id":"4pCoHjGYVXLTNanj","name":"MGM2 - commands","active":false,"nodes":[{"parameters":{},"id":"b531df2b-01b7-44cb-a7b0-2c473002bc10","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[220,280]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"Entenda o contexto do texto da imagem. Você precisa fazer a tradução desse texto para pt-br, respeitando a formatação. Use *negrito* para títulos\"\n        },\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"data:image/jpeg;base64,{{ $('Execute Workflow Trigger').item.json[\"quoted_image\"] }}\"\n          }\n        }\n      ]\n    }\n  ],\n  \"max_tokens\": 300\n}\n","options":{}},"id":"e1c6282d-1509-4a1d-80bf-396d7d299b11","name":"Vision - gpt-4o1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[600,760],"credentials":{"openAiApi":{"id":"neTK4UBDC4tLBdAV","name":"G4 educação"}}},{"parameters":{"operation":"update","tableId":"statistics","matchType":"allFilters","filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $('variaveis').item.json.whatsapp }}"},{"keyName":"chat_id","condition":"eq","keyValue":"={{ $('variaveis').item.json.grupo.split(\"@\")[0] }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"group_name","fieldValue":"={{ $('get_group_info').item.json.subject }}"},{"fieldId":"messages","fieldValue":"={{ $('Supabase - busca linha estatistica').item.json.messages + 1 }}"},{"fieldId":"name","fieldValue":"={{ $('variaveis').item.json.name }}"}]}},"id":"231aa03b-4b5e-461f-b0ee-0dafc0a3e125","name":"Supabase22","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1620,-280],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"tableId":"interactions","fieldsUi":{"fieldValues":[{"fieldId":"whatsapp","fieldValue":"={{ $('variaveis').item.json.whatsapp }}"},{"fieldId":"message","fieldValue":"={{ $('variaveis').item.json.user_message }}{{ $json.choices[0].message.content }}"},{"fieldId":"chat_id","fieldValue":"={{ $('variaveis').item.json.grupo.split(\"@\")[0] }}"},{"fieldId":"group_name","fieldValue":"={{ $('get_group_info').item.json.subject }}"},{"fieldId":"user_name","fieldValue":"={{ $('variaveis').item.json.name }}"},{"fieldId":"response_to","fieldValue":"={{ $('Supabase1 - id resposta').item.json.message }}"},{"fieldId":"message_id","fieldValue":"={{ $('Webhook').item.json.body.data.key.id }}"}]}},"id":"0b7a8fcc-4d2b-48c8-9b53-f61fa8177c8d","name":"Supabase9","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1440,-280],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"getAll","tableId":"interactions","limit":1,"filters":{"conditions":[{"keyName":"message_id","condition":"eq","keyValue":"={{ $('Webhook').item.json.body.data.message.extendedTextMessage.contextInfo.stanzaId ? $('Webhook').item.json.body.data.message.extendedTextMessage.contextInfo.stanzaId : ($('Webhook').item.json.body.data.message.reactionMessage.key.id ? $('Webhook').item.json.body.data.message.reactionMessage.key.id : $('Webhook').item.json.body.data.message.audioMessage.contextInfo.stanzaId) }} "}]}},"id":"b76512d3-a067-4034-9df1-f7637f5e6e03","name":"Supabase1 - id resposta1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1180,-280],"alwaysOutputData":true,"notesInFlow":true,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}},"notes":"puxa a mensagem respondida (se houver)"},{"parameters":{"url":"=https://api.sincronia.digital/group/findGroupInfos/{{ $('variaveis').item.json.instance_evolution }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"groupJid","value":"={{ $('variaveis').item.json.grupo }}"}]},"options":{"redirect":{"redirect":{}}}},"id":"db654859-c956-4042-a380-38d1402c372d","name":"get_group_info1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,-280],"notesInFlow":true,"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}},"notes":"puxa info do grupo"},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/{{ $('Webhook').item.json.body.data.owner }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Execute Workflow Trigger').item.json.grupo }}"},{"name":"textMessage.text","value":"={{ $json.choices[0].message.content }}"},{"name":"options.quoted.key","value":"={{ $('Execute Workflow Trigger').item.json.message_id }}"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"1821e06b-a183-4d05-b3d9-d2aa5fa768f8","name":"msg_stats1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[760,620],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $('Execute Workflow Trigger').item.json.quoted_image }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"}]},"options":{}},"id":"930db494-8392-48cc-803d-2dc39bd83d90","name":"Switch1","type":"n8n-nodes-base.switch","typeVersion":3,"position":[420,760]},{"parameters":{"options":{}},"id":"30e03cbb-f647-4738-a731-19610c611bcc","name":"set sem nada","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[640,160]},{"parameters":{"operation":"getAll","tableId":"users","returnAll":true,"filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"5519994317797"}]}},"id":"c990cfc8-dd9b-4512-9ce5-34d6d6ae7f33","name":"Supabase - get all users","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1920,420],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"created_at"}]},"options":{}},"id":"6562ac05-3384-4ea3-82fe-e5fea8a3e1be","name":"Sort","type":"n8n-nodes-base.sort","typeVersion":1,"position":[2180,1000],"retryOnFail":false,"notesInFlow":true,"notes":"coloco em ordem"},{"parameters":{"assignments":{"assignments":[{"id":"260b4232-3b4a-4118-9cde-757090b2b1d4","name":"messages","value":"=({{ $json.created_at.substring(11,16) }}) {{ $json.user_name }}: {{ $json.message }} ","type":"string"},{"id":"01b8bba4-2d55-4506-bbed-9fed8bb9b142","name":"grupo","value":"={{ $json.chat_id }}","type":"string"}]},"options":{}},"id":"f0f957cb-43ec-4170-9be5-1be8156ac0a9","name":"user message","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2380,1000],"notesInFlow":true,"notes":"organiza mensagem por usuário"},{"parameters":{"assignments":{"assignments":[{"id":"a96db31d-17d4-450a-9320-3c940fe6858e","name":"topicos","value":"=Principais tópicos que rolaram aqui no grupo {{ $('Supabase - get daily msg').first().json[\"group_name\"] }}","type":"string"},{"id":"d75f9074-6ce7-4e7c-9481-5e8e2d394ad8","name":"reforce","value":"dicas, tutoriais, ajudas, conteudo técnico, anúncios negócios e oportunidades","type":"string"},{"id":"2244ed7b-20d7-4724-b14a-f7f4fb2de920","name":"ignore","value":"saudações, interações sem conteúdo coerente, polêmicas e discussões agressivas","type":"string"},{"id":"af2f1a0b-a869-4170-95f4-41470fe18b9c","name":"group_name","value":"={{ $('Supabase - get daily msg').first().json.group_name }}","type":"string"},{"id":"d935d338-ffe1-496c-ba8e-1f74f32a0b62","name":"bot_tone","value":"={{ $('Salva infos do grupo').first().json.bot_tone }}","type":"string"},{"id":"7c11e1a3-9dcd-47cf-8302-1003ade10866","name":"bot_style","value":"={{ $('Salva infos do grupo').first().json.bot_style }}","type":"string"}]},"options":{}},"id":"5ceb55e9-d93f-4d4d-8e83-2be7795d7281","name":"Arguments","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2400,1220]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"message.content","separateBy":"other","customSeparator":"\\n"}]},"options":{}},"id":"79c9ec9a-3b5b-42b7-9fa0-c5aaad862108","name":"Summarize3","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[2040,1220]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"8b500d4d-51b3-449f-b6e1-47c7d29a7f3c","leftValue":"={{ $json.message }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"6236e0ca-a811-48dd-8196-5744002d8a81","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"3fbb0452-2592-4b02-b216-90a3e228aef7","name":"Filter","type":"n8n-nodes-base.filter","typeVersion":2,"position":[2020,1000],"notesInFlow":true,"notes":"pego só mensagens"},{"parameters":{"assignments":{"assignments":[{"id":"ad68118f-3197-4032-9bcf-827535010405","name":"concatenated_messages","value":"={{ $json.concatenated_message_content }}","type":"string"},{"id":"e383c863-be81-412f-9558-fd46cb9f4bb9","name":"\"part1...\"","value":"={{ $json.appended_message_content.map((item, index) => `part ${index + 1}.${item}`).join('\\n') }}","type":"string"},{"id":"5217cfd0-ea4e-4a23-a727-f2fd3ed3a72d","name":"1","value":"{{ $json.appended_message_content.map((item, index) => `${item}`).join('\\n') }}","type":"string"}]},"options":{}},"id":"c1f0ba67-96b9-4255-aebb-a2130179591f","name":"Junta as mensagens","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2200,1220]},{"parameters":{"tableId":"summaries","fieldsUi":{"fieldValues":[{"fieldId":"summary","fieldValue":"={{ $json.message.extendedTextMessage.text }}"},{"fieldId":"date","fieldValue":"={{ \n  (() => {\n    const date = new Date();\n    date.setDate(date.getDate() - 0); \n    date.setHours(date.getHours() - 3); // Ajusta a hora para GMT-3\n    return date.toISOString().split('T')[0];\n  })() \n}}\n"},{"fieldId":"message_id","fieldValue":"={{ $json.key.id }}"},{"fieldId":"id_group","fieldValue":"={{ $('Salva infos do grupo').first().json.id }}"},{"fieldId":"date","fieldValue":"={{ $json.messageTimestamp.toDateTime('s') }}"},{"fieldId":"sent","fieldValue":"={{ true }}"},{"fieldId":"remake","fieldValue":"={{ true }}"}]}},"id":"06e54cf0-8e47-45d4-8679-2d863c7c6ac1","name":"Supabase10","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2200,1440],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"getAll","tableId":"groups","limit":1,"filters":{"conditions":[{"keyName":"id","condition":"={{ $json.id_group }}"}]}},"id":"f281a245-3ed6-43bc-948b-a1908f2352db","name":"Supabase2","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1240,1160],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/Sincron","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Execute Workflow Trigger').item.json.grupo }}"},{"name":"textMessage.text","value":"=Sua Newsletter está sendo gerada :D"},{"name":"options.linkPreview","value":"={{ false }}"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"88ab8dfd-a045-4acb-8830-2b6e510ca27c","name":"\"news sendo gerada\"","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1040,960],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}}},{"parameters":{"method":"DELETE","url":"https://api.sincronia.digital/chat/deleteMessageForEveryone/Sincron","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"fromMe","value":"={{ true }}"},{"name":"id","value":"={{ $('Execute Workflow Trigger').item.json.id_msg_reagida }}"},{"name":"remoteJid","value":"={{ $('Execute Workflow Trigger').item.json.grupo }}@g.us"}]},"options":{}},"id":"f2239f7c-4c39-4dbd-9ef2-39546fa1072f","name":"Deleta a news","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[840,960],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}}},{"parameters":{"operation":"getAll","tableId":"groups","limit":1,"filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Puxo news descartada').item.json.id_group }}"}]}},"id":"ab46c95a-4769-47ed-bbfd-c7d875168e24","name":"Puxa dados do grupo","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1280,1000],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"assignments":{"assignments":[{"id":"fb8c32a2-9306-43b9-9b01-5a659eab6241","name":"group","value":"={{ $json.chat_id }}","type":"string"},{"id":"29404ef0-2a44-4534-8c05-6eab88d14556","name":"group_name","value":"={{ $('Puxa dados do grupo').item.json.group_name }}","type":"string"},{"id":"8b776c38-6c42-42dd-b1da-d84420d45a0a","name":"bot_tone","value":"={{ $('Puxa dados do grupo').item.json.bot_tone }}","type":"string"},{"id":"8f89cf2b-66d3-4c4f-97da-b757c8edb1a0","name":"bot_style","value":"={{ $('Puxa dados do grupo').item.json.bot_style }}","type":"string"},{"id":"c25af50d-39c9-4e02-b60a-fab1d6a664cb","name":"id","value":"={{ $('Puxa dados do grupo').item.json.id }}","type":"string"}]},"options":{}},"id":"ddbda993-65af-43cd-8f47-66d48d21a08e","name":"Salva infos do grupo","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1460,1000]},{"parameters":{"operation":"getAll","tableId":"interactions","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"created_at","condition":"gte","keyValue":"={{ \n  (() => {\n    const date = new Date();\n    date.setDate(date.getDate() - 0); // Subtrai um dia\n    date.setHours(date.getHours() - 3); // Ajusta a hora para GMT-3\n    return date.toISOString().split('T')[0];\n  })() \n}}\n"},{"keyName":"chat_id","condition":"eq","keyValue":"={{ $json.group }}"}]}},"id":"b800818f-3728-48de-bd9d-6cc4ca635832","name":"Supabase - get daily msg","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1640,1000],"alwaysOutputData":true,"notesInFlow":true,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}},"notes":"mensagens do dia"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"messages"}]},"fieldsToSplitBy":"grupo","options":{}},"id":"7012b0c2-1591-4ee4-916e-50e8f0df036a","name":"Organizo as mensagens","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[1420,1220]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"4559d276-65e5-4e65-a84f-1b22cbfe8743","leftValue":"={{ $json.grupo }}","rightValue":"={{ $('user message').last().json.grupo }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"873f163d-094a-4006-ba0f-83f55afd45fc","name":"Filtro por grupo","type":"n8n-nodes-base.filter","typeVersion":2,"position":[1560,1220]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"id"},"messages":{"values":[{"content":"=Um assistente de resumo de conversas de chat que trás um contexto do que os membros estão debatendo, destacando em parágrafos os tópicos, quem são os usuários, o conteúdo e principalmente sugestões de links. Seja direto na entrega do tópico, foque no resultado da conversa.\nPontue as dicas, insights e sugestões. Isso é importante\nPriorize links de cada topico\nresuma os tópicos em formato de parágrafos","role":"system"},{"content":"=Faça um resumo conciso da seguinte conversa. START:\n\n{{ $json.concatenated_messages }}\n\npontue cada tópico com o que os membros abordaram, junto ao insight. Ignore elogios e conversas prolixas.\nPiorize os links sugeridos para cada topico\n!caso não tenha links no topico jamais invente!\nrespeite e informe corretamente os horários dos tópicos"}]},"options":{"temperature":0.8}},"id":"7075996e-dcaf-441c-bdc9-036a690c1adf","name":"AI Resumo","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[1700,1220],"notesInFlow":true,"credentials":{"openAiApi":{"id":"wtFsZzM1m6ZwWui1","name":"MGM - summarize"}},"notes":"Resume os topicos"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"id"},"messages":{"values":[{"content":"=Você é um assistente que transforma conversas em newsletters e posta todos os dias anunciando a newsletter do grupo {{ $('Salva infos do grupo').first().json.group_name }}\n\n- Inclua emojis em todos os tópicos\n- não use markdown, apenas deixe os títulos em *negrito*\n- contextualize brevemente cada assunto, incluindo oque os membros disseram e seus insights\n- seu tom {{ $json.bot_tone }}\n- seu estilo {{ $json.bot_style }}\n\n{{ $('Arguments').item.json.reforce ? \"- é interessante ter no resumo conteúdos desse tipo: \" + $('Arguments').item.json.reforce : \"\" }}\n\n{{ $('Arguments').item.json.ignore ? \"- elimine completamente no resumo conteúdos desse tipo: \" + $('Arguments').item.json.ignore : \"\" }}","role":"system"},{"content":"=Faça um outline das conversas enviadas para você. \n      Nomeie os tópicos dessa forma: \n      (emoji) Nome do tópico/assunto (horário hh:mm):\n\n      Termine os parágrafos mostrando a dica ou sugestões apresentadas\nPriorize links sugeridos para cada topico, informe no corpo do topico\nFaça um paragrafo para cada topico, insira as informações neste parágrafo de 30~50 palavras\n      \n\n      COMECE: \n{{ $json[\"topicos\"] }}\n{{ $('Junta as mensagens').item.json.concatenated_messages }}\n\n----- Use um emoji no titulo de cada topico!\n----- Caso tenha link, informe o link dentro do topico.\n----- Informe os horários dos tópicos entre parenteses na frente dos titulos do topico\n      Termine os parágrafos mostrando a dica ou sugestões apresentadas\nPriorize links sugeridos para cada topico, informe no corpo do topico\nFaça um paragrafo para cada topico, insira as informações neste parágrafo de 30~50 palavras\n      \n\n      COMECE: \n{{ $json[\"topicos\"] }}\n{{ $('Junta as mensagens').item.json.concatenated_messages }}\n\n----- Use um emoji no titulo de cada topico!\n----- Caso tenha link, informe o link dentro do topico, caso não tenha jamais invente link algum."}]},"options":{"temperature":0.8}},"id":"970db121-3874-4041-99ab-f67f9a8df021","name":"AI Newsletter","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[1700,1440],"executeOnce":false,"credentials":{"openAiApi":{"id":"XzWU4v1rISX59xgy","name":"MGM - Newsletter"}}},{"parameters":{"operation":"getAll","tableId":"summaries","limit":1,"filters":{"conditions":[{"keyName":"message_id","condition":"eq","keyValue":"={{ $('Execute Workflow Trigger').item.json.id_msg_reagida }}"}]}},"id":"0c4c6002-bcaf-42a4-acf0-ddbc6429d597","name":"Puxo news descartada","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[420,980],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"368a6324-535b-4aea-b149-0ef64e487621","leftValue":"={{ $json.message_id }}","rightValue":"={{ $('Execute Workflow Trigger').item.json.id_msg_reagida }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"0c80089c-c104-4e72-b629-be42d226bdbd","leftValue":"={{ $json.remake }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"id":"52129855-5ec0-4c29-b618-8b19062d0282","name":"Corresponde?","type":"n8n-nodes-base.if","typeVersion":2,"position":[600,980]},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/Sincron","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=120363302353017297"},{"name":"textMessage.text","value":"=#Neswletter do grupo {{ $('Salva infos do grupo').first().json.group_name }}\n\n{{ $json.message.content.replaceAll(\"**\", \"*\"). replaceAll(\"#\", \"\").replaceAll(\"[\", \"*\").replaceAll(\"]\", \"* - \") }}"},{"name":"options.linkPreview","value":"={{ false }}"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"65fbf08e-966c-4ae7-85f4-7413b0b93f1e","name":"send newsletter","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2040,1440],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}}},{"parameters":{"operation":"update","tableId":"summaries","filters":{"conditions":[{"keyName":"message_id","condition":"eq","keyValue":"={{ $('Puxo news descartada').first().json.message_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"deleted","fieldValue":"={{ true }}"}]}},"id":"274df1f9-7d5a-48d9-a55e-82bc1d40d01a","name":"Supabase","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2400,1440],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.user_message }}","rightValue":"anti bug","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"anti bug"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"81da0563-4b9d-41b8-a8c0-9805796ce628","leftValue":"={{ $json.user_message }}","rightValue":"!tradu","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"!tradu"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"d6f362e4-127e-4f13-bd7d-4240221b238f","leftValue":"={{ $json.reaction }}","rightValue":"❌","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"!newsletter"}]},"options":{}},"id":"d7fbabe3-e995-47f7-9249-3f968c12c3dc","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[420,280],"alwaysOutputData":true}],"connections":{"Vision - gpt-4o1":{"main":[[{"node":"msg_stats1","type":"main","index":0}]]},"Supabase9":{"main":[[{"node":"Supabase22","type":"main","index":0}]]},"get_group_info1":{"main":[[{"node":"Supabase1 - id resposta1","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Vision - gpt-4o1","type":"main","index":0}]]},"Sort":{"main":[[{"node":"user message","type":"main","index":0}]]},"user message":{"main":[[{"node":"Organizo as mensagens","type":"main","index":0}]]},"Arguments":{"main":[[{"node":"AI Newsletter","type":"main","index":0}]]},"Summarize3":{"main":[[{"node":"Junta as mensagens","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Sort","type":"main","index":0}]]},"Junta as mensagens":{"main":[[{"node":"Arguments","type":"main","index":0}]]},"\"news sendo gerada\"":{"main":[[{"node":"Puxa dados do grupo","type":"main","index":0}]]},"Deleta a news":{"main":[[{"node":"\"news sendo gerada\"","type":"main","index":0}]]},"Puxa dados do grupo":{"main":[[{"node":"Salva infos do grupo","type":"main","index":0}]]},"Salva infos do grupo":{"main":[[{"node":"Supabase - get daily msg","type":"main","index":0}]]},"Supabase - get daily msg":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Organizo as mensagens":{"main":[[{"node":"Filtro por grupo","type":"main","index":0}]]},"Filtro por grupo":{"main":[[{"node":"AI Resumo","type":"main","index":0}]]},"AI Resumo":{"main":[[{"node":"Summarize3","type":"main","index":0}]]},"AI Newsletter":{"main":[[{"node":"send newsletter","type":"main","index":0}]]},"Puxo news descartada":{"main":[[{"node":"Corresponde?","type":"main","index":0}]]},"Corresponde?":{"main":[[{"node":"Deleta a news","type":"main","index":0}]]},"send newsletter":{"main":[[{"node":"Supabase10","type":"main","index":0}]]},"Supabase10":{"main":[[{"node":"Supabase","type":"main","index":0}]]},"Switch":{"main":[[{"node":"set sem nada","type":"main","index":0}],[{"node":"Switch1","type":"main","index":0}],[{"node":"Puxo news descartada","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","executionTimeout":1200},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Execute Workflow Trigger":[{"json":{"whatsapp":"5519994317797","user_message":"\n","instance_id":"bu9qnq7ga1eo7085dc9w6","msg_sent":"2024-07-20T12:08:28.267Z","assistant_id":"asst_z7suvl0dVsf5rNWeicAjt475","Developer_Key":"AIzaSyBzYmCjdHAkg4X9GJKqthauxGJCUg6K71o","name":"Luiz | Sincron IA","assistant_version":"v1","msg_type":"messages.upsert","msg_channel_type":null,"grupo":"120363302353017297","instance_evolution":"Sincron","message_id":"B0871F2C67B228940A","imagem_url":null,"whats_participante":"5519994317797","img_base64":null,"tipo":"text","tipoMidia":"reactionMessage","message_link":null,"title_link":null,"description_link":null,"response_to":null,"quoted_image":null,"reaction":"❌","id_msg_reagida":"BAE556B29563ECC4"}}]},"versionId":"c14f0398-88ff-431d-ac6f-061dfbd662ac","triggerCount":0,"tags":[]}