mgm2.json
{"createdAt":"2024-07-18T13:32:27.909Z","updatedAt":"2024-07-18T13:33:31.606Z","id":"PXXZTfJ15gv0vD0V","name":"MGM2","active":true,"nodes":[{"parameters":{"content":"## Gatilho do fluxo via API de Whatsapp\nE guarda as variáveis para consulta do fluxo","height":300.16497355008175,"width":381.11394614486005,"color":4},"id":"5bf8a07c-2d0b-4433-a93c-4407931cd0f2","name":"Sticky Note18","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1320,-1080]},{"parameters":{"tableId":"interactions","fieldsUi":{"fieldValues":[{"fieldId":"whatsapp","fieldValue":"={{ $('variaveis').item.json.whatsapp }}"},{"fieldId":"message","fieldValue":"={{ $('variaveis').item.json.user_message }}"},{"fieldId":"group_id","fieldValue":"={{ $('variaveis').item.json.grupo.split(\"@\")[0] }}"},{"fieldId":"group_name","fieldValue":"={{ $('get_group_info').item.json.subject }}"},{"fieldId":"user_name","fieldValue":"={{ $('variaveis').item.json.name }}"},{"fieldId":"response_to","fieldValue":"={{ $('Supabase1 - id resposta').item.json.message }}"},{"fieldId":"message_id","fieldValue":"={{ $('Webhook').item.json.body.data.key.id }}"}]}},"id":"728cb8e2-d0ac-4655-9ccc-3743fa9c10e1","name":"Supabase","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[620,200],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"tableId":"interactions","fieldsUi":{"fieldValues":[{"fieldId":"whatsapp","fieldValue":"={{ $('variaveis').item.json.whatsapp }}"},{"fieldId":"group_id","fieldValue":"={{ $('variaveis').item.json.grupo.split(\"@\")[0] }}"},{"fieldId":"group_name","fieldValue":"={{ $('get_group_info').item.json.subject }}"},{"fieldId":"reaction","fieldValue":"={{ $('Webhook').item.json.body.data.message.reactionMessage.text }}"},{"fieldId":"user_name","fieldValue":"={{ $('variaveis').item.json.name }}"},{"fieldId":"response_to","fieldValue":"={{ $('Supabase1 - id resposta').item.json.message }}"},{"fieldId":"message_id","fieldValue":"={{ $('Webhook').item.json.body.data.key.id }}"}]}},"id":"2dd227d3-6741-47a1-8269-054c7ad1200e","name":"Supabase1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[980,-340],"executeOnce":true,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"gpt-4o\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"identifique do que se trata a imagem e transforme em uma breve mensagem escrita, começando por imagem: ... seguido da descrição da imagem em um curto parágrafo de no máximo duas linhas\"\n        },\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"data:image/jpeg;base64,{{ $('variaveis').item.json['img_base64'] }}\"\n          }\n        }\n      ]\n    }\n  ],\n  \"max_tokens\": 300\n}\n","options":{}},"id":"f53eb94f-e670-4cfd-9c2a-94bb8126c4b3","name":"Vision - gpt-4o","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[620,20],"credentials":{"openAiApi":{"id":"neTK4UBDC4tLBdAV","name":"G4 educação"}},"disabled":true},{"parameters":{"tableId":"interactions","fieldsUi":{"fieldValues":[{"fieldId":"whatsapp","fieldValue":"={{ $('variaveis').item.json.whatsapp }}"},{"fieldId":"message","fieldValue":"={{ $('variaveis').item.json.user_message }}{{ $json.choices[0].message.content }}"},{"fieldId":"group_id","fieldValue":"={{ $('variaveis').item.json.grupo.split(\"@\")[0] }}"},{"fieldId":"group_name","fieldValue":"={{ $('get_group_info').item.json.subject }}"},{"fieldId":"user_name","fieldValue":"={{ $('variaveis').item.json.name }}"},{"fieldId":"response_to","fieldValue":"={{ $('Supabase1 - id resposta').item.json.message }}"},{"fieldId":"message_id","fieldValue":"={{ $('Webhook').item.json.body.data.key.id }}"}]}},"id":"e6e95041-be13-4996-9835-b0bdf4f15f73","name":"Supabase7","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[800,20],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"fileName":"audio","mimeType":"={{ $json.mimetype }}"}},"id":"702e5636-23a2-422b-b75f-81a2ec12d2fd","name":"Convert to File1","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[800,-160],"executeOnce":false},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/chat/getBase64FromMediaMessage/Sincron","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $('Webhook').item.json[\"body\"][\"data\"][\"key\"][\"id\"] }}\"\n    }\n  },\n  \"convertToMp4\": true\n}","options":{"redirect":{"redirect":{}}}},"id":"6dcb3e05-c90b-4605-8df6-a8d7bce46177","name":"pega mp4 do audio3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[620,-160],"retryOnFail":true,"maxTries":2,"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}},"onError":"continueErrorOutput"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"08b2fdb0-11c8-4423-998b-ad934f8efd30","name":"Transcrever audio","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[980,-160],"credentials":{"openAiApi":{"id":"K8FfxMZ9IgSFVC2G","name":"FURIA - Pantero"}}},{"parameters":{"tableId":"interactions","fieldsUi":{"fieldValues":[{"fieldId":"whatsapp","fieldValue":"={{ $('variaveis').item.json.whatsapp }}"},{"fieldId":"message","fieldValue":"=audio: {{ $json.text }}"},{"fieldId":"group_id","fieldValue":"={{ $('variaveis').item.json.grupo.split(\"@\")[0] }}"},{"fieldId":"group_name","fieldValue":"={{ $('get_group_info').item.json.subject }}"},{"fieldId":"user_name","fieldValue":"={{ $('variaveis').item.json.name }}"},{"fieldId":"response_to","fieldValue":"={{ $('Supabase1 - id resposta').item.json.message }}"},{"fieldId":"message_id","fieldValue":"={{ $('Webhook').item.json.body.data.key.id }}"}]}},"id":"56165a65-44c4-41fc-a89a-c47277d84f32","name":"Supabase8","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1160,-160],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/chat/findMessages/{{ $('variaveis').item.json.instance_evolution }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"where\": {\n    \"key\": {\n      \"remoteJid\": \"{{ $('Webhook').item.json.body.data.message.reactionMessage.key.id }}\"\n    }\n  }\n}","options":{}},"id":"18744ef6-c83e-4725-a075-dcf13e9f3017","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[620,-340],"notesInFlow":true,"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}},"notes":"MSG info"},{"parameters":{"operation":"getAll","tableId":"interactions","limit":1,"filters":{"conditions":[{"keyName":"message_id","condition":"eq","keyValue":"={{ $('Webhook').item.json.body.data.message.extendedTextMessage.contextInfo.stanzaId ? $('Webhook').item.json.body.data.message.extendedTextMessage.contextInfo.stanzaId : ($('Webhook').item.json.body.data.message.reactionMessage.key.id ? $('Webhook').item.json.body.data.message.reactionMessage.key.id : $('Webhook').item.json.body.data.message.audioMessage.contextInfo.stanzaId) }} "}]}},"id":"acf305ee-392e-460e-806a-f10725826b42","name":"Supabase1 - id resposta","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[840,-980],"alwaysOutputData":true,"notesInFlow":true,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}},"notes":"puxa a mensagem respondida (se houver)"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"0b745d62-74d5-4c62-8583-1ee1296f3457","leftValue":"={{ $json.message.reactionMessage.key.id }}","rightValue":"={{ $('Webhook').item.json.body.data.message.reactionMessage.key.id }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"d8a087c9-cb62-46f7-b873-8dcf6d782796","name":"Filter1","type":"n8n-nodes-base.filter","typeVersion":2,"position":[800,-340]},{"parameters":{"workflowId":"4qhqFLqSXhgWmILg","options":{}},"id":"f47ae455-fa6b-460c-9117-95c88af7d1a4","name":"Execute Workflow","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[-1260,-760]},{"parameters":{"tableId":"statistics","fieldsUi":{"fieldValues":[{"fieldId":"whatsapp","fieldValue":"={{ $('variaveis').item.json.whatsapp }}"},{"fieldId":"name","fieldValue":"={{ $('variaveis').item.json.name }}"},{"fieldId":"group_id","fieldValue":"={{ $('variaveis').item.json.grupo.split(\"@\")[0] }}"}]}},"id":"a04c0302-f576-4934-bfdd-013125e13009","name":"Supabase11","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[360,-820],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"update","tableId":"statistics","matchType":"allFilters","filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $('variaveis').item.json.whatsapp }}"},{"keyName":"group_id","condition":"eq","keyValue":"={{ $('variaveis').item.json.grupo.split(\"@\")[0] }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"group_name","fieldValue":"={{ $('get_group_info').item.json.subject }}"},{"fieldId":"reactions","fieldValue":"={{ $('Supabase - busca linha estatistica').item.json.reactions + 1 }}"}]}},"id":"90f00e44-f186-4310-a21a-f575cc5aa099","name":"Supabase12","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1160,-340],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"getAll","tableId":"statistics","limit":1,"matchType":"allFilters","filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $json.whatsapp }}"},{"keyName":"group_id","condition":"eq","keyValue":"={{ $('variaveis').item.json.grupo.split(\"@\")[0] }}"}]}},"id":"51e8dcd6-6b76-4c26-8be0-735e63575f18","name":"Supabase - busca linha estatistica","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[160,-960],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"update","tableId":"statistics","matchType":"allFilters","filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $('variaveis').item.json.whatsapp }}"},{"keyName":"group_id","condition":"eq","keyValue":"={{ $('variaveis').item.json.grupo.split(\"@\")[0] }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"group_name","fieldValue":"={{ $('get_group_info').item.json.subject }}"},{"fieldId":"messages","fieldValue":"={{ $('Supabase - busca linha estatistica').item.json.messages + 1 }}"},{"fieldId":"name","fieldValue":"={{ $('variaveis').item.json.name }}"}]}},"id":"cab71b19-f83b-4cd9-954b-1e298c92e33f","name":"Supabase13","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1340,-160],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"update","tableId":"statistics","matchType":"allFilters","filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $('variaveis').item.json.whatsapp }}"},{"keyName":"group_id","condition":"eq","keyValue":"={{ $('variaveis').item.json.grupo.split(\"@\")[0] }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"group_name","fieldValue":"={{ $('get_group_info').item.json.subject }}"},{"fieldId":"messages","fieldValue":"={{ $('Supabase - busca linha estatistica').item.json.messages + 1 }}"},{"fieldId":"name","fieldValue":"={{ $('variaveis').item.json.name }}"}]}},"id":"d868ad62-9ee8-4167-9ac7-239ff2a3aa3c","name":"Supabase14","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[980,20],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"assignments":{"assignments":[{"id":"235f9e4c-4c17-42a3-a09f-1de701d30058","name":"user_whatsapp","value":"={{ $('Supabase10').item.json.whatsapp }}","type":"string"},{"id":"9fc96f31-8d65-4447-9662-18a302ff5f32","name":"user_name","value":"={{ $('Supabase16').last().json.name }}","type":"string"},{"id":"85bfc930-083f-4522-b258-038a58b49b5c","name":"user_tags","value":"={{ $('Supabase10').item.json.tags }}","type":"string"}]},"options":{}},"id":"4530b5c6-2cb1-4d6f-ab58-d7a52a6315fc","name":"Edit Fields7","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-400,-20]},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"group_name"},{"fieldToAggregate":"messages"},{"fieldToAggregate":"reactions"}]},"options":{"keepMissing":true}},"id":"ae521e50-a594-4736-ad22-63e16ee627d9","name":"Aggregate2","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-560,160]},{"parameters":{"assignments":{"assignments":[{"id":"235f9e4c-4c17-42a3-a09f-1de701d30058","name":"user_whatsapp","value":"={{ $('Supabase17').item.json.whatsapp }}","type":"string"},{"id":"9fc96f31-8d65-4447-9662-18a302ff5f32","name":"user_name","value":"={{ $('Supabase18').last().json.name }}","type":"string"},{"id":"85bfc930-083f-4522-b258-038a58b49b5c","name":"user_tags","value":"={{ $('Supabase17').item.json.tags.replace(/[\\{\\}\\[\\]']/g, '') }}","type":"string"},{"id":"7b86cf7c-9848-4d3b-9597-b9069da51722","name":"formatado","value":"=*Grupo:* {{ $json.group_name }}\n\n{{ $json[\"messages\"] ? \"Mensagens: \" + $json[\"messages\"] : \"\"}} {{ $json[\"reactions\"] ? \", Interações: \" + $json[\"reactions\"] : \"\" }}\n","type":"string"}]},"options":{}},"id":"e73a61ee-f20f-47a2-90b1-14bec28aa88f","name":"Edit Fields8","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-240,160]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"formatado","separateBy":"\n"}]},"options":{}},"id":"f123e571-0b55-4242-9596-3ba44daf7447","name":"Summarize2","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[-80,160]},{"parameters":{"operation":"getAll","tableId":"users","returnAll":true,"filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $json.user_message.split(\" \")[1] }}"}]}},"id":"afa7a3a9-a427-49d3-8bcc-67047c66ef29","name":"Supabase10","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-880,-20],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"getAll","tableId":"statistics","returnAll":true,"filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $json.whatsapp }}"}]}},"id":"7e2458d9-ac17-4555-986d-81908224f8e7","name":"Supabase16","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-720,-20],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"dr6vro85PMJ0isBe","name":"Supabase account"}}},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"group_name","separateBy":"\n"}]},"options":{}},"id":"c6a3938b-9167-455b-95ce-5be35d7f42d9","name":"Summarize","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[-560,-20]},{"parameters":{"operation":"getAll","tableId":"users","returnAll":true,"filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $json.user_message.split(\" \")[1] }}"}]}},"id":"087cfc3c-b59b-4c26-b611-fe1d2cb0d450","name":"Supabase17","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-880,160],"credentials":{"supabaseApi":{"id":"dr6vro85PMJ0isBe","name":"Supabase account"}}},{"parameters":{"operation":"getAll","tableId":"statistics","returnAll":true,"filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $json.whatsapp }}"}]}},"id":"e9d063f3-5590-467c-99d6-d20dc980be42","name":"Supabase18","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-720,160],"credentials":{"supabaseApi":{"id":"dr6vro85PMJ0isBe","name":"Supabase account"}}},{"parameters":{"fieldToSplitOut":"group_name, messages, reactions","options":{}},"id":"c9bfca7b-f43a-46d1-af34-ca9126685fe9","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-400,160]},{"parameters":{"content":"## Checa cadastro do usuário\ncaso não tenha, cria a entrada no bd","height":445.78326861611566,"width":461.467840124591,"color":7},"id":"defb810d-9f7e-45aa-974e-3c3f108015bc","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-400,-1080]},{"parameters":{"operation":"getAll","tableId":"users","limit":1,"filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $json.whatsapp }}"}]}},"id":"2973a3b5-c92f-4b2b-a5c6-3dae9a0098a5","name":"Supabase - busco o usuário","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-300,-980],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"tableId":"users","fieldsUi":{"fieldValues":[{"fieldId":"whatsapp","fieldValue":"={{ $('variaveis').item.json.whatsapp }}"},{"fieldId":"name","fieldValue":"={{ $('variaveis').item.json.name }}"}]}},"id":"14745c2b-67bc-415a-88c5-276dbab05361","name":"Supabase - cadastro usuário","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-140,-840],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"dd1d069d-7a6c-4f68-9228-1a703ef0400f","leftValue":"={{ $json.whatsapp }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"07a42c29-2771-41b5-b767-04ebba84e301","name":"tem_cadastro","type":"n8n-nodes-base.if","typeVersion":2,"position":[-140,-980]},{"parameters":{"content":"## Checa entrada grupo/usuário\né preciso para contabilizar todos os grupos que o usuário esteja falando","height":445.78326861611566,"width":461.467840124591,"color":7},"id":"1de38c9a-9f00-4508-b840-0fd93530e3c8","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[100,-1080]},{"parameters":{"content":"## Busca informações\nPega informações do grupo e de possivel mensagem respondida","height":315.9856701672631,"width":402.1240241064658,"color":5},"id":"08631d1f-a583-4d78-95fb-3486d171d5fb","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[600,-1100]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"99e37adf-50d3-4e0c-9a52-f22942ae9306","leftValue":"={{ $('variaveis').item.json.user_message.split(\"\")[0] }}","rightValue":"!","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"8c0a38c3-2c2a-4ef3-9418-c28405cbee33","name":"is_command","type":"n8n-nodes-base.if","typeVersion":2,"position":[-640,-820]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"9119acee-cf2a-43f6-b64f-d63fa3bc09a6","leftValue":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","rightValue":"g.us","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"id":"b5a5a1ab-d0d6-498f-8131-3664392819e2","name":"is_group","type":"n8n-nodes-base.if","typeVersion":2,"position":[-820,-960]},{"parameters":{"operation":"getAll","tableId":"users","filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $('variaveis').item.json.user_message.split(\"@\")[1].substring(0, 10) }}"}]}},"id":"2314f489-39d9-45f1-91d2-418af6353bf4","name":"Supabase - busca usuário","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[620,-640],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"content":"## Busca informações\nPega informações do grupo e de possivel mensagem respondida","height":325.62796441998967,"width":406.8130016981088,"color":4},"id":"e16faa83-d4cc-4f4c-abe4-e7ccfa79ebc5","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[600,-751]},{"parameters":{"assignments":{"assignments":[{"id":"f3732173-de9d-4733-85e6-928109c99dc6","name":"=user_message","value":"={{ $json.user_message.replaceAll(\"\\n\", \"\") }}","type":"string"}]},"options":{}},"id":"bac1688a-9b9d-4a59-a520-739d659b03cf","name":"get_message","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-880,-480]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cc35dc2a-54ce-455e-a921-268c0c28a4a2","leftValue":"={{ $json.whatsapp }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"e55752eb-bcd5-4cfb-9e3f-3d2afdb7774b","name":"grupo_usuario_cadastrado","type":"n8n-nodes-base.if","typeVersion":2,"position":[360,-960]},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/{{ $('Webhook').item.json.body.data.owner }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Webhook').first().json.body.data.key.remoteJid.split(\"@\")[0] }}"},{"name":"textMessage.text","value":"=*Comandos ativos para teste*\n\n*!user 5511999996622* - dá informações sobre o usuário\n*!statistics 5511999996622* - mostra algumas estatísticas sobre o usuário"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"d636900e-e894-46cb-8db3-898186fcd8c4","name":"msg_commands","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-880,-200],"executeOnce":true,"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}}},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/{{ $('Webhook').item.json.body.data.owner }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Webhook').first().json.body.data.key.remoteJid.split(\"@\")[0] }}"},{"name":"textMessage.text","value":"=*Informações do usuário*\n*{{ $json.user_name }}* -  {{ $json.user_whatsapp }}\n\n*Interesses:*\n{{ $json.user_tags }}\n\n"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"57fba269-928c-4a23-b0b3-6dee64d1d804","name":"msg_user","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-240,-20],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}}},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/{{ $('Webhook').item.json.body.data.owner }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Webhook').first().json.body.data.key.remoteJid.split(\"@\")[0] }}"},{"name":"textMessage.text","value":"=*Estatísticas do usuário*\n*{{ $('Edit Fields8').last().json.user_name }}* - {{ $('Edit Fields8').last().json.user_whatsapp }}\n\n{{ $json.concatenated_formatado }}"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"2ec242d1-aa96-41fd-b6e6-5a4015af0dcc","name":"msg_stats","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[80,160],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}}},{"parameters":{"content":"## Envio de mensagens\nBusca e trata as informações para enviar mensagens","height":358.9602581839663,"width":460.5723353518027,"color":3},"id":"62e68162-1cd5-4586-8ad8-22d65a2ae654","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-900,-600]},{"parameters":{"content":"## Checa se é grupo e se é comando\n","height":445.78326861611566,"width":461.467840124591,"color":6},"id":"12f625cf-9712-4d3f-8f6d-15fc57eb931e","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-900,-1080]},{"parameters":{"url":"=https://api.sincronia.digital/group/findGroupInfos/{{ $('variaveis').item.json.instance_evolution }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"groupJid","value":"={{ $('variaveis').item.json.grupo }}"}]},"options":{"redirect":{"redirect":{}}}},"id":"d25b38d1-f7b7-4b15-b185-eb848e4c11cf","name":"get_group_info","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[660,-980],"notesInFlow":true,"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}},"notes":"puxa info do grupo"},{"parameters":{"assignments":{"assignments":[{"id":"005575be-15a4-4ab8-b7f3-eb548a5b7879","name":"whatsapp","value":"={{ $('Webhook').item.json[\"body\"][\"data\"][\"key\"][\"participant\"] ? $('Webhook').item.json[\"body\"][\"data\"][\"key\"][\"participant\"].split(\"@\")[0] : $json.body.data.key.remoteJid.split(\"@\")[0] }}","type":"string"},{"id":"b03dcd99-430a-44e0-8ec7-d18bf7ed5068","name":"user_message","value":"={{ $json.body.data.message.extendedTextMessage && $json.body.data.message.extendedTextMessage.text ? $json.body.data.message.extendedTextMessage.text : ($json.body.data.message.imageMessage && $json.body.data.message.imageMessage.caption ? $json.body.data.message.imageMessage.caption : ($json.body.data.message.conversation ? $json.body.data.message.conversation : $('Webhook').item.json.body.data.message.editedMessage.message.protocolMessage.editedMessage.extendedTextMessage.text)) }}\n","type":"string"},{"id":"a0d11d81-89d0-4594-ba57-c109b9598299","name":"instance_id","value":"=bu9qnq7ga1eo7085dc9w6","type":"string"},{"id":"947b6267-951c-46a2-a46c-2bfeeeeadc87","name":"msg_sent","value":"={{ $json.body.date_time }}","type":"string"},{"id":"b68930cd-4c56-4e9e-b210-7d088a83ef36","name":"assistant_id","value":"asst_z7suvl0dVsf5rNWeicAjt475","type":"string"},{"id":"05ae9849-52fb-471a-8abb-60aa77eeb52b","name":"Developer_Key","value":"AIzaSyBzYmCjdHAkg4X9GJKqthauxGJCUg6K71o","type":"string"},{"id":"48c1810c-e147-495f-be11-0f62692c3bf5","name":"name","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"27b515dd-b6a0-41fa-b79e-c58da772df3e","name":"assistant_version","value":"v1","type":"string"},{"id":"4caba8d0-3f79-4f35-876a-37e3546991b7","name":"msg_type","value":"={{ $json.body.event }}","type":"string"},{"id":"1ef43203-11fc-4242-9c54-188b9d558fa5","name":"msg_channel_type","value":"={{ $json.body.type }}","type":"string"},{"id":"70064ac6-acec-4581-bd96-6475a633d98d","name":"grupo","value":"={{ $json.body.data.key.remoteJid.split(\"@\")[0] }}","type":"string"},{"id":"f7633cfb-bfa0-4ebd-affd-da44872ba365","name":"instance_evolution","value":"Sincron","type":"string"},{"id":"e6b9b1d5-d793-4a95-a8c4-77dd80ef626d","name":"message_id","value":"={{ $json.body.data.key.id }}","type":"string"},{"id":"8819af21-9836-4cac-95e3-a77bc0cfdc9d","name":"imagem_url","value":"={{ $json.body.data.message.imageMessage.url }}","type":"string"},{"id":"95ef9e6f-d8df-4406-8a0e-938e207f29c1","name":"whats_participante","value":"={{ $json.body.data.key.participant.split(\"@\")[0] }}","type":"string"},{"id":"9e24de26-d7a5-418b-a14e-6350b4545138","name":"img_base64","value":"={{ $('Webhook').item.json.body.data.message.base64 }}","type":"string"},{"id":"c69cf6cd-dcf8-47a8-a564-5e29d4f70d99","name":"tipo","value":"={{ $json.body.data.message.base64 ? \"image\" : \"text\" }}","type":"string"},{"id":"66af3c28-b30d-41cd-b990-e8a0455b53e9","name":"tipoMidia","value":"={{ $('Webhook').item.json.body.data.messageType }}","type":"string"},{"id":"878e37e5-c135-4617-869e-5c59d8cdac88","name":"message_link","value":"={{ $json.body.data.message.extendedTextMessage.canonicalUrl }}","type":"string"},{"id":"c6d7d76b-57c4-425a-ac7c-a65462e3b8a9","name":"title_link","value":"={{ $json.body.data.message.extendedTextMessage.title }}","type":"string"},{"id":"1aa292b1-4b45-40b4-9c05-1a8683d8b110","name":"description_link","value":"={{ $json.body.data.message.extendedTextMessage.description }}","type":"string"},{"id":"9a213465-a754-459f-8df7-ed6bc465a105","name":"response_to","value":"={{ $('Webhook').item.json.body.data.message.extendedTextMessage.contextInfo.quotedMessage.conversation ? $('Webhook').item.json.body.data.message.extendedTextMessage.contextInfo.quotedMessage.conversation : $('Webhook').item.json.body.data.message.audioMessage.contextInfo.quotedMessage.conversation }}","type":"string"}]},"options":{"ignoreConversionErrors":false}},"id":"4bc992a0-1931-4ebf-a5ed-b871b5f99455","name":"variaveis","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-1100,-960],"alwaysOutputData":false},{"parameters":{"operation":"update","tableId":"statistics","matchType":"allFilters","filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $('variaveis').item.json.whatsapp }}"},{"keyName":"group_id","condition":"eq","keyValue":"={{ $('variaveis').item.json.grupo.split(\"@\")[0] }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"group_name","fieldValue":"={{ $('get_group_info').item.json.subject }}"},{"fieldId":"messages","fieldValue":"={{ $('Supabase - busca linha estatistica').item.json.messages + 1 }}"},{"fieldId":"name","fieldValue":"={{ $('variaveis').item.json.name }}"}]}},"id":"69911682-4479-48ce-af05-dacabdf137d5","name":"Supabase - update statistics","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[800,200],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"update","tableId":"statistics_daily","matchType":"allFilters","filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $('variaveis').item.json.whatsapp }}"},{"keyName":"group_id","condition":"eq","keyValue":"={{ $('variaveis').item.json.grupo.split(\"@\")[0] }}"},{"keyName":"created_at","condition":"gte","keyValue":"={{ \n  (() => {\n    const date = new Date();\n    date.setHours(date.getHours() - 3); // Ajusta a hora para GMT-3\n    return date.toISOString().split('T')[0];\n  })() \n}}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"group_name","fieldValue":"={{ $('get_group_info').item.json.subject }}"},{"fieldId":"messages","fieldValue":"={{ $('Supabase - busca linha estatistica1').item.json.messages + 1 }}"},{"fieldId":"name","fieldValue":"={{ $('variaveis').item.json.name }}"}]}},"id":"b24ed123-8c0a-4ffb-9c2a-3bff066b4b3a","name":"Supabase - update statistics_daily","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1560,100],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"tableId":"statistics_daily","fieldsUi":{"fieldValues":[{"fieldId":"whatsapp","fieldValue":"={{ $('variaveis').item.json.whatsapp }}"},{"fieldId":"name","fieldValue":"={{ $('variaveis').item.json.name }}"},{"fieldId":"group_id","fieldValue":"={{ $('variaveis').item.json.grupo.split(\"@\")[0] }}"}]}},"id":"12ed3dd3-a09b-4811-bbca-985c5dd1ab88","name":"Supabase15","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1560,360],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"getAll","tableId":"statistics_daily","limit":1,"matchType":"allFilters","filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $json.whatsapp }}"},{"keyName":"group_id","condition":"eq","keyValue":"={{ $('variaveis').item.json.grupo.split(\"@\")[0] }}"},{"keyName":"created_at","condition":"gte","keyValue":"={{ \n  (() => {\n    const date = new Date();\n    date.setHours(date.getHours() - 3); // Ajusta a hora para GMT-3\n    return date.toISOString().split('T')[0];\n  })() \n}}"}]}},"id":"d7cb4b0a-da29-4237-bf65-12594db1c5de","name":"Supabase - busca linha estatistica1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1160,240],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cc35dc2a-54ce-455e-a921-268c0c28a4a2","leftValue":"={{ $json.whatsapp }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"19bb43fd-5a7c-4920-ace4-630ffc536689","name":"grupo_usuario_cadastrado1","type":"n8n-nodes-base.if","typeVersion":2,"position":[1340,240]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"7f765501-7995-4c4b-8047-e131cd9bc19b","leftValue":"={{ \n  (() => {\n    const message = $('Supabase1 - id resposta').item.json.message;\n    const urlRegex = /((?:https?:\\/\\/|www\\.|(?<!\\.))[\\w-]+(\\.[\\w-]+)+\\.?(:\\d+)?(\\/\\S*)?)/gi;\n    const links = message.match(urlRegex) || [];\n    \n    return links.length > 0 ? links : null;\n  })() \n}}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"5d0cc351-5616-48e5-8774-b1636a14e6df","name":"If6","type":"n8n-nodes-base.if","typeVersion":2,"position":[1380,-340]},{"parameters":{"operation":"update","tableId":"links","matchType":"allFilters","filters":{"conditions":[{"keyName":"link","condition":"eq","keyValue":"={{ $json.link }}"},{"keyName":"group_id","condition":"eq","keyValue":"={{ $('variaveis').item.json.grupo.split(\"@\")[0] }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"pontos","fieldValue":"={{ $json.pontos + 1 }}"}]}},"id":"e2055ff7-dfa0-4c95-8478-36254424a013","name":"Supabase19","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2080,-420],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"tableId":"links","fieldsUi":{"fieldValues":[{"fieldId":"link","fieldValue":"={{ $('Split Out3').item.json.links }}"},{"fieldId":"group_name","fieldValue":"={{ $('get_group_info').item.json.subject }}"},{"fieldId":"group_id","fieldValue":"={{ $('variaveis').item.json.grupo.split(\"@\")[0] }}"},{"fieldId":"message_id","fieldValue":"={{ $('Webhook').item.json.body.data.key.id }}"},{"fieldId":"context","fieldValue":"={{ $json.message.content.replaceAll(\"Descrição: \", \"\") }}"}]}},"id":"1b57e2e0-917c-49db-ad74-416c039b7c26","name":"Supabase20","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3140,280],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"update","tableId":"links","matchType":"allFilters","filters":{"conditions":[{"keyName":"link","condition":"eq","keyValue":"={{ $('Split Out3').item.json.links }}"},{"keyName":"group_id","condition":"eq","keyValue":"={{ $('variaveis').item.json.grupo.split(\"@\")[0] }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"pontos","fieldValue":"={{ $('Supabase - busca o link e grupo').item.json.pontos + 1 }}"},{"fieldId":"context","fieldValue":"={{ $json.message.content.replaceAll(\"Descrição: \", \"\") }}"}]}},"id":"eeeb9d1c-7934-4b01-9c71-f7e5bfbafc11","name":"Supabase21","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3140,20],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"a42e5fa9-6725-4a20-b4a6-b8656f1127e5","leftValue":"={{ \n  (() => {\n    const message = $('variaveis').item.json.user_message;\n    const urlRegex = /((?:https?:\\/\\/|www\\.|(?<!\\.))[\\w-]+(\\.[\\w-]+)+\\.?(:\\d+)?(\\/\\S*)?)/gi;\n    const links = message.match(urlRegex) || [];\n    \n    return links.length > 0 ? links : null;\n  })() \n}}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"54f2eb9f-5b75-4b79-9a9a-37bb945fd402","name":"se - tem link","type":"n8n-nodes-base.if","typeVersion":2,"position":[1720,280]},{"parameters":{"operation":"getAll","tableId":"links","limit":1,"matchType":"allFilters","filters":{"conditions":[{"keyName":"link","condition":"eq","keyValue":"={{ $json.links }}"},{"keyName":"group_id","condition":"eq","keyValue":"={{ $('variaveis').item.json.grupo.split(\"@\")[0] }}"}]}},"id":"59bba421-d4e9-4d69-a5f0-f285373341c9","name":"Supabase - busca o link e grupo","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2200,140],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cc35dc2a-54ce-455e-a921-268c0c28a4a2","leftValue":"={{ $('Supabase - busca o link e grupo').item.json.link }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{"ignoreCase":true}},"id":"00148af6-5a65-4795-aa09-6fb509251e46","name":"se link já cadastrado","type":"n8n-nodes-base.if","typeVersion":2,"position":[2720,140]},{"parameters":{"content":"## Reações\nSalva a reação e a mensagem respondida","height":112.29434538885582,"width":286.0096270660209,"color":6},"id":"f9fe05c1-f6d8-4524-a6f5-673c24f81db5","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[260,-340]},{"parameters":{"content":"## Audios\nTranscreve o áudio e guarda como mensagem","height":112.29434538885582,"width":286.0096270660209,"color":6},"id":"fd04e30b-ec98-4421-a7d3-fcf9813ff014","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[260,-160]},{"parameters":{"content":"## Imagens\nLê e cria uma descrição para a imagem","height":112.29434538885582,"width":286.0096270660209,"color":6},"id":"e820bbdf-bdae-4247-800b-766d14c76f6e","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[260,20]},{"parameters":{"content":"## Mensagem de texto\nSalva a mensagem, links, respostas etc","height":112.29434538885582,"width":286.0096270660209,"color":6},"id":"a1af8bdb-f984-41c4-820d-d9ab10946ed3","name":"Sticky Note14","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[260,200]},{"parameters":{"content":"## !comandos\nEnvia os comandos disponiveis","height":112.29434538885582,"width":286.0096270660209,"color":6},"id":"54cda9a9-7ec2-44ec-b6d7-4887bcba2673","name":"Sticky Note15","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1260,-200]},{"parameters":{"content":"## !user\nMostra um resumo interações do usuário","height":112.29434538885582,"width":286.0096270660209,"color":6},"id":"614b50d4-cb6a-49fa-bf16-4e4849c57811","name":"Sticky Note16","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1260,-20]},{"parameters":{"content":"## !stats\nConta as interações do usuário nos grupos cadastrados","height":112.29434538885582,"width":286.0096270660209,"color":6},"id":"02b07287-b319-4b84-b7ce-38f481dad561","name":"Sticky Note17","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1260,160]},{"parameters":{"fieldToSplitOut":"links","options":{}},"id":"b10496ad-3bf8-4810-ac94-9f6210bca272","name":"Split Out3","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2040,140],"notesInFlow":true,"notes":"separa os links em itens"},{"parameters":{"assignments":{"assignments":[{"id":"5806eff0-ac24-4c44-9523-f1f904b97df6","name":"links","value":"={{ \n  (() => {\n    const message = $('variaveis').item.json.user_message.toLowerCase();\n    const urlRegex = /((?:https?:\\/\\/|www\\.|(?<!\\.))[\\w-]+(\\.[\\w-]+)+\\.?(:\\d+)?(\\/\\S*)?)/gi;\n    const links = message.match(urlRegex) || [];\n    \n    return links.length > 0 ? links : null;\n  })() \n}}","type":"array"},{"id":"93db6188-a208-4fe9-9425-cf746db7b898","name":"message","value":"={{ $('variaveis').item.json.user_message }}","type":"string"}]},"options":{}},"id":"3a73c09f-9af2-496b-8c23-00d7c2e6e338","name":"set_links","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1880,140],"notesInFlow":true,"notes":"pega os links"},{"parameters":{"operation":"getAll","tableId":"links","limit":1,"matchType":"allFilters","filters":{"conditions":[{"keyName":"link","condition":"eq","keyValue":"={{ $json.links }}"},{"keyName":"group_id","condition":"eq","keyValue":"={{ $('variaveis').item.json.grupo.split(\"@\")[0] }}"}]}},"id":"939e74f9-54ce-4737-b8ed-6269d77b02fa","name":"Supabase - busca link no bd","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1940,-420],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"getAll","tableId":"links","limit":1,"matchType":"allFilters","filters":{"conditions":[{"keyName":"link","condition":"eq","keyValue":"={{ $json.links }}"},{"keyName":"group_id","condition":"eq","keyValue":"={{ $('variaveis').item.json.grupo.split(\"@\")[0] }}"}]}},"id":"605de040-5b33-446a-a95d-47060b283e91","name":"Supabase - busca o link e grupo1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1360,320],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"fieldToSplitOut":"links","options":{}},"id":"ad701ce7-5198-433b-a351-740cc1d65833","name":"Split Out4","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1780,-420],"notesInFlow":true,"notes":"separa os links em itens"},{"parameters":{"assignments":{"assignments":[{"id":"5806eff0-ac24-4c44-9523-f1f904b97df6","name":"links","value":"={{ \n  (() => {\n    const message = $('Supabase1').item.json.response_to;\n    const urlRegex = /((?:https?:\\/\\/|www\\.|(?<!\\.))[\\w-]+(\\.[\\w-]+)+\\.?(:\\d+)?(\\/\\S*)?)/gi;\n    const links = message.match(urlRegex) || [];\n    \n    return links.length > 0 ? links : null;\n  })() \n}}","type":"array"},{"id":"93db6188-a208-4fe9-9425-cf746db7b898","name":"message","value":"={{ $('variaveis').item.json.user_message }}","type":"string"}]},"options":{}},"id":"fe2d51a2-31a4-45ac-97e0-a06f9c57c1fd","name":"set_links1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1620,-420],"notesInFlow":true,"notes":"pega os links"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.data.message.reactionMessage }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"reaction"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"611b659b-5254-47f7-aee3-5bc2d424b905","leftValue":"={{ $('variaveis').item.json.tipoMidia }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"9ced64a5-00c5-4b5b-9838-558f49a79e4f","leftValue":"={{ $('variaveis').item.json.tipoMidia }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c9382541-7021-4264-8224-3d5f70556fef","leftValue":"={{ $('variaveis').item.json.user_message.length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"renameOutput":true,"outputKey":"message"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"1d808e04-0a06-4025-83ae-f07437eda45b","leftValue":"={{ $('variaveis').item.json.tipoMidia }}","rightValue":"videoMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"videoMessage"}]},"options":{}},"id":"3e204607-a638-4b84-a966-75dbc42587fc","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[800,-640]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-3.5-turbo-0125","mode":"list","cachedResultName":"GPT-3.5-TURBO-0125"},"messages":{"values":[{"content":"=você recebe uma mensagem que contém a descrição. Identifique este contexto e gere uma descrição para a utilidade deste conteúdo. Seja breve e apenas fale sobre o que o conteúdo se trata.\nSua mensagem precisa conter a descrição direto ao ponto\nA sua saída já é a mensagem enviada, então já inicie direto ao ponto mostrando a descrição\n{{ $json.context ? \"já temos um contexto do link. Misture ou se necessário substitua pelo do usuário\" + $json.context : \"\" }}","role":"assistant"},{"content":"={{ $('variaveis').item.json.user_message.replaceAll($('set_links').item.json[\"links\"][0], \"\") }}"}]},"options":{}},"id":"5e5b0564-1540-43d4-93ff-b635702be5ee","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.4,"position":[2380,140],"credentials":{"openAiApi":{"id":"neTK4UBDC4tLBdAV","name":"G4 educação"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"34f8c8b4-4228-4d52-a710-28ece860b98e","leftValue":"={{ $json.user_message.split(\" \")[0] }}","rightValue":"!comand","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"!comand"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"51f18e62-b9e4-476c-893c-689058020631","leftValue":"={{ $json.user_message.split(\" \")[0] }}","rightValue":"!cmd","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"!cmd"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.user_message.split(\" \")[0] }}","rightValue":"!user","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"!user"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"b17d450a-d643-43e7-99e4-72f076ec6e8e","leftValue":"={{ $json.user_message.split(\" \")[0] }}","rightValue":"!stats","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"!stats"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"b1d2700d-c0df-4380-bbe9-7077aa958acc","leftValue":"={{ $json.user_message.split(\" \")[0] }}","rightValue":"!stati","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"!stati"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"b81391b3-05db-4751-bf97-fd9ee57f1cb0","leftValue":"={{ $json.user_message.split(\" \")[0] }}","rightValue":"!estati","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"!estati"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"ee8c49b1-2c62-4435-b038-ff11eb764c86","leftValue":"={{ $json.user_message.split(\" \")[0] }}","rightValue":"!aaa","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"new_group"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cdd65a19-7415-4015-8ce4-3402d7b298c3","leftValue":"={{ $json.user_message.split(\" \")[0] }}","rightValue":"!links","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"links"}]},"options":{}},"id":"bc31e6fc-40b1-470f-8923-7ab5fad65500","name":"command_is","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-680,-500]},{"parameters":{"assignments":{"assignments":[{"id":"ad68118f-3197-4032-9bcf-827535010405","name":"links","value":"=\n{{ $('Summarize5').item.json[\"appended_link\"][0] }} - {{ $('Summarize5').item.json[\"appended_context\"][0] }}\n\n{{ $('Summarize5').item.json[\"appended_link\"][1] }} - {{ $('Summarize5').item.json[\"appended_context\"][1] }}\n\n{{ $('Summarize5').item.json[\"appended_link\"][2] }} - {{ $('Summarize5').item.json[\"appended_context\"][2] }}\n\n{{ $('Summarize5').item.json[\"appended_link\"][3] }} - {{ $('Summarize5').item.json[\"appended_context\"][3] }}\n\n{{ $('Summarize5').item.json[\"appended_link\"][4] }} - {{ $('Summarize5').item.json[\"appended_context\"][4] }}\n\n*Mostramos aqui os principais links da semana. Para facilitar na criação da lista, sempre curtam os links importantes e para postar, escrevam na mensagem uma descrição que ajude a identificar o contexto do link*","type":"string"},{"id":"58b3f961-09b4-4154-89db-a03839f7fe3d","name":"group_name","value":"={{ $('Supabase2').first().json.group_name }}","type":"string"}]},"options":{}},"id":"51cbc875-52e0-478c-be99-b3856c5a434e","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-240,380]},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"pontos","order":"descending"}]},"options":{}},"id":"03de690d-0792-4ae2-acf3-33599ab8c98d","name":"Sort2","type":"n8n-nodes-base.sort","typeVersion":1,"position":[-720,380],"retryOnFail":false,"notesInFlow":true,"notes":"coloco em ordem"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"append","field":"link"},{"aggregation":"append","field":"context"}]},"options":{}},"id":"e5f6102b-a7e8-4d7d-a3a0-46c52e7ccf72","name":"Summarize5","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[-400,380]},{"parameters":{"maxItems":5},"id":"3eb97ef0-f0bf-461c-95a5-2a620e5a1aca","name":"Limit1","type":"n8n-nodes-base.limit","typeVersion":1,"position":[-560,380]},{"parameters":{"operation":"getAll","tableId":"links","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"created_at","condition":"gte","keyValue":"={{ \n  (() => {\n    const date = new Date();\n    date.setDate(date.getDate() - 6); // Subtrai um dia\n    date.setHours(date.getHours() - 3); // Ajusta a hora para GMT-3\n    return date.toISOString().split('T')[0];\n  })() \n}}\n"},{"keyName":"group_id","condition":"eq","keyValue":"={{ $('pego_grupo').item.json.group }}"}]}},"id":"0ca4ead7-17a7-4b2d-9c17-e972d997ad07","name":"Supabase2","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-880,380],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"httpMethod":"POST","path":"MGM2","options":{}},"id":"e648fe68-72d6-4401-9abc-4d1789b4de61","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[-1280,-940],"webhookId":"df058004-46e0-449a-ae51-cb3737f0918c"}],"connections":{"Vision - gpt-4o":{"main":[[{"node":"Supabase7","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Transcrever audio","type":"main","index":0}]]},"pega mp4 do audio3":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Transcrever audio":{"main":[[{"node":"Supabase8","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"Supabase1 - id resposta":{"main":[[{"node":"Supabase - busca usuário","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"Supabase1","type":"main","index":0}]]},"Supabase11":{"main":[[{"node":"Supabase - busca linha estatistica","type":"main","index":0}]]},"Supabase1":{"main":[[{"node":"Supabase12","type":"main","index":0}]]},"Supabase - busca linha estatistica":{"main":[[{"node":"grupo_usuario_cadastrado","type":"main","index":0}]]},"Supabase8":{"main":[[{"node":"Supabase13","type":"main","index":0}]]},"Supabase7":{"main":[[{"node":"Supabase14","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"Supabase - update statistics","type":"main","index":0}]]},"Edit Fields7":{"main":[[{"node":"msg_user","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Edit Fields8":{"main":[[{"node":"Summarize2","type":"main","index":0}]]},"Summarize2":{"main":[[{"node":"msg_stats","type":"main","index":0}]]},"Supabase10":{"main":[[{"node":"Supabase16","type":"main","index":0}]]},"Supabase16":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Summarize":{"main":[[{"node":"Edit Fields7","type":"main","index":0}]]},"Supabase17":{"main":[[{"node":"Supabase18","type":"main","index":0}]]},"Supabase18":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Edit Fields8","type":"main","index":0}]]},"Supabase - busco o usuário":{"main":[[{"node":"tem_cadastro","type":"main","index":0}]]},"Supabase - cadastro usuário":{"main":[[{"node":"Supabase - busco o usuário","type":"main","index":0}]]},"tem_cadastro":{"main":[[{"node":"Supabase - busca linha estatistica","type":"main","index":0}],[{"node":"Supabase - cadastro usuário","type":"main","index":0}]]},"is_command":{"main":[[{"node":"get_message","type":"main","index":0}]]},"is_group":{"main":[[{"node":"Supabase - busco o usuário","type":"main","index":0},{"node":"is_command","type":"main","index":0}],[{"node":"is_command","type":"main","index":0}]]},"Supabase - busca usuário":{"main":[[{"node":"Switch","type":"main","index":0}]]},"get_message":{"main":[[{"node":"command_is","type":"main","index":0}]]},"grupo_usuario_cadastrado":{"main":[[{"node":"get_group_info","type":"main","index":0}],[{"node":"Supabase11","type":"main","index":0}]]},"get_group_info":{"main":[[{"node":"Supabase1 - id resposta","type":"main","index":0}]]},"variaveis":{"main":[[{"node":"is_group","type":"main","index":0}]]},"Supabase - update statistics":{"main":[[{"node":"Supabase - busca linha estatistica1","type":"main","index":0}]]},"Supabase15":{"main":[[{"node":"Supabase - busca linha estatistica1","type":"main","index":0}]]},"Supabase - busca linha estatistica1":{"main":[[{"node":"grupo_usuario_cadastrado1","type":"main","index":0}]]},"grupo_usuario_cadastrado1":{"main":[[{"node":"Supabase - update statistics_daily","type":"main","index":0}],[{"node":"Supabase15","type":"main","index":0}]]},"Supabase - update statistics_daily":{"main":[[{"node":"se - tem link","type":"main","index":0}]]},"Supabase12":{"main":[[{"node":"If6","type":"main","index":0}]]},"If6":{"main":[[{"node":"set_links1","type":"main","index":0}]]},"se - tem link":{"main":[[{"node":"set_links","type":"main","index":0}]]},"Supabase - busca o link e grupo":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"se link já cadastrado":{"main":[[{"node":"Supabase21","type":"main","index":0}],[{"node":"Supabase20","type":"main","index":0}]]},"Split Out3":{"main":[[{"node":"Supabase - busca o link e grupo","type":"main","index":0}]]},"set_links":{"main":[[{"node":"Split Out3","type":"main","index":0}]]},"Supabase - busca link no bd":{"main":[[{"node":"Supabase19","type":"main","index":0}]]},"set_links1":{"main":[[{"node":"Split Out4","type":"main","index":0}]]},"Split Out4":{"main":[[{"node":"Supabase - busca link no bd","type":"main","index":0}]]},"Switch":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[{"node":"pega mp4 do audio3","type":"main","index":0}],[{"node":"Vision - gpt-4o","type":"main","index":0}],[{"node":"Supabase","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"se link já cadastrado","type":"main","index":0}]]},"command_is":{"main":[[{"node":"msg_commands","type":"main","index":0}],[{"node":"msg_commands","type":"main","index":0}],[{"node":"Supabase10","type":"main","index":0}],[{"node":"Supabase17","type":"main","index":0}],[{"node":"Supabase17","type":"main","index":0}],[{"node":"Supabase17","type":"main","index":0}],[],[{"node":"Supabase2","type":"main","index":0}]]},"Sort2":{"main":[[{"node":"Limit1","type":"main","index":0}]]},"Summarize5":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Limit1":{"main":[[{"node":"Summarize5","type":"main","index":0}]]},"Supabase2":{"main":[[{"node":"Sort2","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"variaveis","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook.sincronia.digital","user-agent":"axios/1.7.2","content-length":"9839","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"webhook.sincronia.digital","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"87bd2b72c4cb","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"Sincron","data":{"key":{"remoteJid":"120363252790997574@g.us","fromMe":false,"id":"1ACE8793459CA49AA4EF4E486ABD410F","participant":"5511989301530@s.whatsapp.net"},"pushName":"Thiago","message":{"senderKeyDistributionMessage":{"groupId":"120363252790997574@g.us","axolotlSenderKeyDistributionMessage":"MwjG8OGJBhAAGiCPSbx3pQmAiLHT4cISSoO/FpR034p+nO36nQn9tmWS9yIhBeC5NPIrguOhh8VOx6lw20txG8kfXFB94gHaWWO+I8op"},"messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"pBuiSdE46W/sFQ==","senderTimestamp":"1720800592","recipientKeyHash":"NwxBan8Ood3gkA==","recipientTimestamp":"1721065726"},"deviceListMetadataVersion":2},"extendedTextMessage":{"text":"Eu faço parte de uma comunidade paga de chatbots e uma das ferramentas disponibilizadas é o whaticket. Todo dia tem msg reclamando de bloqueio...de interrupção do funcionamento e outras coisas. Eu não confio nessas ferramentas não pagas. Além do whaticket tem o izing mas não confio nela tbm. Vejo direto propagandas com esse layout então não sei se oferecem uma solução melhorada ou se dá comercializam essas ferramentas sabendo do risco msm.","previewType":"NONE","contextInfo":{"stanzaId":"2CA7E9DEBA5B623A593DEB0991862570","participant":"556192568679@s.whatsapp.net","quotedMessage":{"extendedTextMessage":{"text":"https://github.com/canove/whaticket-community","matchedText":"https://github.com/canove/whaticket-community","canonicalUrl":"https://github.com/canove/whaticket-community","description":"A very simple Ticket System based on WhatsApp messages, that allow multi-users in same WhatsApp account. - canove/whaticket-community","title":"GitHub - canove/whaticket-community: A very simple Ticket System based on WhatsApp messages, that allow multi-users in same WhatsApp account.","previewType":"NONE","jpegThumbnail":"/9j/4AAQSkZJRgABAQAAAQABAAD/4gIoSUNDX1BST0ZJTEUAAQEAAAIYAAAAAAIQAABtbnRyUkdCIFhZWiAAAAAAAAAAAAAAAABhY3NwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAA9tYAAQAAAADTLQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAlkZXNjAAAA8AAAAHRyWFlaAAABZAAAABRnWFlaAAABeAAAABRiWFlaAAABjAAAABRyVFJDAAABoAAAAChnVFJDAAABoAAAAChiVFJDAAABoAAAACh3dHB0AAAByAAAABRjcHJ0AAAB3AAAADxtbHVjAAAAAAAAAAEAAAAMZW5VUwAAAFgAAAAcAHMAUgBHAEIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFhZWiAAAAAAAABvogAAOPUAAAOQWFlaIAAAAAAAAGKZAAC3hQAAGNpYWVogAAAAAAAAJKAAAA+EAAC2z3BhcmEAAAAAAAQAAAACZmYAAPKnAAANWQAAE9AAAApbAAAAAAAAAABYWVogAAAAAAAA9tYAAQAAAADTLW1sdWMAAAAAAAAAAQAAAAxlblVTAAAAIAAAABwARwBvAG8AZwBsAGUAIABJAG4AYwAuACAAMgAwADEANv/bAEMABgQFBgUEBgYFBgcHBggKEAoKCQkKFA4PDBAXFBgYFxQWFhodJR8aGyMcFhYgLCAjJicpKikZHy0wLSgwJSgpKP/bAEMBBwcHCggKEwoKEygaFhooKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKP/AABEIAEsASwMBIgACEQEDEQH/xAAcAAEAAgMBAQEAAAAAAAAAAAAABQYCAwQIAQf/xAAvEAACAQQBAwMDBAAHAAAAAAABAgMABBESBRMhIgYUMQcVMiNBUWEkNkJicoOz/8QAGQEBAQADAQAAAAAAAAAAAAAAAAEDBAYF/8QAKBEBAAEBBAkFAAAAAAAAAAAAABEBAxQW4QIEExVhYmOhogUSMVGR/9oADAMBAAIRAxEAPwD1TSoBPV3Di8axuLhrfkYzEk1o6FnheQwhFYrle5njGQSCS2CQrEQdt9UvTaenrXlOXnn43qxW7yRTWk50aZHZQp6Y3X9OQB1Gp1/sUgle6VS7T6h8XLI/uI7q2SN7iMh7S4LuY7lLdemBFiTZnXIU7KWUEHuVzk+ovAWlxy8fKXQsvt4SRlkSQyGFo7dhI0euyeVwqakZJB/ggWCVxpVN4X6jen+Xubxra66fGW9rFc/cbmOSCFt5ZIyNpFVRhkABz5EsB+DYuVQKUpQKUpQUXkD6Ej5y/wCTmuOJn5WG6gnvM38eYZIj0EkdGcKvT6pHxnOMAuFrk4rjPp96u47jZLT2kzeyhsoYkvmW4hh6Uutu2kmwOjTbLny1Oc6DE/L6M46WS1dprvNvcTXCYZe7SXkd2wPj8dSJQP8AaSPnuOT056FtuG5uz5CS6N4/H8evGWTSxASpCDnDsDqzDuFZUQ6swbcnIqJaT0rw0jyu9oxaQytnrSDRpXjkdk8vAl4kcFcEMNhgkk80Xof07DZraw8ascK4K6yuGGI0jGG2z2EUR+fyjR/zUMLJSoqK430/xvG3vu7KGSKf24tmbryEOgdny4LYZ9ndi7AsS7ZPc5laUoFKUoFKUoIpvvZS51+3K69QwE7sH/Lphx21x4EkE58gAOxrfF9xWUNKsDqVCsBKVUEP+SjTOShyQWIBUKPktUDPwFhdc5x/KP6gv2vHjPsx7iIo36QDPGmuDkeRwMH5xjtU79sAtLq3S7vVScOA3WLPFsAPBjk5BBIyTgk/tgCo0QHnjyNuZ14tLAIomCNI0rPodipIAADagAg5GTkHtXRftyW+LCOzKAE7TyNknV8DAHby6ffJ7Fu2QM4txYe1tbeS9vmigXU4nKvLjGC7rhiRj9iM5Oc1rtuHMNxbzPyXJTNCWbEk3jIW3zsoABHkMDGF0XGO+QAcztMS1h4lzEo2AYb+Kt+4Og/IZ7ufEhRtlPFyj3oeO4gS2STxiC95EIQHYkHBH6pAGM+GT85x47iDZ3MMzclyN0Yrb22k8oZWG2Q7AAZf9tvkj5ye9ZWvFNbzI7clyEwR1fSWQEEiIxnOFGQfyI+NhkY75BIeYE56SWBhMiAFncME3bc4x3bTQAdhnYk4wK+MvMRz2ixvYzwBv8S0gZHYHPdAMhdfHsc7ZPdcZPZYWwsrKG2Es8wiUL1J5C7v/bMfkmt9FKUpUHIvG2K3SXK2VsLlNisoiXdclicHGe5Zif8Akf5NdEMUcEKRQoscUahURBhVA7AAD4FcT2lweYjug4aEKUKdWRcDHY6A6Mc57kA4YdxphsoEv/uGbiSJrVUfHT8dmZ8qGQgnxQAbB8MWbxHjgO6lKgIbbnrXgZI457a45QtGQ88raYITrYOhK9+qVGGAyvbXxAT9K0WPuvaoL8Qe5BIYwk6NgkBgD3GRg698E4y2MnXNbSycjbzLM6wICXQPgMwBCgjHcebE/wBqn8Gg66VFTtyK3dtJ1LWIGVo/btNlZ0LHuDoGDqi7gDIOXU9gsglaBSlKBWi6srW7SRLq2gnSQKrrJGGDBTlQc/OCSR/dVClcviTpeWTbuvFdIo0ijSOJFSNAFVVGAoHwAKyqk0piTpd8i68VvtrK1tZZpba2ghlnbaV44wpkPfuxHye5+f5Nb6pNKYk6XlkXXitknHWMhUyWdsxXqFdolON8747f6snP85711VSarf1E/wAnch/1/wDotbOp+u3rWLOw2ce7SpSZ+JrH0xW1jsrPStJmKVr+P1qleO6V3m5eftm8He3J3yf/2Q==","thumbnailDirectPath":"/v/t62.36144-24/21575803_1941841839577632_2912869290665185131_n.enc?ccb=11-4&oh=01_Q5AaIJhjqD3G5jbdo0W--IqFHguIc0xtC4Nd7qpZ1BZmT_Qk&oe=66BDCEA2&_nc_sid=5e03e0","thumbnailSha256":"JOYgdE8xmAJ1iJ5PutnH1hE7pTBbXFm6UuwxytpPMaM=","thumbnailEncSha256":"tlC6UjDLt4z+TK2ADc8sONApVUt/EyZfPfbBTggB8R4=","mediaKey":"b9hmcH+6kJ0mgiXUmlIDrGnMyIOrhOwNOqSsCRa0wEg=","mediaKeyTimestamp":"1721126897","thumbnailHeight":512,"thumbnailWidth":1024,"inviteLinkGroupTypeV2":"DEFAULT"}}},"inviteLinkGroupTypeV2":"DEFAULT"}},"contextInfo":{"stanzaId":"2CA7E9DEBA5B623A593DEB0991862570","participant":"556192568679@s.whatsapp.net","quotedMessage":{"extendedTextMessage":{"text":"https://github.com/canove/whaticket-community","matchedText":"https://github.com/canove/whaticket-community","canonicalUrl":"https://github.com/canove/whaticket-community","description":"A very simple Ticket System based on WhatsApp messages, that allow multi-users in same WhatsApp account. - canove/whaticket-community","title":"GitHub - canove/whaticket-community: A very simple Ticket System based on WhatsApp messages, that allow multi-users in same WhatsApp account.","previewType":"NONE","jpegThumbnail":"/9j/4AAQSkZJRgABAQAAAQABAAD/4gIoSUNDX1BST0ZJTEUAAQEAAAIYAAAAAAIQAABtbnRyUkdCIFhZWiAAAAAAAAAAAAAAAABhY3NwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAA9tYAAQAAAADTLQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAlkZXNjAAAA8AAAAHRyWFlaAAABZAAAABRnWFlaAAABeAAAABRiWFlaAAABjAAAABRyVFJDAAABoAAAAChnVFJDAAABoAAAAChiVFJDAAABoAAAACh3dHB0AAAByAAAABRjcHJ0AAAB3AAAADxtbHVjAAAAAAAAAAEAAAAMZW5VUwAAAFgAAAAcAHMAUgBHAEIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFhZWiAAAAAAAABvogAAOPUAAAOQWFlaIAAAAAAAAGKZAAC3hQAAGNpYWVogAAAAAAAAJKAAAA+EAAC2z3BhcmEAAAAAAAQAAAACZmYAAPKnAAANWQAAE9AAAApbAAAAAAAAAABYWVogAAAAAAAA9tYAAQAAAADTLW1sdWMAAAAAAAAAAQAAAAxlblVTAAAAIAAAABwARwBvAG8AZwBsAGUAIABJAG4AYwAuACAAMgAwADEANv/bAEMABgQFBgUEBgYFBgcHBggKEAoKCQkKFA4PDBAXFBgYFxQWFhodJR8aGyMcFhYgLCAjJicpKikZHy0wLSgwJSgpKP/bAEMBBwcHCggKEwoKEygaFhooKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKP/AABEIAEsASwMBIgACEQEDEQH/xAAcAAEAAgMBAQEAAAAAAAAAAAAABQYCAwQIAQf/xAAvEAACAQQBAwMDBAAHAAAAAAABAgMABBESBRMhIgYUMQcVMiNBUWEkNkJicoOz/8QAGQEBAQADAQAAAAAAAAAAAAAAAAEDBAYF/8QAKBEBAAEBBAkFAAAAAAAAAAAAABEBAxQW4QIEExVhYmOhogUSMVGR/9oADAMBAAIRAxEAPwD1TSoBPV3Di8axuLhrfkYzEk1o6FnheQwhFYrle5njGQSCS2CQrEQdt9UvTaenrXlOXnn43qxW7yRTWk50aZHZQp6Y3X9OQB1Gp1/sUgle6VS7T6h8XLI/uI7q2SN7iMh7S4LuY7lLdemBFiTZnXIU7KWUEHuVzk+ovAWlxy8fKXQsvt4SRlkSQyGFo7dhI0euyeVwqakZJB/ggWCVxpVN4X6jen+Xubxra66fGW9rFc/cbmOSCFt5ZIyNpFVRhkABz5EsB+DYuVQKUpQKUpQUXkD6Ej5y/wCTmuOJn5WG6gnvM38eYZIj0EkdGcKvT6pHxnOMAuFrk4rjPp96u47jZLT2kzeyhsoYkvmW4hh6Uutu2kmwOjTbLny1Oc6DE/L6M46WS1dprvNvcTXCYZe7SXkd2wPj8dSJQP8AaSPnuOT056FtuG5uz5CS6N4/H8evGWTSxASpCDnDsDqzDuFZUQ6swbcnIqJaT0rw0jyu9oxaQytnrSDRpXjkdk8vAl4kcFcEMNhgkk80Xof07DZraw8ascK4K6yuGGI0jGG2z2EUR+fyjR/zUMLJSoqK430/xvG3vu7KGSKf24tmbryEOgdny4LYZ9ndi7AsS7ZPc5laUoFKUoFKUoIpvvZS51+3K69QwE7sH/Lphx21x4EkE58gAOxrfF9xWUNKsDqVCsBKVUEP+SjTOShyQWIBUKPktUDPwFhdc5x/KP6gv2vHjPsx7iIo36QDPGmuDkeRwMH5xjtU79sAtLq3S7vVScOA3WLPFsAPBjk5BBIyTgk/tgCo0QHnjyNuZ14tLAIomCNI0rPodipIAADagAg5GTkHtXRftyW+LCOzKAE7TyNknV8DAHby6ffJ7Fu2QM4txYe1tbeS9vmigXU4nKvLjGC7rhiRj9iM5Oc1rtuHMNxbzPyXJTNCWbEk3jIW3zsoABHkMDGF0XGO+QAcztMS1h4lzEo2AYb+Kt+4Og/IZ7ufEhRtlPFyj3oeO4gS2STxiC95EIQHYkHBH6pAGM+GT85x47iDZ3MMzclyN0Yrb22k8oZWG2Q7AAZf9tvkj5ye9ZWvFNbzI7clyEwR1fSWQEEiIxnOFGQfyI+NhkY75BIeYE56SWBhMiAFncME3bc4x3bTQAdhnYk4wK+MvMRz2ixvYzwBv8S0gZHYHPdAMhdfHsc7ZPdcZPZYWwsrKG2Es8wiUL1J5C7v/bMfkmt9FKUpUHIvG2K3SXK2VsLlNisoiXdclicHGe5Zif8Akf5NdEMUcEKRQoscUahURBhVA7AAD4FcT2lweYjug4aEKUKdWRcDHY6A6Mc57kA4YdxphsoEv/uGbiSJrVUfHT8dmZ8qGQgnxQAbB8MWbxHjgO6lKgIbbnrXgZI457a45QtGQ88raYITrYOhK9+qVGGAyvbXxAT9K0WPuvaoL8Qe5BIYwk6NgkBgD3GRg698E4y2MnXNbSycjbzLM6wICXQPgMwBCgjHcebE/wBqn8Gg66VFTtyK3dtJ1LWIGVo/btNlZ0LHuDoGDqi7gDIOXU9gsglaBSlKBWi6srW7SRLq2gnSQKrrJGGDBTlQc/OCSR/dVClcviTpeWTbuvFdIo0ijSOJFSNAFVVGAoHwAKyqk0piTpd8i68VvtrK1tZZpba2ghlnbaV44wpkPfuxHye5+f5Nb6pNKYk6XlkXXitknHWMhUyWdsxXqFdolON8747f6snP85711VSarf1E/wAnch/1/wDotbOp+u3rWLOw2ce7SpSZ+JrH0xW1jsrPStJmKVr+P1qleO6V3m5eftm8He3J3yf/2Q==","thumbnailDirectPath":"/v/t62.36144-24/21575803_1941841839577632_2912869290665185131_n.enc?ccb=11-4&oh=01_Q5AaIJhjqD3G5jbdo0W--IqFHguIc0xtC4Nd7qpZ1BZmT_Qk&oe=66BDCEA2&_nc_sid=5e03e0","thumbnailSha256":"JOYgdE8xmAJ1iJ5PutnH1hE7pTBbXFm6UuwxytpPMaM=","thumbnailEncSha256":"tlC6UjDLt4z+TK2ADc8sONApVUt/EyZfPfbBTggB8R4=","mediaKey":"b9hmcH+6kJ0mgiXUmlIDrGnMyIOrhOwNOqSsCRa0wEg=","mediaKeyTimestamp":"1721126897","thumbnailHeight":512,"thumbnailWidth":1024,"inviteLinkGroupTypeV2":"DEFAULT"}}},"messageType":"extendedTextMessage","messageTimestamp":1721136984,"owner":"Sincron","source":"android"},"destination":"https://webhook.sincronia.digital/webhook/microsaas-tracker","date_time":"2024-07-16T10:36:24.588Z","sender":"5519994583576@s.whatsapp.net","server_url":"https://api.sincronia.digital","apikey":"2vkrtkdrzjyjv58w3h7ky8"},"webhookUrl":"https://webhook.sincronia.digital/webhook/microsaas-tracker","executionMode":"production"}}]},"versionId":"b047ccae-7302-4f0f-9b08-ba2f18fc99eb","triggerCount":1,"tags":[{"createdAt":"2024-07-18T13:32:26.033Z","updatedAt":"2024-07-18T13:32:26.033Z","id":"KXG6kePYI5FyUH5t","name":"MGM"}]}