mgm2---private-(ai).json
{"createdAt":"2024-07-22T19:53:10.428Z","updatedAt":"2024-08-02T19:06:54.326Z","id":"VgiFh1W3m2OpK9ZH","name":"MGM2 - private (AI)","active":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"5eb8be50-7f3a-4bf2-83fa-bd732b4ad5ca","leftValue":"={{ !!Object.keys($node[\"Supabase\"].data).length }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"65d43535-66dd-4e1b-9ece-9931b633d713","name":"Tem cadastro?","type":"n8n-nodes-base.if","typeVersion":2,"position":[5860,-500]},{"parameters":{},"id":"6770188f-d207-45a1-a548-da4bee37edf6","name":"Merge - user","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[6460,-500]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c186cbdd-908f-4551-a4de-37c0902bf3ae","leftValue":"={{ $json.thread_id }}","rightValue":"=","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"82988075-0f39-41ba-9680-32b3e892d892","leftValue":"={{ $json.thread_id }}","rightValue":"0","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"c138908b-a0ef-4acf-91c7-86cf56071076","name":"Possui Thread?","type":"n8n-nodes-base.if","typeVersion":2,"position":[6660,-500],"alwaysOutputData":false,"executeOnce":false,"retryOnFail":false,"notesInFlow":false},{"parameters":{"amount":4},"id":"e2de1cdc-3b76-4276-b9e7-b99c233dfed1","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[8900,-500],"webhookId":"96bde2e8-ebf5-438e-8ae1-5ca37676b4ca"},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/{{ $('Execute Workflow Trigger').item.json.body.data.owner }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Execute Workflow Trigger').first().json.body.data.key.remoteJid }}"},{"name":"textMessage.text","value":"={{ $('Get last message').item.json.data[0].content[0].text.value.replaceAll(\"**\", \"*\") }}\n\n*(tokens gastos: {{ $('Get Run Status').item.json.usage.total_tokens }})*"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"8980529d-e89b-4661-82f9-5689a38813f1","name":"Send whats TXT response","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[9120,-860],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}}},{"parameters":{"assignments":{"assignments":[{"id":"142534ee-d7b6-4935-bcbc-cd3d3cda35fc","name":"output","value":"={{ $json.data }}","type":"string"}]},"options":{}},"id":"133c9716-c4a2-4f16-b336-207129ff349c","name":"Output Array","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[9600,-500]},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Get Run Status').first().json[\"thread_id\"] }}/runs/{{ $('Get Run Status').first().json[\"id\"] }}/submit_tool_outputs","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"=assistants={{ $('Variáveis').first().json[\"assistant_version\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={ \n  \"tool_outputs\": {{ $json.output }}\n}","options":{}},"id":"d3cc772f-295e-42bc-b10c-c52363e71139","name":"insere Output","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9760,-500],"credentials":{"openAiApi":{"id":"RV9nTV0PCJCBhlAB","name":"MGM Assistant"}}},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"tool_call_id\": \"{{ $('Separa arguments para JSON').first().json[\"Properties\"][\"id\"] }}\",\n  \"output\": \"{{ $json[\"concatenated_output\"] }}.\"\n}","options":{}},"id":"4b3a5663-6dbc-460c-b72a-833bb49e52e8","name":"Tool Call ID - Get Books","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[8880,-40]},{"parameters":{"batchSize":"=1","options":{"reset":"={{ $node[\"Loop Over Items\"].context[\"done\"] }}"}},"id":"1487b0c6-52c2-4a48-bde8-7e62cca5be4a","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[9140,-180]},{"parameters":{"assignments":{"assignments":[{"id":"3905b531-6eaf-4a11-9be5-bd5e0d2ed36b","name":"tool_calls","value":"={{ $json.required_action.submit_tool_outputs.tool_calls }}","type":"array"}]},"options":{}},"id":"f01c206a-cc55-4f9b-8b3a-c1958dc3be7b","name":"Captura Tool Calls","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[8740,-280]},{"parameters":{"content":"## Nó de saída\nEnvia a mensagem para o usuário","height":315.6823970359038,"width":501.6459323383684,"color":3},"id":"525dd345-2d2e-45b7-99b0-2632c37bb8e0","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[8820,-960]},{"parameters":{"content":"## Tool selection\nDesiga a tool que será executada","height":260.271323610998,"width":383.78424853528935,"color":5},"id":"72a78f00-3248-4637-b2f8-114355a4c57f","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[9440,-240]},{"parameters":{"content":"## Cria uma thread para a conversa\nCaso não tenha uma thread ativa","height":571.6405377504287,"width":490.02926794927083,"color":7},"id":"cb6de310-d859-4cc9-9949-93cc33a28426","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6360,-640]},{"parameters":{"content":"## Cancela Run ativa e cria uma nova\nCaso tenha alguma rodando","height":308.29803189172566,"width":706.070988078458,"color":5},"id":"5e8a822f-e2a1-483d-94d4-b6aaa1f3f7e4","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[7598,-640]},{"parameters":{"content":"## Prepara os dados de output\ne limpa o json para evitar erros","height":260.271323610998,"width":397.8811310497241,"color":5},"id":"f38ecec0-8e2d-4d51-8503-0736b5b3a820","name":"Sticky Note12","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[10160,0]},{"parameters":{"content":"## Cadastro de usuário\nCaso seja novo","height":308.399794769607,"width":243.79790125447602,"color":6},"id":"faefdb65-9e6b-41ec-aa65-578297273e84","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6081,-300]},{"parameters":{"content":"## Checa cadastro do usuário","height":308.399794769607,"width":383.9956167740963,"color":6},"id":"3724ab3e-5864-4607-a838-78f1ec113e9b","name":"Sticky Note13","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5660,-620]},{"parameters":{"content":"## Gatilho do fluxo via API de Whatsapp\nE guarda as variáveis para consulta do fluxo","height":308.70730016078534,"width":348.65310502418646},"id":"3f9e04f0-bbb1-4e70-8875-9b2951356420","name":"Sticky Note18","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5041,-660]},{"parameters":{"method":"POST","url":"= https://api.openai.com/v1/threads","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"OpenAI-Beta","value":"=assistants={{ $('Variáveis').first().json[\"assistant_version\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Primeiras informações do usuário. Nome:  {{ $json.name }}. Whatsapp:  {{ $json.whatsapp }} Email: {{ $json.email ? $json.email : \"não informado\" }}. É Cliente?: {{ $json.auth_id ? \"sim\" : \"ainda não\" }}\"\n    }\n  ]\n}","options":{}},"id":"adf7970d-c421-46f5-bd7c-a04a6a96e89f","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6460,-320],"credentials":{"openAiApi":{"id":"RV9nTV0PCJCBhlAB","name":"MGM Assistant"}}},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $('Merge - user').first().json[\"thread_id\"] }}/runs ","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"=assistants={{ $('Variáveis').first().json[\"assistant_version\"] }}"}]},"options":{}},"id":"86743af3-cba3-4a51-926c-5141a795d7e1","name":"Listar Runs","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7820,-480],"credentials":{"openAiApi":{"id":"RV9nTV0PCJCBhlAB","name":"MGM Assistant"}}},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Merge - user').first().json[\"thread_id\"] }}/runs/{{ $('Listar Runs').item.json[\"first_id\"] }}/cancel","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"=assistants={{ $('Variáveis').first().json[\"assistant_version\"] }}"}]},"options":{}},"id":"62448475-43cc-4e90-9b6d-019c1f4b256f","name":"Cancel Run","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7980,-480],"credentials":{"openAiApi":{"id":"RV9nTV0PCJCBhlAB","name":"MGM Assistant"}}},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $json.thread_id }}/messages?order=desc","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"=assistants={{ $('Variáveis').first().json[\"assistant_version\"] }}"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"d559630e-4223-48bd-adca-389916bd043a","name":"Get last message","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8900,-860],"credentials":{"openAiApi":{"id":"RV9nTV0PCJCBhlAB","name":"MGM Assistant"}}},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $json[\"thread_id\"] }}/runs/{{ $json[\"id\"] }}","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"=assistants={{ $('Variáveis').first().json[\"assistant_version\"] }}"}]},"options":{}},"id":"5183288c-ce60-479a-8616-bd04fd91e5a5","name":"Get Run Status","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8400,-480],"credentials":{"openAiApi":{"id":"RV9nTV0PCJCBhlAB","name":"MGM Assistant"}}},{"parameters":{},"id":"cb091557-4cdc-4611-af4d-31ee7df7eacd","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[7800,-160],"webhookId":"16fcf57c-72cb-47bb-a610-9c132a54a933"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"4120c556-014c-4d31-b904-f10bcbf81025","leftValue":"={{ $('Enviar msg Openai').item.json.id }}","rightValue":"={{ $('Listar_msgs').item.json.data[0].id }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"5abcd97d-3bf5-4788-8f00-5122fe4f0d84","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[8080,-160]},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $('Merge - user').first().json[\"thread_id\"] }}/messages?order=desc","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"=assistants={{ $('Variáveis').first().json[\"assistant_version\"] }}"}]},"options":{}},"id":"099dc40f-82be-4451-b298-180368249c22","name":"Listar_msgs","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7940,-160],"credentials":{"openAiApi":{"id":"RV9nTV0PCJCBhlAB","name":"MGM Assistant"}}},{"parameters":{"content":"## Buffer de mensagens\nroda apenas se o usuário ficar 20s sem mandar mensagens","height":340.3427303057622,"width":705.7031300468116,"color":6},"id":"1408387d-dde4-41bc-b973-288db65d3cf7","name":"Sticky Note23","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[7600,-280]},{"parameters":{"assignments":{"assignments":[{"id":"388b8772-21e3-4e22-a126-8e81e155b0cf","name":"content","value":"{\"torradas\": 2, \"ovo mexido\": 1 porção, \"presunto\": 1 fatia, \"linguiças\": 2, \"bacon\": 1 tira, \"café com leite\": 1 xícara, \"água com limão\": 1 copo}","type":"string"}]},"options":{}},"id":"3945308c-b9b9-47a8-8385-84b3ba5caa8b","name":"Edit Fields3","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[7200,480]},{"parameters":{"assignments":{"assignments":[{"id":"005575be-15a4-4ab8-b7f3-eb548a5b7879","name":"whatsapp","value":"={{ $json.body.data.key.remoteJid.split('@')[0] }}","type":"string"},{"id":"b03dcd99-430a-44e0-8ec7-d18bf7ed5068","name":"user_message","value":"={{ $('Execute Workflow Trigger').first().json.body.data.message.conversation ? $('Execute Workflow Trigger').first().json.body.data.message.conversation : $('Execute Workflow Trigger').item.json.body.data.message.extendedTextMessage.text }}","type":"string"},{"id":"a0d11d81-89d0-4594-ba57-c109b9598299","name":"instance","value":"={{ $json.body.instance }}","type":"string"},{"id":"4615993d-be1a-4fcd-b460-7ae34af27bc8","name":"api_url","value":"={{ $json.body.server_url }}","type":"string"},{"id":"947b6267-951c-46a2-a46c-2bfeeeeadc87","name":"msg_sent","value":"={{ $('Execute Workflow Trigger').item.json[\"body\"][\"date_time\"] }}","type":"string"},{"id":"b68930cd-4c56-4e9e-b210-7d088a83ef36","name":"assistant_id","value":"asst_42N79Z8xTboZYSGVhO8qSqfn","type":"string"},{"id":"48c1810c-e147-495f-be11-0f62692c3bf5","name":"name","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"27b515dd-b6a0-41fa-b79e-c58da772df3e","name":"assistant_version","value":"v2","type":"string"},{"id":"5879ad7c-2d6d-482f-8043-b748ab4a1d0d","name":"base64_image","value":"={{ $json.body.data.message.base64 }}","type":"string"},{"id":"b3980d25-5fa5-4f3c-93cf-b33e0a15c357","name":"tipo","value":"={{ $json.body.data.message.base64 ? \"image\" : \"text\" }}","type":"string"},{"id":"1b591f39-0d82-4b5a-8d75-921fc967b064","name":"tipo2","value":"={{ $('Execute Workflow Trigger').item.json.body.data.messageType }}","type":"string"},{"id":"f33836e6-4d66-4be8-97eb-92757357cfa0","name":"lead_assistant","value":"asst_42N79Z8xTboZYSGVhO8qSqfn","type":"string"},{"id":"6e8a4ac7-da29-4152-91d7-cbc23b5ba8c2","name":"client_assistant","value":"asst_MkhwTxMcqLiMLyZddw2t8NiX","type":"string"}]},"options":{}},"id":"9407fb3f-a533-4361-a98c-c7586086d1fc","name":"Variáveis","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[5240,-540],"alwaysOutputData":true},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Listar_msgs').item.json.data[0].thread_id }}/runs","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"=assistants={{ $('Variáveis').first().json[\"assistant_version\"] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"assistant_id","value":"={{ $('Supabase').first().json.auth_id ? $('Variáveis').item.json.client_assistant : $('Variáveis').item.json.lead_assistant }}"}]},"options":{}},"id":"7e382476-fe2a-4a1b-8b7e-aa59a4065a32","name":"Run Assistant","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8160,-480],"notesInFlow":true,"credentials":{"openAiApi":{"id":"RV9nTV0PCJCBhlAB","name":"MGM Assistant"}},"notes":"Roda o assistant"},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Merge - user').first().json[\"thread_id\"] }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"=assistants={{ $('Variáveis').first().json[\"assistant_version\"] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"role","value":"user"},{"name":"content","value":"={{ $('tool').item.json.content }}"}]},"options":{}},"id":"23590079-2ca5-486f-946c-95fb18d3191e","name":"Enviar msg Openai","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7640,-500],"credentials":{"openAiApi":{"id":"RV9nTV0PCJCBhlAB","name":"MGM Assistant"}},"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"59883941-cee1-4e98-8553-6630e3b4c2ce","name":"tool","value":"={{ $('Variáveis').item.json.tipo2 ? \n[\n  {\n    \"type\": \"function\",\n    \"function\":\n      {\n        \"name\": \"func_foodimg\"\n      }\n  }\n] \n: \"\"\n}}","type":"object"},{"id":"3b24b7e0-b259-43f5-bd50-6c3bbf866966","name":"content","value":"={{ $json.choices[0].message.content ? $json.choices[0].message.content : ($json.text ? $json.text : $('Variáveis').item.json.user_message) }}","type":"string"}]},"options":{"ignoreConversionErrors":true}},"id":"b9bb3788-5991-4d4a-8c9e-480c3618b843","name":"para teste","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[7960,-800]},{"parameters":{"operation":"getAll","tableId":"users","limit":1,"filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $('Variáveis').item.json[\"whatsapp\"] }}"}]}},"id":"4ea47969-4761-4c3e-bde9-5c6443ccf379","name":"Supabase","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[5700,-500],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"update","tableId":"users","filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $('Merge - user').first().json.whatsapp }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"thread_id","fieldValue":"={{ $json.id }}"}]}},"id":"b04732ae-7388-4463-b57c-a9e2b7da8dee","name":"Supabase1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[6660,-320],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"64749546-819c-449c-bebf-b526efb94659","leftValue":"={{ $json.credits }}","rightValue":1,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"id":"24a432b4-236b-48dd-9431-067b2da60665","name":"If2","type":"n8n-nodes-base.if","typeVersion":2,"position":[6160,-1680]},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Listar_msgs').item.json.data[0].thread_id }}/runs","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"=assistants={{ $('Variáveis').first().json[\"assistant_version\"] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"assistant_id","value":"={{ $('Variáveis').item.json.assistant_id }}"},{"name":"tools","value":"={{ $('tool').item.json.tool ? $('tool').item.json.tool : \"\" }}"}]},"options":{}},"id":"8340790a-2ce5-48b9-ae8b-33ed08b2edc5","name":"Run Assistant1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8160,-800],"notesInFlow":true,"credentials":{"openAiApi":{"id":"Z2mHFvSkYW4fOXqx","name":"SincronIA"}},"notes":"Roda o assistant"},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/{{ $('Webhook').item.json.body.data.owner }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Webhook').first().json.body.data.key.remoteJid.split(\"@\")[0] }}"},{"name":"textMessage.text","value":"=*Seu teste acabou.*\n\nAgradecemos por testar nosso sistema. Vamos analizar as respostas e após melhorias liberaremos mais créditos para você (:"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"3aa082ca-081d-4eb6-afe8-2ffe07f947c1","name":"msg - não identificou alimento1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[6160,-1840],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}}},{"parameters":{"content":"## Sem créditos \n**seu teste acabou** :D","height":440.0509486183677,"width":242.57028456664017,"color":3},"id":"cb438a90-a606-49ba-96be-daf12a80af18","name":"Sticky Note19","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6100,-1920]},{"parameters":{},"id":"fdc0866f-6c59-4460-8b46-c694b5e7612a","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[9220,80],"typeVersion":1},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"gpt-4o\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"identifique os alimentos da imagem e se esforce para informar a quantidade em gramas ou ml. Formate desta forma: {\\\"item 1\\\": quantidade, \\\"item 2\\\": quantidade} ##caso não seja uma imagem de alimento, apenas responda erro \"\n        },\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"data:image/jpeg;base64,{{ $('Variáveis').item.json['base64_image'] }}\"\n          }\n        }\n      ]\n    }\n  ],\n  \"max_tokens\": 300\n}\n","options":{}},"id":"f40e8a19-7c39-440e-b024-b6b1cea91a9a","name":"Vision - gpt-4o","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7500,-1800],"credentials":{"openAiApi":{"id":"Z2mHFvSkYW4fOXqx","name":"SincronIA"}}},{"parameters":{"fieldToSplitOut":"tool_calls","options":{"destinationFieldName":"Properties"}},"id":"afe415bf-fd7b-49e7-91c0-49536c9e0f84","name":"Split Out2","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[8880,-280]},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"64a1be25-f412-43fa-a36d-e352455db038","name":"Aggregate1","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[9440,-500]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"output","separateBy":"other","customSeparator":"; "}]},"options":{"outputFormat":"singleItem"}},"id":"ec8a6bc7-39b6-4efb-888c-fa1de82769c5","name":"Summarize1","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[8720,-40]},{"parameters":{"content":"## Wait 4s\nCaso a run esteja in_progress ou queued","height":245.9523279828706,"width":265.2399048045356,"color":7},"id":"c8488ffe-47f8-4196-9be7-f8ec46d86c49","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[8820,-600]},{"parameters":{"tableId":"users","fieldsUi":{"fieldValues":[{"fieldId":"whatsapp","fieldValue":"={{ $('Execute Workflow Trigger').first().json.body.data.key.remoteJid.split(\"@\")[0] }}"},{"fieldId":"name","fieldValue":"={{ $('Execute Workflow Trigger').first().json.body.data.pushName }}"}]}},"id":"d0721a83-ebf3-4543-b3c1-6029d5250bfa","name":"Supabase6","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[6140,-180],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"content":"## ERRO \n**Aviso** Erro no audio","height":266.3666805421406,"width":250.09753371240078,"color":3},"id":"8925700e-4531-4825-be39-ca41c24928d6","name":"Sticky Note25","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[7140,180]},{"parameters":{"assignments":{"assignments":[{"id":"50db61da-9a10-45a1-a791-0f981b186a2a","name":"choices[0].message.content","value":"=[{\"macarrão\": 300g, \"calabresa picada\": 50g}]","type":"string"},{"id":"bd8804e7-cbdf-48f0-90a2-4bd360d63853","name":"2","value":"{\"suco de laranja\": 200 ml, \"pedaço de mamão\": 50 g, \"pedaço de melão\": 50 g, \"pão de melado\": 30 g, \"bolo de cenoura com cobertura de chocolate\": 40 g, \"bolo simples com açúcar\": 30 g}","type":"string"}]},"options":{}},"id":"cb360b36-efe3-4278-8c69-ab0b5f0a7004","name":"Vision - gpt-4o1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[7500,-1620]},{"parameters":{"assignments":{"assignments":[{"id":"50db61da-9a10-45a1-a791-0f981b186a2a","name":"text","value":"={{ $('Vision - gpt-4o1').item.json.choices[0].message.content }}","type":"string"}]},"options":{}},"id":"58e369f7-14f5-4906-b7b6-c791d1098f62","name":"Edit Fields5","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[8080,-1620]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"5555af97-d44e-45a6-9646-84e574f8db0a","leftValue":"={{ $json.choices[0].message.content }}","rightValue":"erro","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{"ignoreCase":true}},"id":"65ab208a-2545-4ce0-8615-343875c1fbe0","name":"tem alimento?","type":"n8n-nodes-base.if","typeVersion":2,"position":[7700,-1620]},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/{{ $('Webhook').item.json.body.data.owner }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Variáveis').item.json.whatsapp }}"},{"name":"textMessage.text","value":"=Desculpe, mas não identifiquei algum alimento nessa imagem."}]},"options":{"response":{"response":{"neverError":true}}}},"id":"2ae53063-9554-4cf2-8fd0-b9c3e4df35e2","name":"msg - não identificou alimento","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[7900,-1900],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}}},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/{{ $('Webhook').item.json.body.data.owner }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Webhook').first().json.body.data.key.remoteJid.split(\"@\")[0] }}"},{"name":"textMessage.text","value":"=*Muito bom!*\n\nEstou analisando sua refeição e calculando os nutrientes..."}]},"options":{"response":{"response":{"neverError":true}}}},"id":"67cb5366-9c7c-4506-a5f1-d5b26e309ab9","name":"msg - analizando","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[7900,-1620],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}}},{"parameters":{"content":"## ERRO \n**AVISO** não é imagem de comida","height":266.3666805421406,"width":288.40941754376024,"color":3},"id":"035ef421-95c6-476b-9d7e-929f36131006","name":"Sticky Note24","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[7820,-1980]},{"parameters":{"assignments":{"assignments":[{"id":"7afcb2ec-5e32-427c-81ee-39293b010dfe","name":"text","value":"={{ $('Variáveis').item.json.user_message }}","type":"string"}]},"options":{}},"id":"e3a87c85-4fdf-4aaf-a29b-a7ea2e10539c","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[7400,-280]},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/{{ $('Webhook').item.json.body.data.owner }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Webhook').first().json.body.data.key.remoteJid.split(\"@\")[0] }}"},{"name":"textMessage.text","value":"=Houve um erro com a leitura do áudio. Poderia enviar novamente?"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"b59e7c2b-e7b1-40b0-84e2-43f38f8e799f","name":"msg - erro audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[7200,280],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}}},{"parameters":{"assignments":{"assignments":[{"id":"59883941-cee1-4e98-8553-6630e3b4c2ce","name":"tool","value":"={{ $('Variáveis').item.json.tipo2 ? \n[\n  {\n    \"type\": \"function\",\n    \"function\":\n      {\n        \"name\": \"func_foodimg\"\n      }\n  }\n] \n: \"\"\n}}","type":"object"},{"id":"3b24b7e0-b259-43f5-bd50-6c3bbf866966","name":"content","value":"={{ $json.text  }}","type":"string"},{"id":"08ce14c2-aec4-498f-9a6f-b05f1925efc0","name":"","value":"","type":"string"}]},"options":{"ignoreConversionErrors":true}},"id":"56da2775-12b7-4365-a480-f2c253d7d800","name":"tool","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[7400,-500]},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/chat/getBase64FromMediaMessage/Sincron","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $('Execute Workflow Trigger').item.json[\"body\"][\"data\"][\"key\"][\"id\"] }}\"\n    }\n  },\n  \"convertToMp4\": true\n}","options":{"redirect":{"redirect":{}}}},"id":"9ecacca9-6fb6-4004-8c10-8dd37c064669","name":"pega mp4 do audio3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7000,-120],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"fileName":"audio","mimeType":"={{ $json.mimetype }}"}},"id":"22de96d9-f963-44ee-b154-b1bfde57d1b1","name":"Convert to File1","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[7200,-140],"executeOnce":false},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $('Variáveis').item.json.tipo }}","rightValue":"text","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"3b8c4da6-5b70-4749-8c57-c3a17372a8f4","leftValue":"={{ $('Variáveis').item.json.tipo2 }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"imagem"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"642021f6-8c7c-4da6-9d7d-fb4bbb8a99d9","leftValue":"={{ $('Variáveis').item.json.tipo2 }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"}]},"options":{}},"id":"2a63420a-2ed2-45ba-9e59-4852562002c2","name":"tipo da mensagem","type":"n8n-nodes-base.switch","typeVersion":3,"position":[6980,-520]},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/{{ $('Webhook').item.json.body.data.owner }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Variáveis').item.json.whatsapp }}"},{"name":"textMessage.text","value":"=Desculpe, mas não identifiquei algum alimento nessa imagem."}]},"options":{"response":{"response":{"neverError":true}}}},"id":"b863519a-b5d0-4013-97a5-0018c4c23396","name":"msg - não identificou alimento2","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[7340,-1480],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ xxxxx.split(\"\")[0] }}","rightValue":"!","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"comando"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"034dd8b5-452f-4bc2-b811-8564350bd5a8","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"texto comum"}]},"options":{}},"id":"f55eb794-1cf1-4445-8a9a-29bd17134722","name":"Switch2","type":"n8n-nodes-base.switch","typeVersion":3,"position":[7000,-300]},{"parameters":{"operation":"update","tableId":"users","filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $json.whatsapp }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"thread_id"},{"fieldId":"email"}]}},"id":"c165ea91-a8a2-447c-adda-fdbe90b5481b","name":"zerar_thread","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[5461,-1100],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"update","tableId":"users","filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $json.whatsapp }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"auth_id","fieldValue":"z"}]}},"id":"5f984970-502f-4c80-8e64-00fe8ad4dfec","name":"cliente_s","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[5461,-920],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"update","tableId":"users","filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $json.whatsapp }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"auth_id"}]}},"id":"5008de2c-bb6e-4956-bde2-c0d09a229309","name":"cliente_s1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[5461,-740],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"content":"## Cancela Run ativa e cria uma nova\nCaso tenha alguma rodando","height":699.10786435566,"width":691.267585333612,"color":5},"id":"53ac1a00-b8fe-48b8-b46c-08ec54b5b1b3","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6880,-640]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.Properties.function.name }}","rightValue":"save_user_data","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"save_user_data"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"21a41b69-dc25-4cae-8fd3-23b4e52e4ba9","leftValue":"={{ $json.Properties.function.name }}","rightValue":"save_subscription","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"save_subscription"}]},"options":{}},"id":"a881d41d-f6f2-4f70-9151-37c00d626f52","name":"Escolhe a tool que deve ser utilizada","type":"n8n-nodes-base.switch","typeVersion":3,"position":[9660,-160]},{"parameters":{"assignments":{"assignments":[{"id":"9e83e585-a1fc-4a0c-92b3-68ad1558560a","name":"email","value":"={{ $json.arguments.email }}","type":"string"},{"id":"be3002b7-0e01-49e9-aae0-4ddf3c9e2c5e","name":"name","value":"={{ $json.arguments.name }}","type":"string"}]},"options":{}},"id":"8e36a3f3-c55e-4fa7-b897-7db77769ca03","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[9660,40]},{"parameters":{"assignments":{"assignments":[{"id":"2d72c7f8-279f-450c-aa41-f3b3a22ed53b","name":"output","value":"=Dados atualizados. Nome: {{ $json.name }}.{{ $json.email ? \"email: \" + $json.email : \"\"  }}\n","type":"string"}]},"options":{}},"id":"34b97e87-29fc-439d-9034-08443f378ffe","name":"Descreve as saídas","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[10220,100]},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"output\" : \"ok. Feito! Os dados do usuário foram atualizados: {{ $json.output.replaceAll('\\n', \" \") }}. Podemos prosseguir\" \n}  ","options":{}},"id":"60018534-1644-4467-9da5-df96ad7ffbab","name":"Prepara o output","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[10380,100],"onError":"continueRegularOutput"},{"parameters":{"content":"## Prepara os dados de output\ne limpa o json para evitar erros","height":260.271323610998,"width":410.84799292727075,"color":5},"id":"a64e1f00-51c8-403b-a162-c03364a9a178","name":"Sticky Note14","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[10360,760]},{"parameters":{"assignments":{"assignments":[{"id":"2d72c7f8-279f-450c-aa41-f3b3a22ed53b","name":"output","value":"=Dados atualizados\\n\\nNome: {{ $json.Name }}\\n{{ $json.email ? \"email: \" + $json.email : \"\"  }}\n","type":"string"}]},"options":{}},"id":"a5f71bd3-1954-4342-8439-89d9085850ed","name":"Descreve as saídas1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[10420,860]},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"output\" : \"ok. Feito! Os dados do usuário foram atualizados: {{ $json.output.replaceAll('\\n', \" \") }}. Podemos prosseguir\" \n}  ","options":{}},"id":"e9445df3-6aea-4892-837b-33853d039258","name":"Prepara o output1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[10580,860],"onError":"continueRegularOutput"},{"parameters":{"content":"## Teste manual\n(sempre pinar o 'Set')","height":260.271323610998,"width":227.00118035174697,"color":4},"id":"6ff66c38-e77a-4bba-af1f-e31905e68a76","name":"Sticky Note15","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[9160,0]},{"parameters":{"operation":"update","tableId":"users","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Supabase').first().json.id }}"}]},"dataToSend":"autoMapInputData"},"id":"46ff3594-4e9b-448f-b402-d8d3f0d4be03","name":"Supabase2","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[9820,40],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"assignments":{"assignments":[{"id":"49d8f0b6-256a-4a23-832e-fc4d747fbd27","name":"arguments","value":"={{ $json.Properties.function.arguments }}","type":"object"},{"id":"72aa9df4-ba28-4295-93d6-652dfa3d3f8e","name":"name","value":"={{ $json.Properties.function.name }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"bb9ac151-67e1-4181-8e07-abc5b8a41d8f","name":"Separa arguments para JSON","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[9500,-160],"onError":"continueRegularOutput"},{"parameters":{},"id":"fd6fc1fb-f13e-4ecf-847c-9b352afbab77","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[5061,-540],"disabled":true},{"parameters":{"content":"## Devolve a mensagem ao assistant\n","height":245.9523279828706,"width":573.8512174901472,"color":7},"id":"cadc8ab7-14b6-407a-9de8-44835cce975f","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[9360,-600]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"51e1c7e7-1d66-48c8-87e6-8c4845cbb8e2","leftValue":"={{ $json.status }}","rightValue":"completed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"completed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"04624a04-1772-4e77-bfc4-273d5e235711","leftValue":"={{ $json.status }}","rightValue":"failed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"failed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"56bbe829-8c9f-4ceb-ac2e-fd210a950f9b","leftValue":"={{ $json.status }}","rightValue":"expired","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"expired"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"e564ca13-163c-465c-9db7-a402e0709234","leftValue":"={{ $json.status }}","rightValue":"in_progress","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"in_progress"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.status }}","rightValue":"queued","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"queued"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"6e85f12c-3813-46a1-94b6-f9ae52f49b13","leftValue":"={{ $json.status }}","rightValue":"requires_action","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"requires_action"}]},"options":{}},"id":"8b67287d-842e-4434-a4a6-58710d188adf","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[8560,-500]},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"6108f97a-e898-4738-a85c-efd4dd82e5ce","name":"Transcrever audio","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[7400,-140],"credentials":{"openAiApi":{"id":"RV9nTV0PCJCBhlAB","name":"MGM Assistant"}}},{"parameters":{"tableId":"assistant_interactions","fieldsUi":{"fieldValues":[{"fieldId":"whatsapp","fieldValue":"={{ $('Variáveis').first().json.whatsapp }}"},{"fieldId":"user_id","fieldValue":"={{ $('Supabase').first().json.id }}"},{"fieldId":"message","fieldValue":"={{ $('Variáveis').first().json.user_message }}"},{"fieldId":"role","fieldValue":"user"}]}},"id":"8419c322-00f6-4a47-883a-46ee9eac1c8f","name":"Supabase3","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[9340,-860],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.user_message }}","rightValue":"/zerar","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"/zerar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"d4beeccb-48d8-45c3-b570-52034efc0338","leftValue":"={{ $json.user_message }}","rightValue":"/cliente_n","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"/cliente_n"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"aae37992-8cb3-493c-a872-dc9f72047f7d","leftValue":"={{ $json.user_message }}","rightValue":"/cliente_s","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"/cliente_s"},{}]},"options":{}},"id":"e2e6cc3a-02f3-45ca-8a4a-74c5e7ad729b","name":"Switch1","type":"n8n-nodes-base.switch","typeVersion":3,"position":[5461,-540]},{"parameters":{"tableId":"assistant_interactions","fieldsUi":{"fieldValues":[{"fieldId":"whatsapp","fieldValue":"={{ $('Variáveis').first().json.whatsapp }}"},{"fieldId":"user_id","fieldValue":"={{ $('Supabase').first().json.id }}"},{"fieldId":"message","fieldValue":"={{ $('Get last message').item.json.data[0].content[0].text.value.replaceAll(\"**\", \"*\") }}"},{"fieldId":"role","fieldValue":"system"}]}},"id":"76d62cee-c3f9-4a95-8aa3-bebb7be62d41","name":"Supabase4","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[9500,-860],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}}],"connections":{"Tem cadastro?":{"main":[[{"node":"Merge - user","type":"main","index":0}],[{"node":"Supabase6","type":"main","index":0}]]},"Merge - user":{"main":[[{"node":"Possui Thread?","type":"main","index":0}]]},"Possui Thread?":{"main":[[{"node":"tipo da mensagem","type":"main","index":0}],[{"node":"HTTP Request","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Get Run Status","type":"main","index":0}]]},"Output Array":{"main":[[{"node":"insere Output","type":"main","index":0}]]},"insere Output":{"main":[[{"node":"Get Run Status","type":"main","index":0}]]},"Tool Call ID - Get Books":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Aggregate1","type":"main","index":0}],[{"node":"Separa arguments para JSON","type":"main","index":0}]]},"Captura Tool Calls":{"main":[[{"node":"Split Out2","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Supabase1","type":"main","index":0}]]},"Listar Runs":{"main":[[{"node":"Cancel Run","type":"main","index":0}]]},"Cancel Run":{"main":[[{"node":"Enviar msg Openai","type":"main","index":0}]]},"Get last message":{"main":[[{"node":"Send whats TXT response","type":"main","index":0}]]},"Get Run Status":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Listar_msgs","type":"main","index":0}]]},"If":{"main":[[{"node":"Run Assistant","type":"main","index":0}]]},"Listar_msgs":{"main":[[{"node":"If","type":"main","index":0}]]},"Variáveis":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Run Assistant":{"main":[[{"node":"Get Run Status","type":"main","index":0}]]},"Enviar msg Openai":{"main":[[{"node":"Wait1","type":"main","index":0}],[{"node":"Listar Runs","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"Tem cadastro?","type":"main","index":0}]]},"Supabase1":{"main":[[{"node":"Merge - user","type":"main","index":1}]]},"If2":{"main":[[],[{"node":"msg - não identificou alimento1","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Separa arguments para JSON","type":"main","index":0}]]},"Split Out2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Output Array","type":"main","index":0}]]},"Summarize1":{"main":[[{"node":"Tool Call ID - Get Books","type":"main","index":0}]]},"Supabase6":{"main":[[{"node":"Merge - user","type":"main","index":1}]]},"Vision - gpt-4o1":{"main":[[{"node":"tem alimento?","type":"main","index":0}]]},"tem alimento?":{"main":[[{"node":"msg - não identificou alimento","type":"main","index":0}],[{"node":"msg - analizando","type":"main","index":0}]]},"msg - analizando":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"tool","type":"main","index":0}]]},"tool":{"main":[[{"node":"Enviar msg Openai","type":"main","index":0}]]},"pega mp4 do audio3":{"main":[[{"node":"Convert to File1","type":"main","index":0}],[{"node":"msg - erro audio","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Transcrever audio","type":"main","index":0}]]},"tipo da mensagem":{"main":[[{"node":"Switch2","type":"main","index":0}],[],[{"node":"pega mp4 do audio3","type":"main","index":0}]]},"Switch2":{"main":[[],[{"node":"Edit Fields1","type":"main","index":0}]]},"Escolhe a tool que deve ser utilizada":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Supabase2","type":"main","index":0}]]},"Descreve as saídas":{"main":[[{"node":"Prepara o output","type":"main","index":0}]]},"Prepara o output":{"main":[[{"node":"Summarize1","type":"main","index":0}]]},"Descreve as saídas1":{"main":[[{"node":"Prepara o output1","type":"main","index":0}]]},"Supabase2":{"main":[[{"node":"Descreve as saídas","type":"main","index":0}]]},"Separa arguments para JSON":{"main":[[{"node":"Escolhe a tool que deve ser utilizada","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Variáveis","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Get last message","type":"main","index":0}],[],[],[{"node":"Wait","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}],[{"node":"Captura Tool Calls","type":"main","index":0}]]},"Transcrever audio":{"main":[[{"node":"tool","type":"main","index":0}]]},"Send whats TXT response":{"main":[[{"node":"Supabase3","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"zerar_thread","type":"main","index":0}],[{"node":"cliente_s1","type":"main","index":0}],[{"node":"cliente_s","type":"main","index":0}],[{"node":"Supabase","type":"main","index":0}]]},"Supabase3":{"main":[[{"node":"Supabase4","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Separa arguments para JSON":[{"json":{"Properties":{"id":"call_TUWothI0absVubmSnRn6m1wG","type":"function","function":{"name":"save_subscription","arguments":{"plan":"GROWING"}}},"arguments":{"plan":"GROWING"},"name":"save_subscription"}}],"Execute Workflow Trigger":[{"json":{"headers":{"host":"webhook.sincronia.digital","user-agent":"axios/1.7.2","content-length":"817","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"webhook.sincronia.digital","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"31e0f1d9720a","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"Sincron","data":{"key":{"remoteJid":"5519994317797@s.whatsapp.net","fromMe":false,"id":"3EB036FC5BE87CD3E879C1"},"pushName":"Luiz | Sincron IA","message":{"conversation":"contato.luizhms@gmail.com","messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"s850Fh8AwlHfMQ==","senderTimestamp":"1722003849","senderAccountType":"E2EE","receiverAccountType":"E2EE","recipientKeyHash":"a5MbOvQa/MZ8AA==","recipientTimestamp":"1721221306"},"deviceListMetadataVersion":2}},"messageType":"conversation","messageTimestamp":1722416847,"owner":"Sincron","source":"web"},"destination":"https://webhook.sincronia.digital/webhook/microsaas-tracker","date_time":"2024-07-31T06:07:27.274Z","sender":"5519994583576@s.whatsapp.net","server_url":"https://api.sincronia.digital","apikey":"2vkrtkdrzjyjv58w3h7ky8"},"webhookUrl":"https://webhook.sincronia.digital/webhook/microsaas-tracker","executionMode":"production","whatsapp":"5519994317797","user_message":"contato.luizhms@gmail.com","instance_id":"bu9qnq7ga1eo7085dc9w6","msg_sent":"2024-07-31T06:07:27.274Z","assistant_id":"asst_z7suvl0dVsf5rNWeicAjt475","Developer_Key":"AIzaSyBzYmCjdHAkg4X9GJKqthauxGJCUg6K71o","name":"Luiz | Sincron IA","assistant_version":"v1","msg_type":"messages.upsert","msg_channel_type":null,"chat_id":"5519994317797","message_id":"3EB036FC5BE87CD3E879C1","imagem_url":null,"whats_participante":null,"img_base64":null,"tipo":"text","tipoMidia":"conversation","message_link":null,"title_link":null,"description_link":null,"response_to":"\n","quoted_image":null,"reaction":null,"id_msg_reagida":null,"instance_evolution":"Sincron","host_evolution":"https://api.sincronia.digital","apikey_evolution":"2vkrtkdrzjyjv58w3h7ky8"}}]},"versionId":"406aced5-8771-4e0d-bcb8-f42fdfebb69f","triggerCount":0,"tags":[{"createdAt":"2024-07-22T21:06:40.448Z","updatedAt":"2024-07-22T21:06:40.448Z","id":"RX2ESLnM0IynaKQR","name":"MGM2"}]}