mgm2---private-(commands).json
{"createdAt":"2024-07-22T21:04:23.020Z","updatedAt":"2024-07-26T19:42:54.982Z","id":"F8fpegSMHK79B34S","name":"MGM2 - private (commands)","active":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"235f9e4c-4c17-42a3-a09f-1de701d30058","name":"user_whatsapp","value":"={{ $('Supabase10').item.json.whatsapp }}","type":"string"},{"id":"9fc96f31-8d65-4447-9662-18a302ff5f32","name":"user_name","value":"={{ $('Supabase16').last().json.name }}","type":"string"},{"id":"85bfc930-083f-4522-b258-038a58b49b5c","name":"user_tags","value":"={{ $('Supabase10').item.json.tags }}","type":"string"}]},"options":{}},"id":"880ff82f-b9ab-4246-ae45-4f2c31c43768","name":"Edit Fields7","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1680,1940]},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"group_name"},{"fieldToAggregate":"messages"},{"fieldToAggregate":"reactions"}]},"options":{"keepMissing":true}},"id":"d887c988-0bb8-4785-b162-7a83778e526a","name":"Aggregate2","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1520,2120]},{"parameters":{"assignments":{"assignments":[{"id":"235f9e4c-4c17-42a3-a09f-1de701d30058","name":"user_whatsapp","value":"={{ $('Supabase17').item.json.whatsapp }}","type":"string"},{"id":"9fc96f31-8d65-4447-9662-18a302ff5f32","name":"user_name","value":"={{ $('Supabase18').last().json.name }}","type":"string"},{"id":"85bfc930-083f-4522-b258-038a58b49b5c","name":"user_tags","value":"={{ $('Supabase17').item.json.tags.replace(/[\\{\\}\\[\\]']/g, '') }}","type":"string"},{"id":"7b86cf7c-9848-4d3b-9597-b9069da51722","name":"formatado","value":"=*Grupo:* {{ $json.group_name }}\n\n{{ $json[\"messages\"] ? \"Mensagens: \" + $json[\"messages\"] : \"\"}} {{ $json[\"reactions\"] ? \", Interações: \" + $json[\"reactions\"] : \"\" }}\n","type":"string"}]},"options":{}},"id":"fa36d845-e3c6-4ae9-824b-fa21aa292caa","name":"Edit Fields8","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1840,2120]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"formatado","separateBy":"\n"}]},"options":{}},"id":"fa2a138f-f636-4824-ba6d-af4e104632c4","name":"Summarize2","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[2000,2120]},{"parameters":{"operation":"getAll","tableId":"users","returnAll":true,"filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $json.user_message.split(\" \")[1] }}"}]}},"id":"0099b68a-1913-4a58-80c0-793aaab98405","name":"Supabase10","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[980,1940],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"getAll","tableId":"statistics","returnAll":true,"filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $json.whatsapp }}"}]}},"id":"082fc7b1-c412-4efc-8898-0dc797d6fc44","name":"Supabase16","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1140,1940],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"dr6vro85PMJ0isBe","name":"Supabase account"}}},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"group_name","separateBy":"\n"}]},"options":{}},"id":"0e54d684-a553-4205-a1a6-e8cf828b5424","name":"Summarize","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[1520,1940]},{"parameters":{"operation":"getAll","tableId":"users","returnAll":true,"filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $json.user_message.split(\" \")[1] }}"}]}},"id":"0c31da02-2b68-4ccf-af23-774d4c4b534b","name":"Supabase17","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[980,2120],"credentials":{"supabaseApi":{"id":"dr6vro85PMJ0isBe","name":"Supabase account"}}},{"parameters":{"operation":"getAll","tableId":"statistics","returnAll":true,"filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $json.whatsapp }}"}]}},"id":"dfca39d0-ffbd-4516-b81d-0d836b566d14","name":"Supabase18","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1140,2120],"credentials":{"supabaseApi":{"id":"dr6vro85PMJ0isBe","name":"Supabase account"}}},{"parameters":{"fieldToSplitOut":"group_name, messages, reactions","options":{}},"id":"2d363e6b-e63b-468d-9bd1-60d74af0c939","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1680,2120]},{"parameters":{"assignments":{"assignments":[{"id":"f3732173-de9d-4733-85e6-928109c99dc6","name":"=user_message","value":"={{ $json.user_message.replaceAll(\"\\n\", \"\") }}","type":"string"},{"id":"7b982163-bf77-456e-85a0-49d108ba8e41","name":"comando","value":"={{ $json.user_message.split(\" \")[0].split(\"#\")[0].replaceAll(\"\\n\", \"\") }}","type":"string"},{"id":"830cfe8d-9f74-4ac3-a98b-de95c0ab2b7c","name":"categoria","value":"={{ $json.user_message.split(\" \")[0].split(\"#\")[1].replaceAll(\"\\n\", \"\") }}","type":"string"},{"id":"a451c80b-98b7-4255-bf9a-bdc35546581a","name":"=num_comando","value":"={{ $json.user_message.split(\" \")[1].replaceAll(\"\\n\", \"\")  }}","type":"string"},{"id":"dc645dc7-3200-4c48-81fb-80d82d751af6","name":"user_solicit","value":"={{ $json.whatsapp }}","type":"string"}]},"options":{}},"id":"afd94f29-6300-49f5-a777-1b2b147c7b10","name":"get_message","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[960,-120]},{"parameters":{"method":"POST","url":"={{ $('variaveis').item.json.host_evolution }}/message/sendText/{{ $('variaveis').item.json.instance_evolution }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('variaveis').item.json.apikey_evolution }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Webhook').first().json.body.data.key.remoteJid.split(\"@\")[0] }}"},{"name":"textMessage.text","value":"=*Comandos ativos para teste*\n\n*!user 5511999996622* - dá informações sobre o usuário\n*!statistics 5511999996622* - mostra algumas estatísticas sobre o usuário"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"5ae54105-e4ff-434d-8a59-95011455d43b","name":"msg_commands","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[980,1760],"executeOnce":true},{"parameters":{"method":"POST","url":"={{ $('variaveis').item.json.host_evolution }}/message/sendText/{{ $('Webhook').item.json.body.data.owner }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('variaveis').item.json.apikey_evolution }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Webhook').first().json.body.data.key.remoteJid.split(\"@\")[0] }}"},{"name":"textMessage.text","value":"=*Informações do usuário*\n*{{ $json.user_name }}* -  {{ $json.user_whatsapp }}\n\n*Interesses:*\n{{ $json.user_tags }}\n\n"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"987e1e8e-4143-445a-a416-d8cdcffdcf97","name":"msg_user","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1840,1940]},{"parameters":{"method":"POST","url":"={{ $('variaveis').item.json.host_evolution }}/message/sendText/{{ $('Webhook').item.json.body.data.owner }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('variaveis').item.json.apikey_evolution }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Webhook').first().json.body.data.key.remoteJid.split(\"@\")[0] }}"},{"name":"textMessage.text","value":"=*Estatísticas do usuário*\n*{{ $('Edit Fields8').last().json.user_name }}* - {{ $('Edit Fields8').last().json.user_whatsapp }}\n\n{{ $json.concatenated_formatado }}"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"c0e23b50-13c5-4c92-9c70-9d8ab6890df5","name":"msg_stats","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2160,2120]},{"parameters":{"content":"## Comandos\nBusca e o comando do usuário","height":473.7044804365871,"width":588.8627845750592,"color":3},"id":"81db6e85-2f19-4e2d-8323-e6ce87482efc","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[940,-240]},{"parameters":{"content":"## !comandos\nEnvia os comandos disponiveis","height":112.29434538885582,"width":286.0096270660209,"color":6},"id":"e1ff216d-f0c4-46a6-af4f-918f4c6b3fb8","name":"Sticky Note15","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[600,1760]},{"parameters":{"content":"## !user\nMostra um resumo interações do usuário","height":112.29434538885582,"width":286.0096270660209,"color":6},"id":"c6b2a90c-cd2b-4bfe-a9d3-c30204633c7d","name":"Sticky Note16","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[600,1940]},{"parameters":{"content":"## !stats\nConta as interações do usuário nos grupos cadastrados","height":112.29434538885582,"width":286.0096270660209,"color":6},"id":"c70fc75b-3259-443a-8384-10acd4cf1693","name":"Sticky Note17","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[600,2120]},{"parameters":{"operation":"getAll","tableId":"links","limit":1,"matchType":"allFilters","filters":{"conditions":[{"keyName":"link","condition":"eq","keyValue":"={{ $json.links }}"},{"keyName":"group_id","condition":"eq","keyValue":"={{ $('variaveis').item.json.grupo.split(\"@\")[0] }}"}]}},"id":"878cf21a-6aa6-4af8-bce8-9aa979ba551e","name":"Supabase - busca o link e grupo1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[380,2280],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"assignments":{"assignments":[{"id":"ad68118f-3197-4032-9bcf-827535010405","name":"links","value":"=\n{{ $('Summarize5').item.json[\"appended_link\"][0] }} - {{ $('Summarize5').item.json[\"appended_context\"][0] }}\n\n{{ $('Summarize5').item.json[\"appended_link\"][1] }} - {{ $('Summarize5').item.json[\"appended_context\"][1] }}\n\n{{ $('Summarize5').item.json[\"appended_link\"][2] }} - {{ $('Summarize5').item.json[\"appended_context\"][2] }}\n\n{{ $('Summarize5').item.json[\"appended_link\"][3] }} - {{ $('Summarize5').item.json[\"appended_context\"][3] }}\n\n{{ $('Summarize5').item.json[\"appended_link\"][4] }} - {{ $('Summarize5').item.json[\"appended_context\"][4] }}\n\n*Mostramos aqui os principais links da semana. Para facilitar na criação da lista, sempre curtam os links importantes e para postar, escrevam na mensagem uma descrição que ajude a identificar o contexto do link*","type":"string"},{"id":"58b3f961-09b4-4154-89db-a03839f7fe3d","name":"group_name","value":"={{ $('Supabase2').first().json.group_name }}","type":"string"}]},"options":{}},"id":"6f79bd4d-95ad-4926-ad4d-be1e472dc2f1","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1840,2300]},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"pontos","order":"descending"}]},"options":{}},"id":"9815bd09-de16-40c2-9ff5-d9d743b0d793","name":"Sort2","type":"n8n-nodes-base.sort","typeVersion":1,"position":[1140,2300],"retryOnFail":false,"notesInFlow":true,"notes":"coloco em ordem"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"append","field":"link"},{"aggregation":"append","field":"context"}]},"options":{}},"id":"83ac7ed7-7be7-4dcd-99ed-de527907804e","name":"Summarize5","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[1680,2300]},{"parameters":{"maxItems":5},"id":"042bc260-4e16-42af-a1c4-383ce34cdb64","name":"Limit1","type":"n8n-nodes-base.limit","typeVersion":1,"position":[1520,2300]},{"parameters":{"operation":"getAll","tableId":"links","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"created_at","condition":"gte","keyValue":"={{ \n  (() => {\n    const date = new Date();\n    date.setDate(date.getDate() - 6); // Subtrai um dia\n    date.setHours(date.getHours() - 3); // Ajusta a hora para GMT-3\n    return date.toISOString().split('T')[0];\n  })() \n}}\n"},{"keyName":"group_id","condition":"eq","keyValue":"={{ $('pego_grupo').item.json.group }}"}]}},"id":"c895ae28-34fb-4b4f-a1d5-3d916acd070a","name":"Supabase2","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[980,2300],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"messages","order":"descending"}]},"options":{}},"id":"cb1c3649-f6a6-47da-a0e8-b0d19f31ad8b","name":"Sort4","type":"n8n-nodes-base.sort","typeVersion":1,"position":[1500,2520]},{"parameters":{"maxItems":10},"id":"6086be8d-6756-41df-beb8-6f1ebea75695","name":"Limit2","type":"n8n-nodes-base.limit","typeVersion":1,"position":[1660,2520]},{"parameters":{"operation":"getAll","tableId":"statistics_daily","returnAll":true,"filters":{"conditions":[{"keyName":"group_id","condition":"eq","keyValue":"="},{"keyName":"created_at","condition":"gt","keyValue":"={{ \n  (() => {\n    const date = new Date();\n    date.setDate(date.getDate() - 0); // Subtrai um dia\n    date.setHours(date.getHours() - 3); // Ajusta a hora para GMT-3\n    return date.toISOString().split('T')[0];\n  })() \n}}"}]}},"id":"55f60fd0-6106-44a4-a7c7-e81e65f3cf43","name":"Supabase - get usersss1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[980,2520],"executeOnce":true,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"6b585435-63ff-4f6a-bf1c-debcdc57c7f7","leftValue":"={{ $json.name }}","rightValue":"Bruno Okamoto","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"f5225521-9baf-4c7e-bac0-18e549522250","name":"Filter4","type":"n8n-nodes-base.filter","typeVersion":2,"position":[1120,2520]},{"parameters":{"operation":"update","tableId":"groups","filters":{"conditions":[{"keyName":"chat_id","condition":"eq","keyValue":"={{ $('pego_grupo1').item.json.group }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"top_members","fieldValue":"={{ $json.data }}"}]}},"id":"36c0ca44-94e5-478e-bdcb-91f83a7da975","name":"Supabase5","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2140,2520],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"ab9f66dc-ff0a-492b-994d-67e9f7a8050e","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1980,2520]},{"parameters":{"content":"### Atualiza os top10 membros na tabela (off)\n\n\n","height":253.57562853475503,"width":1157.3811122045904,"color":7},"id":"98029f66-259c-4290-a252-2618b67e6edc","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[920,2460]},{"parameters":{"fieldToSplitOut":"name","include":"selectedOtherFields","fieldsToInclude":"messages","options":{}},"id":"21e626a9-d13c-416a-b56d-a73bfdf1cb5e","name":"Split Out1","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1820,2520]},{"parameters":{},"id":"ca8cb337-3db6-4f61-ac79-d3ee2b658244","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[700,-120]},{"parameters":{"content":"## Client / admin check\nBusca e o comando do usuário","height":275.71245425607526,"width":284.14136114705104},"id":"8e07cb26-9edf-4160-ae64-29ac8f159333","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[620,-216]},{"parameters":{"content":"## !links\nMostra os top 5 links da semana","height":112.29434538885582,"width":286.0096270660209,"color":6},"id":"9ec2ddc8-8c32-40f9-ade2-9893c9d55349","name":"Sticky Note18","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[600,2300]},{"parameters":{"content":"## !novo_grupo\nConta as interações do usuário nos grupos cadastrados","height":112.29434538885582,"width":286.0096270660209,"color":6},"id":"645a50fc-8ed7-4ebc-a5fd-b10f8e599af9","name":"Sticky Note19","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[600,2760]},{"parameters":{"content":"## !links\nMostra os top 5 links da semana","height":112.29434538885582,"width":286.0096270660209,"color":6},"id":"72ebee13-e3f4-4a28-a701-19a4197580c7","name":"Sticky Note20","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[600,2940]},{"parameters":{"tableId":"user_group","fieldsUi":{"fieldValues":[{"fieldId":"id_user","fieldValue":"={{ $('get novo_membro').last().json.id }}"},{"fieldId":"id_category","fieldValue":"={{ $('get categ_plan').item.json.id }}"}]}},"id":"c53ff1c1-13a6-44a5-a81b-734abd16a923","name":"Supabase7","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2580,-2620],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"ef423ada-9cfb-4165-b4da-211b31c3a78f","leftValue":"={{ $json.category }}","rightValue":"={{ $('get_message').item.json.categoria }}","operator":{"type":"string","operation":"contains"}},{"id":"e0cf54cb-6dde-4645-95dc-a848144404a6","leftValue":"={{ $('get_message').item.json.categoria }}","rightValue":"todas","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"id":"9d9467ba-4d91-45a1-a549-88e2423ea85c","name":"categ_exists?","type":"n8n-nodes-base.if","typeVersion":2,"position":[2340,-2600]},{"parameters":{"operation":"getAll","tableId":"users","limit":1,"filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $('get_message').item.json.user_solicit }}"}]}},"id":"9af1c379-88fd-4144-949a-dfcb096b21cc","name":"get user_msg","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1120,-2580],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"getAll","tableId":"subscriptions","limit":1,"filters":{"conditions":[{"keyName":"user_id","condition":"eq","keyValue":"={{ $json.id }}"}]}},"id":"12e2b9a2-1caa-4db5-842a-f9b4165fbeca","name":"get user_plans","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1280,-2580],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"getAll","tableId":"users","limit":1,"filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $('get_message').item.json.num_comando }}"}]}},"id":"e185e524-d3f3-43e9-b2d5-35f1c3dca872","name":"get novo_membro","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1460,-2580],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"a6ead683-c424-4512-827a-88df7fbfa7d7","leftValue":"={{ $json.whatsapp }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"89bc79a9-4528-44b5-aff4-0b98976332ec","name":"this_member_exists?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1680,-2580]},{"parameters":{"tableId":"users","fieldsUi":{"fieldValues":[{"fieldId":"whatsapp","fieldValue":"={{ $('get_message').item.json.num_comando }}"}]}},"id":"356c1345-7824-4e2c-9c32-8541965533d5","name":"create_a_user","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1680,-2440],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"content":"## !novo_moderador#category 5519999663322\nCadastra o user 5519999663322 como moderador na categoria #category","height":135.2488147967951,"width":361.2111676060699,"color":6},"id":"63cf2a02-a8aa-4809-be0f-17926ff430aa","name":"Sticky Note21","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[680,-2600]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"ef423ada-9cfb-4165-b4da-211b31c3a78f","leftValue":"={{ $json.category }}","rightValue":"={{ $('get_message').item.json.categoria }}","operator":{"type":"string","operation":"contains"}},{"id":"e0cf54cb-6dde-4645-95dc-a848144404a6","leftValue":"={{ $('get_message').item.json.categoria }}","rightValue":"todas","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"id":"aeeddc17-43e9-4e94-9ee0-61ddc219a1fa","name":"categ_exists?1","type":"n8n-nodes-base.if","typeVersion":2,"position":[1760,-2240]},{"parameters":{"operation":"getAll","tableId":"users","limit":1,"filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $('get_message').item.json.user_solicit }}"}]}},"id":"7bfb8b33-538d-4fdb-9703-cca4bde5892d","name":"get user_msg1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1120,-2240],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"getAll","tableId":"subscriptions","limit":1,"filters":{"conditions":[{"keyName":"user_id","condition":"eq","keyValue":"={{ $json.id }}"}]}},"id":"4aa050e8-08bb-4e83-984b-55a635201889","name":"get user_plans1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1280,-2240],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"getAll","tableId":"users","limit":1,"filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $('get_message').item.json.num_comando }}"}]}},"id":"bf01a96d-61b5-4393-8f3a-3d94e2e66b1b","name":"get cat_member","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1440,-2240],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"getAll","tableId":"category","returnAll":true,"filters":{"conditions":[{"keyName":"plan_id","condition":"eq","keyValue":"={{ $('get user_plans').item.json.plan_id }}"}]}},"id":"74022f99-a8de-4084-a895-b150dafac8fe","name":"get categ_plan","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1880,-2600],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"getAll","tableId":"category","returnAll":true,"filters":{"conditions":[{"keyName":"plan_id","condition":"eq","keyValue":"={{ $('get user_plans1').item.json.plan_id }}"}]}},"id":"e6a09fbf-5d42-4225-919f-225dde830134","name":"get categ_plan1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1600,-2240],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"content":"## !remove_moderador#category 5519999663322\nRemove o user 5519999663322 como moderador na categoria #category","height":135.2488147967951,"width":361.2111676060699,"color":6},"id":"7410ad56-1fe0-4d54-bf90-fba8a5520034","name":"Sticky Note22","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[680,-2260]},{"parameters":{"operation":"getAll","tableId":"users","limit":1,"filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $('get_message').item.json.user_solicit }}"}]}},"id":"f744e598-f2c3-4bcb-a620-d7b090df15de","name":"get user_msg2","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1120,-2040],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"getAll","tableId":"subscriptions","limit":1,"filters":{"conditions":[{"keyName":"user_id","condition":"eq","keyValue":"={{ $json.id }}"}]}},"id":"3404e221-788a-40d5-818a-4310e10d8b7e","name":"get user_plans2","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1280,-2040],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"getAll","tableId":"category","returnAll":true,"filters":{"conditions":[{"keyName":"plan_id","condition":"eq","keyValue":"={{ $('get user_plans2').item.json.plan_id }}"}]}},"id":"9ad8dbfb-8f0e-4143-9d49-e9d67c0f4268","name":"get categ_plan2","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1440,-2040],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"delete","tableId":"user_group","matchType":"allFilters","filters":{"conditions":[{"keyName":"id_user","condition":"eq","keyValue":"={{ $('get cat_member').item.json.id }}"},{"keyName":"id_category","condition":"eq","keyValue":"={{ $('get categ_plan1').item.json.id }}"}]}},"id":"d787046d-adcc-489b-82a7-6d399c4f5a45","name":"del member_categ","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1980,-2260],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"options":{}},"id":"c95fbf9c-5523-471b-abf3-e796460f72c4","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1600,-2040]},{"parameters":{"operation":"getAll","tableId":"users","limit":1,"filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id_user }}"}]}},"id":"b097b1de-d67c-4643-b817-2fca20b9d258","name":"Supabase","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2160,-1880],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"assignments":{"assignments":[{"id":"e14fae15-f533-4770-8f86-154161045a8f","name":"categoria","value":"={{ $('Edit Fields2').item.json.cat_nome }}","type":"string"},{"id":"81f56bd3-baee-40ae-9fa0-eac4efe9297e","name":"membro","value":"={{ $json.whatsapp }}","type":"string"}]},"options":{}},"id":"f2c5009f-9dd4-4962-80ce-588bd8088ef1","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2340,-1880]},{"parameters":{"operation":"getAll","tableId":"user_group","returnAll":true,"matchType":"=anyFilter","filters":{"conditions":[{"keyName":"id_category","condition":"eq","keyValue":"={{ $json.cat_id }}"}]}},"id":"ee895768-c72a-486e-aadf-0610cbdcb1a1","name":"get user_cat","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1980,-1880],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"assignments":{"assignments":[{"id":"2ee6d516-682c-496e-9df3-0692ebdf5080","name":"cat_nome","value":"={{ $('get categ_plan2').item.json.category }}","type":"string"},{"id":"7b68a382-e862-4001-82a7-904520d59aa5","name":"cat_id","value":"={{ $('get categ_plan2').item.json.id }}","type":"string"}]},"options":{}},"id":"57c507f4-f6e2-4d86-bf4a-3ba37143113c","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1800,-1880]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"membro","separateBy":"\n"}]},"fieldsToSplitBy":"categoria","options":{}},"id":"6693213e-912f-4b96-89c3-94816b8df7e1","name":"Summarize1","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[1800,-2040]},{"parameters":{"assignments":{"assignments":[{"id":"6a89ac92-b011-4cf3-adf0-6b1c95d48256","name":"msg","value":"=Categoria: *{{ $json.categoria }}*\nMembros: \n{{ $json.concatenated_membro }}\n---\n","type":"string"}]},"options":{}},"id":"0f28552a-1d5d-4523-a53d-c216e79388a2","name":"Edit Fields3","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1980,-2040]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"msg","separateBy":"\n"}]},"options":{}},"id":"a85fcd61-3f68-4b80-be78-2fb50a078052","name":"Summarize3","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[2160,-2040]},{"parameters":{"method":"POST","url":"={{ $('Execute Workflow Trigger').item.json.host_evolution }}/message/sendText/{{ $('Execute Workflow Trigger').item.json.body.data.owner }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Execute Workflow Trigger').item.json.apikey_evolution }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Execute Workflow Trigger').first().json.body.data.key.remoteJid.split(\"@\")[0] }}"},{"name":"textMessage.text","value":"=🟢 *Membros com acesso no seu plano*\n\n{{ $json.concatenated_msg }}\nOs membros tem acesso a comandos em massa nos grupos dentro da categoria"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"c26a8408-1c17-4d58-9ae3-7179653b5752","name":"msg_user2","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2340,-2040]},{"parameters":{"content":"## !moderadores\nMostra os moderadores por grupo","height":135.2488147967951,"width":361.2111676060699,"color":6},"id":"3189c6ec-828a-4c96-b478-2e7386c86423","name":"Sticky Note23","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[680,-2040]},{"parameters":{"operation":"getAll","tableId":"users","limit":1,"filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $('get_message').item.json.user_solicit }}"}]}},"id":"5fb234be-176d-46a7-b952-d7a723f8ed59","name":"get user_msg3","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1140,-1620],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"getAll","tableId":"subscriptions","limit":1,"filters":{"conditions":[{"keyName":"user_id","condition":"eq","keyValue":"={{ $json.id }}"}]}},"id":"027d41e9-e5de-4987-af91-058cbde5db28","name":"get user_plans3","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1280,-1620],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"getAll","tableId":"category","returnAll":true,"filters":{"conditions":[{"keyName":"plan_id","condition":"eq","keyValue":"={{ $('get user_plans3').item.json.plan_id }}"}]}},"id":"7f0fe4da-e78f-47ec-b35d-9ff57a352c9a","name":"get categ_plan3","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1440,-1620],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"fbf7c67c-0414-4d47-8fb3-3ef2f6ba1c99","leftValue":"={{ $json.category }}","rightValue":"={{ $('get_message').item.json.categoria }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"8806e32b-e65d-43a9-8642-e4f343e632b6","leftValue":"={{ $('get_message').item.json.categoria }}","rightValue":"todas","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"id":"9e329217-d746-4406-a456-c007d2cbc139","name":"Filter1","type":"n8n-nodes-base.filter","typeVersion":2,"position":[2160,-2600],"alwaysOutputData":true},{"parameters":{"tableId":"groups","fieldsUi":{"fieldValues":[{"fieldId":"chat_id","fieldValue":"={{ $json.id.split(\"@\")[0] }}"},{"fieldId":"group_name","fieldValue":"={{ $json.subject }}"},{"fieldId":"is_active","fieldValue":"true"},{"fieldId":"plan_id","fieldValue":"={{ $('get user_plans3').first().json.plan_id }}"},{"fieldId":"category_id","fieldValue":"={{ $('Filter - categ').first().json.id }}"}]}},"id":"79d5495d-8ed6-4c42-bb77-1bb87b7f39a9","name":"set group data","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2340,-1640],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"method":"POST","url":"={{ $('Execute Workflow Trigger').item.json.host_evolution }}/group/create/{{ $('Execute Workflow Trigger').item.json.instance_evolution }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Execute Workflow Trigger').item.json.apikey_evolution }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"subject\": \"{{ $json.group_name }}\",\n  \"description\": \"(descrição)\",\n  \"participants\": [\"{{ $('get_message').item.json.user_solicit }}\"]\n} ","options":{}},"id":"d6f4d552-2a53-41e2-8948-1f5b357987c7","name":"evo - create group","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2160,-1640]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"827e3f4e-bc76-4823-a4e5-c8cabed9284c","leftValue":"={{ $('get_message').item.json.categoria }}","rightValue":"={{ $json.category }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"034ecd85-1d6c-4a39-8780-50c6604b7646","name":"Filter - categ","type":"n8n-nodes-base.filter","typeVersion":2,"position":[1600,-1620],"alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c266907f-4ada-4a91-a620-529efaa8855f","leftValue":"={{ $json.category }}","rightValue":"={{ $('get_message').item.json.categoria }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"id":"18fbbbab-b2d8-4984-995b-031781b82daa","name":"categ =","type":"n8n-nodes-base.if","typeVersion":2,"position":[1760,-1620]},{"parameters":{"method":"POST","url":"={{ $('Execute Workflow Trigger').item.json.host_evolution }}/message/sendText/{{ $('Execute Workflow Trigger').item.json.body.data.owner }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Execute Workflow Trigger').item.json.apikey_evolution }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Execute Workflow Trigger').first().json.body.data.key.remoteJid.split(\"@\")[0] }}"},{"name":"textMessage.text","value":"=Desculpe, essa categoria parece não existir.\n\nVerifique as categorias através do comando *!categorias* \nCaso deseje inserir uma categoria nova, utilize o comando *!nova_categoria#nome_da_categoria* (sem espaços)"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"36bb4fa7-9cdc-4d7b-8019-e76286086b54","name":"msg_erro","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1980,-1480]},{"parameters":{"method":"POST","url":"={{ $('Execute Workflow Trigger').item.json.host_evolution }}/message/sendText/{{ $('Execute Workflow Trigger').item.json.body.data.owner }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Execute Workflow Trigger').item.json.apikey_evolution }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Execute Workflow Trigger').first().json.body.data.key.remoteJid.split(\"@\")[0] }}"},{"name":"textMessage.text","value":"=Desculpe, essa categoria parece não existir.\n\nVerifique as categorias através do comando *!categorias* \nCaso deseje inserir uma categoria nova, utilize o comando *!nova_categoria#nome_da_categoria* (sem espaços)"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"9d8bfcf6-43e3-44dd-bd91-ff2e6db75f98","name":"msg_erro1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2580,-2440]},{"parameters":{"content":"## !cria_grupo#category\ncria um novo grupo com as configurações de plano e categoria","height":135.2488147967951,"width":361.2111676060699,"color":6},"id":"f7c76185-30a2-4e78-a708-40ec66f94d2c","name":"Sticky Note24","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[680,-1640]},{"parameters":{"operation":"getAll","tableId":"groups","limit":1,"filters":{"conditions":[{"keyName":"category_id","condition":"eq","keyValue":"={{ $('Filter - categ').item.json.id }}"},{"keyName":"plan_id","condition":"eq","keyValue":"={{ $('get user_plans3').item.json.plan_id }}"}]}},"id":"38f9c954-d0e3-49f1-8ab9-75fef5999602","name":"Supabase1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1980,-1640],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"getAll","tableId":"users","limit":1,"filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $('get_message').item.json.user_solicit }}"}]}},"id":"73b20ece-e35b-413b-9a9d-c4e9615bd708","name":"get user_msg4","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1140,-1340],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"getAll","tableId":"subscriptions","limit":1,"filters":{"conditions":[{"keyName":"user_id","condition":"eq","keyValue":"={{ $json.id }}"}]}},"id":"47a37263-31bc-4271-91bc-a0b19aec8b03","name":"get user_plans4","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1280,-1340],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"method":"POST","url":"={{ $('Execute Workflow Trigger').item.json.host_evolution }}/message/sendText/{{ $('Execute Workflow Trigger').item.json.body.data.owner }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Execute Workflow Trigger').item.json.apikey_evolution }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Execute Workflow Trigger').first().json.body.data.key.remoteJid.split(\"@\")[0] }}"},{"name":"textMessage.text","value":"=😀👍 A categoria *{{ $json[\"category\"] }}* foi criada e você já pode cadastrar grupos existentes, criar novos grupos ou cadastrar moderadores nela.\n\nDigite !comandos para saber exatamente o que fazer."}]},"options":{"response":{"response":{"neverError":true}}}},"id":"8cab2c19-3768-4d75-bf66-19dae55120af","name":"msg_cat_created","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1600,-1340]},{"parameters":{"tableId":"category","fieldsUi":{"fieldValues":[{"fieldId":"category","fieldValue":"={{ $('get_message').item.json.categoria }}"},{"fieldId":"plan_id","fieldValue":"={{ $json.plan_id }}"}]}},"id":"04e7e4db-47af-4aad-9d8a-c963d21a074f","name":"create category","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1440,-1340],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"getAll","tableId":"users","limit":1,"filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $('get_message').item.json.user_solicit }}"}]}},"id":"5bef4668-a49b-4f59-a4a4-bc6f4624ced0","name":"get user_msg5","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1140,-1120],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"getAll","tableId":"subscriptions","limit":1,"filters":{"conditions":[{"keyName":"user_id","condition":"eq","keyValue":"={{ $json.id }}"}]}},"id":"177866f2-9501-40ee-aca1-04217a294f4d","name":"get user_plans5","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1280,-1120],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"method":"POST","url":"={{ $('Execute Workflow Trigger').item.json.host_evolution }}/message/sendText/{{ $('Execute Workflow Trigger').item.json.body.data.owner }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Execute Workflow Trigger').item.json.apikey_evolution }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Execute Workflow Trigger').first().json.body.data.key.remoteJid.split(\"@\")[0] }}"},{"name":"textMessage.text","value":"=❎ A categoria *{{ $json[\"category\"] }}* foi removida.\n\n(em breve avisaremos sobre os grupos e usuários afetados por esta ação)"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"e4faefdf-47c1-42a7-b00b-389022fe5677","name":"msg_cat_created1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2220,-1160]},{"parameters":{"operation":"delete","tableId":"category","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id }}"}]}},"id":"f8befb00-5995-435d-8dc1-382dd7f0923a","name":"create category1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2020,-1160],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"getAll","tableId":"category","returnAll":true,"filters":{"conditions":[{"keyName":"plan_id","condition":"eq","keyValue":"={{ $('get user_plans5').item.json.plan_id }}"}]}},"id":"f81a6e79-2e9e-477a-8794-f37922f82187","name":"get categ_plan4","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1440,-1120],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"827e3f4e-bc76-4823-a4e5-c8cabed9284c","leftValue":"={{ $('get_message').item.json.categoria }}","rightValue":"={{ $json.category }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"7480ee08-5fe7-4d25-95d3-0c46db495048","name":"Filter - categ1","type":"n8n-nodes-base.filter","typeVersion":2,"position":[1600,-1120],"alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c266907f-4ada-4a91-a620-529efaa8855f","leftValue":"={{ $json.category }}","rightValue":"={{ $('get_message').item.json.categoria }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"id":"fc011ee4-38b7-447c-8e17-c7a17ab4cf7e","name":"categ =1","type":"n8n-nodes-base.if","typeVersion":2,"position":[1760,-1120]},{"parameters":{"method":"POST","url":"={{ $('Execute Workflow Trigger').item.json.host_evolution }}/message/sendText/{{ $('Execute Workflow Trigger').item.json.body.data.owner }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Execute Workflow Trigger').item.json.apikey_evolution }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Execute Workflow Trigger').first().json.body.data.key.remoteJid.split(\"@\")[0] }}"},{"name":"textMessage.text","value":"=😵 Desculpe, essa categoria parece não existir.\n\nVerifique as categorias existentes através do comando *!categorias* \n"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"07ccaed0-dd5b-4b46-ad28-0e8afe54866d","name":"msg_erro2","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2020,-960]},{"parameters":{"operation":"getAll","tableId":"groups","returnAll":true,"filters":{"conditions":[{"keyName":"category_id","condition":"eq","keyValue":"={{ $json.category }}"},{"keyName":"plan_id","condition":"eq","keyValue":"={{ $json.plan_id }}"}]}},"id":"e1f31c59-4991-4a5e-b3f4-469368010ed4","name":"Supabase3","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2140,-1360],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"content":"## !nova_categoria#category\ncria um novo grupo com as configurações de plano e categoria","height":135.2488147967951,"width":361.2111676060699,"color":6},"id":"50b598b1-ddff-4c33-8b1d-64ca5fe3cca1","name":"Sticky Note25","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[680,-1360]},{"parameters":{"content":"## !remove_categoria#category\ncria um novo grupo com as configurações de plano e categoria","height":135.2488147967951,"width":361.2111676060699,"color":6},"id":"8e90abf2-c51c-49fb-9747-ec74843c6810","name":"Sticky Note26","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[680,-1140]},{"parameters":{"operation":"getAll","tableId":"users","limit":1,"filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $('get_message').item.json.user_solicit }}"}]}},"id":"52d8cfea-6b97-4334-b1f6-e15a72ef9e69","name":"get user_msg6","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1600,-100],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"getAll","tableId":"subscriptions","limit":1,"filters":{"conditions":[{"keyName":"user_id","condition":"eq","keyValue":"={{ $json.id }}"}]}},"id":"031b0dfd-ed6c-411e-9189-bbbebcb2d873","name":"get user_plans6","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1740,-100],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"getAll","tableId":"category","returnAll":true,"filters":{"conditions":[{"keyName":"plan_id","condition":"eq","keyValue":"={{ $('get user_plans6').item.json.plan_id }}"}]}},"id":"ee26fb57-3c38-418f-9f51-49dd4c6240cd","name":"get categ_plan5","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3040,-460],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"content":"## I'm a note \n(em breve avisaremos sobre os grupos e usuários afetados por esta ação)"},"id":"6e9557e7-6b15-494e-8ade-078a427e3979","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2420,-1200]},{"parameters":{"operation":"getAll","tableId":"users","limit":1,"filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $('get_message').item.json.user_solicit }}"}]}},"id":"8ba116d9-081b-4a23-855c-a2f7482e29f9","name":"get user_msg7","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1160,-540],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"getAll","tableId":"subscriptions","limit":1,"filters":{"conditions":[{"keyName":"user_id","condition":"eq","keyValue":"={{ $json.id }}"}]}},"id":"b58df406-c615-4c5d-b350-3977074a1cd4","name":"get user_plans7","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1300,-540],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"getAll","tableId":"category","returnAll":true,"filters":{"conditions":[{"keyName":"plan_id","condition":"eq","keyValue":"={{ $('get user_plans7').item.json.plan_id }}"}]}},"id":"e11fdb55-109b-42e2-85ab-4e23e5e78d17","name":"get categ_plan6","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1620,-700],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"44a6a641-04fa-4287-b3e2-2c249af7d5c1","leftValue":"={{ $json.plan_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"fbe691dc-c51c-4299-a5f7-9eee8e4d6c1c","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[1440,-540]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"8bad7b8b-7f94-488e-a330-7655e6d3e93d","leftValue":"={{ $json.category }}","rightValue":"={{ $('get_message').item.json.categoria }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"9256ce47-ee85-4ae0-b763-1c0515bdd2e3","leftValue":"={{ $('get_message').item.json.categoria }}","rightValue":"todas","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"id":"51467c27-afd1-47e6-8682-d0547d6e805a","name":"If1","type":"n8n-nodes-base.if","typeVersion":2,"position":[1940,-380]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"827e3f4e-bc76-4823-a4e5-c8cabed9284c","leftValue":"={{ $('get_message').item.json.categoria }}","rightValue":"={{ $json.category }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"31642c01-f348-411e-88fd-21a0bcd68a5a","leftValue":"={{ $('get_message').item.json.categoria }}","rightValue":"todas","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"id":"e7f2c3b1-67b8-4fbe-9b15-dee11425a782","name":"Filter - categ2","type":"n8n-nodes-base.filter","typeVersion":2,"position":[1780,-380],"alwaysOutputData":true},{"parameters":{"operation":"getAll","tableId":"groups","returnAll":true,"filters":{"conditions":[{"keyName":"plan_id","condition":"eq","keyValue":"={{ $json.plan_id }}"},{"keyName":"category_id","condition":"eq","keyValue":"={{ $json.id }}"}]}},"id":"aa8eb47e-c93b-43cd-a5e0-143f724ab8a1","name":"Supabase4","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2180,-620],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"chat_id","separateBy":"\n"}]},"options":{}},"id":"c682caa6-ef1d-4335-8156-3c8f17e9dc0f","name":"Summarize4","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[2400,-620]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"8bad7b8b-7f94-488e-a330-7655e6d3e93d","leftValue":"={{ $json.category }}","rightValue":"={{ $('get_message').item.json.categoria }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"9256ce47-ee85-4ae0-b763-1c0515bdd2e3","leftValue":"={{ $('get_message').item.json.categoria }}","rightValue":"todas","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"id":"a5bdc2e9-47df-4208-8c37-57a48b76ae21","name":"If2","type":"n8n-nodes-base.if","typeVersion":2,"position":[1940,-700]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"827e3f4e-bc76-4823-a4e5-c8cabed9284c","leftValue":"={{ $('get_message').item.json.categoria }}","rightValue":"={{ $json.category }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"31642c01-f348-411e-88fd-21a0bcd68a5a","leftValue":"={{ $('get_message').item.json.categoria }}","rightValue":"todas","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"id":"5cd9c04b-e320-4ede-b874-a5624297dea8","name":"Filter - categ3","type":"n8n-nodes-base.filter","typeVersion":2,"position":[1780,-700],"alwaysOutputData":true},{"parameters":{"method":"POST","url":"={{ $('Execute Workflow Trigger').item.json.host_evolution }}/message/sendText/{{ $('Execute Workflow Trigger').item.json.body.data.owner }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Execute Workflow Trigger').item.json.apikey_evolution }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Execute Workflow Trigger').first().json.body.data.key.remoteJid.split(\"@\")[0] }}"},{"name":"textMessage.text","value":"=😵 Desculpe, essa categoria parece não existir.\n\nVerifique as categorias existentes através do comando *!categorias* \n"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"4c51995d-0234-4795-8345-68e143f6984c","name":"msg_erro3","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2180,-460]},{"parameters":{"assignments":{"assignments":[{"id":"b730aa13-e822-45f6-ba07-1ad368d766ad","name":"texto","value":"={{ $('get_message').item.json.user_message }}","type":"string"},{"id":"0ac1ab50-a7b3-4334-8e51-e0b2efbba390","name":"lista","value":"={{ $json.concatenated_chat_id }}","type":"string"},{"id":"e9170ad2-055d-4ef0-8058-4a74c87282fb","name":"whatsapp","value":"={{ $('get_message').item.json.user_solicit }}","type":"string"}]},"options":{}},"id":"42919853-d9d8-4021-bf79-ebd5213b953d","name":"variaveis","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2580,-620]},{"parameters":{"amount":6},"id":"4b558bd2-1888-437b-a310-bccd7131fa8a","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3840,-600],"webhookId":"0708cc82-bc0e-495b-a979-92597bf2f369"},{"parameters":{"method":"POST","url":"={{ $('Execute Workflow Trigger').item.json.host_evolution }}/message/sendText/{{ $('Execute Workflow Trigger').item.json.body.data.owner }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Execute Workflow Trigger').item.json.apikey_evolution }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('get_message').item.json.user_solicit }}"},{"name":"options.presence","value":"composing"},{"name":"textMessage.text","value":"todas as mensagens foram enviadas"}]},"options":{}},"id":"de522198-226a-429f-a25a-6d9f0130b9ec","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3520,-840],"executeOnce":true},{"parameters":{"options":{"reset":false}},"id":"0f9eec35-1d54-4a80-8508-6dd7392572b2","name":"Loop Over Items1","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3260,-620]},{"parameters":{"method":"POST","url":"={{ $('Execute Workflow Trigger').item.json.host_evolution }}/message/sendText/{{ $('Execute Workflow Trigger').item.json.body.data.owner }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Execute Workflow Trigger').item.json.apikey_evolution }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $json.whatsapp }} "},{"name":"options.presence","value":"composing"},{"name":"textMessage.text","value":"={{ $json.mensagem }}"}]},"options":{}},"id":"c1490d72-98d5-4adb-ac6f-ba8e6ee5972d","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3660,-600],"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"59171c2c-bd9f-4e91-a879-f0bfdcecd871","name":"whatsapp","value":"={{ $json.lista.split(\"\\n\")}}","type":"array"},{"id":"76790234-7b7f-468c-847c-9572f2a9635f","name":"mensagem","value":"={{ $json.texto.split(\" \").slice(1).join(\" \") }}","type":"string"}]},"options":{}},"id":"f41be0b6-cc32-49f4-9098-febe8921ce94","name":"Edit Fields4","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2800,-620]},{"parameters":{"fieldToSplitOut":"whatsapp","options":{}},"id":"ed1d2446-7aad-453b-9c3a-47cbf8ce2628","name":"Split Out2","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[3040,-620]},{"parameters":{"assignments":{"assignments":[{"id":"075d33d8-525b-4877-933e-9586a9406dad","name":"mensagem","value":"={{ $('Edit Fields4').item.json.mensagem }}","type":"string"},{"id":"a5927325-bb76-49bc-9d9e-bea8690dc457","name":"whatsapp","value":"={{ $json.whatsapp }}","type":"string"}]},"options":{}},"id":"248b386a-97d8-49ea-adda-ad76b9a2cc9c","name":"Edit Fields5","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3480,-600]},{"parameters":{"method":"POST","url":"={{ $('Execute Workflow Trigger').item.json.host_evolution }}/message/sendText/{{ $('Execute Workflow Trigger').item.json.body.data.owner }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Execute Workflow Trigger').item.json.apikey_evolution }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('get_message').item.json.user_solicit }}"},{"name":"options.presence","value":"composing"},{"name":"textMessage.text","value":"Iniciando o disparo"}]},"options":{}},"id":"28473e27-af63-4169-bacc-372779f17e41","name":"HTTP Request2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3040,-840],"executeOnce":true,"onError":"continueRegularOutput"},{"parameters":{"content":"## !mass#category\ncria um novo grupo com as configurações de plano e categoria","height":135.2488147967951,"width":361.2111676060699,"color":6},"id":"17ead276-73e4-4ffb-95d8-51e35ec952f9","name":"Sticky Note27","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[680,-560]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"34f8c8b4-4228-4d52-a710-28ece860b98e","leftValue":"={{ $json.user_message.split(\" \")[0] }}","rightValue":"!comand","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"!comand"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"51f18e62-b9e4-476c-893c-689058020631","leftValue":"={{ $json.user_message.split(\" \")[0] }}","rightValue":"!cmd","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"!cmd"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.user_message.split(\" \")[0] }}","rightValue":"!user","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"!user"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"b17d450a-d643-43e7-99e4-72f076ec6e8e","leftValue":"={{ $json.user_message.split(\" \")[0] }}","rightValue":"!stats","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"!stats"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"b1d2700d-c0df-4380-bbe9-7077aa958acc","leftValue":"={{ $json.user_message.split(\" \")[0] }}","rightValue":"!stati","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"!stati"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"b81391b3-05db-4751-bf97-fd9ee57f1cb0","leftValue":"={{ $json.user_message.split(\" \")[0] }}","rightValue":"!estati","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"!estati"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cdd65a19-7415-4015-8ce4-3402d7b298c3","leftValue":"={{ $json.user_message.split(\" \")[0] }}","rightValue":"!links","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"links"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"886537fb-a608-47fe-8bee-20c1148e803c","leftValue":"={{ $json.user_message.split(\" \")[0] }}","rightValue":"!top10","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"!top10"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"013d71e9-24d7-46e1-a06c-30669d94629f","leftValue":"={{ $json.user_message.split(\" \")[0] }}","rightValue":"!agenda","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"!agenda"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c32ba3ec-2817-4e15-9102-78192a0b118b","leftValue":"={{ $json.user_message.split(\" \")[0] }}","rightValue":"!agendar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"!agendar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"44b604e8-53e4-4889-8b93-5501cac9103d","leftValue":"={{ $json.user_message.split(\" \")[0] }}","rightValue":"!mass","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"!mass"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"af05d3c0-2eb6-4361-b439-a937e62ee3b0","leftValue":"={{ $json.user_message.split(\" \")[0].split(\"#\")[0] }}","rightValue":"!novo_mmod","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"!novo_mmod"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"7436ba57-0b44-4a3f-925a-4f7e4703477a","leftValue":"={{ $json.user_message.split(\" \")[0].split(\"#\")[0] }}","rightValue":"!remove_mod","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"!remove_mod"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"77f5da68-0256-4ac9-bb96-ebebdc26b7e7","leftValue":"={{ $json.user_message.split(\" \")[0].split(\"#\")[0] }}","rightValue":"!mod","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"!membros"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"2a57c4ce-48fa-442a-8bf0-2158f4e9ee80","leftValue":"={{ $json.user_message.split(\" \")[0].split(\"#\")[0] }}","rightValue":"!adiciona_grupo","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"!adiciona_grupo"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"614a96ed-7865-4f0e-80e0-0992be53ab1f","leftValue":"={{ $json.user_message.split(\" \")[0].split(\"#\")[0] }}","rightValue":"!remove_grupo","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"!remove_grupo"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"050c63ea-b742-4261-89d1-a91d4712eae2","leftValue":"={{ $json.user_message.split(\" \")[0].split(\"#\")[0] }}","rightValue":"!grupos","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"!grupos"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"e4c62c36-b433-4bf6-adfa-effef322e0dc","leftValue":"={{ $json.user_message.split(\" \")[0].split(\"#\")[0] }}","rightValue":"!nova_categoria","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"!nova_categoria"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"52f15d18-ceec-4588-88e4-28a9d07c6728","leftValue":"={{ $json.user_message.split(\" \")[0].split(\"#\")[0] }}","rightValue":"!remove_categoria","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"!remove_categoria"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"a65fafe6-0cb2-44e8-ba1c-3e3d9a6c3a24","leftValue":"={{ $json.user_message.split(\" \")[0].split(\"#\")[0] }}","rightValue":"!categoria","operator":{"type":"string","operation":"contains"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"181cd4d8-9a00-48ed-a13d-a37ddf2cca49","leftValue":"={{ $json.user_message.split(\" \")[0].split(\"#\")[0] }}","rightValue":"!cria_grupo","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"!cria_grupo"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"187ebb2f-035d-4679-9d59-67ffce7d4733","leftValue":"={{ $json.user_message.split(\" \")[0].split(\"#\")[0] }}","rightValue":"!relatorio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"!relatorio"}]},"options":{}},"id":"34de301a-526e-4338-a643-d55334c7805b","name":"command_is","type":"n8n-nodes-base.switch","typeVersion":3,"position":[1200,-220]},{"parameters":{"operation":"getAll","tableId":"category","returnAll":true,"filters":{"conditions":[{"keyName":"plan_id","condition":"eq","keyValue":"={{ $('get user_plans6').item.json.plan_id }}"}]}},"id":"c9ac8b7d-e2d9-4193-ba1e-32f76406e888","name":"get categ_plan8","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2080,-180],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"44a6a641-04fa-4287-b3e2-2c249af7d5c1","leftValue":"={{ $json.plan_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"43176214-6508-4bba-9e90-c53ecc59ffb7","name":"If3","type":"n8n-nodes-base.if","typeVersion":2,"position":[1760,160]},{"parameters":{"operation":"getAll","tableId":"user_group","returnAll":true,"filters":{"conditions":[{"keyName":"id_user","condition":"eq","keyValue":"={{ $('get user_msg7').first().json.id }}"}]}},"id":"fd3c2a17-cc08-4745-ada0-eb667f1b52c2","name":"get user_group7","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1620,-380],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"getAll","tableId":"user_group","returnAll":true,"filters":{"conditions":[{"keyName":"id_user","condition":"eq","keyValue":"={{ $('get user_msg6').first().json.id }}"}]}},"id":"e262bfab-e4b9-4af3-9b91-672eb4fdc7c6","name":"get user_group6","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2080,0],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"8b500d4d-51b3-449f-b6e1-47c7d29a7f3c","leftValue":"={{ $json.message }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"1fab6a19-adbe-490b-820d-45891300cbff","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"49fb2bee-3801-4246-98b8-54fee94f3e27","name":"Filter2","type":"n8n-nodes-base.filter","typeVersion":2,"position":[4200,220],"notesInFlow":true,"notes":"pego só mensagens"},{"parameters":{"operation":"getAll","tableId":"interactions","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"created_at","condition":"gte","keyValue":"={{ \n  (() => {\n    const date = new Date();\n    date.setDate(date.getDate() - 0); // Subtrai um dia\n    date.setHours(date.getHours() - 3); // Ajusta a hora para GMT-3\n    return date.toISOString().split('T')[0];\n  })() \n}}\n"},{"keyName":"chat_id","condition":"eq","keyValue":"={{ $json.group }}"}]}},"id":"0358d8d4-d4cc-4452-b357-bdb0798e69cd","name":"Supabase - get daily1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3780,400],"alwaysOutputData":true,"notesInFlow":true,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}},"notes":"mensagens do dia"},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"created_at"}]},"options":{}},"id":"b581c6ae-fec2-4072-99e3-db67bc76704c","name":"Sort3","type":"n8n-nodes-base.sort","typeVersion":1,"position":[4340,220],"retryOnFail":false,"notesInFlow":true,"notes":"coloco em ordem"},{"parameters":{"operation":"getAll","tableId":"interactions","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"created_at","condition":"gte","keyValue":"={{ \n  (() => {\n    const date = new Date();\n    date.setDate(date.getDate() - 6); // Subtrai um dia\n    date.setHours(date.getHours() - 3); // Ajusta a hora para GMT-3\n    return date.toISOString().split('T')[0];\n  })() \n}}\n"},{"keyName":"chat_id","condition":"eq","keyValue":"={{ $json.group }}"}]}},"id":"58ce2ca9-eea8-4969-8945-c2754a623bbe","name":"Supabase - get week","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3780,820],"alwaysOutputData":true,"notesInFlow":true,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}},"notes":"mensagens do dia"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"8b500d4d-51b3-449f-b6e1-47c7d29a7f3c","leftValue":"={{ $json.message }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"1fab6a19-adbe-490b-820d-45891300cbff","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"718a1771-bacf-436a-8e08-ffd0150a4534","name":"Filter3","type":"n8n-nodes-base.filter","typeVersion":2,"position":[4320,660],"notesInFlow":true,"notes":"pego só mensagens"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"countUnique","field":"whatsapp"},{"field":"message"}]},"options":{}},"id":"fd6f9570-9af9-4fa6-9f62-c44996b04090","name":"engage counter","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[4480,820],"notes":"reações + votos em enquete"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"countUnique","field":"whatsapp"},{"field":"message"}]},"options":{}},"id":"e883bcc1-9259-42a3-9235-7dbb269121b9","name":"message counter","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[4480,660]},{"parameters":{},"id":"21f4597d-a943-4614-b63f-7d1a104ceac1","name":"Merge2","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[4740,740]},{"parameters":{},"id":"7560062f-cfb0-407f-ad10-c6097ac4d285","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[4720,280]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"60025ac5-b19b-4dee-ba00-19fb0f319cec","name":"Merge1","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[5140,520],"executeOnce":true},{"parameters":{"assignments":{"assignments":[{"id":"e9c70e26-087d-4d03-85da-30abfff13bce","name":"active_daily","value":"={{ $('Merge').itemMatching(0).json.unique_count_whatsapp }}","type":"number"},{"id":"27f33942-46ab-457e-a48a-5becc8046f17","name":"engage_daily","value":"={{ $('Merge').itemMatching(1).json.unique_count_whatsapp }}","type":"string"},{"id":"9b055bb2-ccc0-4ecb-85fd-ca4478c88166","name":"total_members","value":"={{ $('get_group_info1').item.json.size }}","type":"string"},{"id":"ca21b3eb-c4d6-4a92-9441-a5a617ae2cb2","name":"message_sent","value":"={{ $json.count_message }}","type":"string"}]},"options":{}},"id":"49f2b69a-45e5-429e-8f84-b0ce7e6b83ac","name":"Edit Fields - daily","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4880,280]},{"parameters":{"assignments":{"assignments":[{"id":"e9c70e26-087d-4d03-85da-30abfff13bce","name":"active_week","value":"={{ $('Merge2').itemMatching(0).json.unique_count_whatsapp }}","type":"number"},{"id":"27f33942-46ab-457e-a48a-5becc8046f17","name":"engage_week","value":"={{ $('Merge2').itemMatching(1).json.unique_count_whatsapp }}","type":"string"},{"id":"b53bba6f-c58d-4717-b7cc-8f0914f97967","name":"","value":"","type":"string"}]},"options":{}},"id":"0f3c101f-47f3-4ae3-9fea-770268435933","name":"Edit Fields - week","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4900,740]},{"parameters":{"operation":"getAll","tableId":"groups","filters":{"conditions":[{"keyName":"summary_time","condition":"gte","keyValue":"={{ \n(() => {\n  const date = new Date();\n  date.setHours(date.getHours() - 3); // Ajusta a hora para GMT-3\n  date.setMinutes(date.getMinutes() - 1000); // Subtrai 30 minutos\n  return date.toISOString().split('T')[1].split('.')[0]; // Retorna apenas a hora\n})()\n\n }}"}]}},"id":"a00543bf-5082-49fd-aa13-299a5d5b996a","name":"Supabase6","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2100,920],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"tableId":"groups_logs","fieldsUi":{"fieldValues":[{"fieldId":"group_name","fieldValue":"={{ $json.group_name }}"},{"fieldId":"chat_id","fieldValue":"={{ $json.group_id }}"},{"fieldId":"engage_members","fieldValue":"={{ $json.daily_engage }}"},{"fieldId":"active_members","fieldValue":"={{ $json.daily_active }}"}]}},"id":"10299a54-4206-4186-a8a1-7e0957f40901","name":"Supabase8","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[5520,840],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"assignments":{"assignments":[{"id":"ec6cae2a-5b71-4151-bac5-e676cdd65048","name":"participants","value":"={{ $('get_group_info1').item.json.size }}","type":"number"},{"id":"633e3b9d-e28b-4bcf-9809-0db95a32ce0b","name":"daily_active","value":"={{ $json.active_daily}}","type":"number"},{"id":"b973a75c-87df-44b8-ad69-c3d95f2f8527","name":"daily_engage","value":"={{ $json.engage_daily}}","type":"number"},{"id":"6e3cccef-d6d6-46ba-840b-1228b4062881","name":"week_active","value":"={{ $json.active_week}}","type":"string"},{"id":"0e3266f4-a25f-4c2e-9894-0ce9f2443fcb","name":"week_engage","value":"={{ $json.engage_week }}","type":"string"},{"id":"18d6e088-94fe-4896-a878-b157c3c3422c","name":"group_name","value":"={{ $('get_group_info1').item.json.subject }}","type":"string"},{"id":"84ced77c-5ee0-4d0d-99a5-b83db532594d","name":"group_id","value":"={{ $('get_group_info1').item.json.id.split(\"@\")[0]  }}","type":"string"},{"id":"4c233c08-840b-4c2f-86c1-409e9760416e","name":"message_sent","value":"={{ $json.message_sent }}","type":"string"}]},"options":{}},"id":"d741c22c-4b1d-45ac-839b-f26380802db4","name":"Edit Fields9","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5360,840]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.plan_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"é dono"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"54acbce8-a099-40d9-93cc-c9d3b60ec2b8","leftValue":"=","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"id":"607de104-8052-4a93-85b1-bee51629731b","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[1880,-100]},{"parameters":{},"id":"a05e081c-aafd-4cef-8f64-0df44611553f","name":"Merge3","type":"n8n-nodes-base.merge","typeVersion":3,"position":[2280,-100]},{"parameters":{"operation":"getAll","tableId":"groups","matchType":"allFilters","filters":{"conditions":[{"keyName":"category_id","condition":"eq","keyValue":"={{ $json.id }}"},{"keyName":"plan_id","condition":"eq","keyValue":"={{ $json.plan_id }}"}]}},"id":"e5ab101b-b284-43db-a631-be18b2a9bda4","name":"Supabase9","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2860,160],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"countUnique","field":"whatsapp"},{"field":"message"}]},"options":{}},"id":"a78ced59-2a71-41ba-8248-62ee5bb47b79","name":"engage counter1","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[4480,380],"notes":"reações + votos em enquete"},{"parameters":{"options":{}},"id":"7c68b6c3-b60e-44c0-83e0-56708ae95065","name":"Loop Over Items5","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3020,320]},{"parameters":{"options":{}},"id":"6d8d5e4c-f36b-4593-bd95-6699d98dfb47","name":"Loop Over Items2","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2640,140]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"e3c65973-dbaa-415e-9ea6-a0c57aad566f","leftValue":"={{ $json.message }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"1b2d10c1-3a4f-4032-ac46-ef9c2a1e31a4","name":"If5","type":"n8n-nodes-base.if","typeVersion":2,"position":[4000,400]},{"parameters":{"url":"=https://api.sincronia.digital/group/findGroupInfos/Sincron","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"groupJid","value":"={{ $('Supabase9').item.json.chat_id }}"}]},"options":{"redirect":{"redirect":{}}}},"id":"3a128212-7bc3-4dfc-b52b-340c317c44d5","name":"get_group_info1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3260,340],"notesInFlow":true,"executeOnce":true,"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}},"notes":"puxa info do grupo"},{"parameters":{"assignments":{"assignments":[{"id":"fb8c32a2-9306-43b9-9b01-5a659eab6241","name":"group","value":"={{ $json.id.split(\"@\")[0] }}","type":"string"},{"id":"29404ef0-2a44-4534-8c05-6eab88d14556","name":"group_name","value":"={{ $json.subject }}","type":"string"},{"id":"6e973574-8ea5-4263-982e-226eb7bd78fe","name":"num_membros","value":"={{ $json.size }}","type":"string"}]},"options":{}},"id":"9d4c3dfc-4706-40fd-bfc1-6df9fc6190b6","name":"pego_grupo1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[3520,640]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"countUnique","field":"whatsapp"},{"field":"message"}]},"options":{}},"id":"63ceafe8-89fd-4bd0-aa18-aae3e09ef768","name":"message counter1","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[4480,220]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"8bad7b8b-7f94-488e-a330-7655e6d3e93d","leftValue":"={{ $json.category }}","rightValue":"={{ $('get_message').item.json.categoria }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"9256ce47-ee85-4ae0-b763-1c0515bdd2e3","leftValue":"={{ $('get_message').item.json.categoria }}","rightValue":"todas","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"id":"39d30de4-e45e-43bb-9507-7a54a7325702","name":"If4","type":"n8n-nodes-base.if","typeVersion":2,"position":[2640,-100]},{"parameters":{"content":"## Cliente ou moderador\n","height":466.083851380381,"width":212.8679134510466,"color":5},"id":"b326acdc-ab30-4419-a2ce-6f0e274a470d","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2020,-260]},{"parameters":{"content":"## Uma categoria ou #todas\n","height":238.00474882824113,"width":212.8679134510466,"color":6},"id":"59e5ba4b-e825-4e2d-99f5-425bb5d4c5a9","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2600,-200]},{"parameters":{"content":"## Mensagens diárias e semanais","height":705.7352317766521,"width":212.8679134510466,"color":3},"id":"778ab501-f3a5-4b27-8d43-d172448e1508","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3720,276.03618234789485]},{"parameters":{"content":"## Tem mensagem?","height":346.3490979857828,"width":212.8679134510466,"color":3},"id":"cf54e0a4-a4cb-47d5-98e0-d02ce8d9519b","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3960,279.3861337908693]},{"parameters":{"content":"## Loop categorias\n","height":238.00474882824113,"width":212.8679134510466,"color":3},"id":"7eb5409e-f94e-45a0-ae3a-bae18b44d9ad","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2580,80]},{"parameters":{"content":"## Loop Grupos\n","height":238.00474882824113,"width":212.8679134510466,"color":3},"id":"2fb6dbb9-d5a5-4caf-a96c-62a6a15c20ca","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2960,260]},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/Sincron","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=5519994317797"},{"name":"textMessage.text","value":"=Insights {{ $('Edit Fields9').item.json.group_name }}\n\nAqui está o resumo do seu grupo de ontem!\n\n💬 {{ $('Merge1').item.json[\"message_sent\"] }} mensagens enviadas\n👥 {{ $('Edit Fields9').item.json[\"participants\"] }} total de membros\n👤 {{ $json[\"active_members\"] }} membros ativos (conversam) - {{ ($('Edit Fields9').item.json[\"daily_active\"] / $('Edit Fields9').item.json[\"participants\"] *100).toFixed(2)}}% do grupo\n🫂 {{ $('Edit Fields9').item.json[\"daily_engage\"] }} membros engajados (conversam ou só reagem) - {{ ($('Edit Fields9').item.json[\"daily_engage\"] / $('Edit Fields9').item.json[\"participants\"] *100).toFixed(2)}}% do grupo\n🗣️ {{ $('Edit Fields9').item.json[\"week_active\"] }} membros ativos nos últimos 7 dias - {{ ($('Edit Fields9').item.json[\"week_active\"]/$('Edit Fields9').item.json[\"participants\"] *100).toFixed(2) }}% do grupo\n👥 {{ $('Edit Fields9').item.json[\"week_engage\"] }} membros engajados nos últimos 7 dias - {{ ($('Edit Fields9').item.json[\"week_engage\"]/$('Edit Fields9').item.json[\"participants\"] *100).toFixed(2) }}% do grupo\n🟰 0 saldo de membros \n\nPara saber os top 10 membros mais ativos, digite aqui *!top10*"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"cb313211-36eb-4804-b713-9ff100022751","name":"msg_user4","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[5660,840],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"827e3f4e-bc76-4823-a4e5-c8cabed9284c","leftValue":"={{ $('get_message').item.json.categoria }}","rightValue":"={{ $json.category }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"31642c01-f348-411e-88fd-21a0bcd68a5a","leftValue":"={{ $('get_message').item.json.categoria }}","rightValue":"todas","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"id":"4789ce43-dea5-4a66-8889-db6ca45018de","name":"Filter - categ4","type":"n8n-nodes-base.filter","typeVersion":2,"position":[2440,-100],"alwaysOutputData":true}],"connections":{"Edit Fields7":{"main":[[{"node":"msg_user","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Edit Fields8":{"main":[[{"node":"Summarize2","type":"main","index":0}]]},"Summarize2":{"main":[[{"node":"msg_stats","type":"main","index":0}]]},"Supabase10":{"main":[[{"node":"Supabase16","type":"main","index":0}]]},"Supabase16":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Summarize":{"main":[[{"node":"Edit Fields7","type":"main","index":0}]]},"Supabase17":{"main":[[{"node":"Supabase18","type":"main","index":0}]]},"Supabase18":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Edit Fields8","type":"main","index":0}]]},"get_message":{"main":[[{"node":"command_is","type":"main","index":0}]]},"Sort2":{"main":[[{"node":"Limit1","type":"main","index":0}]]},"Summarize5":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Limit1":{"main":[[{"node":"Summarize5","type":"main","index":0}]]},"Supabase2":{"main":[[{"node":"Sort2","type":"main","index":0}]]},"Sort4":{"main":[[{"node":"Limit2","type":"main","index":0}]]},"Limit2":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Supabase - get usersss1":{"main":[[{"node":"Filter4","type":"main","index":0}]]},"Filter4":{"main":[[{"node":"Sort4","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Supabase5","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"get_message","type":"main","index":0}]]},"categ_exists?":{"main":[[{"node":"Supabase7","type":"main","index":0}],[{"node":"msg_erro1","type":"main","index":0}]]},"get user_msg":{"main":[[{"node":"get user_plans","type":"main","index":0}]]},"get user_plans":{"main":[[{"node":"get novo_membro","type":"main","index":0}]]},"get novo_membro":{"main":[[{"node":"this_member_exists?","type":"main","index":0}]]},"this_member_exists?":{"main":[[{"node":"get categ_plan","type":"main","index":0}],[{"node":"create_a_user","type":"main","index":0}]]},"create_a_user":{"main":[[{"node":"get novo_membro","type":"main","index":0}]]},"categ_exists?1":{"main":[[{"node":"del member_categ","type":"main","index":0}]]},"get user_msg1":{"main":[[{"node":"get user_plans1","type":"main","index":0}]]},"get user_plans1":{"main":[[{"node":"get cat_member","type":"main","index":0}]]},"get cat_member":{"main":[[{"node":"get categ_plan1","type":"main","index":0}]]},"get categ_plan":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"get categ_plan1":{"main":[[{"node":"categ_exists?1","type":"main","index":0}]]},"get user_msg2":{"main":[[{"node":"get user_plans2","type":"main","index":0}]]},"get user_plans2":{"main":[[{"node":"get categ_plan2","type":"main","index":0}]]},"get categ_plan2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Summarize1","type":"main","index":0}],[{"node":"Edit Fields2","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"get user_cat":{"main":[[{"node":"Supabase","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"get user_cat","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Summarize1":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Summarize3","type":"main","index":0}]]},"Summarize3":{"main":[[{"node":"msg_user2","type":"main","index":0}]]},"get user_msg3":{"main":[[{"node":"get user_plans3","type":"main","index":0}]]},"get user_plans3":{"main":[[{"node":"get categ_plan3","type":"main","index":0}]]},"get categ_plan3":{"main":[[{"node":"Filter - categ","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"categ_exists?","type":"main","index":0}]]},"evo - create group":{"main":[[{"node":"set group data","type":"main","index":0}]]},"Filter - categ":{"main":[[{"node":"categ =","type":"main","index":0}]]},"categ =":{"main":[[{"node":"Supabase1","type":"main","index":0}],[{"node":"msg_erro","type":"main","index":0}]]},"Supabase1":{"main":[[{"node":"evo - create group","type":"main","index":0}]]},"get user_msg4":{"main":[[{"node":"get user_plans4","type":"main","index":0}]]},"get user_plans4":{"main":[[{"node":"create category","type":"main","index":0}]]},"create category":{"main":[[{"node":"msg_cat_created","type":"main","index":0}]]},"get user_msg5":{"main":[[{"node":"get user_plans5","type":"main","index":0}]]},"get user_plans5":{"main":[[{"node":"get categ_plan4","type":"main","index":0}]]},"create category1":{"main":[[{"node":"msg_cat_created1","type":"main","index":0}]]},"Filter - categ1":{"main":[[{"node":"categ =1","type":"main","index":0}]]},"get categ_plan4":{"main":[[{"node":"Filter - categ1","type":"main","index":0}]]},"categ =1":{"main":[[{"node":"create category1","type":"main","index":0}],[{"node":"msg_erro2","type":"main","index":0}]]},"get user_msg6":{"main":[[{"node":"get user_plans6","type":"main","index":0}]]},"get user_plans6":{"main":[[{"node":"Switch","type":"main","index":0}]]},"get user_msg7":{"main":[[{"node":"get user_plans7","type":"main","index":0}]]},"get user_plans7":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"get categ_plan6","type":"main","index":0}],[{"node":"get user_group7","type":"main","index":0}]]},"get categ_plan6":{"main":[[{"node":"Filter - categ3","type":"main","index":0}]]},"Filter - categ2":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Supabase4","type":"main","index":0}],[{"node":"msg_erro3","type":"main","index":0}]]},"Supabase4":{"main":[[{"node":"Summarize4","type":"main","index":0}]]},"Filter - categ3":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"Supabase4","type":"main","index":0}],[{"node":"msg_erro3","type":"main","index":0}]]},"variaveis":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}],[{"node":"Edit Fields5","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Split Out2","type":"main","index":0},{"node":"HTTP Request2","type":"main","index":0}]]},"Split Out2":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Summarize4":{"main":[[{"node":"variaveis","type":"main","index":0}]]},"command_is":{"main":[[],[],[],[{"node":"Supabase17","type":"main","index":0}],[{"node":"Supabase17","type":"main","index":0}],[{"node":"Supabase17","type":"main","index":0}],[],[{"node":"Supabase2","type":"main","index":0}],[{"node":"Supabase - get usersss1","type":"main","index":0}],[],[{"node":"get user_msg7","type":"main","index":0}],[{"node":"get user_msg","type":"main","index":0}],[{"node":"get user_msg1","type":"main","index":0}],[{"node":"get user_msg2","type":"main","index":0}],[],[],[],[{"node":"get user_msg4","type":"main","index":0}],[{"node":"get user_msg5","type":"main","index":0}],[],[{"node":"get user_msg3","type":"main","index":0}],[{"node":"get user_msg6","type":"main","index":0}]]},"get user_group7":{"main":[[{"node":"Filter - categ2","type":"main","index":0}]]},"Filter2":{"main":[[{"node":"Sort3","type":"main","index":0}]]},"Supabase - get daily1":{"main":[[{"node":"If5","type":"main","index":0}]]},"Sort3":{"main":[[{"node":"message counter1","type":"main","index":0}]]},"Supabase - get week":{"main":[[{"node":"Filter3","type":"main","index":0},{"node":"engage counter","type":"main","index":0}]]},"Filter3":{"main":[[{"node":"message counter","type":"main","index":0}]]},"engage counter":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"message counter":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Edit Fields - week","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Edit Fields - daily","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Edit Fields9","type":"main","index":0}]]},"Edit Fields - daily":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Edit Fields - week":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Supabase8":{"main":[[{"node":"msg_user4","type":"main","index":0}]]},"Edit Fields9":{"main":[[{"node":"Supabase8","type":"main","index":0}]]},"get categ_plan8":{"main":[[{"node":"Merge3","type":"main","index":0}]]},"get user_group6":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"Switch":{"main":[[{"node":"get categ_plan8","type":"main","index":0}],[{"node":"get user_group6","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"Filter - categ4","type":"main","index":0}]]},"Supabase9":{"main":[[{"node":"Loop Over Items5","type":"main","index":0}]]},"engage counter1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Loop Over Items5":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}],[{"node":"get_group_info1","type":"main","index":0}]]},"Loop Over Items2":{"main":[[],[{"node":"Supabase9","type":"main","index":0}]]},"If5":{"main":[[{"node":"Filter2","type":"main","index":0},{"node":"engage counter1","type":"main","index":0}],[{"node":"Loop Over Items5","type":"main","index":0}]]},"get_group_info1":{"main":[[{"node":"pego_grupo1","type":"main","index":0}]]},"pego_grupo1":{"main":[[{"node":"Supabase - get daily1","type":"main","index":0},{"node":"Supabase - get week","type":"main","index":0}]]},"message counter1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"If4":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"msg_user4":{"main":[[{"node":"Loop Over Items5","type":"main","index":0}]]},"Filter - categ4":{"main":[[{"node":"If4","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Execute Workflow Trigger":[{"json":{"headers":{"host":"webhook.sincronia.digital","user-agent":"axios/1.7.2","content-length":"820","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"webhook.sincronia.digital","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"31e0f1d9720a","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"Sincron","data":{"key":{"remoteJid":"5519994317797@s.whatsapp.net","fromMe":false,"id":"3EB06DB8A43569D817C3E4"},"pushName":"Luiz | Sincron IA","message":{"conversation":"!novo_membro#todas 5519994317797","messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"s850Fh8AwlHfMQ==","senderTimestamp":"1720707475","senderAccountType":"E2EE","receiverAccountType":"E2EE","recipientKeyHash":"a5MbOvQa/MZ8AA==","recipientTimestamp":"1721221306"},"deviceListMetadataVersion":2}},"messageType":"conversation","messageTimestamp":1721867281,"owner":"Sincron","source":"web"},"destination":"https://webhook.sincronia.digital/webhook/microsaas-tracker","date_time":"2024-07-24T21:28:01.203Z","sender":"5519994583576@s.whatsapp.net","server_url":"https://api.sincronia.digital","apikey":"2vkrtkdrzjyjv58w3h7ky8"},"webhookUrl":"https://webhook.sincronia.digital/webhook/microsaas-tracker","executionMode":"production","whatsapp":"5519994317797","user_message":"!relatorio#todas","instance_id":"bu9qnq7ga1eo7085dc9w6","msg_sent":"2024-07-24T21:28:01.203Z","assistant_id":"asst_z7suvl0dVsf5rNWeicAjt475","Developer_Key":"AIzaSyBzYmCjdHAkg4X9GJKqthauxGJCUg6K71o","name":"Luiz | Sincron IA","assistant_version":"v1","msg_type":"messages.upsert","msg_channel_type":null,"chat_id":"5519994317797","message_id":"3EB06DB8A43569D817C3E4","imagem_url":null,"whats_participante":null,"img_base64":null,"tipo":"text","tipoMidia":"conversation","message_link":null,"title_link":null,"description_link":null,"response_to":null,"quoted_image":null,"reaction":null,"id_msg_reagida":null,"instance_evolution":"Sincron","host_evolution":"https://api.sincronia.digital","apikey_evolution":"2vkrtkdrzjyjv58w3h7ky8"}}],"create category":[{"json":{"id":4,"created_at":"2024-07-25T16:22:52.23312-03:00","category":"cursogestao21","plan_id":"52336"}}],"create category1":[{"json":{"id":4,"created_at":"2024-07-25T16:22:52.23312-03:00","category":"cursogestao21","plan_id":"52336"}}]},"versionId":"6f47ece1-d53b-476c-b687-df79048533e6","triggerCount":0,"tags":[{"createdAt":"2024-07-22T21:06:40.448Z","updatedAt":"2024-07-22T21:06:40.448Z","id":"RX2ESLnM0IynaKQR","name":"MGM2"}]}