mgm2---tracker-(central).json
{"createdAt":"2024-07-22T15:49:55.005Z","updatedAt":"2024-07-25T01:51:08.566Z","id":"JNVMXApXOixZRt6l","name":"MGM2 - tracker (central)","active":true,"nodes":[{"parameters":{"content":"## Gatilho do fluxo via API de Whatsapp\nE guarda as variáveis para consulta do fluxo","height":300.16497355008175,"width":381.11394614486005,"color":4},"id":"bf5271da-8a13-4773-8285-f7363b742711","name":"Sticky Note18","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-200,-420]},{"parameters":{"tableId":"interactions","fieldsUi":{"fieldValues":[{"fieldId":"whatsapp","fieldValue":"={{ $('variaveis').item.json.whatsapp }}"},{"fieldId":"message","fieldValue":"={{ $('variaveis').item.json.user_message }}"},{"fieldId":"chat_id","fieldValue":"={{ $('variaveis').item.json.chat_id.split(\"@\")[0] }}"},{"fieldId":"group_name","fieldValue":"={{ $('get_group_info').item.json.subject }}"},{"fieldId":"user_name","fieldValue":"={{ $('variaveis').item.json.name }}"},{"fieldId":"response_to","fieldValue":"={{ $('Supabase1 - id resposta').item.json.message }}"},{"fieldId":"message_id","fieldValue":"={{ $('Webhook').item.json.body.data.key.id }}"}]}},"id":"bb450617-cb63-4f17-96b6-52721bfd9f0d","name":"Supabase","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2280,780],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"tableId":"interactions","fieldsUi":{"fieldValues":[{"fieldId":"whatsapp","fieldValue":"={{ $('variaveis').item.json.whatsapp }}"},{"fieldId":"chat_id","fieldValue":"={{ $('variaveis').item.json.chat_id.split(\"@\")[0] }}"},{"fieldId":"group_name","fieldValue":"={{ $('get_group_info').item.json.subject }}"},{"fieldId":"reaction","fieldValue":"={{ $('Webhook').item.json.body.data.message.reactionMessage.text }}"},{"fieldId":"user_name","fieldValue":"={{ $('variaveis').item.json.name }}"},{"fieldId":"response_to","fieldValue":"={{ $('Supabase1 - id resposta').item.json.message }}"},{"fieldId":"message_id","fieldValue":"={{ $('Webhook').item.json.body.data.key.id }}"}]}},"id":"43452720-d3df-4765-a5a2-9170bd7964f9","name":"Supabase1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2640,240],"executeOnce":true,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"identifique do que se trata a imagem e transforme em uma breve mensagem escrita, começando por imagem: ... seguido da descrição da imagem em um curto parágrafo de no máximo duas linhas\"\n        },\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"data:image/jpeg;base64,{{ $('variaveis').item.json['img_base64'] }}\"\n          }\n        }\n      ]\n    }\n  ],\n  \"max_tokens\": 300\n}\n","options":{}},"id":"b93e9943-fd48-43e4-a7e0-b97b9ee4d0af","name":"Vision - gpt-4o","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2280,600],"credentials":{"openAiApi":{"id":"neTK4UBDC4tLBdAV","name":"G4 educação"}},"disabled":true},{"parameters":{"tableId":"interactions","fieldsUi":{"fieldValues":[{"fieldId":"whatsapp","fieldValue":"={{ $('variaveis').item.json.whatsapp }}"},{"fieldId":"message","fieldValue":"={{ $('variaveis').item.json.user_message }}{{ $json.choices[0].message.content }}"},{"fieldId":"chat_id","fieldValue":"={{ $('variaveis').item.json.chat_id.split(\"@\")[0] }}"},{"fieldId":"group_name","fieldValue":"={{ $('get_group_info').item.json.subject }}"},{"fieldId":"user_name","fieldValue":"={{ $('variaveis').item.json.name }}"},{"fieldId":"response_to","fieldValue":"={{ $('Supabase1 - id resposta').item.json.message }}"},{"fieldId":"message_id","fieldValue":"={{ $('Webhook').item.json.body.data.key.id }}"}]}},"id":"86f0694e-a2a4-492f-8245-95cadf8738f6","name":"Supabase7","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2460,600],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"fileName":"audio","mimeType":"={{ $json.mimetype }}"}},"id":"b767b928-583a-434a-b325-f433c99e53a1","name":"Convert to File1","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2460,420],"executeOnce":false},{"parameters":{"method":"POST","url":"={{ $('variaveis').item.json.host_evolution }}/chat/getBase64FromMediaMessage/{{ $('variaveis').item.json.instance_evolution }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('variaveis').item.json.apikey_evolution }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $('Webhook').item.json[\"body\"][\"data\"][\"key\"][\"id\"] }}\"\n    }\n  },\n  \"convertToMp4\": true\n}","options":{"redirect":{"redirect":{}}}},"id":"1af38f1d-54bf-418a-af3e-e896766fede6","name":"pega mp4 do audio3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2280,420],"retryOnFail":true,"maxTries":2,"onError":"continueErrorOutput"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"9cbfc2ef-355f-4a1e-adeb-055e25375311","name":"Transcrever audio","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[2640,420],"credentials":{"openAiApi":{"id":"K8FfxMZ9IgSFVC2G","name":"FURIA - Pantero"}}},{"parameters":{"tableId":"interactions","fieldsUi":{"fieldValues":[{"fieldId":"whatsapp","fieldValue":"={{ $('variaveis').item.json.whatsapp }}"},{"fieldId":"message","fieldValue":"=audio: {{ $json.text }}"},{"fieldId":"chat_id","fieldValue":"={{ $('variaveis').item.json.chat_id.split(\"@\")[0] }}"},{"fieldId":"group_name","fieldValue":"={{ $('get_group_info').item.json.subject }}"},{"fieldId":"user_name","fieldValue":"={{ $('variaveis').item.json.name }}"},{"fieldId":"response_to","fieldValue":"={{ $('Supabase1 - id resposta').item.json.message }}"},{"fieldId":"message_id","fieldValue":"={{ $('Webhook').item.json.body.data.key.id }}"}]}},"id":"eb08a936-e8a0-4265-b645-81311007dffb","name":"Supabase8","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2820,420],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"method":"POST","url":"={{ $('variaveis').item.json.host_evolution }}/chat/findMessages/{{ $('variaveis').item.json.instance_evolution }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('variaveis').item.json.apikey_evolution }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"where\": {\n    \"key\": {\n      \"remoteJid\": \"{{ $('Webhook').item.json.body.data.message.reactionMessage.key.id }}\"\n    }\n  }\n}","options":{}},"id":"b22a47f1-0253-446d-8f4d-a17f352baf0b","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2280,240],"notesInFlow":true,"notes":"MSG info"},{"parameters":{"operation":"getAll","tableId":"interactions","limit":1,"filters":{"conditions":[{"keyName":"message_id","condition":"eq","keyValue":"={{ $('Webhook').item.json.body.data.message.extendedTextMessage?.contextInfo?.stanzaId \n    || $('Webhook').item.json.body.data.message.reactionMessage?.key?.id \n    || $('Webhook').item.json.body.data.message.audioMessage?.contextInfo?.stanzaId }}"}]}},"id":"b87bbc62-5827-47fa-aa01-8bae3bc1867d","name":"Supabase1 - id resposta","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2500,-400],"alwaysOutputData":true,"notesInFlow":true,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}},"notes":"puxa a mensagem respondida (se houver)"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"0b745d62-74d5-4c62-8583-1ee1296f3457","leftValue":"={{ $json.message.reactionMessage.key.id }}","rightValue":"={{ $('Webhook').item.json.body.data.message.reactionMessage.key.id }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"f533e3f4-6290-426b-96cf-7c40aa17e912","name":"Filter1","type":"n8n-nodes-base.filter","typeVersion":2,"position":[2460,240]},{"parameters":{"workflowId":"VgiFh1W3m2OpK9ZH","options":{}},"id":"39936241-e973-4472-8658-29af9d4e2cdd","name":"Execute Workflow","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[480,480]},{"parameters":{"tableId":"statistics","fieldsUi":{"fieldValues":[{"fieldId":"whatsapp","fieldValue":"={{ $('variaveis').item.json.whatsapp }}"},{"fieldId":"name","fieldValue":"={{ $('variaveis').item.json.name }}"},{"fieldId":"chat_id","fieldValue":"={{ $('variaveis').item.json.chat_id.split(\"@\")[0] }}"}]}},"id":"bfb83c9b-33af-4609-9acd-5197c2fc0c8b","name":"Supabase11","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2020,-240],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"getAll","tableId":"statistics","limit":1,"matchType":"allFilters","filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $json.whatsapp }}"},{"keyName":"chat_id","condition":"eq","keyValue":"={{ $('variaveis').item.json.chat_id.split(\"@\")[0] }}"}]}},"id":"e0446982-5419-4f17-8204-63384ae8da66","name":"Supabase - busca linha estatistica","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1820,-380],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"update","tableId":"statistics","matchType":"allFilters","filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $('variaveis').item.json.whatsapp }}"},{"keyName":"chat_id","condition":"eq","keyValue":"={{ $('variaveis').item.json.chat_id.split(\"@\")[0] }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"group_name","fieldValue":"={{ $('get_group_info').item.json.subject }}"},{"fieldId":"messages","fieldValue":"={{ $('Supabase - busca linha estatistica').item.json.messages + 1 }}"},{"fieldId":"name","fieldValue":"={{ $('variaveis').item.json.name }}"}]}},"id":"d7e7b80f-a1ee-46c5-af55-6911e7f60edd","name":"Supabase13","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3000,420],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"update","tableId":"statistics","matchType":"allFilters","filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $('variaveis').item.json.whatsapp }}"},{"keyName":"chat_id","condition":"eq","keyValue":"={{ $('variaveis').item.json.chat_id.split(\"@\")[0] }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"group_name","fieldValue":"={{ $('get_group_info').item.json.subject }}"},{"fieldId":"messages","fieldValue":"={{ $('Supabase - busca linha estatistica').item.json.messages + 1 }}"},{"fieldId":"name","fieldValue":"={{ $('variaveis').item.json.name }}"}]}},"id":"8e1a69be-dcf6-4661-82f3-ab176671e361","name":"Supabase14","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2640,600],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"content":"## Checa cadastro do usuário\ncaso não tenha, cria a entrada no bd","height":445.78326861611566,"width":461.467840124591,"color":7},"id":"6c9eb7ff-8ad6-4ee4-be99-d9e56818de73","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1260,-500]},{"parameters":{"operation":"getAll","tableId":"users","limit":1,"filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $('variaveis').item.json.whatsapp }}"}]}},"id":"bc4ca74e-6ff6-4b7f-8718-4143b6d24b9b","name":"Supabase - busco o usuário","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1360,-400],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"tableId":"users","fieldsUi":{"fieldValues":[{"fieldId":"whatsapp","fieldValue":"={{ $('variaveis').item.json.whatsapp }}"},{"fieldId":"name","fieldValue":"={{ $('variaveis').item.json.name }}"}]}},"id":"ca484d7a-faf1-41f0-b24e-0d4ebb680615","name":"Supabase - cadastro usuário","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1520,-260],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"dd1d069d-7a6c-4f68-9228-1a703ef0400f","leftValue":"={{ $json.whatsapp }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"e222f1e8-f846-4445-8508-30f80ad57406","name":"tem_cadastro","type":"n8n-nodes-base.if","typeVersion":2,"position":[1520,-400]},{"parameters":{"content":"## Checa entrada grupo/usuário\né preciso para contabilizar todos os grupos que o usuário esteja falando","height":445.78326861611566,"width":461.467840124591,"color":7},"id":"3321c504-e3f3-4795-a593-6ac3e89134a0","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1760,-500]},{"parameters":{"content":"## Busca informações\nPega informações do grupo e de possivel mensagem respondida","height":315.9856701672631,"width":402.1240241064658,"color":5},"id":"04e414e6-81bd-4987-a234-c8679407fba5","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2260,-520]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"9119acee-cf2a-43f6-b64f-d63fa3bc09a6","leftValue":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","rightValue":"g.us","operator":{"type":"string","operation":"contains"}},{"id":"48403ff8-5e45-435a-bfe7-92641ef4441a","leftValue":"={{ $('Webhook').item.json.body.data.action }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"or"},"options":{}},"id":"2129200a-887f-4cdd-8551-6226f331e715","name":"is_group","type":"n8n-nodes-base.if","typeVersion":2,"position":[240,-300]},{"parameters":{"operation":"getAll","tableId":"users","filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $('variaveis').item.json.user_message.split(\"@\")[1].substring(0, 10) }}"}]}},"id":"35f56914-cd0b-4b67-960b-7a6208f9d576","name":"Supabase - busca usuário","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2280,-60],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"content":"## Busca informações\nPega informações do grupo e de possivel mensagem respondida","height":325.62796441998967,"width":406.8130016981088,"color":4},"id":"595f00a0-0011-4fa1-8e75-d31c086a6393","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2260,-171]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cc35dc2a-54ce-455e-a921-268c0c28a4a2","leftValue":"={{ $json.whatsapp }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"81fc8cf5-0efb-4d3c-9a29-1343244f1ce3","name":"grupo_usuario_cadastrado","type":"n8n-nodes-base.if","typeVersion":2,"position":[2020,-380]},{"parameters":{"content":"## Checa se é grupo e se é comando\n","height":544.2303410100142,"width":502.4527170442141,"color":6},"id":"bfc768ed-ca0e-417c-bd2b-8871d544c668","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[220,-496.5143722817892]},{"parameters":{"url":"={{ $('variaveis').item.json.host_evolution }}/group/findGroupInfos/{{ $('variaveis').item.json.instance_evolution }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"groupJid","value":"={{ $('variaveis').item.json.chat_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('variaveis').item.json.apikey_evolution }}"}]},"options":{"redirect":{"redirect":{}}}},"id":"ebbd49b9-6f98-4575-b141-4a158a6cf2f5","name":"get_group_info","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2320,-400],"notesInFlow":true,"notes":"puxa info do grupo"},{"parameters":{"assignments":{"assignments":[{"id":"005575be-15a4-4ab8-b7f3-eb548a5b7879","name":"whatsapp","value":"={{ $('Webhook').item.json[\"body\"][\"data\"][\"key\"][\"participant\"] ? $('Webhook').item.json[\"body\"][\"data\"][\"key\"][\"participant\"].split(\"@\")[0] : $json.body.data.key.remoteJid.split(\"@\")[0] }}","type":"string"},{"id":"b03dcd99-430a-44e0-8ec7-d18bf7ed5068","name":"user_message","value":"={{ $json.body.data.message.extendedTextMessage && $json.body.data.message.extendedTextMessage.text ? $json.body.data.message.extendedTextMessage.text : ($json.body.data.message.imageMessage && $json.body.data.message.imageMessage.caption ? $json.body.data.message.imageMessage.caption : ($json.body.data.message.conversation ? $json.body.data.message.conversation : $('Webhook').item.json.body.data.message.editedMessage.message.protocolMessage.editedMessage.extendedTextMessage.text)) }}","type":"string"},{"id":"a0d11d81-89d0-4594-ba57-c109b9598299","name":"instance_id","value":"=bu9qnq7ga1eo7085dc9w6","type":"string"},{"id":"947b6267-951c-46a2-a46c-2bfeeeeadc87","name":"msg_sent","value":"={{ $json.body.date_time }}","type":"string"},{"id":"b68930cd-4c56-4e9e-b210-7d088a83ef36","name":"assistant_id","value":"asst_z7suvl0dVsf5rNWeicAjt475","type":"string"},{"id":"05ae9849-52fb-471a-8abb-60aa77eeb52b","name":"Developer_Key","value":"AIzaSyBzYmCjdHAkg4X9GJKqthauxGJCUg6K71o","type":"string"},{"id":"48c1810c-e147-495f-be11-0f62692c3bf5","name":"name","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"27b515dd-b6a0-41fa-b79e-c58da772df3e","name":"assistant_version","value":"v1","type":"string"},{"id":"4caba8d0-3f79-4f35-876a-37e3546991b7","name":"msg_type","value":"={{ $json.body.event }}","type":"string"},{"id":"1ef43203-11fc-4242-9c54-188b9d558fa5","name":"msg_channel_type","value":"={{ $json.body.type }}","type":"string"},{"id":"70064ac6-acec-4581-bd96-6475a633d98d","name":"chat_id","value":"={{ $json.body.data.key.remoteJid.split(\"@\")[0] }}","type":"string"},{"id":"e6b9b1d5-d793-4a95-a8c4-77dd80ef626d","name":"message_id","value":"={{ $json.body.data.key.id }}","type":"string"},{"id":"8819af21-9836-4cac-95e3-a77bc0cfdc9d","name":"imagem_url","value":"={{ $json.body.data.message.imageMessage.url }}","type":"string"},{"id":"95ef9e6f-d8df-4406-8a0e-938e207f29c1","name":"whats_participante","value":"={{ $json.body.data.key.participant.split(\"@\")[0] }}","type":"string"},{"id":"9e24de26-d7a5-418b-a14e-6350b4545138","name":"img_base64","value":"={{ $('Webhook').item.json.body.data.message.base64 }}","type":"string"},{"id":"c69cf6cd-dcf8-47a8-a564-5e29d4f70d99","name":"tipo","value":"={{ $json.body.data.message.base64 ? \"image\" : \"text\" }}","type":"string"},{"id":"66af3c28-b30d-41cd-b990-e8a0455b53e9","name":"tipoMidia","value":"={{ $('Webhook').item.json.body.data.messageType }}","type":"string"},{"id":"878e37e5-c135-4617-869e-5c59d8cdac88","name":"message_link","value":"={{ $json.body.data.message.extendedTextMessage.canonicalUrl }}","type":"string"},{"id":"c6d7d76b-57c4-425a-ac7c-a65462e3b8a9","name":"title_link","value":"={{ $json.body.data.message.extendedTextMessage.title }}","type":"string"},{"id":"1aa292b1-4b45-40b4-9c05-1a8683d8b110","name":"description_link","value":"={{ $json.body.data.message.extendedTextMessage.description }}","type":"string"},{"id":"9a213465-a754-459f-8df7-ed6bc465a105","name":"response_to","value":"={{ $('Webhook').item.json.body.data.message.extendedTextMessage.contextInfo.quotedMessage.conversation ? $('Webhook').item.json.body.data.message.extendedTextMessage.contextInfo.quotedMessage.conversation : $('Webhook').item.json.body.data.message.audioMessage.contextInfo.quotedMessage.conversation }}","type":"string"},{"id":"93553a5f-84be-4b25-a996-afea7a6c1d14","name":"quoted_image","value":"={{ $json.body.data.message.extendedTextMessage.contextInfo.quotedMessage.imageMessage.jpegThumbnail }}","type":"string"},{"id":"e4f9ec6a-13ce-457b-bbe5-38ee3d4e8e67","name":"reaction","value":"={{ $json.body.data.message.reactionMessage.text }}","type":"string"},{"id":"2f45ece4-7d78-4dea-8d5c-d68d0dffd90f","name":"id_msg_reagida","value":"={{ $('Webhook').item.json.body.data.message.extendedTextMessage?.contextInfo?.stanzaId \n    || $('Webhook').item.json.body.data.message.reactionMessage?.key?.id \n    || $('Webhook').item.json.body.data.message.audioMessage?.contextInfo?.stanzaId }}","type":"string"},{"id":"db0dbb21-a9d0-40e7-8898-fa037acf3c3e","name":"instance_evolution","value":"={{ $json.body.data.owner }}","type":"string"},{"id":"132557af-5585-47e5-b2d0-9446236b061a","name":"host_evolution","value":"={{ $json.body.server_url }}","type":"string"},{"id":"2ba8bad4-07e0-4539-99c7-609df68bb3fb","name":"apikey_evolution","value":"={{ $json.body.apikey }}","type":"string"}]},"includeOtherFields":true,"options":{"ignoreConversionErrors":false}},"id":"52cd4604-9412-49c7-9422-2b0f4fcaa92b","name":"variaveis","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[20,-300],"alwaysOutputData":false},{"parameters":{"operation":"update","tableId":"statistics","matchType":"allFilters","filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $('variaveis').item.json.whatsapp }}"},{"keyName":"chat_id","condition":"eq","keyValue":"={{ $('variaveis').item.json.chat_id.split(\"@\")[0] }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"group_name","fieldValue":"={{ $('get_group_info').item.json.subject }}"},{"fieldId":"messages","fieldValue":"={{ $('Supabase - busca linha estatistica').item.json.messages + 1 }}"},{"fieldId":"name","fieldValue":"={{ $('variaveis').item.json.name }}"}]}},"id":"4761f567-7ac6-45ee-85f8-1a0c6af80a5f","name":"Supabase - update statistics","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2460,780],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"update","tableId":"statistics_daily","matchType":"allFilters","filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $('variaveis').item.json.whatsapp }}"},{"keyName":"chat_id","condition":"eq","keyValue":"={{ $('variaveis').item.json.grupo.split(\"@\")[0] }}"},{"keyName":"created_at","condition":"gte","keyValue":"={{ \n  (() => {\n    const date = new Date();\n    date.setHours(date.getHours() - 3); // Ajusta a hora para GMT-3\n    return date.toISOString().split('T')[0];\n  })() \n}}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"group_name","fieldValue":"={{ $('get_group_info').item.json.subject }}"},{"fieldId":"messages","fieldValue":"={{ $('Supabase - busca linha estatistica1').item.json.messages + 1 }}"},{"fieldId":"name","fieldValue":"={{ $('variaveis').item.json.name }}"}]}},"id":"f07c1518-d19c-4c76-b518-4ac43fb8f2ce","name":"Supabase - update statistics_daily","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3220,680],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"tableId":"statistics_daily","fieldsUi":{"fieldValues":[{"fieldId":"whatsapp","fieldValue":"={{ $('variaveis').item.json.whatsapp }}"},{"fieldId":"name","fieldValue":"={{ $('variaveis').item.json.name }}"},{"fieldId":"chat_id","fieldValue":"={{ $('variaveis').item.json.chat_id.split(\"@\")[0] }}"}]}},"id":"4b915e1e-d884-43db-84e9-0c7c73ad4263","name":"Supabase15","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3220,940],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"getAll","tableId":"statistics_daily","limit":1,"matchType":"allFilters","filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $json.whatsapp }}"},{"keyName":"chat_id","condition":"eq","keyValue":"={{ $('variaveis').item.json.chat_id.split(\"@\")[0] }}"},{"keyName":"created_at","condition":"gte","keyValue":"={{ \n  (() => {\n    const date = new Date();\n    date.setHours(date.getHours() - 3); // Ajusta a hora para GMT-3\n    return date.toISOString().split('T')[0];\n  })() \n}}"}]}},"id":"9f4d7805-6d20-43c5-ba0b-7e705591ebca","name":"Supabase - busca linha estatistica1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2820,820],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cc35dc2a-54ce-455e-a921-268c0c28a4a2","leftValue":"={{ $json.whatsapp }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"af6a3110-68eb-43e6-b832-21359094eea8","name":"grupo_usuario_cadastrado1","type":"n8n-nodes-base.if","typeVersion":2,"position":[3000,820]},{"parameters":{"operation":"update","tableId":"links","matchType":"allFilters","filters":{"conditions":[{"keyName":"link","condition":"eq","keyValue":"={{ $json.link }}"},{"keyName":"chat_id","condition":"eq","keyValue":"={{ $('variaveis').item.json.chat_id.split(\"@\")[0] }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"pontos","fieldValue":"={{ $json.pontos + 1 }}"}]}},"id":"95eafad1-a42b-4de4-b4de-47c50d476e49","name":"Supabase19","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4100,40],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"tableId":"links","fieldsUi":{"fieldValues":[{"fieldId":"link","fieldValue":"={{ $('Split Out3').item.json.links }}"},{"fieldId":"group_name","fieldValue":"={{ $('get_group_info').item.json.subject }}"},{"fieldId":"chat_id","fieldValue":"={{ $('variaveis').item.json.grupo.split(\"@\")[0] }}"},{"fieldId":"message_id","fieldValue":"={{ $('Webhook').item.json.body.data.key.id }}"},{"fieldId":"context","fieldValue":"={{ $json.message.content.replaceAll(\"Descrição: \", \"\") }}"}]}},"id":"91d62dda-ef85-446e-bb1d-cb9ad95b1541","name":"Supabase20","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4800,860],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"update","tableId":"links","matchType":"allFilters","filters":{"conditions":[{"keyName":"link","condition":"eq","keyValue":"={{ $('Split Out3').item.json.links }}"},{"keyName":"chat_id","condition":"eq","keyValue":"={{ $('variaveis').item.json.grupo.split(\"@\")[0] }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"pontos","fieldValue":"={{ $('Supabase - busca o link e grupo').item.json.pontos + 1 }}"},{"fieldId":"context","fieldValue":"={{ $json.message.content.replaceAll(\"Descrição: \", \"\") }}"}]}},"id":"9b099e5b-c713-4bb3-95a6-e93813756b49","name":"Supabase21","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4800,600],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"a42e5fa9-6725-4a20-b4a6-b8656f1127e5","leftValue":"={{ \n  (() => {\n    const message = $('variaveis').item.json.user_message;\n    const urlRegex = /((?:https?:\\/\\/|www\\.|(?<!\\.))[\\w-]+(\\.[\\w-]+)+\\.?(:\\d+)?(\\/\\S*)?)/gi;\n    const links = message.match(urlRegex) || [];\n    \n    return links.length > 0 ? links : null;\n  })() \n}}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"694d16be-6179-4eb5-9e9d-3acabbb57b8a","name":"se - tem link","type":"n8n-nodes-base.if","typeVersion":2,"position":[3380,860]},{"parameters":{"operation":"getAll","tableId":"links","limit":1,"matchType":"allFilters","filters":{"conditions":[{"keyName":"link","condition":"eq","keyValue":"={{ $json.links }}"},{"keyName":"chat_id","condition":"eq","keyValue":"={{ $('variaveis').item.json.chat_id.split(\"@\")[0] }}"}]}},"id":"9c08badb-a260-4562-8a55-1f857ffc4dd1","name":"Supabase - busca o link e grupo","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3860,720],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cc35dc2a-54ce-455e-a921-268c0c28a4a2","leftValue":"={{ $('Supabase - busca o link e grupo').item.json.link }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{"ignoreCase":true}},"id":"b051f1d3-096e-46c6-a23c-4c173d600e33","name":"se link já cadastrado","type":"n8n-nodes-base.if","typeVersion":2,"position":[4380,720]},{"parameters":{"content":"## Reações\nSalva a reação e a mensagem respondida","height":112.29434538885582,"width":286.0096270660209,"color":6},"id":"56466aea-6af7-48c3-a49f-d3d389489820","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1920,240]},{"parameters":{"content":"## Audios\nTranscreve o áudio e guarda como mensagem","height":112.29434538885582,"width":286.0096270660209,"color":6},"id":"7fc72483-93f7-4d4b-8f1b-b404088790a1","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1920,420]},{"parameters":{"content":"## Imagens\nLê e cria uma descrição para a imagem","height":112.29434538885582,"width":286.0096270660209,"color":6},"id":"426e462e-3754-4faf-ae72-e13fa0ca97b5","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1920,600]},{"parameters":{"content":"## Mensagem de texto\nSalva a mensagem, links, respostas etc","height":112.29434538885582,"width":286.0096270660209,"color":6},"id":"a5499c3b-b3e8-45cb-bd18-a169646689d8","name":"Sticky Note14","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1920,780]},{"parameters":{"fieldToSplitOut":"links","options":{}},"id":"6f77d28c-1146-4f2a-b40c-935594ef4308","name":"Split Out3","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[3700,720],"notesInFlow":true,"notes":"separa os links em itens"},{"parameters":{"assignments":{"assignments":[{"id":"5806eff0-ac24-4c44-9523-f1f904b97df6","name":"links","value":"={{ \n  (() => {\n    const message = $('variaveis').item.json.user_message.toLowerCase();\n    const urlRegex = /((?:https?:\\/\\/|www\\.|(?<!\\.))[\\w-]+(\\.[\\w-]+)+\\.?(:\\d+)?(\\/\\S*)?)/gi;\n    const links = message.match(urlRegex) || [];\n    \n    return links.length > 0 ? links : null;\n  })() \n}}","type":"array"},{"id":"93db6188-a208-4fe9-9425-cf746db7b898","name":"message","value":"={{ $('variaveis').item.json.user_message }}","type":"string"}]},"options":{}},"id":"1c48906b-d0c9-421e-9a03-7a1682e6b665","name":"set_links","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3540,720],"notesInFlow":true,"notes":"pega os links"},{"parameters":{"operation":"getAll","tableId":"links","limit":1,"matchType":"allFilters","filters":{"conditions":[{"keyName":"link","condition":"eq","keyValue":"={{ $json.links }}"},{"keyName":"chat_id","condition":"eq","keyValue":"={{ $('variaveis').item.json.chat_id.split(\"@\")[0] }}"}]}},"id":"287ae488-3734-4029-84b2-3660c8550307","name":"Supabase - busca link no bd","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3960,40],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"fieldToSplitOut":"links","options":{}},"id":"5c9d8637-e5cd-442a-bd10-20f0ad71acc9","name":"Split Out4","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[3800,40],"notesInFlow":true,"notes":"separa os links em itens"},{"parameters":{"assignments":{"assignments":[{"id":"5806eff0-ac24-4c44-9523-f1f904b97df6","name":"links","value":"={{ \n  (() => {\n    const message = $('Supabase1').item.json.response_to;\n    const urlRegex = /((?:https?:\\/\\/|www\\.|(?<!\\.))[\\w-]+(\\.[\\w-]+)+\\.?(:\\d+)?(\\/\\S*)?)/gi;\n    const links = message.match(urlRegex) || [];\n    \n    return links.length > 0 ? links : null;\n  })() \n}}","type":"array"},{"id":"93db6188-a208-4fe9-9425-cf746db7b898","name":"message","value":"={{ $('variaveis').item.json.user_message }}","type":"string"}]},"options":{}},"id":"7e8d6f1d-298f-48a5-84f1-c0e874275acc","name":"set_links1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3640,40],"notesInFlow":true,"notes":"pega os links"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=você recebe uma mensagem que contém a descrição. Identifique este contexto e gere uma descrição para a utilidade deste conteúdo. Seja breve e apenas fale sobre o que o conteúdo se trata.\nSua mensagem precisa conter a descrição direto ao ponto\nA sua saída já é a mensagem enviada, então já inicie direto ao ponto mostrando a descrição\n{{ $json.context ? \"já temos um contexto do link. Misture ou se necessário substitua pelo do usuário\" + $json.context : \"\" }}","role":"assistant"},{"content":"={{ $('variaveis').item.json.user_message.replaceAll($('set_links').item.json[\"links\"][0], \"\") }}"}]},"options":{}},"id":"a6f6eb03-2c6b-43d9-88c0-44d7e67ccfbb","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.4,"position":[4040,720],"credentials":{"openAiApi":{"id":"neTK4UBDC4tLBdAV","name":"G4 educação"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"99e37adf-50d3-4e0c-9a52-f22942ae9306","leftValue":"={{ $('variaveis').item.json.user_message.split(\"\")[0] }}","rightValue":"!","operator":{"type":"string","operation":"equals"}},{"id":"11f4b235-9573-438c-8033-47a749be7f34","leftValue":"={{ $('Webhook').item.json.body.data.message.reactionMessage.text }}","rightValue":"=❌","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"id":"b957bf62-50bb-4dd8-8b97-12b6903501fd","name":"is_command1","type":"n8n-nodes-base.if","typeVersion":2,"position":[400,-440]},{"parameters":{"workflowId":"4pCoHjGYVXLTNanj","options":{}},"id":"a5b36aaf-1b32-4320-af7e-23d4ea00f1ae","name":"Execute Workflow1","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[480,120]},{"parameters":{"operation":"update","tableId":"statistics","matchType":"allFilters","filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $('variaveis').item.json.whatsapp }}"},{"keyName":"chat_id","condition":"eq","keyValue":"={{ $('variaveis').item.json.chat_id.split(\"@\")[0] }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"group_name","fieldValue":"={{ $('get_group_info').item.json.subject }}"},{"fieldId":"reactions","fieldValue":"={{ $('Supabase - busca linha estatistica').item.json.reactions + 1 }}"}]}},"id":"9d009fc3-98e1-42cd-82b5-e5e32acb2238","name":"Supabase - statistics","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2820,240],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"7f765501-7995-4c4b-8047-e131cd9bc19b","leftValue":"={{ \n  (() => {\n    const message = $('Supabase1 - id resposta').item.json.message;\n    const urlRegex = /((?:https?:\\/\\/|www\\.|(?<!\\.))[\\w-]+(\\.[\\w-]+)+\\.?(:\\d+)?(\\/\\S*)?)/gi;\n    const links = message.match(urlRegex) || [];\n    \n    return links.length > 0 ? links : null;\n  })() \n}}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"04458014-d95b-480d-a56b-4a349c56056d","name":"if link","type":"n8n-nodes-base.if","typeVersion":2,"position":[3400,60]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"60e3853e-d8a1-4e2d-bfa8-a5e15ec75bef","leftValue":"={{ $('Webhook').item.json.body.data.message.reactionMessage.key.id }}","rightValue":"={{ $json.message_id }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"0a13523b-7f56-4cbf-afb8-c42fe27a2540","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[3200,240]},{"parameters":{"operation":"get","tableId":"summaries","filters":{"conditions":[{"keyName":"message_id","keyValue":"={{ $('Webhook').item.json.body.data.message.reactionMessage.key.id }}"}]}},"id":"3dca3573-7087-4db5-9996-483135bc21f9","name":"Supabase3","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3040,240],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"operation":"update","tableId":"summaries","filters":{"conditions":[{"keyName":"message_id","condition":"eq","keyValue":"={{ $('Webhook').item.json.body.data.message.reactionMessage.key.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"score","fieldValue":"={{ $json.score +1 }} "}]}},"id":"daf0aa8b-1224-47f1-82d1-586190722d42","name":"Supabase4","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3400,260],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"content":"## Checa cadastro do grupo\ncaso não tenha, cria a entrada no bd","height":445.78326861611566,"width":461.467840124591,"color":7},"id":"72e34ddd-9fb4-483c-b1d4-d45d9ab4c5a0","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[760,-500]},{"parameters":{"operation":"getAll","tableId":"groups","limit":1,"filters":{"conditions":[{"keyName":"chat_id","condition":"eq","keyValue":"={{ $json.chat_id }}"}]}},"id":"0d457dbf-03ab-4f15-8976-742d1ff5d2e1","name":"Supabase - busco o usuário1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[860,-400],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"tableId":"groups","fieldsUi":{"fieldValues":[{"fieldId":"chat_id","fieldValue":"={{ $('variaveis').item.json.chat_id }}"}]}},"id":"76f9ed4d-97ad-41a0-8c42-bd69349dfedf","name":"Supabase - cadastro usuário1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1020,-260],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"dd1d069d-7a6c-4f68-9228-1a703ef0400f","leftValue":"={{ $json.chat_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"4c6310b7-8f3e-40de-a45a-476ed5eac0c8","name":"tem_cadastro1","type":"n8n-nodes-base.if","typeVersion":2,"position":[1020,-400]},{"parameters":{"operation":"update","tableId":"groups","filters":{"conditions":[{"keyName":"chat_id","condition":"eq","keyValue":"={{ $('get_group_info').item.json.id.split(\"@\")[0] }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"group_name","fieldValue":"={{ $('get_group_info').item.json.subject }}"}]}},"id":"cbb5d47e-100e-448f-9ccd-0690ad4d1d24","name":"Supabase6","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2860,-440],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"MGM"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"99e37adf-50d3-4e0c-9a52-f22942ae9306","leftValue":"={{ $('variaveis').item.json.user_message.split(\"\")[0] }}","rightValue":"!","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"d6a40c03-e8f3-441f-8143-6a83de4faeb0","name":"is_command","type":"n8n-nodes-base.if","typeVersion":2,"position":[560,-180]},{"parameters":{"workflowId":"F8fpegSMHK79B34S","options":{}},"id":"2c1fffa0-d3e4-46e5-a224-c48f775e9e5b","name":"Execute Workflow2","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[480,300]},{"parameters":{"content":"## Grupo - comandos\nTodos os comandos em grupo rodarão aqui","height":112.29434538885582,"width":286.0096270660209,"color":3},"id":"f28c8c40-a6d6-47cb-9817-720e04bf8a7c","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[100,120]},{"parameters":{"content":"## Privado - comandos\nTodos os comandos no chat do assistnt rodarão aqui","height":112.29434538885582,"width":286.0096270660209,"color":3},"id":"e537ae89-4b22-4370-bb51-385411d56d82","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[100,300]},{"parameters":{"content":"## Privado - IA\nA conversação com o assistant no privado rodará aqui","height":112.29434538885582,"width":286.0096270660209,"color":3},"id":"3cf11183-3419-4c68-91e1-ba9c5a68c123","name":"Sticky Note12","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[100,480]},{"parameters":{"httpMethod":"POST","path":"microsaas-tracker","options":{}},"id":"20317b39-dced-41f0-aabf-0a7df420afaa","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[-160,-300],"webhookId":"26e58c23-2573-42a5-be8a-b5887c45b8c7"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"145c3b7d-860e-426c-8eb7-02b03184f098","leftValue":"={{ $json.reaction }}","rightValue":"1️⃣","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"45e89664-1a75-4cb1-a8e9-bd69cf85bbde","leftValue":"={{ $json.reaction }}","rightValue":"2️⃣","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"bcf688d0-f1af-4753-9120-e2ee095fd247","leftValue":"={{ $json.reaction }}","rightValue":"3️⃣","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"868cc266-f4f2-4562-bc44-112618d4bedd","leftValue":"={{ $json.reaction }}","rightValue":"4️⃣","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"3c7daefc-e520-4634-99e8-f8e98e06ebbe","leftValue":"={{ $json.reaction }}","rightValue":"5️⃣","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"adb8206b-f0aa-48db-8378-044e00d4257e","leftValue":"={{ $json.reaction }}","rightValue":"6️⃣","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"befa3aa5-63f9-4fca-a64e-f8007942a18d","leftValue":"={{ $json.reaction }}","rightValue":"7️⃣","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"2065d6fb-e7da-4476-9b97-ddfa52ccabbf","leftValue":"={{ $json.reaction }}","rightValue":"8️⃣","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"1451e390-afda-48c6-91b6-ffffbb8fa7cd","leftValue":"={{ $json.reaction }}","rightValue":"9️⃣","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"250b19bb-eb4f-441a-bb80-013c79baa593","leftValue":"={{ $json.reaction }}","rightValue":"🔟","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"id":"9f888568-d83f-4959-b90f-259f33856f9a","name":"If1","type":"n8n-nodes-base.if","typeVersion":2,"position":[560,-420]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.data.message.reactionMessage }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"reaction"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"611b659b-5254-47f7-aee3-5bc2d424b905","leftValue":"={{ $('variaveis').item.json.tipoMidia }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"9ced64a5-00c5-4b5b-9838-558f49a79e4f","leftValue":"={{ $('variaveis').item.json.tipoMidia }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c9382541-7021-4264-8224-3d5f70556fef","leftValue":"={{ $('variaveis').item.json.user_message.length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"renameOutput":true,"outputKey":"message"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"1d808e04-0a06-4025-83ae-f07437eda45b","leftValue":"={{ $('variaveis').item.json.tipoMidia }}","rightValue":"videoMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"videoMessage"}]},"options":{}},"id":"4add0acc-e4bc-40b1-a4b2-2cd16ed62f26","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[2460,-60]}],"connections":{"Supabase":{"main":[[{"node":"Supabase - update statistics","type":"main","index":0}]]},"Supabase1":{"main":[[{"node":"Supabase - statistics","type":"main","index":0}]]},"Vision - gpt-4o":{"main":[[{"node":"Supabase7","type":"main","index":0}]]},"Supabase7":{"main":[[{"node":"Supabase14","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Transcrever audio","type":"main","index":0}]]},"pega mp4 do audio3":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Transcrever audio":{"main":[[{"node":"Supabase8","type":"main","index":0}]]},"Supabase8":{"main":[[{"node":"Supabase13","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"Supabase1 - id resposta":{"main":[[{"node":"Supabase - busca usuário","type":"main","index":0},{"node":"Supabase6","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"Supabase1","type":"main","index":0}]]},"Supabase11":{"main":[[{"node":"Supabase - busca linha estatistica","type":"main","index":0}]]},"Supabase - busca linha estatistica":{"main":[[{"node":"grupo_usuario_cadastrado","type":"main","index":0}]]},"Supabase - busco o usuário":{"main":[[{"node":"tem_cadastro","type":"main","index":0}]]},"Supabase - cadastro usuário":{"main":[[{"node":"Supabase - busco o usuário","type":"main","index":0}]]},"tem_cadastro":{"main":[[{"node":"Supabase - busca linha estatistica","type":"main","index":0}],[{"node":"Supabase - cadastro usuário","type":"main","index":0}]]},"is_group":{"main":[[{"node":"is_command1","type":"main","index":0}],[{"node":"is_command","type":"main","index":0}]]},"Supabase - busca usuário":{"main":[[{"node":"Switch","type":"main","index":0}]]},"grupo_usuario_cadastrado":{"main":[[{"node":"get_group_info","type":"main","index":0}],[{"node":"Supabase11","type":"main","index":0}]]},"get_group_info":{"main":[[{"node":"Supabase1 - id resposta","type":"main","index":0}]]},"variaveis":{"main":[[{"node":"is_group","type":"main","index":0}]]},"Supabase - update statistics":{"main":[[{"node":"Supabase - busca linha estatistica1","type":"main","index":0}]]},"Supabase - update statistics_daily":{"main":[[{"node":"se - tem link","type":"main","index":0}]]},"Supabase15":{"main":[[{"node":"Supabase - busca linha estatistica1","type":"main","index":0}]]},"Supabase - busca linha estatistica1":{"main":[[{"node":"grupo_usuario_cadastrado1","type":"main","index":0}]]},"grupo_usuario_cadastrado1":{"main":[[{"node":"Supabase - update statistics_daily","type":"main","index":0}],[{"node":"Supabase15","type":"main","index":0}]]},"se - tem link":{"main":[[{"node":"set_links","type":"main","index":0}]]},"Supabase - busca o link e grupo":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"se link já cadastrado":{"main":[[{"node":"Supabase21","type":"main","index":0}],[{"node":"Supabase20","type":"main","index":0}]]},"Split Out3":{"main":[[{"node":"Supabase - busca o link e grupo","type":"main","index":0}]]},"set_links":{"main":[[{"node":"Split Out3","type":"main","index":0}]]},"Supabase - busca link no bd":{"main":[[{"node":"Supabase19","type":"main","index":0}]]},"Split Out4":{"main":[[{"node":"Supabase - busca link no bd","type":"main","index":0}]]},"set_links1":{"main":[[{"node":"Split Out4","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"se link já cadastrado","type":"main","index":0}]]},"is_command1":{"main":[[{"node":"Execute Workflow1","type":"main","index":0}],[{"node":"If1","type":"main","index":0}]]},"Supabase - statistics":{"main":[[{"node":"Supabase3","type":"main","index":0}]]},"if link":{"main":[[{"node":"set_links1","type":"main","index":0}]]},"If":{"main":[[{"node":"if link","type":"main","index":0}],[{"node":"Supabase4","type":"main","index":0}]]},"Supabase3":{"main":[[{"node":"If","type":"main","index":0}]]},"Supabase - busco o usuário1":{"main":[[{"node":"tem_cadastro1","type":"main","index":0}]]},"Supabase - cadastro usuário1":{"main":[[{"node":"Supabase - busco o usuário1","type":"main","index":0}]]},"tem_cadastro1":{"main":[[{"node":"Supabase - busco o usuário","type":"main","index":0}],[{"node":"Supabase - cadastro usuário1","type":"main","index":0}]]},"is_command":{"main":[[{"node":"Execute Workflow2","type":"main","index":0}],[{"node":"Execute Workflow","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"variaveis","type":"main","index":0}]]},"If1":{"main":[[{"node":"Execute Workflow1","type":"main","index":0}],[{"node":"Supabase - busco o usuário1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[{"node":"pega mp4 do audio3","type":"main","index":0}],[{"node":"Vision - gpt-4o","type":"main","index":0}],[{"node":"Supabase","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook.sincronia.digital","user-agent":"axios/1.6.2","content-length":"569","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"104.237.3.123","x-forwarded-host":"webhook.sincronia.digital","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"31e0f1d9720a","x-real-ip":"104.237.3.123"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"MGM2","data":{"key":{"remoteJid":"120363297724171759@g.us","fromMe":false,"id":"3AAC1B07530CAFE520DE","participant":"18565158776@s.whatsapp.net"},"pushName":"By Sandra Helena","message":{"conversation":"Eu também sou"},"messageType":"conversation","messageTimestamp":1721670270,"owner":"MGM2","source":"ios"},"destination":"https://webhook.sincronia.digital/webhook/mgm2","date_time":"2024-07-22T14:44:30.554Z","sender":"551151972650@s.whatsapp.net","server_url":"https://evo.controlsaas.com.br","apikey":"rk0wlkfv3hjp8nfar56wd"},"webhookUrl":"https://webhook.sincronia.digital/webhook/mgm2","executionMode":"production"}}]},"versionId":"b809892a-ca05-4e35-800d-1a518a719ef8","triggerCount":1,"tags":[{"createdAt":"2024-07-22T21:06:40.448Z","updatedAt":"2024-07-22T21:06:40.448Z","id":"RX2ESLnM0IynaKQR","name":"MGM2"}]}