microsaas---notify.json
{"createdAt":"2024-06-26T23:59:01.017Z","updatedAt":"2024-07-07T09:45:05.146Z","id":"n75MajIBOljroY2g","name":"MICROSAAS - Notify","active":true,"nodes":[{"parameters":{"operation":"create","databaseId":132,"tableId":725,"fieldsUi":{"fieldValues":[{"fieldId":6828,"fieldValue":"={{ $('Edit Fields2').item.json['Título'] }}"},{"fieldId":6829,"fieldValue":"={{ $('Edit Fields2').item.json['Descrição'] }}"},{"fieldId":6830,"fieldValue":"={{ $('Edit Fields2').item.json.url }}"}]}},"id":"526286e9-6ce5-4afa-9c9d-c22fb0e4ab50","name":"Baserow1","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[2900,340],"credentials":{"baserowApi":{"id":"wpjMUaOCXymI7BxX","name":"SincronIA"}}},{"parameters":{"method":"POST","url":"https://new-api.zapsterapi.com/v1/wa/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"instance_id","value":"=bu9qnq7ga1eo7085dc9w6"},{"name":"recipient","value":"=5519994317797"},{"name":"text","value":"=Nova postagem no themove.gg!\n*Titulo:  {{ $('Baserow1').item.json[\"Title\"] }}*\n*Headline:*  {{ $('Baserow1').item.json[\"Sub Headline\"] }}\n*Link:*  {{ $('Baserow1').item.json[\"Link\"] }}\n*id: {{ $('Baserow1').item.json[\"id\"] }}*\n\n*{{ $('OpenAI2').item.json[\"message\"][\"content\"] }}*\nManda a ver *!post id:{{ $('Baserow1').item.json[\"id\"] }}*"},{"name":"auto_mention","value":true}]},"options":{"redirect":{"redirect":{}},"response":{"response":{"neverError":true}}}},"id":"a38c57dd-cf7b-476d-b385-e59f92e9e9bd","name":"Send whats TXT response20","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2720,-740],"credentials":{"httpHeaderAuth":{"id":"tNuCDbQcZLCgByfF","name":"Zapster api key"}}},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/Furia","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $json.Group_id }}@g.us"},{"name":"textMessage.text","value":"={{ $('OpenAI').item.json[\"message\"][\"content\"].replaceAll(\"**\",\"*\").replaceAll(\"[Link]\",\"\") }}{{ $('Code').first().json.encodedUrl }}"},{"name":"options.delay","value":"={{ 1500 }}"},{"name":"options.presence","value":"composing"}]},"options":{"redirect":{"redirect":{}},"response":{"response":{"neverError":true}}}},"id":"173197a1-c637-431c-8380-5751400a258e","name":"Send whats TXT response19","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2560,-980],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}}},{"parameters":{"databaseId":132,"tableId":725,"additionalOptions":{"filters":{"fields":[{"field":6828,"value":"={{ $('Edit Fields2').item.json['Título'] }}"}]}}},"id":"0d31d450-272a-44a7-8d7c-cea6ef05bb0e","name":"Baserow2","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[2240,320],"alwaysOutputData":true,"credentials":{"baserowApi":{"id":"wpjMUaOCXymI7BxX","name":"SincronIA"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"0b49d1e8-e7df-47dd-b6fb-a01e219c8f1a","leftValue":"={{ $json.Title }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"fc21ddd4-e739-4452-b08a-ad5d605b9907","name":"If2","type":"n8n-nodes-base.if","typeVersion":2,"position":[2500,320],"alwaysOutputData":false},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/{{ $('Webhook').item.json.body.data.owner }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Variáveis').item.json.apikey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Webhook').first().json.body.data.key.remoteJid }}"},{"name":"textMessage.text","value":"={{ $('Get last message').item.json.data[0].content[0].text.value }}\n\n*(tokens gastos: {{ $('Get Run Status').item.json.usage.total_tokens }}\nmodelo usado: {{ $('Get Run Status').item.json.model }})*"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"e5ab779d-81f7-4dc0-ad49-036d1c3fcf6d","name":"Send whats TXT response","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2300,-740]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-3.5-turbo-16k","mode":"list","cachedResultName":"GPT-3.5-TURBO-16K"},"messages":{"values":[{"content":"=você é o Pantero, um estagiário descolado e meio sem paciência. Você representa o clã Furia e conversa diretamente com o time. Você vai ler o titulo e a headline de um artigo e vai perguntar pra nossa equipe se quer que você anuncie este artigo para a comunidade. Se o time deixar, você anunciará!\n\nvocê nao precisa entrar nos links, apenas ler as informações, resumir e devolver num formato que eu possa mandar no grupo de whatsapp.\nsua função é gerar essa mensagem como se fosse uma notificação automatica enviada no grupos\n\n- a sua saída já será a mensagem enviada, então já fale sempre como o Pantero, pois tem personalidade da marca Fúria para falar com a comunidade. \n- Você tem uma personalidade forte. Quando for falar de outras equipes, fale em tom de sarcasmo e se perderem tire sarro. Aqui nós só gostamos da Furia\n- use emogis com reações para se expressar\n- Não use sentenças no diminutivo. Isso não combina com a persona do Pantero que é furioso\n\nApenas pergunte se a equipe quer que você anuncie esse artigo. Alguns detalhes interessantes:\n- Se for algo relacionado a derrota de outras equipes, implore para postar pra poder zoar no grupo!!!\n- Se for algo relacionado a outras equipes, vitorias, campeonatos que outros venceram, mostre desinteresse e seja sarcástico quanto a postagem dessas notícias\n- Use a sua personalidade forte do Pantero para pedir isso\n- Você precisa fazer apenas uma frase perguntando se é pra postar e pedindo \"pelo comando\"\nporque se a equipe der o comando você vai postar, então peça pelo comando pra poder postar\n- não diga nada do que você é, apenas aja com a sua personalidade\n\nA sua saída deve ser algo parecido com um desses 4 exemplos (faça variações aleatorias): 1- \"novo post sobre... posso postar falando tal tal e tal?\"\n2- \"nova postagem encontrada! Galera, se eu postar falando isso e isso vai ser top demais. Posso?\"\n3- \"nova postagem sobre essa equipe. Na moral galera, não me façam postar sobre essa porcaria...\"\n4- \"opaaa deixa eu postar essa vai? kkkk nao vejo a hora de zoar esse time horroroso!\"\nÉ importante você criar suas próprias variações em cima destes exemplos. Não use exatamente eles\n\naqui está as informações do artigo que você vai anunciar:\nTitulo: {{ $json[\"Title\"] }}\nHeadline: {{ $json[\"Sub Headline\"] }}\n"}]},"options":{"maxTokens":85}},"id":"5c1b46c4-3c72-426b-9943-8ddb9f8d6591","name":"OpenAI2","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[2520,-740],"credentials":{"openAiApi":{"id":"K8FfxMZ9IgSFVC2G","name":"FURIA - Pantero"}}},{"parameters":{"jsCode":"// Receber a URL da variável de entrada\nconst url = $('Edit Fields2').first().json.url;\n\n// Função para codificar a URL\nfunction encodeURL(url) {\n    return encodeURI(url);\n}\n\n// Codificar a URL\nconst encodedUrl = encodeURL(url);\n\n// Retornar a URL codificada\nreturn {\n    encodedUrl: encodedUrl\n};"},"id":"31df42e6-4e3b-4807-bd7c-d72f3f034e9f","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[2040,320]},{"parameters":{"options":{}},"id":"72d54b7f-b5cc-4731-bdb1-20afab28d001","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2300,-960]},{"parameters":{"amount":4},"id":"9e8211f8-89ae-488e-a1ae-77c7452c40df","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2780,-960],"webhookId":"53b11e8b-e7fc-470d-9294-c7b8148dceb6"},{"parameters":{"url":"https://commentpicker.com/actions/youtube-channel-id.php","sendQuery":true,"queryParameters":{"parameters":[{"name":"url","value":"=https://www.googleapis.com/youtube/v3/channels?part=id,snippet,statistics,contentDetails,status&forHandle={{ $item(\"0\").$node[\"Set Channel Username\"].json[\"channel name\"] }}"},{"name":"token","value":"={{ $item(\"0\").$node[\"Get Temporary Token\"].json[\"data\"] }}"},{"name":"isPremium","value":"false"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"authority","value":"commentpicker.com"},{"name":"cookie","value":"ezosuibasgeneris-1=690da322-c7c8-44e2-6154-8591a44d12aa; ezoab_186623=mod99-c; active_template::186623=pub_site.1711138973; lp_186623=https://commentpicker.com/youtube-channel-id.php; fontsLoaded=true; PHPSESSID=12ltjv3rr293h943c8h35nh3cg"},{"name":"referer","value":"https://commentpicker.com/youtube-channel-id.php"},{"name":"user-agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.0.0 Safari/537.36 Edg/122.0.0.0"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"name":"Get Channel ID","type":"n8n-nodes-base.httpRequest","position":[2620,-480],"notesInFlow":true,"typeVersion":4.1,"id":"deb28db3-98fe-4af5-8d84-f34f645716ee","notes":"3rd party API request"},{"parameters":{"assignments":{"assignments":[{"id":"bf0ea151-e325-4860-af02-76e51f692f2c","name":"rss","type":"string","value":"=https://www.youtube.com/feeds/videos.xml?channel_id={{ $json.items[0].id }}"}]},"options":{}},"name":"Set XML URL","type":"n8n-nodes-base.set","position":[2820,-480],"notesInFlow":true,"typeVersion":3.3,"id":"cd737a9f-c8ce-4277-bfea-338a47aa5c4b","notes":"🤖Generate XML Feed URL"},{"parameters":{"assignments":{"assignments":[{"id":"0837a847-4c6b-4b39-bb90-f200233bf7e1","name":"channel name","type":"string","value":"={{ $item(\"0\").$node[\"Switch\"].json[\"value\"] }}"}]},"options":{}},"name":"Set Channel Username","type":"n8n-nodes-base.set","position":[2440,-480],"typeVersion":3.3,"id":"0b724222-c2a4-487c-a4dd-1c4b021a3118"},{"parameters":{"assignments":{"assignments":[{"id":"bf0ea151-e325-4860-af02-76e51f692f2c","name":"rss","type":"string","value":"=https://www.youtube.com/feeds/videos.xml?channel_id={{ $item(\"0\").$node[\"Switch\"].json[\"value\"] }}"}]},"options":{}},"name":"Set XML Feed URL","type":"n8n-nodes-base.set","position":[2820,-300],"notesInFlow":true,"typeVersion":3.3,"id":"e55de606-a79b-459c-968c-60efc4c0360b","notes":"🤖Generate XML Feed URL"},{"parameters":{"assignments":{"assignments":[{"id":"0837a847-4c6b-4b39-bb90-f200233bf7e1","name":"Video ID","type":"string","value":"={{ $item(\"0\").$node[\"Switch\"].json[\"value\"] }}"}]},"options":{}},"name":"Set Video ID","type":"n8n-nodes-base.set","position":[2440,-120],"typeVersion":3.3,"id":"4d1273fd-068b-47f6-b874-84344b739a4b"},{"parameters":{"url":"https://commentpicker.com/actions/youtube-channel-id.php","sendQuery":true,"queryParameters":{"parameters":[{"name":"url","value":"=https://www.googleapis.com/youtube/v3/videos?part=snippet&id={{ $json[\"Video ID\"] }}"},{"name":"token","value":"={{ $item(\"0\").$node[\"GTT\"].json[\"data\"] }}"},{"name":"isPremium","value":"true"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"authority","value":"commentpicker.com"},{"name":"cookie","value":"ezosuibasgeneris-1=690da322-c7c8-44e2-6154-8591a44d12aa; ezoab_186623=mod99-c; active_template::186623=pub_site.1711138973; lp_186623=https://commentpicker.com/youtube-channel-id.php; fontsLoaded=true; PHPSESSID=12ltjv3rr293h943c8h35nh3cg"},{"name":"referer","value":"https://commentpicker.com/youtube-channel-id.php"},{"name":"user-agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.0.0 Safari/537.36 Edg/122.0.0.0"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"name":"Get Video ID Channel ID","type":"n8n-nodes-base.httpRequest","position":[2620,-120],"notesInFlow":true,"typeVersion":4.1,"id":"721585bd-9623-4923-b979-865bb54602ff","notes":"3rd party API request"},{"parameters":{"assignments":{"assignments":[{"id":"bf0ea151-e325-4860-af02-76e51f692f2c","name":"rss","type":"string","value":"=https://www.youtube.com/feeds/videos.xml?channel_id={{ $item(\"0\").$node[\"Get Video ID Channel ID\"].json[\"items\"][\"0\"][\"snippet\"][\"channelId\"] }}"}]},"options":{}},"name":"Set XML Feed","type":"n8n-nodes-base.set","position":[2820,-120],"notesInFlow":true,"typeVersion":3.3,"id":"cb66ae04-36f9-49ae-aee3-0adafe7661ef","notes":"🤖Generate XML Feed URL"},{"parameters":{"url":"https://commentpicker.com/actions/token.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"authority","value":"commentpicker.com"},{"name":"cookie","value":"ezosuibasgeneris-1=690da322-c7c8-44e2-6154-8591a44d12aa; fontsLoaded=true; PHPSESSID=12ltjv3rr293h943c8h35nh3cg; ezoab_186623=mod54-c; active_template::186623=pub_site.1711191989"},{"name":"referer","value":"https://commentpicker.com/youtube-channel-id.php"},{"name":"user-agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.0.0 Safari/537.36 Edg/122.0.0.0"}]},"options":{}},"name":"Get Temporary Token","type":"n8n-nodes-base.httpRequest","position":[2240,-480],"notesInFlow":true,"typeVersion":4.1,"id":"ad0f422e-9d01-4e7e-9926-b4eccf0874d2","notes":"3rd party API request"},{"parameters":{"url":"https://commentpicker.com/actions/token.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"authority","value":"commentpicker.com"},{"name":"cookie","value":"ezosuibasgeneris-1=690da322-c7c8-44e2-6154-8591a44d12aa; fontsLoaded=true; PHPSESSID=12ltjv3rr293h943c8h35nh3cg; ezoab_186623=mod54-c; active_template::186623=pub_site.1711191989"},{"name":"referer","value":"https://commentpicker.com/youtube-channel-id.php"},{"name":"user-agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.0.0 Safari/537.36 Edg/122.0.0.0"}]},"options":{}},"name":"GTT","type":"n8n-nodes-base.httpRequest","position":[2240,-120],"notesInFlow":true,"typeVersion":4.1,"id":"91ed81aa-01e2-408b-83df-b8fe0bc9ac74","notes":"3rd party API request"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.type }}","rightValue":"channel username"}]},"renameOutput":true,"outputKey":"Username"},{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"5af4921b-6266-436a-901c-ab52de68aaf4","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.type }}","rightValue":"=channel ID"}]},"renameOutput":true,"outputKey":"Direct"},{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"a5baa5e6-879f-484a-b521-af802b6d79a9","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.type }}","rightValue":"=video ID"}]},"renameOutput":true,"outputKey":"Video-ID"}]},"options":{}},"name":"Switch","type":"n8n-nodes-base.switch","position":[1980,-300],"typeVersion":3,"id":"27812008-bbb9-4ccd-8c7f-7b61112d4c19"},{"parameters":{"jsCode":"// JavaScript code to extract YouTube channel ID, username, or video ID from a given input and return in n8n compatible format\n\n// Initialize an array to hold the output items\nconst items = [];\n\n// Extract the input value from the previous node's output using the $input API\nconst inputData = $input.all(); // Get all input data\n// Assuming 'youtube Channel username or ID' is the correct key, and it's in the first input item\nconst input = inputData.length > 0 ? inputData[0].json[\"youtube Channel username or ID\"] : null;\n\n// Check if input exists\nif (!input) {\n    throw new Error('Input is undefined or not provided');\n}\n\n// Regular expressions for different YouTube URL and input formats\nconst usernamePattern = /^@?([a-zA-Z0-9_-]+)$/;\nconst channelIdPattern = /^(UC[a-zA-Z0-9_-]{22})$/; // Ensure channel ID starts with \"UC\"\nconst videoUrlPattern1 = /(?:https?:\\/\\/)?www\\.youtube\\.com\\/watch\\?v=([a-zA-Z0-9_-]+)/;\nconst videoUrlPattern2 = /(?:https?:\\/\\/)?youtu\\.be\\/([a-zA-Z0-9_-]+)/;\nconst channelUrlPattern1 = /(?:https?:\\/\\/)?www\\.youtube\\.com\\/@([a-zA-Z0-9_-]+)/;\nconst channelUrlPattern2 = /(?:https?:\\/\\/)?www\\.youtube\\.com\\/channel\\/(UC[a-zA-Z0-9_-]{22})/;\nconst customChannelUrlPattern = /(?:https?:\\/\\/)?www\\.youtube\\.com\\/c\\/([a-zA-Z0-9_-]+)/; // Pattern for custom channel URLs\n\n// Function to determine the type and value of the input\nfunction determineTypeAndValue(input) {\n    if (channelIdPattern.test(input)) {\n        return { type: 'channel ID', value: input };\n    } else if (usernamePattern.test(input)) {\n        return { type: 'channel username', value: input };\n    } else if (videoUrlPattern1.test(input) || videoUrlPattern2.test(input)) {\n        const videoId = videoUrlPattern1.test(input) ? input.match(videoUrlPattern1)[1] : input.match(videoUrlPattern2)[1];\n        return { type: 'video ID', value: videoId };\n    } else if (channelUrlPattern1.test(input) || customChannelUrlPattern.test(input)) {\n        const username = channelUrlPattern1.test(input) ? input.match(channelUrlPattern1)[1] : input.match(customChannelUrlPattern)[1];\n        return { type: 'channel username', value: username };\n    } else if (channelUrlPattern2.test(input)) {\n        return { type: 'channel ID', value: input.match(channelUrlPattern2)[1] };\n    } else {\n        return { error: 'Invalid input or unsupported format.' };\n    }\n}\n\n// Process the input and add the result to the items array\nconst result = determineTypeAndValue(input);\nitems.push({ json: result });\n\nreturn items; // Return the array of items\n"},"name":"Validation Code","type":"n8n-nodes-base.code","position":[1800,-300],"notesInFlow":true,"typeVersion":2,"id":"0cdf5473-832a-485c-bf5e-aa171a32be34","notes":"🤓Validate the YouTube input"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"rss","renameField":true,"outputFieldName":"rss url"}]},"options":{}},"name":"Aggregate","type":"n8n-nodes-base.aggregate","position":[3000,-300],"notesInFlow":true,"typeVersion":1,"id":"29e1f349-e3e1-41f3-abe7-eaeb33941644","notes":"🤖Combine results in one"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":10}]}},"id":"dd63d9da-f9e2-4368-ae7e-acc5f15b29ae","name":"Schedule Trigger1","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1280,-300],"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"c716f0b3-6f36-427a-b459-0dc87d48dce1","name":"youtube Channel username or ID","value":"https://www.youtube.com/@microsaas/","type":"string"}]},"options":{}},"id":"b29e2d17-d1a1-4d78-ba4d-ca63735144f8","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1500,-300]},{"parameters":{"url":"=https://www.youtube.com/feeds/videos.xml?channel_id=UC6bMtPdKDxeHpASacivx5vQ","options":{}},"id":"8ff7fcb6-b333-44a8-81cd-4ac335daef88","name":"RSS Scraper","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1580,320]},{"parameters":{"assignments":{"assignments":[{"id":"bb6f7db4-32da-4ea4-84a2-602320e299b0","name":"Autor","value":"={{ $json.data.split(\"<name>\")[1].split(\"</name>\")[0] }}","type":"string"},{"id":"89aaec41-f0c1-43c4-b558-f94778054419","name":"Título","value":"={{ $json.data.split(\"<media:title>\")[1].split(\"</media:title>\")[0] }}","type":"string"},{"id":"4cb72493-9234-4b7b-8e0f-861bfc7af4a7","name":"Descrição","value":"={{ $json.data.split(\"<media:description>\")[1].split(\"________\")[0] }}","type":"string"},{"id":"fc4b1618-bcb2-483a-9ac1-0c345e2e7526","name":"url","value":"=https://www.youtube.com/watch?v={{ $json.data.split(\"https://www.youtube.com/watch?v=\")[1].split('\"/>')[0]}}","type":"string"}]},"options":{}},"id":"eff27be6-f183-451a-aba9-1276a8d56b6f","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1800,320]},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/Sincron","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=5519994317797"},{"name":"textMessage.text","value":"={{ $('OpenAI').item.json[\"message\"][\"content\"].replaceAll(\"**\",\"*\").replaceAll(\"[Link]\",\"\") }}{{ $('Code').first().json.encodedUrl }}"},{"name":"options.delay","value":"={{ 1500 }}"},{"name":"options.presence","value":"composing"}]},"options":{"redirect":{"redirect":{}},"response":{"response":{"neverError":true}}}},"id":"1893c685-2c8f-4fe8-b45d-f62ba3f38dee","name":"Send whats TXT response21","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[3660,320],"executeOnce":true,"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyX","value":15,"unit":"minutes"}]},"feedUrl":"https://www.youtube.com/feeds/videos.xml?channel_id=UC6bMtPdKDxeHpASacivx5vQ"},"id":"cb257386-9c1b-4fb2-a091-f2cb70477612","name":"RSS Feed Trigger","type":"n8n-nodes-base.rssFeedReadTrigger","typeVersion":1,"position":[1300,320]},{"parameters":{"operation":"update","databaseId":132,"tableId":725,"rowId":"={{ $('Baserow1').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":6872,"fieldValue":"={{ $('OpenAI').first().json.message.content }}"}]}},"id":"b965c571-9985-4319-891a-780a0538c903","name":"Baserow3","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[3480,320],"credentials":{"baserowApi":{"id":"wpjMUaOCXymI7BxX","name":"SincronIA"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=Você gerará uma notificação de novos videos no canal da Comunidade Microsaas.\n\nVocê vai receber a informação do artigo que postamos, resumir o conteúdo informado e postar uma chamada interessante, seguindo o estilo de escrita do autor. Precisamos que o público veja valor nas informações e nos benefícios que terão em assistir ao video, mantendo o tom elegante da comunidade. Seduza o usuário quanto a importancia de que ele entenda o conteúdo para que possa aplicar no caso dele. Instigue-o a aproveitar o aprendizado e colocar em prática com uma linguagem natural e não anunciadora. Incentive-o a imaginar a solução no caso dele e a agir, e o convide a debater comigo sobre o assunto\n\nvocê nao precisa entrar nos links, apenas organizar as informações, resumir e devolver num formato que eu possa mansar no grupo de whatsapp.\nsua função é gerar essa mensagem como se fosse uma notificação automatica enviada nos grupos\n\n- você não precisa falar o título e a headline. Só precisa fazer a chamada para nossa comunidade se interessar em ir ler\n- use um ou dois parágrafos, sendo o segundo uma chamada curta em tom de pergunta sobre o usuário, como numa enquete sobre o assunto do conteúdo. Peça para ele assistir e voltar aqui para dizer sobre como ele está fazendo ou agindo sobre o assunto do video no caso dele.\n- Vamos colocar o link no final do artigo então peça para clicarem e se puder use um emogi apontando SEMPRE para baixo no final da mensagem (importante)\n- a sua saída já será a mensagem enviada, então já fale sempre como o anúncio, com a personalidade de CEO e sendo otimista quanto a noticia passada\n- A CTA para o link é muito importante\n- use emogis formais, elegantes e inteligentes como reações para se expressar\n- Não use sentenças no diminutivo.\n- não enfatize muito o cenário geral na chamada. Eles precisam ler o artigo. Oculte elementos, faça suspense sobre os desafios pra gerar interesse e curiosidade. Faça uma chamada curta\n- personalize a mensagem com *negrito*\n\n\naqui está as informações do artigo que você vai anunciar:\nTitulo: {{ $('Edit Fields2').item.json[\"Título\"] }}\nDescrição do video: {{ $('Edit Fields2').item.json[\"Descrição\"] }}\nLink: no fim da mensagem no formato [Link]"},{"content":"=seu estilo de escrita é o seguinte:\nBruno Okamoto utiliza um estilo de comunicação acessível e envolvente, caracterizado por uma linguagem informal e acolhedora. Ele combina um tom conversacional com uma abordagem prática, oferecendo conselhos e lições de forma direta e empática. Suas histórias são estruturadas de maneira a manter o leitor interessado, frequentemente usando exemplos pessoais ou casos de sucesso para ilustrar pontos importantes. Ele também incentiva a interação e a participação, convidando os leitores a se envolverem com comentários e a participarem de suas comunidades e cursos. Aqui está um exemplo de como um assistente poderia se comunicar inspirado no estilo de Bruno Okamoto:\n\n\"👋🏼 Olá! Bom te ver por aqui novamente :) Se você está começando no mundo do Micro-SaaS, fique tranquilo, eu estou aqui para ajudar! Vou compartilhar algumas lições importantes e exemplos práticos para te guiar nessa jornada. E lembre-se, não hesite em perguntar ou comentar se tiver dúvidas – estamos nessa juntos!\"","role":"system"}]},"options":{"maxTokens":1200}},"id":"483babd3-94f3-450e-8c2a-1a1f6c946665","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[3080,340],"credentials":{"openAiApi":{"id":"K8FfxMZ9IgSFVC2G","name":"FURIA - Pantero"}}}],"connections":{"Baserow1":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Baserow2":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[],[{"node":"Baserow1","type":"main","index":0}]]},"OpenAI2":{"main":[[{"node":"Send whats TXT response20","type":"main","index":0}]]},"Code":{"main":[[{"node":"Baserow2","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Send whats TXT response19","type":"main","index":0}]]},"Send whats TXT response19":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get Channel ID":{"main":[[{"node":"Set XML URL","type":"main","index":0}]]},"Set XML URL":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Set Channel Username":{"main":[[{"node":"Get Channel ID","type":"main","index":0}]]},"Set XML Feed URL":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Set Video ID":{"main":[[{"node":"Get Video ID Channel ID","type":"main","index":0}]]},"Get Video ID Channel ID":{"main":[[{"node":"Set XML Feed","type":"main","index":0}]]},"Set XML Feed":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Get Temporary Token":{"main":[[{"node":"Set Channel Username","type":"main","index":0}]]},"GTT":{"main":[[{"node":"Set Video ID","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Get Temporary Token","type":"main","index":0}],[{"node":"Set XML Feed URL","type":"main","index":0}],[{"node":"GTT","type":"main","index":0}]]},"Validation Code":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Validation Code","type":"main","index":0}]]},"RSS Scraper":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Code","type":"main","index":0}]]},"RSS Feed Trigger":{"main":[[{"node":"RSS Scraper","type":"main","index":0}]]},"Baserow3":{"main":[[{"node":"Send whats TXT response21","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Baserow3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:YouTube Video Trigger":{"lastItemDate":"2024-05-31T13:29:37.000Z"},"node:RSS Feed Trigger":{"lastItemDate":"2024-07-04T21:09:52.000Z"},"node:Schedule Trigger":{"recurrencyRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"28af7e4d-fbdf-4880-b2a2-01aa731d33c6","triggerCount":1,"tags":[{"createdAt":"2024-06-28T01:50:12.737Z","updatedAt":"2024-06-28T01:50:12.737Z","id":"b1iWGO8QVoPmIA9S","name":"Microsaas"}]}