my-workflow-11.json
{"createdAt":"2024-07-08T10:41:03.895Z","updatedAt":"2024-07-08T10:41:03.895Z","id":"QLlhNYGABpoKjTq1","name":"My workflow 11","active":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"5eb8be50-7f3a-4bf2-83fa-bd732b4ad5ca","leftValue":"={{ !!Object.keys($node[\"Supabase\"].data).length }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"186b5cfb-93ef-4593-98aa-0d7a22bd3e49","name":"Tem cadastro?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1120,1240]},{"parameters":{},"id":"db291361-88ff-40b9-b3d3-a5c34dae1f32","name":"Merge - user","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[-540,1220]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c186cbdd-908f-4551-a4de-37c0902bf3ae","leftValue":"={{ $json.thread_id }}","rightValue":"=","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"82988075-0f39-41ba-9680-32b3e892d892","leftValue":"={{ $json.thread_id }}","rightValue":"0","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"ca28db6f-49d9-49b0-8094-aabde870a4f5","name":"Possui Thread?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-340,1220],"alwaysOutputData":false,"executeOnce":false,"retryOnFail":false,"notesInFlow":false},{"parameters":{"amount":4},"id":"2683948a-0dd6-4f29-800d-1182eda780f5","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2180,1240],"webhookId":"8e143af3-72da-4919-ad31-3e5d344eb12e"},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendMedia/{{ $('Webhook3').item.json.body.data.owner }}","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Webhook').first().json.body.data.key.remoteJid }}"},{"name":"mediaMessage.mediatype","value":"=image"},{"name":"mediaMessage.media","value":"={{ $('Busca_Produtos').first().json.Imagens }}"},{"name":"mediaMessage.caption","value":"={{ $('Get last message').first().json.data[0].content[0].text.value }}"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"5a13f459-3c6f-4e17-aa4c-c824ad18754c","name":"Send whats IMG response","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[3020,880]},{"parameters":{"assignments":{"assignments":[{"id":"d14a9be1-093d-43d6-94ee-e770fcf8562f","name":"Imagens","value":"={{ $('Busca_Produtos').first().json.Imagens }}","type":"string"}]},"options":{}},"id":"e769577a-e22c-489b-98de-10336b90c01a","name":"Busca nós com Imagens","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2660,640],"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"65c94a71-4784-495c-894a-7aedef6ba6a0","leftValue":"={{ $json.Imagens }}","rightValue":0,"operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"f0105b06-6cde-4252-bbfa-0dcab31d7175","name":"Sem imagem?","type":"n8n-nodes-base.if","typeVersion":2,"position":[2840,760],"alwaysOutputData":false},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/{{ $('Webhook').item.json.body.data.owner }}","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Webhook').first().json.body.data.key.remoteJid }}"},{"name":"textMessage.text","value":"={{ $('Get last message').item.json.data[0].content[0].text.value.replaceAll(\"**\", \"*\") }}\n\n*(tokens gastos: {{ $('Get Run Status').item.json.usage.total_tokens }})*"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"ad5789b9-de1f-4503-a69f-f5752ea972b6","name":"Send whats TXT response","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[3020,640]},{"parameters":{"fieldToSplitOut":"tool_calls","options":{"destinationFieldName":"Properties"}},"id":"54fbf1e8-9d0c-41a9-ad3a-d61387a6a767","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2240,1560]},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"3b94b400-b38f-4fe0-8cf8-fc8fbfbddaf8","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2860,1240]},{"parameters":{"assignments":{"assignments":[{"id":"142534ee-d7b6-4935-bcbc-cd3d3cda35fc","name":"output","value":"={{ $json.data }}","type":"string"}]},"options":{}},"id":"012e3ae3-6429-41b8-bd7b-64c220836fa2","name":"Output Array","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[3020,1240]},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Get Run Status').first().json[\"thread_id\"] }}/runs/{{ $('Get Run Status').first().json[\"id\"] }}/submit_tool_outputs","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v1"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={ \n  \"tool_outputs\": {{ $json.output }}\n}","options":{}},"id":"fc362ec7-5f6d-44b0-b544-b7ab93c6a3f1","name":"insere Output","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3180,1240]},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"tool_call_id\": \"{{ $('Separa arguments para JSON').first().json[\"Properties\"][\"id\"] }}\",\n  \"output\": \"{{ $json[\"concatenated_output\"] }}.\"\n}","options":{}},"id":"1dd6740f-7685-4075-887a-699b9882d2af","name":"Tool Call ID - Get Books","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2020,1860]},{"parameters":{"batchSize":"=1","options":{"reset":"={{ $node[\"Loop Over Items\"].context[\"done\"] }}"}},"id":"1fd66176-ca4b-4832-9f13-1019a095c35b","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2520,1560]},{"parameters":{"assignments":{"assignments":[{"id":"3905b531-6eaf-4a11-9be5-bd5e0d2ed36b","name":"tool_calls","value":"={{ $json.required_action.submit_tool_outputs.tool_calls }}","type":"array"}]},"options":{}},"id":"8cfbfbf6-937c-4317-be1e-627b0cccc69d","name":"Captura Tool Calls","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2100,1560]},{"parameters":{"assignments":{"assignments":[{"id":"49d8f0b6-256a-4a23-832e-fc4d747fbd27","name":"arguments","value":"={{ $json.Properties.function.arguments }}","type":"object"},{"id":"72aa9df4-ba28-4295-93d6-652dfa3d3f8e","name":"name","value":"={{ $json.Properties.function.name }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"31b0097b-c55d-4a1a-9bdc-3254342d683b","name":"Separa arguments para JSON","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2800,1860],"onError":"continueRegularOutput"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"output","separateBy":"other","customSeparator":"; "}]},"options":{"outputFormat":"singleItem"}},"id":"5c77d4c7-8fb1-4ed5-871c-fa035d657efc","name":"Summarize","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[1880,1860]},{"parameters":{"content":"## Nó de saída\nEnvia a mensagem para o usuário","height":565,"width":990,"color":6},"id":"46f9b84f-d9c9-4a16-b586-343d68b470d3","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2460,540]},{"parameters":{"content":"## Tool selection\nDesiga a tool que será executada","height":260.271323610998,"width":383.78424853528935,"color":5},"id":"330d6207-5941-4248-8f6f-ade2d10a64e9","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2760,1760]},{"parameters":{"content":"## Cria uma thread para a conversa\nCaso não tenha uma thread ativa","height":571.6405377504287,"width":490.02926794927083,"color":7},"id":"5c1515f3-5c36-4af1-b4a8-b78381c112b5","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-620,1060]},{"parameters":{"content":"## Cancela Run ativa e cria uma nova\nCaso tenha alguma rodando","height":308.29803189172566,"width":536.0170566513732,"color":7},"id":"38b35837-2276-490b-9722-1fbbfb3e7ca7","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[850.0539314270848,1120]},{"parameters":{"content":"## Wait 4s\nCaso a run esteja in_progress ou queued","height":245.9523279828706,"width":265.23990480453557,"color":4},"id":"94a6d16c-c8e5-450b-851c-6aa285b646f8","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2120,1140]},{"parameters":{"content":"## Envia output da function\nCaso a run esteja in_progress ou queued","height":245.9523279828706,"width":654.6674302638357,"color":4},"id":"07757491-9f85-4123-9f9f-c54f3e2f5e42","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2720,1140]},{"parameters":{"content":"## Separa as tool calls\nEm itens diferentes para rodar no loop","height":277.2906408637269,"width":407.0870052126218,"color":5},"id":"dee07de8-14de-4ee4-8373-82f9acb84b9d","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1980,1460]},{"parameters":{"content":"## Prepara os dados das functions\nManda pro Loop decidir se vai para a próxima function ou se as functions foram finalizadas","height":277.2906408637269,"width":407.0870052126218,"color":5},"id":"0ab377b9-45d9-4caf-b09a-2ad2eca0a557","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1780,1760]},{"parameters":{"content":"## Coração do sistema\nPega o estado da run e envia para o fluxo correto","height":289.5543221560275,"width":451.53933445347894,"color":4},"id":"5749c147-3aeb-4997-bbe8-388e663026aa","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1620,1140]},{"parameters":{"content":"## Prepara os dados de output\ne limpa o json para evitar erros","height":260.271323610998,"width":659.9051110856547,"color":5},"id":"041bb138-c39d-490d-995b-99c0ef486797","name":"Sticky Note12","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3220,2280]},{"parameters":{"content":"## Cadastro de usuário\nCaso seja novo","height":308.399794769607,"width":243.79790125447602,"color":6},"id":"86c9f24d-96e5-4d76-a2ed-e32433451bce","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-920,1440]},{"parameters":{"content":"## Checa cadastro do usuário","height":308.399794769607,"width":383.9956167740963,"color":6},"id":"bbb54bac-972b-4834-a51b-ada560dbfbc4","name":"Sticky Note13","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1340,1120]},{"parameters":{"content":"## Gatilho do fluxo via API de Whatsapp\nE guarda as variáveis para consulta do fluxo","height":308.70730016078534,"width":348.65310502418646},"id":"9b8080f5-5b5e-42a2-bd4d-5e0c8744548a","name":"Sticky Note18","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2300,1120]},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"output\" : \"Título do Vídeo do YouTube: {{ $('raspa comentarios').item.json[\"title\"] }}\n\nDescrição do Vídeo: {{ $('raspa comentarios').item.json[\"description\"] }}\n\nComentários do Vídeo: \n{{ $('Puxa_comentarios').item.json[\"Comentários\"] }} \" \n}  ","options":{}},"id":"2561bfca-85aa-468c-ab77-333b0c1d8786","name":"Jason to Str2","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[3720,2400]},{"parameters":{"method":"POST","url":"= https://api.openai.com/v1/threads","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"OpenAI-Beta","value":"=assistants={{ $('Variáveis').first().json[\"assistant_version\"] }}"}]},"options":{}},"id":"92f470cc-fd0f-46ba-8af0-be669fee16d2","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-540,1420]},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $('Merge - user').first().json[\"thread_id\"] }}/runs ","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"=assistants={{ $('Variáveis').first().json[\"assistant_version\"] }}"}]},"options":{}},"id":"ab2046f8-3ce2-4ff0-a051-6756545a7bae","name":"Listar Runs","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1100,1260]},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Merge - user').first().json[\"thread_id\"] }}/runs/{{ $('Listar Runs').item.json[\"first_id\"] }}/cancel","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"=assistants={{ $('Variáveis').first().json[\"assistant_version\"] }}"}]},"options":{}},"id":"11a6b720-47ea-4b7d-86f9-303d6742c021","name":"Cancel Run","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1260,1260]},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $json.thread_id }}/messages?order=desc","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"=assistants={{ $('Variáveis').first().json[\"assistant_version\"] }}"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"0e8b7b37-0347-4a8d-b4e7-5eab9ecf9ff4","name":"Get last message","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2480,640]},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $json[\"thread_id\"] }}/runs/{{ $json[\"id\"] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"=assistants={{ $('Variáveis').first().json[\"assistant_version\"] }}"}]},"options":{}},"id":"f9ea1f64-077d-4c38-b82e-29d704a0bb22","name":"Get Run Status","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1680,1260]},{"parameters":{"assignments":{"assignments":[{"id":"2d72c7f8-279f-450c-aa41-f3b3a22ed53b","name":"output","value":"=Título do video:{{ $('Aggregate1').item.json.data[0].title.replaceAll('\"', \" \") }}; Descrição do video:  {{ $('Aggregate1').item.json.data[0].description.replaceAll('\"', \" \") }}; Análise dos comentários do video: {{ $('OpenAI').item.json[\"message\"][\"content\"].replaceAll('\"', \" \") }}","type":"string"}]},"options":{}},"id":"5e4c4fa7-14b8-45e9-9860-a4eb64248deb","name":"Descreve as saídas","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[3320,2380]},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"output\" : \"ok. Feito! Estes são os detalhes da análise do video: {{ $json.output.replaceAll('\\n', \" \") }}. Podemos gerar os insights e planos de conteúdo\" \n}  ","options":{}},"id":"38e39cfc-8ddd-45a0-878e-67f29815f9b7","name":"Prepara o output","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[3480,2380],"onError":"continueErrorOutput"},{"parameters":{},"id":"6c5023b6-c15c-4158-b56e-c12c39697ff6","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1080,1640],"webhookId":"2e6a734e-2692-4d12-8ee4-6509c37261a0"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"4120c556-014c-4d31-b904-f10bcbf81025","leftValue":"={{ $('Enviar msg Openai').item.json.id }}","rightValue":"={{ $('Listar_msgs').item.json.data[0].id }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"0707d83f-2e5b-4014-913c-4f84297124d4","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[1380,1520]},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $('Merge - user').first().json[\"thread_id\"] }}/messages?order=desc","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"=assistants={{ $('Variáveis').first().json[\"assistant_version\"] }}"}]},"options":{}},"id":"cd81a302-4f7a-481e-8b5f-b31bc08e7b2f","name":"Listar_msgs","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1220,1640]},{"parameters":{"content":"## Buffer de mensagens\nroda apenas se o usuário ficar 20s sem mandar mensagens","height":340.3427303057622,"width":705.7031300468116,"color":7},"id":"0f7d8f8b-6dba-4b34-8651-d3f74baf4b86","name":"Sticky Note23","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[880,1440]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"gpt-4o\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"identifique os alimentos da imagem e se esforce para informar a quantidade em gramas ou ml. Formate desta forma: {\\\"item 1\\\": quantidade, \\\"item 2\\\": quantidade} ##caso não seja uma imagem de alimento, apenas responda erro \"\n        },\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"data:image/jpeg;base64,{{ $('Variáveis').item.json['base64_image'] }}\"\n          }\n        }\n      ]\n    }\n  ],\n  \"max_tokens\": 300\n}\n","options":{}},"id":"d367da96-4177-440c-b50b-1095474b92f7","name":"Vision - gpt-4o","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[120,900]},{"parameters":{"content":"## ERRO \n**AVISO** não é imagem de comida","height":266.3666805421406,"width":486.72975737668014},"id":"6c2cba27-4096-4ce0-9927-005c2f1e2697","name":"Sticky Note24","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,460]},{"parameters":{"assignments":{"assignments":[{"id":"005575be-15a4-4ab8-b7f3-eb548a5b7879","name":"whatsapp","value":"={{ $json.body.data.key.remoteJid.split(\"@\")[0] }}","type":"string"},{"id":"b03dcd99-430a-44e0-8ec7-d18bf7ed5068","name":"user_message","value":"={{ $json.body.data.message.extendedTextMessage && $json.body.data.message.extendedTextMessage.text ? $json.body.data.message.extendedTextMessage.text : ($json.body.data.message.imageMessage && $json.body.data.message.imageMessage.caption ? $json.body.data.message.imageMessage.caption : ($json.body.data.message.conversation ? $json.body.data.message.conversation : $('Webhook').item.json.body.data.message.editedMessage.message.protocolMessage.editedMessage.extendedTextMessage.text)) }}\n","type":"string"},{"id":"a0d11d81-89d0-4594-ba57-c109b9598299","name":"instance","value":"={{ $json.body.instance }}","type":"string"},{"id":"4615993d-be1a-4fcd-b460-7ae34af27bc8","name":"api_url","value":"=","type":"string"},{"id":"947b6267-951c-46a2-a46c-2bfeeeeadc87","name":"msg_sent","value":"={{ $json.body.date_time }}","type":"string"},{"id":"b68930cd-4c56-4e9e-b210-7d088a83ef36","name":"assistant_id","value":"hygbyjbjuh","type":"string"},{"id":"48c1810c-e147-495f-be11-0f62692c3bf5","name":"name","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"27b515dd-b6a0-41fa-b79e-c58da772df3e","name":"assistant_version","value":"v2","type":"string"},{"id":"5879ad7c-2d6d-482f-8043-b748ab4a1d0d","name":"base64_image","value":"={{ $json.body.data.message.base64 }}","type":"string"},{"id":"b3980d25-5fa5-4f3c-93cf-b33e0a15c357","name":"tipo","value":"={{ $json.body.data.messageType }}","type":"string"},{"id":"1b591f39-0d82-4b5a-8d75-921fc967b064","name":"tipoMidia","value":"={{ $json.body.data.messageType }}","type":"string"}]},"options":{}},"id":"ce369b22-24f4-4965-aa92-71301a95cb8b","name":"Variáveis","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-2280,1260],"alwaysOutputData":true},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"fileName":"audio","mimeType":"={{ $json.mimetype }}"}},"id":"d93cad76-522c-41aa-8292-b3c8296d8a67","name":"Convert to File1","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[300,1460],"executeOnce":false},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/chat/getBase64FromMediaMessage/Sincron","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $('Webhook3').item.json[\"body\"][\"data\"][\"key\"][\"id\"] }}\"\n    }\n  },\n  \"convertToMp4\": true\n}","options":{"redirect":{"redirect":{}}}},"id":"4fc0167c-1e6f-4979-8638-45084fe819d4","name":"pega mp4 do audio3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[100,1600],"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Listar_msgs').item.json.data[0].thread_id }}/runs","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"=assistants={{ $('Variáveis').first().json[\"assistant_version\"] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"assistant_id","value":"={{ $('Variáveis').item.json.assistant_id }}"}]},"options":{}},"id":"c3612648-2bae-4c7c-b05c-1ae9c8a8764a","name":"Run Assistant","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1440,1260],"notesInFlow":true,"notes":"Roda o assistant"},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Merge - user').first().json[\"thread_id\"] }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"=assistants={{ $('Variáveis').first().json[\"assistant_version\"] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"role","value":"user"},{"name":"content","value":"={{ $('tool').item.json.content }}"}]},"options":{}},"id":"91d5f26f-5166-4717-bc87-4b803ac47627","name":"Enviar msg Openai","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[920,1200],"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"59883941-cee1-4e98-8553-6630e3b4c2ce","name":"tool","value":"={{ $('Variáveis').item.json.tipo2 ? \n[\n  {\n    \"type\": \"function\",\n    \"function\":\n      {\n        \"name\": \"func_foodimg\"\n      }\n  }\n] \n: \"\"\n}}","type":"object"},{"id":"3b24b7e0-b259-43f5-bd50-6c3bbf866966","name":"content","value":"={{ $json.text  }}","type":"string"}]},"options":{"ignoreConversionErrors":true}},"id":"fddd1317-dbc6-4e33-b249-171ba6fe821d","name":"tool","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[720,1200]},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/{{ $('Webhook').item.json.body.data.owner }}","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Webhook').first().json.body.data.key.remoteJid.split(\"@\")[0] }}"},{"name":"textMessage.text","value":"=*Muito bom!*\n\nEstou analisando sua refeição e calculando os nutrientes..."}]},"options":{"response":{"response":{"neverError":true}}}},"id":"440c05f7-834e-457e-90ed-2e426da77eb5","name":"msg - analizando","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[560,860]},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/{{ $('Webhook').item.json.body.data.owner }}","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Variáveis').item.json.whatsapp }}"},{"name":"textMessage.text","value":"=Desculpe, mas não identifiquei algum alimento nessa imagem."}]},"options":{"response":{"response":{"neverError":true}}}},"id":"b82ba558-8528-41b6-957b-73f5b00910ab","name":"msg - não identificou alimento","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[520,560]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"5555af97-d44e-45a6-9646-84e574f8db0a","leftValue":"={{ $json.choices[0].message.content }}","rightValue":"erro","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{"ignoreCase":true}},"id":"c120ebb8-9274-4f4c-b08f-1c7e36a6708b","name":"tem alimento?","type":"n8n-nodes-base.if","typeVersion":2,"position":[300,720]},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/{{ $('Webhook3').item.json.body.data.owner }}","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Webhook').first().json.body.data.key.remoteJid.split(\"@\")[0] }}"},{"name":"textMessage.text","value":"=Houve um erro com a leitura do áudio. Poderia enviar novamente?"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"b3b0c648-f026-4648-a42f-68b5b7724050","name":"msg - erro audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[300,1720]},{"parameters":{},"id":"c181418d-17b2-42cc-b0fb-612d84478640","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[740,560]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ xxxxx.split(\"\")[0] }}","rightValue":"!","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"comando"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"034dd8b5-452f-4bc2-b811-8564350bd5a8","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"texto comum"}]},"options":{}},"id":"69b469cf-7379-45fe-ae30-e5c1178ba528","name":"Switch2","type":"n8n-nodes-base.switch","typeVersion":3,"position":[240,1180]},{"parameters":{"operation":"getAll","tableId":"User","limit":1,"filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $('Variáveis').item.json[\"whatsapp\"] }}"}]}},"id":"443924d7-af92-4e1a-b560-e013f5c0c0d2","name":"Supabase","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1280,1240],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"foAj22VvGqK4Jph0","name":"Vitalfy"}}},{"parameters":{"operation":"update","tableId":"User","filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $('Merge - user').first().json.whatsapp }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"thread_id","fieldValue":"={{ $json.id }}"}]}},"id":"ffbc95cc-45da-4a64-9c3c-8c4b92d04395","name":"Supabase1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-340,1420],"credentials":{"supabaseApi":{"id":"foAj22VvGqK4Jph0","name":"Vitalfy"}}},{"parameters":{"tableId":"User","fieldsUi":{"fieldValues":[{"fieldId":"whatsapp","fieldValue":"={{ $('Webhook').first().json.body.data.key.remoteJid.split(\"@\")[0] }}"},{"fieldId":"name","fieldValue":"={{ $('Webhook').first().json.body.data.pushName }}"}]}},"id":"d5d72ced-f874-48a7-ae68-6b8bd5e93e25","name":"Supabase2","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-860,1560],"credentials":{"supabaseApi":{"id":"foAj22VvGqK4Jph0","name":"Vitalfy"}}},{"parameters":{"operation":"update","tableId":"User","filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $('Merge - user').first().json.whatsapp }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"thread_id","fieldValue":"0"}]}},"id":"e47b6234-a826-4e23-b658-aa571d7d7ca5","name":"Supabase3","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3240,640],"credentials":{"supabaseApi":{"id":"foAj22VvGqK4Jph0","name":"Vitalfy"}}},{"parameters":{"assignments":{"assignments":[{"id":"7afcb2ec-5e32-427c-81ee-39293b010dfe","name":"text","value":"={{ $('Variáveis').item.json.user_message }}","type":"string"}]},"options":{}},"id":"383a5a53-a653-4f3b-b9a0-3d7376493fce","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[460,1200]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"64749546-819c-449c-bebf-b526efb94659","leftValue":"={{ $json.credits }}","rightValue":1,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"id":"197236bd-a555-4551-b76b-d03961a70cb6","name":"If2","type":"n8n-nodes-base.if","typeVersion":2,"position":[-860,1220]},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/{{ $('Webhook').item.json.body.data.owner }}","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Webhook').first().json.body.data.key.remoteJid.split(\"@\")[0] }}"},{"name":"textMessage.text","value":"=*Seu teste acabou.*\n\nAgradecemos por testar nosso sistema. Vamos analizar as respostas e após melhorias liberaremos mais créditos para você (:"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"d747a814-fc23-4a8d-bac6-b8340de3d434","name":"msg - não identificou alimento1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-860,1060]},{"parameters":{"content":"## Sem créditos \n**seu teste acabou** :D","height":440.0509486183677,"width":242.57028456664017,"color":3},"id":"8edb6659-4fb1-4ae2-bb04-e782e523e851","name":"Sticky Note19","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-920,980]},{"parameters":{"assignments":{"assignments":[{"id":"005575be-15a4-4ab8-b7f3-eb548a5b7879","name":"whatsapp","value":"={{ $('Webhook1').item.json[\"body\"][\"data\"][\"key\"][\"participant\"] ? $('Webhook1').item.json[\"body\"][\"data\"][\"key\"][\"participant\"].split(\"@\")[0] : $json.body.data.key.remoteJid.split(\"@\")[0] }}","type":"string"},{"id":"b03dcd99-430a-44e0-8ec7-d18bf7ed5068","name":"user_message","value":"={{ $json.body.data.message.extendedTextMessage && $json.body.data.message.extendedTextMessage.text ? $json.body.data.message.extendedTextMessage.text : ($json.body.data.message.imageMessage && $json.body.data.message.imageMessage.caption ? $json.body.data.message.imageMessage.caption : ($json.body.data.message.conversation ? $json.body.data.message.conversation : $('Webhook1').item.json.body.data.message.editedMessage.message.protocolMessage.editedMessage.extendedTextMessage.text)) }}\n","type":"string"},{"id":"a0d11d81-89d0-4594-ba57-c109b9598299","name":"instance_id","value":"=bu9qnq7ga1eo7085dc9w6","type":"string"},{"id":"947b6267-951c-46a2-a46c-2bfeeeeadc87","name":"msg_sent","value":"={{ $json.body.date_time }}","type":"string"},{"id":"b68930cd-4c56-4e9e-b210-7d088a83ef36","name":"assistant_id","value":"asst_z7suvl0dVsf5rNWeicAjt475","type":"string"},{"id":"05ae9849-52fb-471a-8abb-60aa77eeb52b","name":"Developer_Key","value":"AIzaSyBzYmCjdHAkg4X9GJKqthauxGJCUg6K71o","type":"string"},{"id":"48c1810c-e147-495f-be11-0f62692c3bf5","name":"name","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"27b515dd-b6a0-41fa-b79e-c58da772df3e","name":"assistant_version","value":"v1","type":"string"},{"id":"4caba8d0-3f79-4f35-876a-37e3546991b7","name":"msg_type","value":"={{ $json.body.event }}","type":"string"},{"id":"1ef43203-11fc-4242-9c54-188b9d558fa5","name":"msg_channel_type","value":"={{ $json.body.type }}","type":"string"},{"id":"70064ac6-acec-4581-bd96-6475a633d98d","name":"grupo","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"f7633cfb-bfa0-4ebd-affd-da44872ba365","name":"instance_evolution","value":"Sincron","type":"string"},{"id":"e6b9b1d5-d793-4a95-a8c4-77dd80ef626d","name":"message_id","value":"={{ $json.body.data.key.id }}","type":"string"},{"id":"8819af21-9836-4cac-95e3-a77bc0cfdc9d","name":"imagem_url","value":"={{ $json.body.data.message.imageMessage.url }}","type":"string"},{"id":"95ef9e6f-d8df-4406-8a0e-938e207f29c1","name":"whats_participante","value":"={{ $json.body.data.key.participant.split(\"@\")[0] }}","type":"string"},{"id":"9e24de26-d7a5-418b-a14e-6350b4545138","name":"img_base64","value":"={{ $('Webhook1').item.json.body.data.message.base64 }}","type":"string"},{"id":"c69cf6cd-dcf8-47a8-a564-5e29d4f70d99","name":"tipo","value":"={{ $json.body.data.message.base64 ? \"image\" : \"text\" }}","type":"string"},{"id":"66af3c28-b30d-41cd-b990-e8a0455b53e9","name":"tipoMidia","value":"={{ $('Webhook1').item.json.body.data.messageType }}","type":"string"}]},"options":{"ignoreConversionErrors":false}},"id":"807da963-fa6d-4436-b30e-eb6cf29eed08","name":"Variáveis3","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-3840,1500],"alwaysOutputData":false},{"parameters":{},"id":"4cd05015-ab4a-46e8-a86c-246b033fda20","name":"Webhook","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-2540,1300]},{"parameters":{"assignments":{"assignments":[{"id":"50db61da-9a10-45a1-a791-0f981b186a2a","name":"text","value":"={{ $('Vision - gpt-4o').item.json.choices[0].message.content }}","type":"string"}]},"options":{}},"id":"34869798-7b66-4e97-bbb0-3bf072d851fb","name":"Edit Fields5","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[720,860]},{"parameters":{"assignments":{"assignments":[{"id":"50db61da-9a10-45a1-a791-0f981b186a2a","name":"choices[0].message.content","value":"={\"bolo de aipim\": 100g, \"cereais\": 40g, \"macarrão\": 300g}","type":"string"}]},"options":{}},"id":"7e29aac3-5b9c-4b15-baf6-11d24e60d363","name":"Vision - gpt-4o1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-40,740]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.Properties.function.name }}","rightValue":"func_foodinfo","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"func_scraper"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"21a41b69-dc25-4cae-8fd3-23b4e52e4ba9","leftValue":"={{ $json.Properties.function.name }}","rightValue":"func_strategist","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"func_strategist"}]},"options":{}},"id":"0d4de289-41a6-4a14-b712-c827ecd0b81a","name":"Escolhe a tool que deve ser utilizada","type":"n8n-nodes-base.switch","typeVersion":3,"position":[2960,1860]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"189b5029-069f-4ed0-9b01-be02fecc2115","leftValue":"={{ $json.user_message.split(\"\")[0] }}","rightValue":"!","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"64d1587b-74a3-4959-bb13-fcdd1b0ce986","name":"If3","type":"n8n-nodes-base.if","typeVersion":2,"position":[-2080,1260]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"51e1c7e7-1d66-48c8-87e6-8c4845cbb8e2","leftValue":"={{ $json.status }}","rightValue":"completed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"completed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"04624a04-1772-4e77-bfc4-273d5e235711","leftValue":"={{ $json.status }}","rightValue":"failed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"failed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"56bbe829-8c9f-4ceb-ac2e-fd210a950f9b","leftValue":"={{ $json.status }}","rightValue":"expired","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"expired"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"e564ca13-163c-465c-9db7-a402e0709234","leftValue":"={{ $json.status }}","rightValue":"in_progress","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"in_progress"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.status }}","rightValue":"queued","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"queued"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"6e85f12c-3813-46a1-94b6-f9ae52f49b13","leftValue":"={{ $json.status }}","rightValue":"requires_action","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"requires_action"}]},"options":{}},"id":"01c27505-ae1c-48dc-a494-153a55767533","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[1840,1240]},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"9aff8b92-7b91-47fd-828c-7ca54aedab3c","name":"Transcrever audio","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[440,1460],"credentials":{"openAiApi":{"id":"K8FfxMZ9IgSFVC2G","name":"FURIA - Pantero"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $('Variáveis').item.json.tipo }}","rightValue":"textMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"3b8c4da6-5b70-4749-8c57-c3a17372a8f4","leftValue":"={{ $('Variáveis').item.json.tipo }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"imagem"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"642021f6-8c7c-4da6-9d7d-fb4bbb8a99d9","leftValue":"={{ $('Variáveis').item.json.tipo }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"}]},"options":{}},"id":"d1f80040-b8ee-4baa-a790-5955b7b0f49d","name":"tipo da mensagem","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-60,1200]}],"connections":{"Tem cadastro?":{"main":[[{"node":"If2","type":"main","index":0}],[{"node":"Supabase2","type":"main","index":0}]]},"Merge - user":{"main":[[{"node":"Possui Thread?","type":"main","index":0}]]},"Possui Thread?":{"main":[[{"node":"tipo da mensagem","type":"main","index":0}],[{"node":"HTTP Request","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Get Run Status","type":"main","index":0}]]},"Busca nós com Imagens":{"main":[[{"node":"Sem imagem?","type":"main","index":0}]]},"Sem imagem?":{"main":[[{"node":"Send whats TXT response","type":"main","index":0}],[{"node":"Send whats IMG response","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Output Array","type":"main","index":0}]]},"Output Array":{"main":[[{"node":"insere Output","type":"main","index":0}]]},"Tool Call ID - Get Books":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Aggregate","type":"main","index":0}],[{"node":"Separa arguments para JSON","type":"main","index":0}]]},"Captura Tool Calls":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"insere Output":{"main":[[{"node":"Get Run Status","type":"main","index":0}]]},"Separa arguments para JSON":{"main":[[{"node":"Escolhe a tool que deve ser utilizada","type":"main","index":0}]]},"Summarize":{"main":[[{"node":"Tool Call ID - Get Books","type":"main","index":0}]]},"Send whats TXT response":{"main":[[{"node":"Supabase3","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Supabase1","type":"main","index":0}]]},"Listar Runs":{"main":[[{"node":"Cancel Run","type":"main","index":0}]]},"Cancel Run":{"main":[[{"node":"Enviar msg Openai","type":"main","index":0}]]},"Get last message":{"main":[[{"node":"Busca nós com Imagens","type":"main","index":0}]]},"Get Run Status":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Descreve as saídas":{"main":[[{"node":"Prepara o output","type":"main","index":0}]]},"Prepara o output":{"main":[[{"node":"Summarize","type":"main","index":0}],[{"node":"Jason to Str2","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Listar_msgs","type":"main","index":0}]]},"If":{"main":[[{"node":"Run Assistant","type":"main","index":0}]]},"Listar_msgs":{"main":[[{"node":"If","type":"main","index":0}]]},"Variáveis":{"main":[[{"node":"If3","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Transcrever audio","type":"main","index":0}]]},"pega mp4 do audio3":{"main":[[{"node":"Convert to File1","type":"main","index":0}],[{"node":"msg - erro audio","type":"main","index":0}]]},"Run Assistant":{"main":[[{"node":"Get Run Status","type":"main","index":0}]]},"Enviar msg Openai":{"main":[[{"node":"Wait1","type":"main","index":0}],[{"node":"Listar Runs","type":"main","index":0}]]},"tool":{"main":[[{"node":"Enviar msg Openai","type":"main","index":0}]]},"tem alimento?":{"main":[[{"node":"msg - não identificou alimento","type":"main","index":0}],[{"node":"msg - analizando","type":"main","index":0}]]},"msg - não identificou alimento":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Switch2":{"main":[[],[{"node":"Edit Fields1","type":"main","index":0}]]},"Supabase2":{"main":[[{"node":"Merge - user","type":"main","index":1}]]},"Supabase":{"main":[[{"node":"Tem cadastro?","type":"main","index":0}]]},"Supabase1":{"main":[[{"node":"Merge - user","type":"main","index":1}]]},"Edit Fields1":{"main":[[{"node":"tool","type":"main","index":0}]]},"If2":{"main":[[{"node":"Merge - user","type":"main","index":0}],[{"node":"msg - não identificou alimento1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Variáveis","type":"main","index":0}]]},"msg - analizando":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"tool","type":"main","index":0}]]},"If3":{"main":[[{"node":"Supabase","type":"main","index":0}]]},"Vision - gpt-4o":{"main":[[{"node":"tem alimento?","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Get last message","type":"main","index":0}],[],[],[{"node":"Wait","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}],[{"node":"Captura Tool Calls","type":"main","index":0}]]},"Transcrever audio":{"main":[[{"node":"tool","type":"main","index":0}]]},"tipo da mensagem":{"main":[[{"node":"Switch2","type":"main","index":0}],[{"node":"Vision - gpt-4o","type":"main","index":0}],[{"node":"pega mp4 do audio3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d8b010c5-92b3-43f4-b26e-621d91c6baa9","triggerCount":0,"tags":[{"createdAt":"2024-06-28T01:48:44.349Z","updatedAt":"2024-06-28T01:48:44.349Z","id":"pziFzuL7iLGUU2CX","name":"E-nutri"}]}