pantero-ia.json
{"createdAt":"2024-06-05T13:05:35.595Z","updatedAt":"2024-07-07T09:20:33.596Z","id":"FTYftb1qM2NMdI2v","name":"Pantero IA","active":false,"nodes":[{"parameters":{"content":"## Gatilho do fluxo via API de Whatsapp\nE guarda as variáveis para consulta do fluxo","height":308.70730016078534,"width":360.79020843724237},"id":"fa70688e-3982-4607-9884-5f71fb5f0eaa","name":"Sticky Note18","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2800,0]},{"parameters":{"assignments":{"assignments":[{"id":"005575be-15a4-4ab8-b7f3-eb548a5b7879","name":"whatsapp","value":"={{ $json.body.data.key.remoteJid.split('@')[0] }}","type":"string"},{"id":"b03dcd99-430a-44e0-8ec7-d18bf7ed5068","name":"user_message","value":"={{ $('Webhook').first().json.body.data.message.conversation }}  {{ $('Webhook').item.json.body.data.message.extendedTextMessage.text }}","type":"string"},{"id":"a0d11d81-89d0-4594-ba57-c109b9598299","name":"instance","value":"={{ $json.body.instance }}","type":"string"},{"id":"4615993d-be1a-4fcd-b460-7ae34af27bc8","name":"api_url","value":"={{ $json.body.server_url }}","type":"string"},{"id":"5fbc0214-052d-417c-8e37-387a54121490","name":"apikey","value":"8ea4a0ba51f0f9e00f4d52f444e3cb2c","type":"string"},{"id":"947b6267-951c-46a2-a46c-2bfeeeeadc87","name":"msg_sent","value":"={{ $('Webhook').item.json[\"body\"][\"date_time\"] }}","type":"string"},{"id":"b68930cd-4c56-4e9e-b210-7d088a83ef36","name":"assistant_id","value":"asst_4gsIlhXBXa7k0twXlLVbAfNi","type":"string"},{"id":"148a0c45-622a-4976-9523-1c8e1853d98a","name":"voice","value":false,"type":"boolean"},{"id":"05ae9849-52fb-471a-8abb-60aa77eeb52b","name":"Developer_Key","value":"AIzaSyBzYmCjdHAkg4X9GJKqthauxGJCUg6K71o","type":"string"},{"id":"48c1810c-e147-495f-be11-0f62692c3bf5","name":"name","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"27b515dd-b6a0-41fa-b79e-c58da772df3e","name":"assistant_version","value":"v1","type":"string"},{"id":"d8704c6f-5622-4e5b-b8ad-202a1ebb4ffe","name":"instance_evolution","value":"Furia","type":"string"},{"id":"cca8eee4-e019-4bd1-91ce-404a5673bc7e","name":"assistant2_id","value":"asst_JszcHMjTj1Km19S35D2vKEF3","type":"string"},{"id":"0c91fce5-6ada-4509-80c8-6e9c6cd625f4","name":"assistant2_version","value":"v2","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"42be933c-0d6e-4f1e-a9c7-f7c5f3cf10f1","name":"Variáveis","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-2560,120],"alwaysOutputData":true},{"parameters":{"amount":4},"id":"99bcdb51-f482-4858-9051-f3f980bb1d7f","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1060,280],"webhookId":"8aff14f9-28d4-4a99-9d7e-d0e43c92207f"},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $('Nova Thread').item.json[\"id\"] }}/runs/{{ $json[\"id\"] }}","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"=assistants={{ $('Variáveis').first().json[\"assistant2_version\"] }}"}]},"options":{}},"id":"799c200c-a051-4849-9cdc-2839048b6407","name":"Get Run Status1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1400,100],"credentials":{"openAiApi":{"id":"Z2mHFvSkYW4fOXqx","name":"SincronIA"}}},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $('Nova Thread').item.json[\"id\"] }}/runs ","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"=assistants={{ $('Variáveis').first().json[\"assistant2_version\"] }}"}]},"options":{}},"id":"4d6986ff-dca9-4deb-8a18-ad78f86a50cf","name":"Listar Runs1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1560,280],"credentials":{"openAiApi":{"id":"Z2mHFvSkYW4fOXqx","name":"SincronIA"}}},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Nova Thread').item.json[\"id\"] }}/runs/{{ $('Listar Runs1').item.json[\"first_id\"] }}/cancel","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"=assistants={{ $('Variáveis').first().json[\"assistant2_version\"] }}"}]},"options":{}},"id":"de565581-8e13-4c1b-b35b-edeb677a9c17","name":"Cancel Run1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1400,280],"credentials":{"openAiApi":{"id":"Z2mHFvSkYW4fOXqx","name":"SincronIA"}}},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Nova Thread').item.json[\"id\"] }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"=assistants={{ $('Variáveis').first().json[\"assistant2_version\"] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"role","value":"user"},{"name":"content","value":"=Novo usuário na área. Apenas dê uma saudação breve e peça para ele se apresentar para o clã"}]},"options":{}},"id":"29362c33-53b2-47a5-8db3-35a7729e6cf6","name":"Enviar msg Openai1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1740,120],"credentials":{"openAiApi":{"id":"Z2mHFvSkYW4fOXqx","name":"SincronIA"}},"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $json[\"thread_id\"] }}/runs","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"=assistants={{ $('Variáveis').first().json[\"assistant2_version\"] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"assistant_id","value":"={{ $('Variáveis').item.json.assistant2_id }}"}]},"options":{}},"id":"311709b8-8a4b-4b0b-8f3d-9608575df5c0","name":"Run Assistant1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1560,100],"credentials":{"openAiApi":{"id":"Z2mHFvSkYW4fOXqx","name":"SincronIA"}}},{"parameters":{"method":"POST","url":"= https://api.openai.com/v1/threads","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"OpenAI-Beta","value":"=assistants={{ $('Variáveis').first().json[\"assistant2_version\"] }}"}]},"options":{}},"id":"37365eb9-ae94-4877-afb6-c9fcebccb466","name":"Nova Thread","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1900,120],"credentials":{"openAiApi":{"id":"Z2mHFvSkYW4fOXqx","name":"SincronIA"}}},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $('Nova Thread').item.json[\"id\"] }}/messages?order=desc","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"=assistants={{ $('Variáveis').first().json[\"assistant2_version\"] }}"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"efffef29-a6f5-4e5b-b2e5-0b987c79f1fc","name":"Get last message1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1060,-100],"credentials":{"openAiApi":{"id":"Z2mHFvSkYW4fOXqx","name":"SincronIA"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.body.event }}","rightValue":"group-participants.update","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"novo participante"}]},"options":{}},"id":"46616fee-8269-425b-a40a-4b768bd038db","name":"Switch2","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-2300,120]},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/{{ $('Variáveis').item.json.instance_evolution }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Webhook').item.json.body.data.id }}"},{"name":"textMessage.text","value":"=BEM VINDO @{{ $('Variáveis').item.json.body.data.participants[0].split(\"@\")[0] }}!!!\n{{ $('Get last message1').item.json.data[0].content[0].text.value.split(\"! \").slice(1) }}"},{"name":"options.delay","value":"={{ 1500 }}"},{"name":"mentions.everyOne","value":"={{ false }}"},{"name":"mentioned","value":"={{ $('Variáveis').item.json.body.data.participants[0].split(\"@\")[0] }}"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"796bb82e-3a96-456f-939e-33f4283e5d84","name":"Send whats TXT response3","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-560,-100],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"51e1c7e7-1d66-48c8-87e6-8c4845cbb8e2","leftValue":"={{ $json.status }}","rightValue":"completed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"completed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"04624a04-1772-4e77-bfc4-273d5e235711","leftValue":"={{ $json.status }}","rightValue":"failed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"failed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"56bbe829-8c9f-4ceb-ac2e-fd210a950f9b","leftValue":"={{ $json.status }}","rightValue":"expired","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"expired"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"e564ca13-163c-465c-9db7-a402e0709234","leftValue":"={{ $json.status }}","rightValue":"in_progress","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"in_progress"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.status }}","rightValue":"queued","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"queued"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"6e85f12c-3813-46a1-94b6-f9ae52f49b13","leftValue":"={{ $json.status }}","rightValue":"requires_action","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"requires_action"}]},"options":{}},"id":"ab704683-7182-4df0-8f43-f8788f176445","name":"Switch1","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-1240,80]},{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/chat/fetchProfile/{{ $('Variáveis').item.json.instance_evolution }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Variáveis').item.json.body.data.participants[0].split(\"@\")[0] }}"}]},"options":{"redirect":{"redirect":{}}}},"id":"17d620d1-16a4-4ba3-93ee-ac5fbeb02c8b","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-840,-100],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}}},{"parameters":{"httpMethod":"POST","path":"pantero-ia","options":{}},"id":"f9857b32-dba6-4596-a9b1-caa67ec8238a","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[-2741,120],"webhookId":"5df69f19-26e4-44e5-95bf-ece5d260609c"}],"connections":{"Variáveis":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Get Run Status1","type":"main","index":0}]]},"Get Run Status1":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Listar Runs1":{"main":[[{"node":"Cancel Run1","type":"main","index":0}]]},"Cancel Run1":{"main":[[{"node":"Enviar msg Openai1","type":"main","index":0}]]},"Enviar msg Openai1":{"main":[[{"node":"Run Assistant1","type":"main","index":0}],[{"node":"Listar Runs1","type":"main","index":0}]]},"Run Assistant1":{"main":[[{"node":"Get Run Status1","type":"main","index":0}]]},"Nova Thread":{"main":[[{"node":"Enviar msg Openai1","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Nova Thread","type":"main","index":0}]]},"Get last message1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Get last message1","type":"main","index":0}],[],[],[{"node":"Wait1","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Send whats TXT response3","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Variáveis","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook.sincronia.digital","user-agent":"axios/1.7.2","content-length":"397","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"webhook.sincronia.digital","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"09be826357c0","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"event":"group-participants.update","instance":"Furia","data":{"id":"120363285390233845@g.us","author":"","participants":["5519994435428@s.whatsapp.net"],"action":"add"},"destination":"https://webhook.sincronia.digital/webhook/pantero-ia","date_time":"2024-06-07T08:59:20.323Z","sender":"552139551220@s.whatsapp.net","server_url":"https://api.sincronia.digital","apikey":"2crg81iddof1jtyg2peqw3"},"webhookUrl":"https://webhook.sincronia.digital/webhook/pantero-ia","executionMode":"production"}}]},"versionId":"f9207020-3ac5-4d35-9d97-88e896ccac8e","triggerCount":1,"tags":[]}