pantero---vector-test.json
{"createdAt":"2024-06-27T11:39:13.856Z","updatedAt":"2024-07-07T09:23:04.478Z","id":"7fRfrvpJVgPuDfoW","name":"Pantero - vector test","active":false,"nodes":[{"parameters":{},"id":"b53ab6a6-cf18-40ef-8c4c-c0c555761f92","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[780,220],"typeVersion":1},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"1ggkGklIcIHZliTnKkL3ptE_cfubPpwjVAem2pSd8q5E","mode":"id"},"options":{"binaryPropertyName":"data"}},"id":"4033ca55-ede5-4de8-bdf2-e2847bed1732","name":"Google Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1020,460],"credentials":{"googleDriveOAuth2Api":{"id":"S6Ohnu7I7CuNoNAH","name":"Google Drive account"}}},{"parameters":{"options":{},"requestOptions":{}},"id":"04c5d643-fc20-4285-abb8-2a66381d19d6","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[1320,620],"credentials":{"openAiApi":{"id":"neTK4UBDC4tLBdAV","name":"G4 educação"}}},{"parameters":{"dataType":"binary","loader":"docxLoader","options":{},"requestOptions":{}},"id":"475627d3-06b0-4fa6-9562-ab212e2ed863","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1400,620]},{"parameters":{"chunkSize":400,"chunkOverlap":10,"options":{"splitCode":"markdown"},"requestOptions":{}},"id":"d4267423-bb02-4e0c-ae49-7a85161776d7","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1520,720]},{"parameters":{},"id":"a4ea49fb-96e3-41a0-b24e-b43c5de3034a","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[1020,0],"disabled":true},{"parameters":{"promptType":"define","text":"={{ $json.query }}"},"id":"9f147148-8f95-4483-bf7f-f96664a57a19","name":"Question and Answer Chain","type":"@n8n/n8n-nodes-langchain.chainRetrievalQa","typeVersion":1.3,"position":[1600,220]},{"parameters":{"model":"gpt-4o","options":{},"requestOptions":{}},"id":"e3c3cff6-653e-42f5-99ca-985bbacb513d","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[1720,400],"credentials":{"openAiApi":{"id":"K8FfxMZ9IgSFVC2G","name":"FURIA - Pantero"}}},{"parameters":{"topK":3,"requestOptions":{}},"id":"cfcc0d46-f6aa-48b5-85f0-1cfe7032f9f8","name":"Vector Store Retriever","type":"@n8n/n8n-nodes-langchain.retrieverVectorStore","typeVersion":1,"position":[1800,400]},{"parameters":{"options":{},"requestOptions":{}},"id":"80664dee-10f7-4658-8b41-399affcf7891","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[1960,620],"credentials":{"openAiApi":{"id":"K8FfxMZ9IgSFVC2G","name":"FURIA - Pantero"}}},{"parameters":{"assignments":{"assignments":[{"id":"5b86a5eb-2382-4b50-82aa-89d914741805","name":"query","value":"=comp de lol da FURIA","type":"string"}]},"options":{}},"id":"b96b9743-1a13-4d08-ba22-bb3a7cee7047","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1380,220]},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"id":"3b34e693-7eca-43ee-814f-4e8d35b07acd","name":"Supabase Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[1200,460],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"G4 Educação"}}},{"parameters":{"tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"id":"257f4dab-b828-403c-8e85-fdb13f1993dc","name":"Supabase Vector Store1","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[1840,520],"credentials":{"supabaseApi":{"id":"CbWcX4JfjQ9TjSRA","name":"G4 Educação"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Google Drive":{"main":[[{"node":"Supabase Vector Store","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Supabase Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Question and Answer Chain","type":"ai_languageModel","index":0}]]},"Vector Store Retriever":{"ai_retriever":[[{"node":"Question and Answer Chain","type":"ai_retriever","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]},"Edit Fields":{"main":[[{"node":"Question and Answer Chain","type":"main","index":0}]]},"Supabase Vector Store1":{"ai_vectorStore":[[{"node":"Vector Store Retriever","type":"ai_vectorStore","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e2c5fafa-d5f6-45a9-86ad-b037f65c293c","triggerCount":0,"tags":[{"createdAt":"2024-06-28T01:48:34.033Z","updatedAt":"2024-06-28T01:48:34.033Z","id":"GtKSN2XQkKdcTMaQ","name":"Pantero"}]}