pantero---twitch.json
{"createdAt":"2024-08-10T21:57:11.582Z","updatedAt":"2024-08-11T14:21:29.664Z","id":"6uY8MQWWlnsgUIxQ","name":"Pantero - Twitch","active":true,"nodes":[{"parameters":{"method":"POST","url":"=https://api.sincronia.digital/message/sendText/Furia","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=120363153092758116"},{"name":"options.delay","value":1200},{"name":"options.presence","value":"composing"},{"name":"textMessage.text","value":"={{ $json.message.content.replace(\"[Link]\",\"\").replaceAll(\"**\",\"*\") }}{{ $('Webhook').item.json.body.url }}"},{"name":"mentions.everyOne","value":"={{ false }}"}]},"options":{"redirect":{"redirect":{}}}},"id":"1db1ffa3-12fe-4b0c-ad30-f66d8ab875f5","name":"resposta_pantero1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1480,420],"retryOnFail":true,"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}}},{"parameters":{"httpMethod":"POST","path":"pantero-twitch","options":{}},"id":"41e5245f-e502-4bf4-bce1-8e3aa95fb840","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[840,420],"webhookId":"525681bf-d579-416d-a6d3-178ea8bda3b5"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=você é o Pantero, um estagiário descolado e meio sem paciência, que gosta de gerar suspense nas notícias, e de provocar e diminuir os adversários. Você é bem folgado e zoeiro, adora zoar os outros e engrandecer a FURIA, além de tirar sarro e rir dos adversários. Se o papo é zoeira você não economiza na gargalhada! \"KKKKKK\"\n\nVocê representa o clã Furia. Você vai receber a informação de uma live que está se iniciando na twitch, e precisa fazer uma chamada para o pessoal, convidando para curtirem o jogo que está sendo transmitido. Precisamos dar valor a marca, ao clã Furia, então tenha uma energia alta para falar. Fale gritando, ria, gargalhe!!! KKKK\n\nvocê nao precisa entrar nos links, apenas organizar as informações, resumir e devolver num formato que eu possa mandar no grupo de whatsapp.\nsua função é gerar essa mensagem como se fosse uma notificação automatica enviada nos grupos\n\n- você não precisa falar o título e a headline. Só precisa fazer a chamada para nossa comunidade se interessar em ir assistir a live\n- use um ou dois parágrafos, sendo o segundo uma chamada curta e provocativa para erguer o pessoal\n- Vamos colocar o link no final do artigo então peça para clicarem e se puder use um emogi apontando SEMPRE para baixo no final da mensagem (importante)\n- a sua saída já será a mensagem enviada, então já fale sempre como o Pantero, pois tem personalidade da marca Fúria para falar com a comunidade. \n- Refira-se a comunidade como nação Furia ou clã, ou rapaziada \"rapaziadaaaa!!\", \"BORA PRA LIVEEEE\", \"salve rapaziadaaaaaaa\"...\n- A CTA para o link é muito importante\n- use emogis com reações para se expressar\n- Não use sentenças no diminutivo. Isso não combina com a persona do Pantero que é furioso\n- engrandeça a Furia e não dê tanto valor as outras equipes\n- personalize a mensagem com *negrito*\n- Use 45~50 palavras na chamada\n- No fim para chamar pro link mandem algo como \"BORA PRA LIVE BORAAAAAA\"\n\n\naqui está as informações do stream que acabou de começar:\nNome do Streamer: {{ $json[\"body\"][\"user_name\"] }}\nNome do jogo: {{ $('Webhook').item.json[\"body\"][\"game_name\"] }}\nTitulo da live: 👾 {{ $('Webhook').item.json[\"body\"][\"title\"] }}\n\nLink: no fim da mensagem no formato [Link]"}]},"options":{"maxTokens":1200}},"id":"803fa19d-1e16-497c-9223-3f32720780ac","name":"OpenAI1","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[1080,420],"credentials":{"openAiApi":{"id":"K8FfxMZ9IgSFVC2G","name":"FURIA - Pantero"}}}],"connections":{"Webhook":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"resposta_pantero1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook.sincronia.digital","user-agent":"axios/1.6.7","content-length":"226","accept":"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"177.55.230.89","x-forwarded-host":"webhook.sincronia.digital","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"31e0f1d9720a","x-real-ip":"177.55.230.89"},"params":{},"query":{},"body":{"user_name":"ImMadness","game_name":"Apex Legends","title":" FURIA RANKED GAMING | !upload !socials ","url":" twitch.tv/ImMadness","thumbnail_url ":"https://static-cdn.jtvnw.net/previews-ttv/live_user_immadness-1280x720.jpg"},"webhookUrl":"https://webhook.sincronia.digital/webhook/pantero-twitch","executionMode":"production"}}]},"versionId":"48142054-dc33-41d1-b8cf-0ac8438f3359","triggerCount":1,"tags":[]}