pantero---events-(on).json
{"createdAt":"2024-06-13T15:43:41.630Z","updatedAt":"2024-07-23T01:24:13.950Z","id":"WYTvJspqQZZQnoj0","name":"Pantero - events (on)","active":false,"nodes":[{"parameters":{},"id":"58a456e8-5480-4add-adb7-8a7fc59dbfc8","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[100,180]},{"parameters":{"method":"POST","url":"={{ $json.server_url }}/message/sendText/{{ $json.instance }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $json.grupo }}"},{"name":"options.delay","value":1200},{"name":"options.presence","value":"composing"},{"name":"textMessage.text","value":"=*BEM VINDAEEE @{{ $json.participant }}!!!* Quer se apresentar pra galera?"},{"name":"mentions.everyOne","value":"={{ false }}"},{"name":"mentions.mentioned","value":"={{ [ $json.participant ] }} "}]},"options":{"redirect":{"redirect":{}}}},"id":"b9707e8e-9bfc-4623-bb9c-f3092630223f","name":"Envia Saudação","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,-20],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}}},{"parameters":{"method":"POST","url":"https://api.sincronia.digital/chat/fetchProfile/Furia","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"5519994317797"}]},"options":{}},"id":"5ceab0b5-0e70-4247-bc9b-15f6aaa26cea","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1400,0],"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}}},{"parameters":{"resource":"image","operation":"analyze","text":"o que voce ve exatamente nesta imagem?\nentregue apenas a informação dos personagens e suas caracteristicas","imageUrls":"={{ $json.picture }}","options":{}},"id":"3dddeb65-48b9-41c1-914c-c5ab3730df82","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[1120,-60],"credentials":{"openAiApi":{"id":"K8FfxMZ9IgSFVC2G","name":"FURIA - Pantero"}}},{"parameters":{},"id":"4f22ab18-4876-47c8-88dc-65a289d53c92","name":"Calculator","type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[1180,560]},{"parameters":{},"id":"d2e0bf4b-2b29-4fa3-9b46-fcd7977c7789","name":"Wikipedia","type":"@n8n/n8n-nodes-langchain.toolWikipedia","typeVersion":1,"position":[1320,560]},{"parameters":{"method":"POST","url":"={{ $('Execute Workflow Trigger').item.json.server_url }}/message/sendText/{{ $('Execute Workflow Trigger').item.json.instance }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Execute Workflow Trigger').item.json.grupo }}"},{"name":"options.delay","value":1200},{"name":"options.presence","value":"composing"},{"name":"textMessage.text","value":"={{ $json.output.replaceAll(\"**\", \"*\") }}"},{"name":"mentions.everyOne","value":"={{ false }}"},{"name":"mentions.mentioned","value":"={{ [ $('Execute Workflow Trigger').item.json.participant ] }}"},{"name":"options.quoted.key.remoteJid","value":"={{ $('Execute Workflow Trigger').item.json.whatsapp }}"},{"name":"options.quoted.key.id","value":"={{ $('Execute Workflow Trigger').item.json.message_id }}"}]},"options":{"redirect":{"redirect":{}}}},"id":"61db622d-b231-40b7-8499-95300c10bb1e","name":"resposta_pantero","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1220,180],"retryOnFail":true,"credentials":{"httpHeaderAuth":{"id":"zCSxMXgLLp3Ga6ET","name":"Evolution-apikey"}}},{"parameters":{"operation":"update","databaseId":132,"tableId":736,"rowId":"={{ $('Baserow2').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":6879,"fieldValue":"={{ $('OpenAI1').item.json.output }}"}]}},"id":"6f8a22f5-5c32-42b6-bea4-d96ac8e0ccbc","name":"Baserow","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1400,180],"credentials":{"baserowApi":{"id":"wpjMUaOCXymI7BxX","name":"SincronIA"}}},{"parameters":{"operation":"create","databaseId":132,"tableId":736,"fieldsUi":{"fieldValues":[{"fieldId":6877,"fieldValue":"={{ $json.participant }}"},{"fieldId":6878,"fieldValue":"={{ $json.user_message }}"}]}},"id":"e35c5480-3835-4528-b2ad-fa7d83eb9ef6","name":"Baserow2","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[640,180],"credentials":{"baserowApi":{"id":"wpjMUaOCXymI7BxX","name":"SincronIA"}}},{"parameters":{"name":"Furia_doc","description":"chame esta tool quando precisar de alguma noticia relacionada a furia, a um jogador da furia, a algum campeonato, aniversário, calendário ou torcida (b10, maniconio...)","workflowId":"7fRfrvpJVgPuDfoW"},"id":"256886bc-c4f6-4df1-8848-6682a092325a","name":"Custom n8n Workflow Tool","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.1,"position":[960,400]},{"parameters":{"resource":"assistant","assistantId":{"__rl":true,"value":"asst_FxDOTzhd8wwTlWC0CXwp1RrJ","mode":"list","cachedResultName":"Pantero - interações"},"prompt":"define","text":"={{ $('Execute Workflow Trigger').item.json.user_message.replace(\"@552139551220\", \"Pantero\") }}","options":{}},"id":"43236eda-c196-4db8-bd11-3ae6ed4d8aaf","name":"OpenAI1","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[860,180],"credentials":{"openAiApi":{"id":"K8FfxMZ9IgSFVC2G","name":"FURIA - Pantero"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.event }}","rightValue":"group-participants.update","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"add"},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"e9b18c5c-05c1-4f88-bb0c-0666fad69491","leftValue":"={{ $json.user_message }}","rightValue":"Pantero","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Pantero"},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"6a845a39-2358-4637-9c9c-ef71e9ada52e","leftValue":"={{ $json.user_message }}","rightValue":"@552139551220","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"@552139551220"}]},"options":{"ignoreCase":true}},"id":"2a96bf48-193d-45cc-b3fd-fdd230e2631b","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[420,180]}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Calculator":{"ai_tool":[[{"node":"OpenAI1","type":"ai_tool","index":0}]]},"Wikipedia":{"ai_tool":[[{"node":"OpenAI1","type":"ai_tool","index":0}]]},"resposta_pantero":{"main":[[{"node":"Baserow","type":"main","index":0}]]},"Baserow2":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"resposta_pantero","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Envia Saudação","type":"main","index":0}],[{"node":"Baserow2","type":"main","index":0}],[{"node":"Baserow2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Execute Workflow Trigger":[{"json":{"whatsapp":"5519994317797","user_message":"E aí Pantero","instance_id":"bu9qnq7ga1eo7085dc9w6","msg_sent":"2024-07-22T22:21:34.021Z","assistant_id":"asst_z7suvl0dVsf5rNWeicAjt475","Developer_Key":"AIzaSyBzYmCjdHAkg4X9GJKqthauxGJCUg6K71o","name":"Luiz | Sincron IA","assistant_version":"v1","msg_type":"messages.upsert","msg_channel_type":null,"grupo":"120363302353017297@g.us","instance_evolution":"Furia","message_id":"3A897B3444946AD30A21","imagem_url":null,"whats_participante":"5519994317797","img_base64":null,"id_msg_reagida":null,"response_to":null,"event":"messages.upsert","participant":"5519994317797","instance":"Furia","server_url":"https://api.sincronia.digital"}}]},"versionId":"a1c3a781-123b-43bb-99c2-6bf6f4e7086f","triggerCount":0,"tags":[{"createdAt":"2024-06-28T01:48:34.033Z","updatedAt":"2024-06-28T01:48:34.033Z","id":"GtKSN2XQkKdcTMaQ","name":"Pantero"}]}