send-email,-name.json
{"createdAt":"2024-07-24T21:01:34.748Z","updatedAt":"2024-07-24T21:01:34.748Z","id":"LMnKuoBqv4CRTQAu","name":"send email, name","active":false,"nodes":[{"parameters":{},"id":"6f72911f-1eb5-406e-acb6-ab55bc477cf0","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[660,300],"typeVersion":1,"disabled":true},{"parameters":{"method":"POST","url":"http://18.219.84.254:3333/v3/users/login","sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Separa arguments para JSON1').item.json.arguments }}","options":{}},"id":"da43640c-c9d3-43a4-94c5-339211fd36cc","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[980,300]},{"parameters":{"assignments":{"assignments":[{"id":"49d8f0b6-256a-4a23-832e-fc4d747fbd27","name":"arguments","value":"={{ $json.Properties.function.arguments }}","type":"object"},{"id":"72aa9df4-ba28-4295-93d6-652dfa3d3f8e","name":"name","value":"={{ $json.Properties.function.name }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"0b1a24d1-5a97-4cbd-b296-0bfbf105ed3c","name":"Separa arguments para JSON1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[820,300],"onError":"continueRegularOutput"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Separa arguments para JSON1","type":"main","index":0}]]},"Separa arguments para JSON1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Separa arguments para JSON1":[{"json":{"Properties":{"id":"call_klz8yOim7OP5FWNQUq6xLkQQ","type":"function","function":{"name":"save_user_data","arguments":"{\"email\": \"contato.luizhms@gmail.com\", \"name\": \"Luiz\"}"}},"arguments":{"email":"contato.luizhms@gmail.com","name":"Luiz"},"name":"save_user_data"}}]},"versionId":"aee087f4-c9b9-470f-b45d-f5268fa446b4","triggerCount":0,"tags":[]}